@import "primeicons/primeicons.css";

.container{
    
    display: flex;
    flex-flow: column wrap;
}

.form-geral{
    
    width: 80%;
    
}
.titulo{
    justify-content: center;
    text-align: center;
    h2{
        color:slategrey;
    }
}
 form{
    margin-top: 2%;
    display: flex;
    height: 6%;
    
        p-inputGroup{
            padding: 15px;
        }
        p-dropdown{
            padding: 15px;
        }
        p-inputMask{
            padding: 15px;
            width: 390px;
        }    
        .form3{
            padding: 5px;
            margin-left: 20px;
            margin-top: -22px;
            
            p{
                margin-left: 20px;
            }    
        }

        .form1{
            width: 40%;
            .teste{
                width: 100%;
                margin-bottom: 15px;
                margin-top: 15px;
                label{
                    margin-left: 5%;
                }
            }
          
        }

        .nome{
            p-inputGroup{
                width: 99%;
            }
        }

        .teste{
            margin-bottom: 5%;
            margin-top: 6%;
            label{
                margin-left: 5%;
            }
        }
        .form2{
            width: 40%;
        }
        .form3{
            margin-top: -5px;
            width: 35%;
        }
        .emp{
            margin-top: -17px;
            margin-bottom: 15px;
            p{
                margin-left: 20px;
            }
        }
 }


 .botoes-form{
    width: 78%;
    margin-bottom: 2%;
    margin-top: 1%;
    display: flex;
    justify-content: end;
    
    p-button{
        margin-right: 3%;
        
    }
}

.tabela{
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    th{
        font-size: 14px;
    }
    td{
        font-size:12px ;
    }
}

.flex{
    
    text-align: end;
    button{
        margin-left: 1%;
    }
}

.tabela{
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.td-acao{
    display: flex;
    button{
        margin-left: 2px;
    }
}
.btnpri{
    cursor: pointer;
    background-color: #444959;
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin-left: 5px;
    p{
        text-align: center;
        margin-top: 10px;
    }
}   
.btnsec{
    cursor: pointer;
    background-color: #e3e3f3;
    color: #444959;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    p{
        text-align: center;
        margin-top: 10px;
    }
}
.botoes-formed{
    width: 99%;
    margin-bottom: 2%;
    margin-top: 2%;
    display: flex;
    justify-content: end;
    
}
.form2ed{
    p-inputGroup{
        padding: 16px;
    }
}