<div class="container">
    <div class="titulo mt-6 mb-6 text-2xl">
        <p-divider align="left" type="solid">
            <b><a routerLink="../../" >Painel Operacional</a> / <a routerLink="../">Produção</a> / Fábrica de Fertilizante</b>
        </p-divider>
    </div>
    <div class="row1"@swipeAnimation>
        <div class="carregamentos w-12 lg:w-6">
            <div class="tituloCarregamento">
                <span> <b> Carregamento geral</b></span><br>
            </div>
                <div class="carregamentoWrap flex flex-column gap-1 align-items-center lg:flex-row">
                    <div class="cardCarregmento w-10 lg:w-3">
                        <div class="valorCarregamento">
                            <p>{{ carregamentoGeralDia }}</p>
                        </div>
                        <div class="unidadeCarregamento">
                            <p>Último dia</p>
                        </div>
                    </div>
                    <div class="cardCarregmento w-10 lg:w-3">
                        <div class="valorCarregamento">
                            <p>{{ carregamentoGeralMes }}</p>
                        </div>
                        <div class="unidadeCarregamento">
                            <p>Acomulado mês atual</p>
                        </div>
                    </div>
                    <div class="cardCarregmento w-10 lg:w-3">
                        <div class="valorCarregamento">
                            <p>{{ carregamentoGeralAno }}</p>
                        </div>
                        <div class="unidadeCarregamento">
                            <p>Acomulado ano atual</p>
                        </div>
                    </div>
                </div>        
        </div>
    </div><!--EndCarregamento-->
    <div class="row2 flex flex-column lg:flex-row w-12"@swipeAnimationReverse>
        <div class="justify-content-center lg:w-12">
            <div class="tituloCarregamento mt-2">
                <b> Total Fábrica</b>
            </div>
            <div class="flex flex-column align-items-center gap-3 lg:flex-row lg:mt-5">
                <div class="card">
                    <div class="valor">
                    <p>{{ producaoGeralDia }}</p>
                    </div>
                    <div class="unidade">
                    <p>Último dia</p>
                    </div>
                </div>
                <div class="card">
                    <div class="valor">
                    <p>{{ producaoGeralMes }}</p>
                    </div>
                    <div class="unidade">
                    <p>Acomulado mês atual</p>
                    </div>
                </div>
                <div class="card">
                    <div class="valor">
                    <p>{{ producaoGeralAno }}</p>
                    </div>
                    <div class="unidade">
                    <p>Acomulado ano atual</p>
                    </div>
                </div>
            </div><!--EndTotais-->
        </div>    
        <div class="flex flex-column mt-2 align-items-center gap-3 w-12  lg:mt-2"@swipeAnimation>
            <div class="tituloCarregamento">
                <b> Produtividade</b>
            </div>
            <div class="produtividade w-11">
                <p-table 
                [value]="fertilizanteDados"
                [scrollable]="true" 
                scrollHeight="350px"  
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Período</th>
                        <th>Horas Produção</th>
                        <th>Tn/h</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fertilizanteDado>
                    <tr *ngIf="fertilizanteDado.dia">
                        <td>{{ fertilizanteDado.dia }}</td>
                        <td>{{ fertilizanteDado.hsProdDia }}</td>
                        <td>{{ fertilizanteDado.tnHoraDia }}</td>
                    </tr>
                    <tr *ngIf="fertilizanteDado.mes">
                        <td>{{ fertilizanteDado.mes }}</td>
                        <td>{{ fertilizanteDado.hsProdMes }}</td>
                        <td>{{ fertilizanteDado.tnHoraMes }}</td>
                    </tr>
                    <tr *ngIf="fertilizanteDado.ano">
                        <td>{{ fertilizanteDado.ano }}</td>
                        <td>{{ fertilizanteDado.hsProdAno }}</td>
                        <td>{{ fertilizanteDado.tnHoraAno }}</td>
                    </tr>
                    
                </ng-template>
            </p-table>
            </div>
        </div><!--EndProdutividade-->
    </div><!--Row2-->
    <div class="rowBag w-12 flex flex-column lg:flex-row"@swipeAnimation>
        <div class="justify-content-center lg:w-12">
            <div class="tituloCarregamento">
                <b>S-10 Big Bag</b>
            </div>
            <div class="flex flex-column align-items-center gap-3 lg:flex-row lg:mt-2 ">
                <div class="cardBag lg:w-4">
                    <div class="valor">
                        <p>{{ bigBagS10Dia }} sc</p>
                    </div>
                    <div class="unidade">
                        <p>Último dia</p>
                    </div>
                </div>
                <div class="cardBag lg:w-4">
                    <div class="valor">
                        <p>{{ bigBagS10Mes }} sc</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado mês atual</p>
                    </div>
                </div>
                <div class="cardBag lg:w-4">
                    <div class="valor">
                        <p>{{ bigBagS10Ano }} sc</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado ano atual</p>
                    </div>
                </div>
            </div>
        </div><!--EndWrapBags-->
        <div class="justify-content-center lg:w-3">
            <div class="tituloCarregamento">
                <b>Estoque</b>
            </div>
            <div class="flex flex-column align-items-center gap-3 lg:flex-row lg:mt-2 ">
                <div class="cardBagEst">
                    <div class="valor">
                        <p>{{ estoqueBigBagS10Dia }} sc</p>
                    </div>
                    <div class="unidade">
                        <p>S-10 Big Bag - Último dia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rowBag w-12  flex flex-column lg:flex-row lg:mt-3"@swipeAnimationReverse>
        <div class="justify-content-center lg:w-12">
            <div class="tituloCarregamento">
                <b>S-10 50 kg</b>
            </div>
            <div class="flex flex-column align-items-center gap-3 lg:flex-row lg:mt-2">
                <div class="cardBag lg:w-4">
                    <div class="valor">
                        <p>{{ s10Sc50KgDia }} sc</p>
                    </div>
                    <div class="unidade">
                        <p>Último dia</p>
                    </div>
                </div>
                <div class="cardBag lg:w-4">
                    <div class="valor">
                        <p>{{ s10Sc50KgMes }} sc</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado mês atual</p>
                    </div>
                </div>
                <div class="cardBag lg:w-4">
                    <div class="valor">
                        <p>{{ s10Sc50KgAno }} sc</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado ano atual</p>
                    </div>
                </div>
            </div>
        </div><!--EndWrapBags-->
        <div class="justify-content-center lg:w-3">
            <div class="tituloCarregamento">
                <b>Estoque</b>
            </div>
            <div class="flex flex-column align-items-center gap-3 lg:flex-row lg:mt-2">
                <div class="cardBagEst">
                    <div class="valor">
                        <p>{{ estoqueS10Sc50KgDia}}</p>
                    </div>
                    <div class="unidade">
                        <p>S-10 50 kg - Último dia</p>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="rowBag w-12 flex flex-column lg:flex-row lg:mt-3"@swipeAnimation>
        <div class="justify-content-center lg:w-12">
            <div class="tituloCarregamento">
                <b>DB CA S</b>
            </div>
            <div class="flex flex-column align-items-center gap-3 lg:flex-row lg:mt-2">
                <div class="cardBag lg:w-4">
                    <div class="valor">
                        <p>{{ dbCaSGranelDia }} tn</p>
                    </div>
                    <div class="unidade">
                        <p>Último dia</p>
                    </div>
                </div>
                <div class="cardBag lg:w-4">
                    <div class="valor">
                        <p>{{ dbCaSGranelMes }} tn</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado mês atual</p>
                    </div>
                </div>
                <div class="cardBag lg:w-4">
                    <div class="valor">
                        <p>{{ dbCaSGranelAno }} tn</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado ano atual</p>
                    </div>
                </div>
            </div>
        </div><!--EndWrapBags-->
        <div class="justify-content-center lg:w-3">
            <div class="tituloCarregamento">
                <b>Estoque</b>
            </div>
            <div class="flex flex-column align-items-center gap-3 lg:flex-row lg:mt-2">
                <div class="cardBagEst">
                    <div class="valor">
                        <p>{{ estoqueDbCaSGranelDia }} Tn</p>
                    </div>
                    <div class="unidade">
                        <p>DB CA S - Último dia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
