<div class="container">
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b><a routerLink="../../">Painel Operacional</a> / <a routerLink="../">Produção</a> / Fábricas de Calcário</b>
        </p-divider>
    </div>
    <div class="rows"><!--CArregamentos-->
        <div class="row1">
            <div class="right">
                <div class="titulo">
                    <span> <b> Carregamento geral</b></span><br>
                </div>
                <div class="carregamento">
                    <div class="cardCarregmento">
                        <div class="valorCarregamento">
                            <p>{{ movimentacaoDia }}</p>
                        </div>
                        <div class="unidadeCarregamento">
                            <p>Último dia</p>
                        </div>
                    </div>
                    <div class="cardCarregmento">
                        <div class="valorCarregamento">
                            <p>{{ movimentacaoMes }}</p>
                        </div>
                        <div class="unidadeCarregamento">
                            <p>Acomulado mês atual</p>
                        </div>
                    </div>
                    <div class="cardCarregmento">
                        <div class="valorCarregamento">
                            <p>{{ movimentacaoAno }}</p>
                        </div>
                        <div class="unidadeCarregamento">
                            <p>Acomulado ano atual</p>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div class="row2"><!--FCM1-->
            <div class="left">
                <div class="titulo">
                    <i class="pi pi-plus-circle"></i><span (click)="exibirGrafico()" style="cursor: pointer;"> <b> FCMI </b></span><br>
                </div>
                <div class="cardsAcumulados">
                    <div class="card">
                        <div class="valor">
                        <p>{{ fcmiTotalDia }}</p>
                        </div>
                        <div class="unidade">
                        <p>Último dia</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="valor">
                            <p>{{ fcmiTotalMes }}</p>
                        </div>
                        <div class="unidade">
                        <p>Acomulado mês atual</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="valor">
                            <p>{{ fcmiTotalAno }}</p>
                        </div>
                        <div class="unidade">
                        <p>Acomulado ano atual</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabelaProdutividade">   
                <div class="titulo">
                    <span> <b> Produtividade</b></span><br>
                </div>
                <p-table 
                    [value]="fcmiDados"
                    [scrollable]="true" 
                    scrollHeight="350px"  
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Período</th>
                            <th>Horas Produção</th>
                            <th>Tn/h</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-fcmiDado>
                        <tr *ngIf="fcmiDado.dia">
                            <td>{{ fcmiDado.dia }}</td>
                            <td>{{ fcmiDado.hsProdDia }}</td>
                            <td>{{ fcmiDado.tnHoraDia }}</td>
                        </tr>
                        <tr *ngIf="fcmiDado.mes">
                            <td>{{ fcmiDado.mes }}</td>
                            <td>{{ fcmiDado.hsProdMes }}</td>
                            <td>{{ fcmiDado.tnHoraMes }}</td>
                        </tr>
                        <tr *ngIf="fcmiDado.ano">
                            <td>{{ fcmiDado.ano }}</td>
                            <td>{{ fcmiDado.hsProdAno }}</td>
                            <td>{{ fcmiDado.tnHoraAno }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>             
        </div>
        <div class="row3"><!--FCMII-->
            <div class="left">
                <div class="titulo">
                    <i class="pi pi-plus-circle"></i><span style="cursor: pointer;"> <b> FCMII </b></span><br>
                </div>
                <div class="cardsAcumulados">
                        <div class="card">
                            <div class="valor">
                                <p>{{ fcmiiTotalDia }}</p>
                            </div>
                            <div class="unidade">
                            <p>Último dia</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="valor">
                                <p>{{ fcmiiTotalMes }}</p>
                            </div>
                            <div class="unidade">
                            <p>Acomulado mês atual</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="valor">
                                <p>{{ fcmiiTotalAno }}</p>
                            </div>
                            <div class="unidade">
                            <p>Acomulado ano atual</p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="tabelaProdutividade">   
                <div class="titulo">
                    <span> <b> Produtividade</b></span><br>
                </div>
                <p-table 
                    [value]="fcmiiDados"
                    [scrollable]="true" 
                    scrollHeight="350px"  
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Período</th>
                            <th>Horas Produção</th>
                            <th>Tn/h</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-fcmiiDado>
                        <tr *ngIf="fcmiiDado.dia">
                            <td>{{ fcmiiDado.dia }}</td>
                            <td>{{ fcmiiDado.hsProdDia }}</td>
                            <td>{{ fcmiiDado.tnHoraDia }}</td>
                        </tr>
                        <tr *ngIf="fcmiiDado.mes">
                            <td>{{ fcmiiDado.mes }}</td>
                            <td>{{ fcmiiDado.hsProdMes }}</td>
                            <td>{{ fcmiiDado.tnHoraMes }}</td>
                        </tr>
                        <tr *ngIf="fcmiiDado.ano">
                            <td>{{ fcmiiDado.ano }}</td>
                            <td>{{ fcmiiDado.hsProdAno }}</td>
                            <td>{{ fcmiiDado.tnHoraAno }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>            
        </div>
        <div class="row4"><!--FCMIII-->
            <div class="left">
                <div class="titulo">
                    <i class="pi pi-plus-circle"></i><span style="cursor: pointer;"> <b> FCMIII </b></span><br>
                </div>
                <div class="cardsAcumulados">
                    <div class="card">
                        <div class="valor">
                            <p>{{ fcmiiiTotalDia }}</p>
                        </div>
                        <div class="unidade">
                        <p>Último dia</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="valor">
                            <p>{{ fcmiiiTotalMes }}</p>
                        </div>
                        <div class="unidade">
                        <p>Acomulado mês atual</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="valor">
                            <p>{{ fcmiiiTotalAno }}</p>
                        </div>
                        <div class="unidade">
                        <p>Acomulado ano atual</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabelaProdutividade">   
                <div class="titulo">
                    <span> <b> Produtividade</b></span><br>
                </div>
                <p-table 
                    [value]="fcmiiiDados"
                    [scrollable]="true" 
                    scrollHeight="350px"
                    
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Período</th>
                            <th>Horas Produção</th>
                            <th>Tn/h</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-fcmiiiDado>
                        <tr *ngIf="fcmiiiDado.dia">
                            <td>{{ fcmiiiDado.dia }}</td>
                            <td>{{ fcmiiiDado.hsProdDia }}</td>
                            <td>{{ fcmiiiDado.tnHoraDia }}</td>
                        </tr>
                        <tr *ngIf="fcmiiiDado.mes">
                            <td>{{ fcmiiiDado.mes }}</td>
                            <td>{{ fcmiiiDado.hsProdMes }}</td>
                            <td>{{ fcmiiiDado.tnHoraMes }}</td>
                        </tr>
                        <tr *ngIf="fcmiiiDado.ano">
                            <td>{{ fcmiiiDado.ano }}</td>
                            <td>{{ fcmiiiDado.hsProdAno }}</td>
                            <td>{{ fcmiiiDado.tnHoraAno }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>   
        </div>
    </div>
</div>
<!------------------------MOdal---------------------->
<p-dialog 
    [modal]="true"
    [(visible)]="graficoVisivel" 
    [style]="{ width: '90%', height: '90%' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"   
>
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b>Produção  Calcário</b>
        </p-divider> 
    </div>
    <div class="rowBotoes">
        <div 
            class="btnCalc"
            (click)="gerarGrafico('mensal','acumulado')"
            [ngClass]="{'active': selectedButton === 'mensal'}" 
        >
            <p>No mês</p>
        </div>
        <div 
            class="btnCalc" 
            (click)="gerarGrafico('anual','acumulado')"
            [ngClass]="{'active': selectedButton === 'anual'}" 
        >
            <p>No ano</p>
        </div>
    </div>
    <div class="rowBotoesFabricas">
        <div 
            class="btnCalc"
            (click)="gerarGrafico(selectedButton,'acumulado')"
            [ngClass]="{'active': selectedFactory === 'acumulado'}"
        >
            <p>Acumulado</p>
        </div>
        <div 
            class="btnCalc"
           (click)="gerarGrafico(selectedButton,'fcmi')"
           [ngClass]="{'active': selectedFactory === 'fcmi'}"
        >
            <p>FCM I</p>
        </div>
        <div 
            class="btnCalc"
            (click)="gerarGrafico(selectedButton,'fcmii')"
            [ngClass]="{'active': selectedFactory === 'fcmii'}"
        >
            <p>FCM II</p>
        </div>
        <div class="btnCalc"
        (click)="gerarGrafico(selectedButton,'fcmiii')"
        [ngClass]="{'active': selectedFactory === 'fcmiii'}"
        >
            <p>FCM III</p>
        </div>
        <div 
            class="btnCalc" 
        >
            <a (click)="exibirEquipamentos()" style="color: inherit;"><p>Detalhar</p></a>
        </div>
    </div>
    <div class="containerModal">
        <div class="chartRadarAvaliadores">
            <canvas id="graficoTotalProducaoDiariaFcmi"></canvas>
        </div>
        <div class="projecoes">
            <div class="titulo2">
                <span> <b>Média do Período</b></span><br>
            </div>
            <div class="media">
                <div class="card2">
                    <div class="valor">
                        <p>{{ media }}</p>
                    </div>
                    <div class="unidade2">
                        <p>Tn</p>
                    </div>
                </div>
            </div>
            <div class="titulo2">
                <span> <b> Projeção para o Período</b></span><br>
            </div>
            <div class="projecao">
                <div class="card2">
                    <div class="valor">
                        <p>{{ projecao }}</p>
                    </div>
                    <div class="unidade2">
                        <p>Tn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>    

</p-dialog>
<!--MODAL EQUIPAMENTOS-->
<p-dialog 
    [modal]="true"
    [(visible)]="equipamentosVisivel" 
    [style]="{ width: '90%', height: '90%' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"   
>
<div class="titulo">
    <p-divider align="left" type="solid">
        <b>Produtividade Fábricas</b>
    </p-divider>
    <div class="container">
        <div class="rowSuperior">

            <p-calendar
                [style]="{'width':'100%','margin-left':'20px','margin-top':'40px'}"
                id="da" 
                formControlName="data_admissao"
                dateFormat="dd/mm/yy"                  
                [showIcon]="true"
                placeholder="Data"
            >
            </p-calendar>
            <div class="rightEqpto">
                <div class="tituloEqpto">
                    <span> <b> Carregamento geral</b></span><br>
                </div>
                <div class="media2">
                    <div class="cardCarregamentoEqpto">
                        <div class="valorCarregamentoEqpto">
                            <p>99999999</p>
                        </div>
                        <div class="unidadeCarregamentoEqpto">
                            <p>Último dia</p>
                        </div>    
                    </div>
                </div>    
            </div>    
        </div><!--end rowSupeiror-->
        <div class="containerInterno">
            <div class="esquerda">
                <div class="rowWrap">
                    <div class="tituloFab">
                        <b> FCM I </b>
                    </div>
                    <div class="rowEsq">
                        <div class="coluna1">
                            <div class="linha1">
                                <div class="eqpto">
                                    <p>MG-01</p>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>99999999</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Último dia</p>
                                    </div>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>99999999</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Último dia</p>
                                    </div>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>99999999</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Último dia</p>
                                    </div>
                                </div>
                            </div>
                            <div class="linha2">
                                <div class="eqpto">
                                    <p>MG-02</p>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>99999999</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Último dia</p>
                                    </div>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>99999999</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Último dia</p>
                                    </div>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>99999999</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Último dia</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="coluna2">
                            <div class="cardFab">
                                <div class="valorCarregamentoFab">
                                    <p>99999999</p>
                                </div>
                                <div class="unidadeCarregamentoFab">
                                    <p>Último dia</p>
                                </div>
                            </div>
                            <div class="cardFab">
                                <div class="valorCarregamentoFab">
                                    <p>99999999</p>
                                </div>
                                <div class="unidadeCarregamentoFab">
                                    <p>Último dia</p>
                                </div>
                            </div>
                        </div>
                    </div><!--end row1-->
                </div>    
                <div class="rowWrapFCM2">
                    <div class="tituloFab">
                        <b> FCM II </b>
                    </div>
                    <div class="rowEsqFCM2">   
                        <div class="coluna1FCM2">
                            <div class="linha1">
                                <div class="eqpto">
                                    <p>MG-01</p>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>99999999</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Último dia</p>
                                    </div>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>99999999</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Último dia</p>
                                    </div>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>99999999</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Último dia</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="coluna2">
                            <div class="cardFabFCM2">
                                <div class="valorCarregamentoFab">
                                    <p>99999999</p>
                                </div>
                                <div class="unidadeCarregamentoFab">
                                    <p>Último dia</p>
                                </div>
                            </div>
                            <div class="cardFabFCM2">
                                <div class="valorCarregamentoFab">
                                    <p>99999999</p>
                                </div>
                                <div class="unidadeCarregamentoFab">
                                    <p>Último dia</p>
                                </div>
                            </div>
                        </div>
                    </div><!--end row2-->
                </div><!--EndTitle-->    
                <div class="rowWrap">
                    <div class="tituloFab">
                        <b> FCM III </b>
                    </div>
                    <div class="rowEsq">
                        <div class="coluna1">
                            <div class="linha1">
                                <div class="eqpto">
                                    <p>MG-01</p>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>99999999</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Último dia</p>
                                    </div>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>99999999</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Último dia</p>
                                    </div>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>99999999</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Último dia</p>
                                    </div>
                                </div>
                            </div>
                            <div class="linha2">
                                <div class="eqpto">
                                    <p>MG-02</p>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>99999999</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Último dia</p>
                                    </div>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>99999999</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Último dia</p>
                                    </div>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>99999999</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Último dia</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="coluna2">
                            <div class="cardFab">
                                <div class="valorCarregamentoFab">
                                    <p>99999999</p>
                                </div>
                                <div class="unidadeCarregamentoFab">
                                    <p>Último dia</p>
                                </div>
                            </div>
                            <div class="cardFab">
                                <div class="valorCarregamentoFab">
                                    <p>99999999</p>
                                </div>
                                <div class="unidadeCarregamentoFab">
                                    <p>Último dia</p>
                                </div>
                            </div>
                        </div>
                    </div><!--end row3-->
                </div>       
            </div><!--end Esquerda-->
            <div class="direita">
                <div class="totais">
                    <div class="cardFabDir">
                        <div class="valorCarregamentoFab">
                            <p>99999999</p>
                        </div>
                        <div class="unidadeCarregamentoFab">
                            <p>Último dia</p>
                        </div>
                    </div>
                    <div class="cardFabDir">
                        <div class="valorCarregamentoFab">
                            <p>99999999</p>
                        </div>
                        <div class="unidadeCarregamentoFab">
                            <p>Último dia</p>
                        </div>
                    </div>
                </div>
                <div class="estoques">
                    <div class="cardEst">
                        <div class="valorCarregamentoProd">
                            <p>99999999</p>
                        </div>
                        <div class="unidadeCarregamentoProd">
                            <p>Último dia</p>
                        </div>
                    </div>
                    <div class="cardEst">
                        <div class="valorCarregamentoProd">
                            <p>99999999</p>
                        </div>
                        <div class="unidadeCarregamentoProd">
                            <p>Último dia</p>
                        </div>
                    </div>
                    <div class="cardEst">
                        <div class="valorCarregamentoProd">
                            <p>99999999</p>
                        </div>
                        <div class="unidadeCarregamentoProd">
                            <p>Último dia</p>
                        </div>
                    </div>
                </div>    
            </div><!--End Direita-->
        </div><!--end containerInterno--> 
    </div><!--end container--> 
</div>
</p-dialog>