<div *ngIf="hasGroup(['Admin','RHGestor'])" class="menu">
    <ul nz-menu nzMode="horizontal" style="background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="../dashboard">Início</a>
        </li>
        <li nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li nz-menu-item  nzMatchRouter>
                    <a routerLink="../tipoavaliacao" >Tipos de Avaliações</a>
                </li>
                <li nz-menu-item  nzMatchRouter>
                    <a routerLink="../pergunta" >Perguntas</a>
                </li>
                <li nz-menu-item  nzMatchRouter>
                    <a routerLink="../formulario" >Formulários</a>
                </li>
            </ul>
        </li>    
        
        <li nz-submenu nzTitle="Relacionamentos"  style="font-size: 13px;">
            <ul>
                <li nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px; " routerLink="../questionario" ><span  nzTheme="outline" ></span> Montar Formulários</a>
                </li>
                <li nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px" routerLink="../tipoavaliacaoavaliados" ><span  nzTheme="outline"></span> Associar Avaliados a um Formulário</a>
                </li>
                <li nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px;" routerLink="../avaliadoravaliados" ><span  nzTheme="outline"></span> Associar Avaliados aos Avaliadores</a>
                </li>
            </ul>    
        </li>

        
        <li nz-menu-item nzMatchRouter="" >
            <a style="font-size: 13px;" routerLink="../avaliacao" >Avaliações</a>
        </li>
        <li nz-menu-item nzMatchRouter="" *ngIf="hasGroup(['RHAvaliacao'])">
            <a style="font-size: 13px;" routerLink="../historico" >Histórico de Avaliações</a>
        </li>
        <li nz-menu-item nzMatchRouter="">
            <a style="font-size: 13px;" routerLink="../relatorios" >Relatórios</a>
        </li>
        
    </ul>
</div>


<div *ngIf="hasGroup(['Admin','RHGestor'])" class="container">


    <div class="form-geral">
        <p-divider align="left" type="solid">
            <b>Cadastro de Perguntas</b>
        </p-divider>     
        <form [formGroup]="registerperguntaForm"
        title="Cadastrar Nova Pergunta"
        primaryBtnText="Cadastrar"
        (submit)="submit()"
        >
        <div class="form1">
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-file-edit"></i>
                </p-inputGroupAddon>
                <span class="p-float-label">
                    <input pInputText
                        id="texto"
                        formControlName="texto"
                        type="text"
                    />  
                    <label for="texto">Digite a Pergunta</label>
                </span>          
            </p-inputGroup>
            
                <div class="lg">
                    <p><strong>Legenda</strong></p>
                    <p-editor 
                        formControlName="legenda" 
                        [style]="{ height: '120px' }" 
                    />
                </div>    
        </div>            
        </form>
    </div>    
   
    <div class="botoes-form">
        <p-toast></p-toast>
        <div class="btnsec" (click)="clearForm()">
            <p>Limpar</p>
        </div>
        <div class="btnpri" (click)="submit()">
            <p>Salvar</p>            
        </div>
    </div>
    
        <div *ngIf="hasGroup(['Admin','RHGestor'])" class="tabela">
            <p-toast />
            <p-confirmDialog />
            <p-table
                #dt1
                [value]="perguntas"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[5, 10, 20]"
                [globalFilterFields]="['texto','legenda']"
            >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" [(ngModel)]="inputValue" placeholder="Digite a pergunta" />
                        </span>
                        <button pButton label="Pesquisar" severity="info"  (click)="filterTable()"></button>
                        <button pButton label="Limpar Pesquisa" severity="info" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    </div>
                </ng-template>    
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:25%" type="text" field="texto" display="menu">
                            Pergunta
                        </th>
                        <th style="width: 25%;">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pergunta>
                    <tr>
                        <td>{{ pergunta.texto }}</td>
                        <td class="td-acao">
                            <div class="btnsec" (click)="abrirModalEdicao(pergunta)">
                                <p>Editar</p>
                            </div>
                            <div class="btnpri" (click)="excluirPergunta(pergunta.id)">
                                <p>Excluir</p>            
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
        </div>  
              
        <p-dialog 
            [modal]="true"
            [(visible)]="editFormVisible" 
            [style]="{ width: '60rem', height:'50rem' }" 
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        >
            <div>
                <p-divider align="left" type="solid">
                    <b>Editar Pergunta</b>
                </p-divider>
            </div>
            <form 
                [formGroup]="editForm"
                title="Editar Pergunta"
                primaryBtnText="Cadastrar"     
            >  
                <div class="geraled">
                    <div class="form1ed">
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-file-edit"></i>
                            </p-inputGroupAddon>
                            <span class="p-float-label">
                                <input pInputText
                                    id="texto"
                                    formControlName="texto"
                                    type="text"
                                />  
                                <label for="texto">Digite a Pergunta</label>
                            </span>          
                        </p-inputGroup>        
                    </div>
                    <div class="lged">
                        <p><strong>Legenda</strong></p>
                        <textarea
                            rows="10"
                            cols="60"
                            pInputTextarea
                            formControlName="legenda"   
                        ></textarea>    
                    </div> 
                    <div class="botoes-formed">
                        <p-toast></p-toast>
                        <div class="btnsec" (click)="cleareditForm()">
                            <p>Limpar</p>
                        </div>
                        <div class="btnpri" (click)="saveEdit()">
                            <p>Salvar</p>            
                        </div>
                    </div> 
                </div>  
            </form>
        </p-dialog> 
  </div><!--end container-->


  