<div class="menu w-full">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 45px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="../dashboard">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="../tipoavaliacao" >Tipos de Avaliações</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="../pergunta" >Perguntas</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="../formulario" >Formulários</a>
                </li>
            </ul>
        </li>    
        
        <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Relacionamentos"  style="font-size: 13px;">
            <ul>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px; " routerLink="../questionario" ><span  nzTheme="outline" ></span> Montar Formulários</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px" routerLink="../tipoavaliacaoavaliados" ><span  nzTheme="outline"></span> Associar Avaliados a um Formulário</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px;" routerLink="../avaliadoravaliados" ><span  nzTheme="outline"></span> Associar Avaliados aos Avaliadores</a>
                </li>
            </ul>    
        </li>

        
        <li nz-menu-item nzMatchRouter="">
            <a style="font-size: 13px;" routerLink="../avaliacao" >Avaliações</a>
        </li>
        <li nz-menu-item nzMatchRouter="" *ngIf="hasGroup(['RHAvaliacao'])">
            <a style="font-size: 13px;" routerLink="../historico" >Histórico de Avaliações</a>
        </li>
    
        <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Relatórios" style="font-size: 13px;">
          <ul>
            <li nz-menu-item nzMatchRouter="">
              <a style="font-size: 13px;" routerLink="../mapaavaliadores">Mapa de Avaliadores</a>
            </li>
            <li nz-menu-item nzMatchRouter="">
              <a style="font-size: 13px;" routerLink="../comparativoavaliadores">Comparativo entre Avaliadores</a>
            </li>
            <li nz-menu-item nzMatchRouter="">
              <a style="font-size: 13px;" routerLink="../mapaavaliados">Mapa de Avaliados</a>
            </li>
            <li nz-menu-item nzMatchRouter="">
              <a style="font-size: 13px;" routerLink="../evolucaoavaliacoes">Evolução das Avaliações</a>
            </li>
            <li nz-menu-item nzMatchRouter="">
              <a style="font-size: 13px;" routerLink="../relatoriospdf">Relatŕorios em PDF</a>
            </li>
          </ul>
        </li> 
        
    </ul>
</div>


<div *ngIf="hasGroup(['Admin','RHGestor'])" class="container">
    <div class="titulo mt-6 mb-6 text-2xl">
        <p-divider align="left" type="solid">
            <b>Associar Avaliados a um Formulário</b>
        </p-divider>
    </div>
    
        <form 
            [formGroup]="registerassociacaoForm"
            title="Montar novo Formulario"
            primaryBtnText="Cadastrar"
            (submit)="submit()"
        >

            <div class="form-geral flex flex-column"@swipeAnimation>
                <div class="fg1 flex flex-column w-12 align-items-center lg:w-6">
                    <div class="form2 w-10 mt-5">
                        <p-floatlabel variant="on">
                            <p-select 
                                variant="filled"
                                [style]="{'width':'100%'}"
                                [options]="formularios" 
                                formControlName="formulario"
                                optionLabel="nome"
                            >
                            </p-select>
                            <label for="nome">Formulário</label>
                        </p-floatlabel>
                    </div>
                </div> 

            
                <div class="flex  w-10  md:w-11 justify-content-center m-4 lg:md:w-11 justify-content-center m-4">
                    <p-pickList 
                        [source]="avaliados" 
                        [target]="targetAvaliados" 
                        sourceHeader="Avaliados" 
                        targetHeader="Selecionados" 
                        [dragdrop]="true" 
                        [responsive]="true" 
                        [sourceStyle]="{ height: '20rem' }"
                        [targetStyle]="{ height: '20rem' }" 
                        filterBy="nome" 
                        sourceFilterPlaceholder="Pesquisa por nome" 
                        targetFilterPlaceholder="Pesquisa por nome" 
                        breakpoint="412px"
                        formControlName="pergunta"
                    >
                        <ng-template let-avaliado pTemplate="item">
                            <div class="flex flex-wrap p-2 align-items-center gap-3">
                                <div class="flex-1 flex flex-column gap-2">
                                    <span class="font-bold">{{ avaliado.nome }}</span>
                                    <div class="flex align-products-center gap-2">
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-pickList>
                </div>
            </div>         
        </form>

        <div class="flex m-5 justify-content-center"@efeitoFade>
            <p-toast></p-toast>
            <div class="btnsec" (click)="clearForm()">
                <p>Limpar</p>
            </div>
            <div class="btnpri" (click)="submit()">
                <p>Salvar</p>            
            </div>
        </div> 

        <div *ngIf="hasGroup(['Admin','RHGestor'])" class="tabela"@swipeAnimationReverse>
            <p-toast />
            <p-table 
                #dt1
                [value]="formularios" 
                [tableStyle]="{'min-width': '70rem'}" 
                rowGroupMode="subheader" 
                groupRowsBy="nome" 
                dataKey="nome"
                sortMode="single"
                sortField="nome"
                [globalFilterFields]="['avaliado.nome']"
                stripedRows
                scrollable="true"
    >

        <ng-template pTemplate="header">
            <tr>
                <th style="width:33%">Nome do Formulário</th>
                <th style="width:33%">Avaliados</th>
                <th style="width:33%">Remover</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-formulario let-rowIndex="rowIndex" let-expanded="expanded">
            <tr>
                <td colspan="3">
                    <button 
                        type="button" 
                        pButton 
                        pRipple 
                        [pRowToggler]="formulario" 
                        class="p-button-text p-button-rounded p-button-plain mr-2" 
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                    >
                    </button>
                    <span class="font-bold ml-2">{{formulario.nome}}</span>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="expandedrow" let-formulario>
            <tr *ngFor="let avaliado of formulario.avaliados">
                <td></td>
                <td>
                    <div class="avaliado">
                        {{ avaliado.nome }}
                    </div>
                </td>
                <td>
                    <div class="btnprit" (click)="removeAvaliado(formulario, avaliado)">
                        <p>-</p>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
        </div>
</div>