<div class="container">
    <div class="formulario">
        <div class="lgimg">
            <img  src="/assets/imagens/logotelalogin.png"/>
        </div>
        <div class="titulo">
            <p>Insira seu email,(o mesmo cadastrado no sistema) para receber o link para redefinição de senha. </p>
        </div>
        <form [formGroup]="forgotPasswordForm">
            <div class="f1">
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-at"></i>
                    </p-inputGroupAddon>
                    <span class="p-float-label">
                        <input
                            pInputText
                            type="email"
                            id="newPassword"
                            formControlName="email"
                            name="newPassword"
                            required
                        />
                        <label for="newPassword">Email</label>
                    </span>                
                </p-inputGroup>
            </div>
            <div class="botoes-form">
                <p-toast></p-toast>
                <div class="btnsec" (click)="clearForm()">
                    <p>Limpar</p>
                </div>
                <div class="btnpri" (click)="submit()">
                    <p>Enviar</p>            
                </div>
            </div>
            
        </form>
    </div>
</div>    