<div class="container">
    <div class="formulario m-3 mt-8">
        <div class="lgimg">
            <img  src="/assets/imagens/logotelalogin.png"/>
        </div>
        <div class="titulo">
            <p>Insira seu email,(o mesmo cadastrado no sistema) para receber o link para redefinição de senha. </p>
        </div>
        <form [formGroup]="forgotPasswordForm">
            <div class="f1">
                <p-floatlabel variant="on">
                    <p-iconfield>
                        <p-inputicon class="pi pi-at"/>
                        <input
                            [style]="{'width':'100%'}"
                            pInputText
                            type="email"
                            id="newPassword"
                            formControlName="email"
                            name="newPassword"
                            required
                        />
                        <label for="newPassword">Informe o Email</label>
                    </p-iconfield>                
                </p-floatlabel>
            </div>
            <div class="botoes-form">
                <p-toast></p-toast>
                <div class="btnsec" (click)="clearForm()">
                    <p>Limpar</p>
                </div>
                <div class="btnpri" (click)="submit()">
                    <p>Enviar</p>            
                </div>
            </div>
            
        </form>
    </div>
</div>    