
<head>
    <meta charset="UTF-8">
    <title>Seu Título</title>
</head> 

<div class="container">   
    <div class="form-geral">
        <div class="titulo">
            <p-divider align="left" type="solid">
                <b>Cadastro de Colaboradores</b>
            </p-divider> 
        </div>    
        <form 
            [formGroup]="registercolaboradorForm"
            title="Cadastrar novo Colaborador"
            primaryBtnText="Cadastrar"
            (submit)="submit()"
            enctype="multipart/form-data"
        >
        
            <div class="fg1">
                <div class="form1">
                    <p><label for="nome">Digite o nome</label></p>
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <i class="pi pi-user"></i>
                        </p-inputGroupAddon>
                        <span class="p-float-label">
                            <input  pInputText
                                id="nome"
                                formControlName="nome"
                                type="text"
                            />  
                            <label for="nome">Digite o nome</label>
                        </span>          
                    </p-inputGroup>
                </div>    
                    
                <div class="form2">
                    <p><label for="empresa">Empresa:</label></p>
                    <p-dropdown 
                        [style]="{'width':'75%'}"
                        [options]="empresas" 
                        id="empresa"
                        formControlName="empresa"
                        optionLabel="nome"
                        placeholder="Selecione"
                        (onChange)="onEmpresaSelecionada($event.value)"
                    >
                    </p-dropdown>
                </div>
                <div class="filial">
                        <p><label for="filial">Filial:</label></p>    
                    <p-dropdown
                        [style]="{'width':'75%'}"
                        [options]="filiais" 
                        id="filial"
                        formControlName="filial"
                        optionLabel="nome"
                        placeholder="Selecione "
                        (onChange)="onFilialSelecionada($event.value)"
                    >
                    </p-dropdown>
                </div>
                <div class="form3">
                    <p><label for="area">Área:</label></p>    
                    <p-dropdown 
                        [style]="{'width':'75%'}"
                        [options]="areas"
                        id="area" 
                        formControlName="area"
                        optionLabel="nome"
                        placeholder="Selecione"
                        (onChange)="onAreaSelecionada($event.value)"
                        >
                    </p-dropdown>
                </div>
                <div class="dvset">    
                    <p><label for="setor">Setor:</label></p>
                    <p-dropdown 
                        [style]="{'width':'75%'}"
                        [options]="setores"
                        id="setor" 
                        formControlName="setor"
                        optionLabel="nome"
                        placeholder="Selecione o Setor"
                        (onChange)="onSetorSelecionado($event.value)"
                        >
                    </p-dropdown>
                </div>
                <div class="form4">
                    <p><label for="ambiente">Ambiente:</label></p> 
                    <p-dropdown 
                        [style]="{'width':'75%'}"
                        id="ambiente"
                        [options]="ambientes" 
                        formControlName="ambiente"
                        optionLabel="nome"
                        placeholder="Selecione"
                        (onChange)="onAmbienteSelecionado($event.value)"
                    >
                    </p-dropdown>
                </div>
                <div class="dvcarg">     
                    <p><label for="cargo">Cargo:</label></p>
                    <p-dropdown
                        [style]="{'width':'75%'}" 
                        id="cargo"
                        [options]="cargos" 
                        formControlName="cargo"
                        optionLabel="nome"
                        placeholder="Selecione"
                        (onChange)="onCargoSelecionado($event.value)"
                    >
                    </p-dropdown>
                </div>
                <div class="dvtc">    
                    <p><label for="tipocontrato">Tipo de Contrato:</label></p>
                    <p-dropdown
                        [style]="{'width':'75%'}"
                        id="tipocontrato" 
                        [options]="tipocontratos" 
                        formControlName="tipocontrato"
                        optionLabel="nome"
                        placeholder="Selecione"
                    >
                    </p-dropdown>
                </div>
            </div>
            <div class="fg2">       
                <div class="form5">
                   <p><label for="da">Data de Admissão:</label></p>
                    <p-calendar
                        [style]="{'width':'75%'}"
                        id="da" 
                        formControlName="data_admissao"
                        dateFormat="yy-mm-dd"                    
                        [showIcon]="true"
                        placeholder="SELECIONE"
                    >
                    </p-calendar>
                    
                </div>
                <div class="dvgen">
                    <p><label for="gen">Gênero:</label></p>     
                    <p-dropdown 
                        id="gen"
                        [style]="{'width':'75%'}"
                        [options]="generos" 
                        formControlName="genero"
                        optionLabel="nome"
                        placeholder="Selecione "        
                    >
                    </p-dropdown>
                </div>
                <div class="form6">                     
                    <p><label for="es">Estado Civil:</label></p>
                    <p-dropdown
                        [style]="{'width':'75%'}"
                        id="es"
                        [options]="estados_civis" 
                        formControlName="estado_civil"
                        optionLabel="nome"
                        placeholder="Selecione "
                    >
                    </p-dropdown>   
                </div>
                <div class="form7"> 
                    <p><label for="da">Data de Nascimento:</label></p>               
                    <p-calendar 
                        [style]="{'width':'75%'}"
                        formControlName="data_nascimento"
                        dateFormat="yy-mm-dd"
                        [showIcon]="true"
                        placeholder="SELECIONE"
                    >
                    </p-calendar>
                </div>
                <div class="dvft">    
                    <p><label for="foto">Carregar Foto:</label></p>
                    <input 
                        id="foto"
                        type="file"  
                        formControlName="image"
                        class="form-control"
                        (change)="onFileChange($event,registercolaboradorForm)"
                    />
                </div>
                <div class="dvemail">
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <i class="pi pi-at"></i>
                        </p-inputGroupAddon>
                        <span class="p-float-label">
                            <input pInputText
                                id="email"
                                formControlName="email"
                                type="text"
                            />  
                            <label for="email">Digite o email</label>
                        </span>          
                    </p-inputGroup>
                </div>
                <div class="dvcb">
                    <div class="titclas">
                        <p>Classificação do Colaborador:</p>
                    </div>     
                    <label  for="sit" [style]="{'margin-left':'28px'}">Avaliador </label>
                    <p-checkbox 
                        formControlName="tornar_avaliador"
                        value="true"
                    >
                    </p-checkbox>
                    <label for="sit"[style]="{'margin-left':'20px'}">Avaliado </label>
                    <p-checkbox 
                        formControlName="tornar_avaliado"
                        value="true"
                    >
                    </p-checkbox>
                    <label for="sit"[style]="{'margin-left':'30px'}">Inativo </label>
                    <p-checkbox 
                        
                        id="sit"
                        formControlName="situacao"
                        value="true"
                    >
                    </p-checkbox>
                    
                </div>
                <div class="tituser">
                    <p>Criar Usuário</p>
                </div>
                <div class="dvus">
                    
                    <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-user"></i>
                            </p-inputGroupAddon>
                            <span class="p-float-label">
                                <input 
                                    
                                    pInputText
                                    id="username"
                                    formControlName="username"
                                    type="text"
                                />  
                                <label for="nome">Digite o nome de usuário</label>
                            </span>          
                        </p-inputGroup>
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-key"></i>
                            </p-inputGroupAddon>
                            
                                <input pInputText
                                    id="password"
                                    formControlName="password"
                                    type="password"
                                    placeholder="Digite a senha"
                                />  
                                
                                      
                        </p-inputGroup>
                </div>    
                            
            </div>
           
                                       
        </form>
    </div>    
  
    <div class="botoes-form">
        <p-toast></p-toast>
            <div class="btnsec" (click)="clearForm()">
                <p>Limpar</p>
            </div>
            <div class="btnpri" (click)="submit()">
                 <p>Cadastrar</p>            
            </div>
    </div>
    <hr>
        <div class="tabela">
            <p-table
                #dt1
                [value]="colaboradores"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[5, 10, 20]"
                [globalFilterFields]="['nome', 'empresa','filial','area','setor','ambiente', 'cargo','tipocontrato']"
            >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" [(ngModel)]="inputValue" placeholder="Palavra-Chave" />
                        </span>
                        <button pButton label="Pesquisar" severity="info"  (click)="filterTable()"></button>
                        <button pButton label="Limpar Pesquisa" severity="info" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    </div>
                </ng-template>    
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:25%">ID
                            <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
                        </th>
                        <th style="width:25%">Nome
                            <p-columnFilter type="text" field="nome" display="menu"></p-columnFilter>
                        </th>
                        <th style="width:25%">Empresa
                            <p-columnFilter type="text" field="empresa.nome" display="menu"></p-columnFilter>
                        </th>
                        <th style="width:25%">Filial
                            <p-columnFilter type="text" field="filial" display="menu"></p-columnFilter>
                        </th>
                        <th style="width:25%">Area
                            <p-columnFilter type="text" field="area" display="menu"></p-columnFilter>
                        </th>
                        <th style="width:25%">Setor
                            <p-columnFilter type="text" field="setor" display="menu"></p-columnFilter>
                        </th>
                        <th style="width:25%">Ambiente
                            <p-columnFilter type="text" field="ambiente" display="menu"></p-columnFilter>
                        </th>
                        <th style="width:25%">Cargo
                            <p-columnFilter type="text" field="cargo" display="menu"></p-columnFilter>
                        </th>
                        <th style="width:25%">Tipo Contrato
                            <p-columnFilter type="text" field="cargo" display="menu"></p-columnFilter>
                        </th>
                        <th style="width:25%"> Foto
                            <p-columnFilter type="text" field="tipocontrato" display="menu"></p-columnFilter>
                        </th>
                        <th style="width: 25%;">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-colaborador>
                    <tr>
                        <td>{{ colaborador.id }}</td>
                        <td>{{ colaborador.nome }}</td>
                        <td>{{ getNomeEmpresa(colaborador.empresa) }}</td>
                        <td>{{ getNomeFilial(colaborador.filial) }}</td>
                        <td>{{ getNomeArea(colaborador.area) }}</td>
                        <td>{{ getNomeSetor(colaborador.setor) }}</td>
                        <td>{{ getNomeAmbiente(colaborador.ambiente) }}</td>
                        <td>{{ getNomeCargo(colaborador.cargo) }}</td>
                        <td>{{ getNomeTipoContrato(colaborador.tipocontrato) }}</td>
                        <td><img [src]="colaborador.image"  width="80" class="shadow-4" /></td>
                        <td class="td-acao">
                            <p-toast />
                            <p-confirmDialog />
                            <div class="btnsect" (click)="abrirModalEdicao(colaborador)">
                                <p>Editar</p>
                            </div>
                            <div class="btnprit" (click)="excluirColaborador(colaborador.id)">
                                <p>Excluir</p>            
                           </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
        </div>        
        <p-dialog 
            
            [modal]="true"
            [(visible)]="editFormVisible" 
            [style]="{ width: '70rem' }" 
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        >
        <div>   
            <p-divider align="left" type="solid">
                <b>Editar Colaborador</b>
            </p-divider>
        </div>  
        <div class="editgeral">
            <form [formGroup]="editForm">
             
            <div class="fg1edit">
                
                <div class="form1edit">
                    <p><label for="nome">Digite o nome</label></p>
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <i class="pi pi-user"></i>
                        </p-inputGroupAddon>
                        <span class="p-float-label">
                            <input  pInputText
                                id="nome"
                                formControlName="nome"
                                type="text"
                            />  
                            <label for="nome">Digite o nome</label>
                        </span>          
                    </p-inputGroup>
                </div>    
                    
                <div class="form2edit">
                    <p><label for="empresa">Empresa:</label></p>
                    <p-dropdown 
                        [style]="{'width':'75%'}"
                        [options]="empresas" 
                        id="empresa"
                        formControlName="empresa"
                        optionLabel="nome"
                        placeholder="Selecione"
                        (onChange)="onEmpresaSelecionada($event.value)"
                    >
                    </p-dropdown>
                </div>
                <div class="filial">
                        <p><label for="filial">Filial:</label></p>    
                    <p-dropdown
                        [style]="{'width':'75%'}"
                        [options]="filiais" 
                        id="filial"
                        formControlName="filial"
                        optionLabel="nome"
                        placeholder="Selecione "
                        (onChange)="onFilialSelecionada($event.value)"
                    >
                    </p-dropdown>
                </div>
                <div class="form3">
                    <p><label for="area">Área:</label></p>    
                    <p-dropdown 
                        [style]="{'width':'75%'}"
                        [options]="areas"
                        id="area" 
                        formControlName="area"
                        optionLabel="nome"
                        placeholder="Selecione"
                        (onChange)="onAreaSelecionada($event.value)"
                        >
                    </p-dropdown>
                </div>
                <div class="dvset">    
                    <p><label for="setor">Setor:</label></p>
                    <p-dropdown 
                        [style]="{'width':'75%'}"
                        [options]="setores"
                        id="setor" 
                        formControlName="setor"
                        optionLabel="nome"
                        placeholder="Selecione o Setor"
                        (onChange)="onSetorSelecionado($event.value)"
                        >
                    </p-dropdown>
                </div>
                <div class="form4">
                    <p><label for="ambiente">Ambiente:</label></p> 
                    <p-dropdown 
                        [style]="{'width':'75%'}"
                        id="ambiente"
                        [options]="ambientes" 
                        formControlName="ambiente"
                        optionLabel="nome"
                        placeholder="Selecione"
                        (onChange)="onAmbienteSelecionado($event.value)"
                    >
                    </p-dropdown>
                </div>
                <div class="dvcarg">     
                    <p><label for="cargo">Cargo:</label></p>
                    <p-dropdown
                        [style]="{'width':'75%'}" 
                        id="cargo"
                        [options]="cargos" 
                        formControlName="cargo"
                        optionLabel="nome"
                        placeholder="Selecione"
                        (onChange)="onCargoSelecionado($event.value)"
                    >
                    </p-dropdown>
                </div>
                <div class="dvtc">    
                    <p><label for="tipocontrato">Tipo de Contrato:</label></p>
                    <p-dropdown
                        [style]="{'width':'75%'}"
                        id="tipocontrato" 
                        [options]="tipocontratos" 
                        formControlName="tipocontrato"
                        optionLabel="nome"
                        placeholder="Selecione"
                    >
                    </p-dropdown>
                </div>
            </div>
                <div class="fg2edit">       
                    <div class="form5">
                        <p><label for="da">Data de Admissão:</label></p>
                         <p-calendar
                             [style]="{'width':'75%'}"
                             id="da" 
                             formControlName="data_admissao"
                             dateFormat="yy-mm-dd"                    
                             [showIcon]="true"
                             placeholder="SELECIONE"
                         >
                         </p-calendar>
                         
                     </div>
                     <div class="dvgen">
                         <p><label for="gen">Gênero:</label></p>     
                         <p-dropdown 
                             id="gen"
                             [style]="{'width':'75%'}"
                             [options]="generos" 
                             formControlName="genero"
                             optionLabel="nome"
                             placeholder="Selecione "        
                         >
                         </p-dropdown>
                     </div>
                     <div class="form6">                     
                         <p><label for="es">Estado Civil:</label></p>
                         <p-dropdown
                             [style]="{'width':'75%'}"
                             id="es"
                             [options]="estados_civis" 
                             formControlName="estado_civil"
                             optionLabel="nome"
                             placeholder="Selecione "
                         >
                         </p-dropdown>   
                     </div>
                     <div class="form7"> 
                         <p><label for="da">Data de Nascimento:</label></p>               
                         <p-calendar 
                             [style]="{'width':'75%'}"
                             formControlName="data_nascimento"
                             dateFormat="yy-mm-dd"
                             [showIcon]="true"
                             placeholder="SELECIONE"
                         >
                         </p-calendar>
                     </div>
                     <div class="form8">
                        <p><label for="da">Data de Troca de Setor:</label></p>
                        <p-calendar 
                            [style]="{'width':'75%'}"
                            formControlName="data_troca_setor"
                            [disabled]="true"
                            dateFormat="yy-mm-dd"
                            [showIcon]="true"
                            placeholder="SELECIONE"
                        >
                        </p-calendar>
                    </div>
                    <div class="form9">
                        <p><label for="da">Data de Troca de Cargo:</label></p>    
                        <p-calendar
                            [style]="{'width':'75%'}"
                            formControlName="data_troca_cargo"
                            dateFormat="yy-mm-dd"
                            [showIcon]="true"
                            placeholder="SELECIONE"
                        >
                        </p-calendar>
                        <p><label for="da">Data da Demissão::</label></p>
                        <p-calendar 
                            [style]="{'width':'75%'}"
                            formControlName="data_demissao"
                            dateFormat="yy-mm-dd"
                            [showIcon]="true"
                            placeholder="SELECIONE"
                        >
                        </p-calendar>
                    </div>
                    <div class="dvemailed">
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-at"></i>
                            </p-inputGroupAddon>
                            <span class="p-float-label">
                                <input pInputText
                                    id="email"
                                    formControlName="email"
                                    type="text"
                                />  
                                <label for="email">Digite o email</label>
                            </span>          
                        </p-inputGroup>
                    </div>    
                    <div class="dvcb">
                        <div class="titclas">
                            <p>Classificação do Colaborador:</p>
                        </div>     
                        <label  for="sit" [style]="{'margin-left':'28px'}">Avaliador </label>
                        <p-checkbox 
                            formControlName="tornar_avaliador"
                            value="true"
                        >
                        </p-checkbox>
                        <label for="sit"[style]="{'margin-left':'20px'}">Avaliado </label>
                        <p-checkbox 
                            formControlName="tornar_avaliado"
                            value="true"
                        >
                        </p-checkbox>
                        <label for="sit"[style]="{'margin-left':'30px'}">Inativo </label>
                        <p-checkbox 
                            
                            id="sit"
                            formControlName="situacao"
                            value="true"
                        >
                        </p-checkbox>
                        
                    </div>
                    <div class="tituseredit">
                        <p>Editar Usuário</p>
                    </div>
                    <div class="dvusedit">
                        
                        <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-user"></i>
                                </p-inputGroupAddon>
                                <span class="p-float-label">
                                    <input 
                                        
                                        pInputText
                                        id="username"
                                        formControlName="username"
                                        type="text"
                                    />  
                                    <label for="nome">Digite o nome de usuário</label>
                                </span>          
                            </p-inputGroup>
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-key"></i>
                                </p-inputGroupAddon>
                                
                                    <input pInputText
                                        id="password"
                                        formControlName="password"
                                        type="password"
                                        placeholder="Digite a senha"
                                />  
                                    
                                          
                            </p-inputGroup>
                    </div>    
                    <div class="botoes-formedit">
                            <div class="btnsecedit" (click)="cleareditForm()">
                                <p>Limpar</p>
                            </div>
                            <div class="btnpriedit" (click)="saveEdit()">
                                 <p>Editar</p>            
                            </div>
                    </div>              
                </div>    
            </form>
        </div>    
            <form 
            [formGroup]="imgForm"
            title="Cadastrar novo Colaborador"
            primaryBtnText="Cadastrar"
            (submit)="updateImage()"
            enctype="multipart/form-data"
        >
            <div class="editImg">
                <input 
                id="foto"
                type="file"  
                formControlName="image"
                class="form-control"
                (change)="onFileChange($event,imgForm)">
            
            <button type="submit">Atualizar Imagem</button>
        </div>
          </form>  
           
        </p-dialog>    
        
  </div><!--end container-->
