
<div *ngIf="hasGroup(['Admin','RHGestor'])" class="container">
    <div class="titulo2">
        <p-divider align="left" type="solid">
            <b>Cadastro de Colaboradores</b>
        </p-divider> 
    </div>      
    <div class="form-geral"> 
        <form 
            [formGroup]="registercolaboradorForm"
            title="Cadastrar novo Colaborador"
            primaryBtnText="Cadastrar"
            (submit)="submit()"
            enctype="multipart/form-data"
        >
        
            <div class="fg1">
                <div class="form1">
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <i class="pi pi-user-edit"></i>
                        </p-inputGroupAddon>
                        <span class="p-float-label">
                            <input  pInputText
                                id="nome"
                                formControlName="nome"
                                type="text"
                            />
                            <label for="nome">Digite o nome</label>  
                        </span>          
                    </p-inputGroup>
                </div>    
                    
                <div class="form2">
                    <p-floatLabel>
                        <p-dropdown 
                            inputId="float-label" 
                            [style]="{'width':'75%'}"
                            [options]="empresas" 
                            id="empresa"
                            formControlName="empresa"
                            optionLabel="nome"
                            (onChange)="onEmpresaSelecionada($event.value)"
                        >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 15px;">Selecione a Empresa</label>
                    </p-floatLabel>    
                </div>
                <div class="filial">
                    <p-floatLabel> 
                        <p-dropdown
                            inputId="float-label" 
                            [style]="{'width':'75%'}"
                            [options]="filiais" 
                            id="filial"
                            formControlName="filial"
                            optionLabel="nome"
                            [disabled]="true"
                            (onChange)="onFilialSelecionada($event.value)"
                        >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 15px;">Selecione a Filial</label>
                    </p-floatLabel>
                </div>
                <div class="form3">
                    <p-floatLabel> 
                        <p-dropdown 
                            [style]="{'width':'75%'}"
                            [options]="areas"
                            id="area" 
                            formControlName="area"
                            optionLabel="nome"
                            inputId="float-label" 
                            [disabled]="true"
                            (onChange)="onAreaSelecionada($event.value)"
                            >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 15px;">Selecione a Área</label>
                    </p-floatLabel>    
                </div>
                <div class="dvset">    
                    <p-floatLabel>
                        <p-dropdown 
                            [style]="{'width':'75%'}"
                            [options]="setores"
                            id="setor" 
                            formControlName="setor"
                            optionLabel="nome"
                            inputId="float-label" 
                            [disabled]="true"
                            (onChange)="onSetorSelecionado($event.value)"
                            >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 15px;">Selecione o Ambiente</label>
                    </p-floatLabel>    
                </div>
                <div class="form4">
                    <p-floatLabel>
                        <p-dropdown 
                            [style]="{'width':'75%'}"
                            id="ambiente"
                            [options]="ambientes" 
                            formControlName="ambiente"
                            optionLabel="nome"
                            [disabled]="true"
                            inputId="float-label" 
                            (onChange)="onAmbienteSelecionado($event.value)"
                        >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 15px;">Selecione o Setor</label>
                    </p-floatLabel>    
                </div>
                <div class="dvcarg">     
                    <p-floatLabel>
                        <p-dropdown
                            [style]="{'width':'75%'}" 
                            id="cargo"
                            [options]="cargos" 
                            formControlName="cargo"
                            optionLabel="nome"
                            [disabled]="true"
                            inputId="float-label" 
                            (onChange)="onCargoSelecionado($event.value)"
                        >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 15px;">Selecione o Cargo</label>
                    </p-floatLabel>    
                </div>
                <div class="dvtc">    
                    <p-floatLabel>
                        <p-dropdown
                            [style]="{'width':'75%'}"
                            id="tipocontrato" 
                            [options]="tipocontratos" 
                            formControlName="tipocontrato"
                            optionLabel="nome"
                            inputId="float-label" 
                        >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 15px;">Selecione o Tipo de Contrato</label>
                    </p-floatLabel>    
                </div>
                <div class="dvraca">    
                    <p-floatLabel>
                        <p-dropdown
                            [style]="{'width':'75%'}"
                            id="raca" 
                            [options]="racas" 
                            formControlName="raca"
                            optionLabel="nome"
                            inputId="float-label" 
                        >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 15px;">Selecione a Raça</label>
                    </p-floatLabel>    
                </div>
                <div class="dvinst">    
                    <p-floatLabel>
                        <p-dropdown
                            [style]="{'width':'75%'}"
                            id="inst" 
                            [options]="instrucoes" 
                            formControlName="instrucao"
                            optionLabel="nome"
                            inputId="float-label" 
                        >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 15px;">Selecione o Grau de Instrução</label>
                    </p-floatLabel>    
                </div>
                <div class="sistemas">
                    <span class="p-float-label">
                        <input pInputText
                            id="minerion_id"
                            formControlName="minerion_id"
                            type="text"
                            [style]="{'width':'60%'}"
                        />  
                        <label for="minerion_id">Minerion ID</label>
                    </span>
                    <span class="p-float-label">
                        <input pInputText
                            id="dominio_id"
                            formControlName="dominio_id"
                            type="text"
                            [style]="{'width':'60%'}"
                        />  
                        <label for="dominio_id">Dominio ID</label>
                    </span>
                    <span class="p-float-label">
                        <input pInputText
                            id="sgg_id"
                            formControlName="sgg_id"
                            type="text"
                            [style]="{'width':'60%'}"
                        />  
                        <label for="sgg_id">SGG ID</label>
                    </span>  
                </div> 
            </div>
            <div class="fg2">
                <div class="dvsal">
                    <p-floatLabel>   
                        <p-inputNumber
                            [style]="{'width':'75%'}" 
                            id="sal"
                            formControlName="salario" 
                            inputId="currency-us" 
                            mode="currency" 
                            currency="BRL" 
                            locale="pt-BR"
                            inputId="float-label"  
                        />
                        <label for="float-label" style="margin-left: 75px;">Informe o Salário</label>
                    </p-floatLabel>      
                </div>    
                <div class="dvcat">    
                    <p-floatLabel>
                        <p-dropdown
                            [style]="{'width':'75%'}"
                            id="cat" 
                            [options]="categorias" 
                            formControlName="categoria"
                            optionLabel="nome"
                            inputId="float-label" 
                        >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 5px;">Selecione a Categoria</label>
                    </p-floatLabel>    
                </div>       
                <div class="form5">
                    <p-floatLabel>
                        <p-calendar
                            [style]="{'width':'75%'}"
                            id="da" 
                            formControlName="data_admissao"
                            dateFormat="dd/mm/yy"                  
                            [showIcon]="true"
                            inputId="float-label" 
                        >
                        </p-calendar>
                        <label for="float-label" >Selecione a Data de Admissão</label>
                    </p-floatLabel>
                </div>
                <div class="dvgen">
                    <p-floatLabel>
                        <p-dropdown 
                            id="gen"
                            [style]="{'width':'75%'}"
                            [options]="generos" 
                            formControlName="genero"
                            optionLabel="nome"
                            inputId="float-label"    
                        >
                        </p-dropdown>
                        <label for="float-label" >Selecione o Gênero</label>
                    </p-floatLabel>    
                </div>
                <div class="form6">                     
                    <p-floatLabel>
                        <p-dropdown
                            [style]="{'width':'75%'}"
                            id="es"
                            [options]="estados_civis" 
                            formControlName="estado_civil"
                            optionLabel="nome"
                            inputId="float-label"   
                        >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 5px;">Selecione o Estado Civil</label>
                    </p-floatLabel>       
                </div>
                <div class="form7"> 
                    <p-floatLabel>       
                        <p-calendar
                            id="dc" 
                            [style]="{'width':'75%'}"
                            formControlName="data_nascimento"
                            dateFormat="dd/mm/yy"
                            [showIcon]="true"
                            inputId="float-label"
                        >
                        </p-calendar>
                        <label for="float-label" style="margin-left: 5px;">Selecione a Data de Nascimento</label>
                    </p-floatLabel>    
                </div>
                <div class="dvft">    
                    <p><label for="foto">Carregar Foto</label></p>
                    <input 
                        id="foto"
                        type="file"  
                        formControlName="image"
                        class="form-control"
                        (change)="onFileChange($event,registercolaboradorForm)"
                    />
                </div>    
                   
                <div class="dvemail">
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <i class="pi pi-at"></i>
                        </p-inputGroupAddon>
                        <span class="p-float-label">
                            <input pInputText
                                id="email"
                                formControlName="email"
                                type="text"
                            />  
                            <label for="email">Digite o email</label>
                        </span>          
                    </p-inputGroup>
                </div>
                <div class="dvcb">
                    <div class="titclas">
                        <p><strong>Classificação do Colaborador</strong></p>
                    </div> 
                        <div class="btns">
                            <p><label  for="sit" >Avaliador </label></p>
                            <p-inputSwitch                           
                                id="sit"
                                formControlName="tornar_avaliador"
                            >
                            </p-inputSwitch>
                            <p><label for="sit"[style]="{'margin-left':'20px'}">Avaliado </label></p>
                            <p-inputSwitch 
                                id="sit"
                                formControlName="tornar_avaliado"
                            >
                            </p-inputSwitch>
                            <p><label for="sit"[style]="{'margin-left':'30px'}">Situação </label></p>
                                <p-inputSwitch 
                                    id="sit"
                                    formControlName="situacao"
                                >
                                </p-inputSwitch>
                            <p><label for="sit"[style]="{'margin-left':'30px'}">Gestor de Orçamento </label></p>
                                <p-inputSwitch 
                                    id="sit"
                                    formControlName="tornar_gestor"
                                >
                                </p-inputSwitch>    
                        </div>
                </div>
                <div class="tituser">
                    <p><strong>Criar Usuário</strong></p>
                </div>
                <div class="dvus">
                    
                    <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-user"></i>
                            </p-inputGroupAddon>
                            <span class="p-float-label">
                                <input 
                                    
                                    pInputText
                                    id="username"
                                    formControlName="username"
                                    type="text"
                                />  
                                <label for="nome">Digite o nome de usuário</label>
                            </span>          
                    </p-inputGroup>
                    <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-key"></i>
                            </p-inputGroupAddon>
                            <span class="p-float-label">
                                <input pInputText
                                    id="password"
                                    formControlName="password"
                                    type="password"
                                    placeholder="Digite a senha"
                                /> 
                                <label for="senha">Digite a Senha</label> 
                            </span>    
                                      
                    </p-inputGroup>
                </div>    
                            
            </div>
           
                                       
        </form>
    </div>    
  
    <div class="botoes-form">
        <p-toast></p-toast>
            <div class="btnsec" (click)="clearForm()">
                <p>Limpar</p>
            </div>
            <div class="btnpri" (click)="submit()">
                 <p>Cadastrar</p>            
            </div>
    </div>
    
        <div class="tabela">
            <p-toast/>
            <p-confirmDialog />
            <p-table
                #dt1
                [value]="colaboradores"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[5, 10, 20]"
                [globalFilterFields]="['nome', 'empresaNome','filialNome','areaNome','setorNome','ambienteNome', 'cargoNome','situacao']"
            >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" [(ngModel)]="inputValue" placeholder="Palavra-Chave" />
                        </span>
                        <button pButton label="Pesquisar" severity="info"  (click)="filterTable()"></button>
                        <button pButton label="Limpar Pesquisa" severity="info" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    </div>
                </ng-template>    
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:25%" type="text" field="nome" display="menu">
                            Nome
                        </th>
                        <th style="width:25%" type="text" field="empresaNome" display="menu">
                            Empresa
                        </th>
                        <th style="width:25%" type="text" field="filialNome" display="menu">
                            Filial
                        </th>
                        <th style="width:25%" type="text" field="areaNome" display="menu">
                            Area
                        </th>
                        <th style="width:25%" type="text" field="setorNome" display="menu">
                            Ambiente
                        </th>
                        <th style="width:25%" type="text" field="ambienteNome" display="menu">
                            Setor
                        </th>
                        <th style="width:25%" type="text" field="cargoNome" display="menu">
                            Cargo
                        </th>
                        <th style="width:25%" type="text" field="situacao" display="menu">
                            Situação
                        </th>
                        <th style="width:25%"> Foto
                            <p-columnFilter type="text" field="" display="menu"></p-columnFilter>
                        </th>
                        <th style="width: 25%;text-align: center;">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-colaborador>
                    <tr>
                        <td>{{ colaborador.nome }}</td>
                        <td>{{ getNomeEmpresa(colaborador.empresa) }}</td>
                        <td>{{ getNomeFilial(colaborador.filial) }}</td>
                        <td>{{ getNomeArea(colaborador.area) }}</td>
                        <td>{{ getNomeSetor(colaborador.setor) }}</td>
                        <td>{{ getNomeAmbiente(colaborador.ambiente) }}</td>
                        <td>{{ getNomeCargo(colaborador.cargo) }}</td>
                        <td>{{ colaborador.situacao | booleanToStatus }}</td>
                        <td><img [src]="colaborador.image"  width="80" class="shadow-4" /></td>
                        <td class="td-acao">
                            <div class="btnsect" style="margin-right: 5px;background-color: #97a3c2; color: white;" (click)="visualizarColaboradorDetalhes(colaborador.id)">
                                <p>Visualizar</p>
                            </div>
                            <div class="btnsect" (click)="abrirModalEdicao(colaborador)">
                                <p>Editar</p>
                            </div>
                            <div class="btnprit" (click)="excluirColaborador(colaborador.id)">
                                <p>Excluir</p>            
                           </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
        </div>        
        <p-dialog 
            [modal]="true"
            [(visible)]="editFormVisible" 
            [style]="{ width: '90rem' }" 
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        >
        <div>   
            <p-divider align="left" type="solid">
                <b>Editar Colaborador</b>
            </p-divider>
        </div>  
        <div class="editgeral">
            <form [formGroup]="editForm">
            <div class="fg1edit">
              <div class="form1edit">
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-user-edit"></i>
                    </p-inputGroupAddon>
                    <span class="p-float-label">
                        <input  pInputText
                            id="nome"
                            formControlName="nome"
                            type="text"
                        />
                        <label for="nome">Digite o nome</label>  
                    </span>          
                </p-inputGroup>
                </div>    
                    
                <div class="form2edit">
                    <p-floatLabel>
                        <p-dropdown 
                            inputId="float-label" 
                            [style]="{'width':'75%'}"
                            [options]="empresas" 
                            id="empresa"
                            formControlName="empresa"
                            optionLabel="nome"
                            optionValue="id" 
                            (onChange)="onEmpresaSelecionada($event.value)"
                        >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 15px;">Selecione a Empresa</label>
                    </p-floatLabel>  
                </div>
                <div class="filialed">
                    <p-floatLabel> 
                        <p-dropdown
                            inputId="float-label" 
                            [style]="{'width':'75%'}"
                            [options]="filiais" 
                            id="filial"
                            optionValue="id" 
                            formControlName="filial"
                            optionLabel="nome"
                            [disabled]="true"
                            (onChange)="onFilialSelecionada($event.value)"
                        >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 15px;">Selecione a Filial</label>
                    </p-floatLabel>
                </div>
                <div class="form3ed">
                    <p-floatLabel> 
                        <p-dropdown 
                            [style]="{'width':'75%'}"
                            [options]="areas"
                            id="area"
                            optionValue="id"  
                            formControlName="area"
                            optionLabel="nome"
                            inputId="float-label" 
                            [disabled]="true"
                            (onChange)="onAreaSelecionada($event.value)"
                            >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 15px;">Selecione a Área</label>
                    </p-floatLabel> 
                </div>
                <div class="dvseted">    
                    <p-floatLabel>
                        <p-dropdown 
                            [style]="{'width':'75%'}"
                            [options]="setores"
                            id="setor" 
                            optionValue="id" 
                            formControlName="setor"
                            optionLabel="nome"
                            inputId="float-label" 
                            [disabled]="true"
                            (onChange)="onSetorSelecionado($event.value)"
                            >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 15px;">Selecione o Ambiente</label>
                    </p-floatLabel> 
                </div>
                <div class="form4ed">
                    <p-floatLabel>
                        <p-dropdown 
                            [style]="{'width':'75%'}"
                            id="ambiente"
                            [options]="ambientes" 
                            optionValue="id" 
                            formControlName="ambiente"
                            optionLabel="nome"
                            [disabled]="true"
                            inputId="float-label" 
                            (onChange)="onAmbienteSelecionado($event.value)"
                        >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 15px;">Selecione o Setor</label>
                    </p-floatLabel> 
                </div>
                <div class="dvcarged">     
                    <p-floatLabel>
                        <p-dropdown
                            [style]="{'width':'75%'}" 
                            id="cargo"
                            [options]="cargos" 
                            optionValue="id" 
                            formControlName="cargo"
                            optionLabel="nome"
                            [disabled]="true"
                            inputId="float-label" 
                            (onChange)="onCargoSelecionado($event.value)"
                        >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 15px;">Selecione o Cargo</label>
                    </p-floatLabel> 
                </div>
                <div class="dvtced">    
                    <p-floatLabel>
                        <p-dropdown
                            [style]="{'width':'75%'}"
                            id="tipocontrato" 
                            [options]="tipocontratos" 
                            optionValue="nome" 
                            formControlName="tipocontrato"
                            optionLabel="nome"
                            inputId="float-label" 
                        >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 15px;">Selecione o Tipo de Contrato</label>
                    </p-floatLabel> 
                </div>
                <div class="dvracaed">    
                    <p-floatLabel>
                        <p-dropdown
                            [style]="{'width':'75%'}"
                            id="raca" 
                            [options]="racas" 
                            formControlName="raca"
                            optionValue="nome" 
                            optionLabel="nome"
                            inputId="float-label" 
                        >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 15px;">Selecione a Raça</label>
                    </p-floatLabel> 
                </div>
                <div class="dvinsted">    
                    <p-floatLabel>
                        <p-dropdown
                            [style]="{'width':'75%'}"
                            id="inst" 
                            [options]="instrucoes" 
                            formControlName="instrucao"
                            optionLabel="nome"
                            optionValue="nome" 
                            inputId="float-label" 
                        >
                        </p-dropdown>
                        <label for="float-label" style="margin-left: 15px;">Selecione o Grau de Instrução</label>
                    </p-floatLabel>  
                </div>
                <div class="form5ed">
                    <p-floatLabel>
                        <p-calendar
                            [style]="{'width':'75%'}"
                            id="da" 
                            formControlName="data_admissao"
                            dateFormat="dd/mm/yy"                  
                            [showIcon]="true"
                            inputId="float-label" 
                        >
                        </p-calendar>
                        <label for="float-label" >Selecione a Data de Admissão</label>
                    </p-floatLabel>                  
                </div>
                <div class="sistemasEd">
                    <span class="p-float-label" style="margin-left: 15px;">
                        <input pInputText
                            id="minerion_id"
                            formControlName="minerion_id"
                            type="text"
                            [style]="{'width':'50%'}"
                        />  
                        <label for="minerion_id">Minerion ID</label>
                    </span>
                    <span class="p-float-label" style="margin-left: -60px;">
                        <input pInputText
                            id="dominio_id"
                            formControlName="dominio_id"
                            type="text"
                            [style]="{'width':'50%'}"
                        />  
                        <label for="dominio_id">Dominio ID</label>
                    </span>
                    <span class="p-float-label" style="margin-left: -60px;">
                        <input pInputText
                            id="sgg_id"
                            formControlName="sgg_id"
                            type="text"
                            [style]="{'width':'50%'}"
                        />  
                        <label for="sgg_id">SGG ID</label>
                    </span>
                    <span class="p-float-label" style="margin-left: -60px;">
                        <input pInputText
                            id="user"
                            formControlName="user"
                            type="text"
                            [style]="{'width':'50%'}"
                            readonly
                        />  
                        <label for="User">User ID</label>
                    </span> 
                </div> 
            </div>
                <div class="fg2edit">
                    <div class="dvsaled">
                        <p-floatLabel>   
                            <p-inputNumber
                                [style]="{'width':'75%'}" 
                                id="sal"
                                formControlName="salario" 
                                inputId="currency-us" 
                                mode="currency" 
                                currency="BRL" 
                                locale="pt-BR"
                                inputId="float-label"  
                            />
                            <label for="float-label" style="margin-left: 75px;">Informe o Salário</label>
                        </p-floatLabel>  
                    </div>
                    <div class="dvcated">    
                        <p-floatLabel>
                            <p-dropdown
                                [style]="{'width':'75%'}"
                                id="cat" 
                                [options]="categorias" 
                                formControlName="categoria"
                                optionLabel="nome"
                                inputId="float-label" 
                            >
                            </p-dropdown>
                            <label for="float-label" style="margin-left: 5px;">Selecione a Categoria</label>
                        </p-floatLabel> 
                    </div>      
                     <div class="dvgened">
                        <p-floatLabel>
                            <p-dropdown 
                                id="gen"
                                [style]="{'width':'75%'}"
                                [options]="generos" 
                                formControlName="genero"
                                optionLabel="nome"
                                inputId="float-label"    
                            >
                            </p-dropdown>
                            <label for="float-label" >Selecione o Gênero</label>
                        </p-floatLabel> 
                     </div>
                     <div class="form6ed">                     
                        <p-floatLabel>
                            <p-dropdown
                                [style]="{'width':'75%'}"
                                id="es"
                                [options]="estados_civis" 
                                formControlName="estado_civil"
                                optionLabel="nome"
                                inputId="float-label"   
                            >
                            </p-dropdown>
                            <label for="float-label" style="margin-left: 5px;">Selecione o Estado Civil</label>
                        </p-floatLabel>  
                     </div>
                     <div class="form7ed"> 
                        <p-floatLabel>       
                            <p-calendar
                                id="dc" 
                                [style]="{'width':'75%'}"
                                formControlName="data_nascimento"
                                dateFormat="dd/mm/yy"
                                [showIcon]="true"
                                inputId="float-label"
                            >
                            </p-calendar>
                            <label for="float-label" style="margin-left: 5px;">Selecione a Data de Nascimento</label>
                        </p-floatLabel> 
                     </div>
                     <div class="form8ed">
                        <p-floatLabel>
                            <p-calendar 
                                [style]="{'width':'75%'}"
                                formControlName="data_troca_setor"
                                [disabled]="true"
                                dateFormat="dd/mm/yy"
                                [showIcon]="true"
                                inputId="float-label"
                            >
                            </p-calendar>
                            <label for="float-label" style="margin-left: 5px;">Selecione a Data de Troca de Setor</label>
                        </p-floatLabel>     
                    </div>
                    <div class="form9ed">
                        <p-floatLabel>
                            <p-calendar
                                [style]="{'width':'75%'}"
                                formControlName="data_troca_cargo"
                                dateFormat="dd/mm/yy"
                                [showIcon]="true"
                                inputId="float-label"
                            >
                            </p-calendar>
                            <label for="float-label" style="margin-left: 5px;">Selecione a Data de Troca de Cargo</label>
                        </p-floatLabel>    
                    </div>    
                    <div class="form10ed">    
                        <p-floatLabel>
                                <p-calendar 
                                    [style]="{'width':'75%'}"
                                    formControlName="data_demissao"
                                    dateFormat="dd/mm/yy"
                                    [showIcon]="true"
                                    inputId="float-label"
                                >
                                </p-calendar>
                                <label for="float-label" style="margin-left: 5px;">Selecione a Data de Demissão</label>
                            </p-floatLabel>    
                    </div>   
                    <div class="dvemailed">
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-at"></i>
                            </p-inputGroupAddon>
                            <span class="p-float-label">
                                <input pInputText
                                    id="email"
                                    formControlName="email"
                                    type="text"
                                />  
                                <label for="email">Digite o email</label>
                            </span>          
                        </p-inputGroup>
                    </div> 
                    <div class="dvcbed">
                        <div class="titclas">
                            <p><strong>Classificação do Colaborador</strong></p>
                        </div> 
                            <div class="btns">
                                <p><label  for="sit" >Avaliador </label></p>
                                <p-inputSwitch                           
                                    id="sit"
                                    formControlName="tornar_avaliador"
                                >
                                </p-inputSwitch>
                                <p><label for="sit"[style]="{'margin-left':'20px'}">Avaliado </label></p>
                                <p-inputSwitch 
                                    id="sit"
                                    formControlName="tornar_avaliado"
                                >
                                </p-inputSwitch>
                                <p><label for="sit"[style]="{'margin-left':'30px'}">Situação </label></p>
                                    <p-inputSwitch 
                                        id="sit"
                                        formControlName="situacao"
                                    >
                                    </p-inputSwitch>
                                <p><label for="sit"[style]="{'margin-left':'30px'}">Gestor de Orçamento </label></p>
                                    <p-inputSwitch 
                                        id="sit"
                                        formControlName="tornar_gestor"
                                    >
                                    </p-inputSwitch>    
                            </div>
                        
                    </div>
                    <div class="tituseredit">
                        <p><strong>Editar Usuário</strong></p>
                    </div>
                
                   
                    <div class="dvusedit">
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-user"></i>
                            </p-inputGroupAddon>
                            <span class="p-float-label">
                                <input 
                                    
                                    pInputText
                                    id="username"
                                    formControlName="username"
                                    type="text"
                                />  
                                <label for="nome">Digite o nome de usuário</label>
                            </span>          
                    </p-inputGroup>
                    <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-key"></i>
                            </p-inputGroupAddon>
                            <span class="p-float-label">
                                <input pInputText
                                    id="password"
                                    formControlName="password"
                                    type="password"
                                    placeholder="Digite a senha"
                                /> 
                                <label for="senha">Digite a Senha</label> 
                            </span>    
                                      
                    </p-inputGroup>
                    </div>    
                    <div class="botoes-formedit">
                            <div class="btnsecedit" (click)="cleareditForm()">
                                <p>Limpar</p>
                            </div>
                            <div class="btnpriedit" (click)="saveEdit()">
                                 <p>Editar</p>            
                            </div>
                    </div>              
                </div>    
            </form>
        </div>    
            <form 
            [formGroup]="imgForm"
            title="Cadastrar novo Colaborador"
            primaryBtnText="Cadastrar"
            (submit)="updateImage()"
            enctype="multipart/form-data"
        >
            <div class="editImg">
                <input 
                id="foto"
                type="file"  
                formControlName="image"
                class="form-control"
                (change)="onFileChange($event,imgForm)">
            
            <button type="submit">Atualizar Imagem</button>
        </div>
          </form>  
           
        </p-dialog>
        <p-dialog 
            [modal]="true"
            [(visible)]="detalhaColaboradorVisible" 
            [style]="{ width: '70rem' }" 
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        >
        <p-divider align="left" type="solid">
            <b>Detalhes do Colaborador</b>
        </p-divider>
            <div *ngIf="colaboradorDetalhes">
                <div class="detalhes">
                    <p>Nome: <strong>{{ colaboradorDetalhes.nome }}</strong></p>
                    <p>Salário: <strong>{{ colaboradorDetalhes.salario }}</strong></p>
                    <p>Tipo de Contrato: <strong>{{ colaboradorDetalhes.tipocontrato }}</strong></p>
                    <p>Data de Admissão: <strong>{{ colaboradorDetalhes.data_admissao }}</strong></p>
                    <p>Gênero: <strong>{{ colaboradorDetalhes.genero }}</strong></p>
                    <p>Situação: <strong>{{ colaboradorDetalhes.situacao }}</strong></p>
                    <p>Estado Civil: <strong>{{ colaboradorDetalhes.estado_civil }}</strong></p>
                    <p>Data de Nascimento: <strong>{{ colaboradorDetalhes.data_nascimento }}</strong></p>
                    <p>Data da Troca de Setor: <strong>{{ colaboradorDetalhes.data_troca_setor }}</strong></p>
                    <p>Data da Troca de Cargo: <strong>{{ colaboradorDetalhes.data_troca_cargo }}</strong></p>
                    <p>Data de Demissão: <strong>{{ colaboradorDetalhes.data_demissao }}</strong></p>
                    <p>Email: <strong>{{ colaboradorDetalhes.email }}</strong></p>
                    <p>Raça: <strong>{{ colaboradorDetalhes.raca }}</strong></p>
                    <p>Grau de Instrução: <strong>{{ colaboradorDetalhes.instrucao }}</strong></p>
                    <p>Categoria: <strong>{{ colaboradorDetalhes.categoria }}</strong></p>
                    <p>Empresa: <strong>{{ getNomeEmpresa(colaboradorDetalhes.empresa) }}</strong><p>
                    <p>Filial: <strong>{{ getNomeFilial(colaboradorDetalhes.filial) }}</strong></p>
                    <p>Área: <strong>{{ getNomeArea(colaboradorDetalhes.area) }} </strong></p>    
                    <p>Setor: <strong>{{ getNomeSetor(colaboradorDetalhes.setor) }}</strong></p>
                    <p>Ambiente: <strong>{{ getNomeAmbiente(colaboradorDetalhes.ambiente) }}</strong></p>
                    <p>Cargo: <strong>{{ getNomeCargo(colaboradorDetalhes.cargo) }}</strong></p>
                    <p>Usuário ID: <strong>{{ colaboradorDetalhes.user }}</strong></p>
                    <p>Domínio ID: <strong>{{ colaboradorDetalhes.dominio_id }}</strong></p>
                    <p>Minerion ID: <strong>{{ colaboradorDetalhes.minerion_id }}</strong></p>
                    <p>SGG ID: <strong>{{ colaboradorDetalhes.sgg_id }}</strong></p>
                </div>            
                <div class="dvimg">  
                    <img [src]="colaboradorDetalhes.image"  width="80" class="shadow-4" />
                </div>
            </div>    
        </p-dialog>    
        
  </div><!--end container-->
