@import "primeicons/primeicons.css";

.container{
    width: 100%;
}
// .uppercase-text {
//     text-transform: uppercase;
//   }

.form-geral{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        .fg1{
            width: 100%;
            margin-top: 45px;
            p{
                margin-left: 20px;
            }
            .form1{
                margin-top: 16px;
                margin-left: 20px;
                p{
                    margin-left: auto;
                }
                p-inputGroup{
                    width: 75%;
                }
            }
            .form2{
                margin-top: 35px;
                margin-left: 20px;
            }
            .filial{
                margin-top: 35px;
                margin-left: 20px;
            }
            .form3{
                margin-top: 35px;
                margin-left: 20px;
            }
            .dvset{
                margin-top: 35px;
                margin-left: 20px;
            }
            .form4{
                margin-top: 35px;
                margin-left: 20px;
            }
            .dvcarg{
                margin-top: 35px;
                margin-left: 20px;
            }
            .dvtc{
                margin-top: 35px;
                margin-left: 20px;
            }
            .dvraca{
                margin-top: 35px;
                margin-left: 20px;
            }
            .dvinst{
                margin-top: 35px;
                margin-left: 20px;
            }
            .sistemas{
                display: flex;
                margin-top: 35px;
                margin-left: 20px;
                margin-bottom: 20px;
                span{
                    margin: 2px;
                }
            }
        }
        .fg2{
            width: 100%;
            margin-top: 45px;
           
            .dvgen{
                margin-top: 35px;

            }
            .dvcat{
                margin-top: 35px;
                
                //margin-left: 15px;
                
            }
            .dvsal{
                margin-top: 16px;
                p-inputNumber{
                    width: 100%;
                }
                
            }
            .form5{
                margin-top: 35px;
            }
            .form6{
                margin-top: 35px;
            }
            .form7{
                margin-top: 35px;
            }
            .dvft{
                display: flex;
                
                margin-top: 20px;
                p{
                    margin-left: 2px;
                }
                input{
                    margin-left: 5px;
                }
            }
            .dvemail{
                margin-top: 20px;
                p-inputGroup{
                    width: 75%;
                }
            }
            .dvcb{
                margin-top: 35PX;
               
                .btns{
                    display: flex;
                    P{
                        margin-top: 5px;
                        margin-right: 2px;
                    }
                }

            }
            .dvus{
                margin-top: 5px;
                margin-bottom: 20px;
                padding: 15px;
                width: 75%;
                background-color: #e0ede9;
                border-radius: 5px;
                    p-inputGroup{
                        margin-top: 25px;
                    }
               
            }
            .tituser{
                margin-top: 20px;
                p{
                    margin-left: 25px;
                    
                }
            }
        }
        
    
}
.colaboradorDetalhes{
    display: flex;
    .detalhes{
        margin-top: 50px;

        .dvimg{
            
            margin-left: 200px;
        }
    }

    
}

.titulo{
    justify-content: center;
    text-align: center;
    h2{
        color:slategrey;
    }
}
 form{
    margin-top: 2%;
    display: flex;
    height: 6%;

        

        // p-calendar{
        //     padding: 5%;
        // }
    
        // p-inputGroup{
        //     padding: 2px;
        // }
        // p-dropdown{
        //     padding: 15px;
        // }
        // p-inputMask{
        //     padding: 15px;
        //     width: 150px;
        // }    
        

        .teste{
            margin-bottom: 5%;
            margin-top: 6%;
            label{
                margin-left: 5%;
            }
        }
 }
 
 .botoes-form{
    width: 84%;
    margin-bottom: 2%;
    margin-top: 2%;
    display: flex;
    justify-content: end;
    p-button{
        margin-right: 3%;
        
    }
}

.flex{
    
    text-align: end;
    button{
        margin-left: 1%;
    }
}

.tabela{
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    th{
        font-size: 14px;
    }
    td{
        font-size:12px ;
    }
    .td-acao{
        display: flex;
        margin-top: 50px;
        button{
            margin-left: 2px;
        }
    
    
    }
}



.btnpri{
    cursor: pointer;
    background-color: #444959;
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin-left: 5px;
    p{
        text-align: center;
        margin-top: 10px;
    }
}   
.btnsec{
    cursor: pointer;
    background-color: #e3e3f3;
    color: #444959;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    p{
        text-align: center;
        margin-top: 10px;
    }
}
.btnprit{
    cursor: pointer;
    background-color: #444959;
    color: #fff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-left: 5px;
    p{
        text-align: center;
        margin-top: 10px;
    }
}   
.btnsect{
    cursor: pointer;
    background-color: #e3e3f3;
    color: #444959;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    p{
        text-align: center;
        margin-top: 10px;
    }
}
 ///////FORMULARIO DE EDIÇÃO
 
.editgeral{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    .fg1edit{
        width: 50%;
        margin-top: 45px;
        .form1edit{
            margin-left: 15px;            
            p-inputGroup{
                width: 75%;
            }
        }
        .form2edit{
            margin-left: 15px; 
            margin-top: 35px;
            
        }
        .filialed{
            margin-left: 15px; 
            margin-top: 35px;
        }
        .form3ed{
            margin-left: 15px; 
            margin-top: 35px;
        }
        .dvseted{
            margin-left: 15px; 
            margin-top: 35px;
        }
        .form4ed{
            margin-left: 15px; 
            margin-top: 35px;
        }
        .dvcarged{
            margin-left: 15px; 
            margin-top: 35px;
        }
        .dvtced{
            margin-left: 15px; 
            margin-top: 35px;
        }
        .dvracaed{
            margin-left: 15px; 
            margin-top: 35px;
        }
        .dvinsted{
            margin-left: 15px; 
            margin-top: 35px;
        }
        .form5ed{
            margin-left: 15px; 
            margin-top: 35px;
            p{
                margin-left: 20px;
            }
            
        }
    }    
    .fg2edit{
        width: 50%;
        margin-top: 45px;
        .dvsaled{
            margin-left: 15px; 
           p-inputNumber{
            width: 100%;
           } 
        }
        .dvcated{
            margin-left: 15px; 
            margin-top: 35px;
        }
        .btnsed{
            margin-left: 15px; 
            margin-top: 35px;
            P{
                margin-top: 5px
            }
        }
        .dvgened{
            margin-left: 15px; 
            margin-top: 35px;
        }
        .form6ed{
            margin-left: 15px; 
            margin-top: 35px;
        }
        .form7ed{
            margin-left: 15px; 
            margin-top: 35px;   
        }
        .form8ed{
            margin-left: 15px; 
            margin-top: 35px;
        }
        .form9ed{
            margin-left: 15px; 
            margin-top: 35px;
        }
        .form10ed{
            margin-left: 15px; 
            margin-top: 35px;
        }
        .dvemailed{
            margin-top: 30px;
            margin-left: 15px;
            margin-bottom: 10px;
            p-inputgroup{
                width: 75%;
            }
        }
        
        .dvcbed{
            margin-top: 35PX;
           
            .btns{
                display: flex;
                P{
                    margin-top: 5px;
                    margin-right: 2px;
                }
            }

        }
    }

}
.sistemasEd{
    display: flex;
    margin-top: 35px;
    
}
.botoes-formedit{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
 
    .btnpriedit{
        cursor: pointer;
        background-color: #444959;
        color: #fff;
        width: 120px;
        height: 40px;
        border-radius: 5px;
        margin-left: 5px;
        p{
            text-align: center;
            margin-top: 10px;
            margin-left: 2px;
        }
    }   
    .btnsecedit{
        cursor: pointer;
        background-color: #e3e3f3;
        color: #444959;
        width: 120px;
        height: 40px;
        border-radius: 5px;
        p{
            text-align: center;
            margin-top: 10px;
            margin-left: 2px;
        }
    }


}


.dvusedit{
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 15px;
    width: 75%;
    background-color: #e0ede9;
    border-radius: 5px;
        p-inputGroup{
            margin-top: 25px;
        }
   
}
.tituseredit{
    margin-top: 15px;
}
.editImg{
    margin-left: 30%;
    margin-top: 15px;
    justify-content: center;
    
}