<div class="container">

    <div class="titulo2 mt-6 mb-6 text-2xl">
        <p-divider align="left" type="solid">
            <b>Cadastro de Colaboradores</b>
        </p-divider>
    </div>

    <form
            [formGroup]="registercolaboradorForm"
            title="Cadastrar novo Colaborador"
            primaryBtnText="Cadastrar"
            (submit)="submit()"
            enctype="multipart/form-data"
    >

        <div class="form-geral flex flex-column lg:flex-row"@swipeAnimation>


            <div class="fg1 flex flex-column w-12 align-items-center lg:w-6">
                <div class="form1 w-10 ">
                    <p-floatlabel variant="on">
                        <p-iconfield>
                            <p-inputicon class="pi pi-user" />
                            <input
                                variant="filled"
                                [style]="{'width':'100%'}"
                                pInputText id="on_label"
                                autocomplete="off"
                                formControlName="nome"
                                type="text"
                            />
                        </p-iconfield>
                        <label for="on_label">Digite o nome</label>
                    </p-floatlabel>
                </div>
                <div class="form2  w-10 text-left">
                    <p-floatLabel variant="on">
                        <p-select
                            variant="filled"
                            inputId="float-label"
                            [style]="{'width':'100%'}"
                            [options]="empresas"
                            formControlName="empresa"
                            optionLabel="nome"
                            (onChange)="onEmpresaSelecionada($event.value)"
                        >
                        </p-select>
                        <label for="float-label" style="margin-left: 15px;">Selecione a Empresa</label>
                    </p-floatLabel>
                </div>
                <div class="filial w-10 text-left">
                    <p-floatLabel variant="on">
                        <p-select
                            variant="filled"
                            inputId="float-label"
                            [style]="{'width':'100%'}"
                            [options]="filiais"
                            id="filial"
                            formControlName="filial"
                            optionLabel="nome"
                            [disabled]="true"
                            (onChange)="onFilialSelecionada($event.value)"
                        >
                        </p-select>
                        <label for="float-label" style="margin-left: 15px;">Selecione a Filial</label>
                    </p-floatLabel>
                </div>
                <div class="form3 w-10 text-left">
                    <p-floatLabel variant="on">
                        <p-select
                            variant="filled"
                            [style]="{'width':'100%'}"
                            [options]="areas"
                            id="area"
                            formControlName="area"
                            optionLabel="nome"
                            inputId="float-label"
                            [disabled]="true"
                            (onChange)="onAreaSelecionada($event.value)"
                            >
                        </p-select>
                        <label for="float-label" style="margin-left: 15px;">Selecione a Área</label>
                    </p-floatLabel>
                </div>
                <div class="dvset w-10 text-left">
                    <p-floatLabel variant="on">
                        <p-select
                            variant="filled"
                            [style]="{'width':'100%'}"
                            [options]="setores"
                            id="setor"
                            formControlName="setor"
                            optionLabel="nome"
                            inputId="float-label"
                            [disabled]="true"
                            (onChange)="onSetorSelecionado($event.value)"
                            >
                        </p-select>
                        <label for="float-label" style="margin-left: 15px;">Selecione o Ambiente</label>
                    </p-floatLabel>
                </div>
                <div class="form4 w-10 text-left">
                    <p-floatLabel variant="on">
                        <p-select
                            variant="filled"
                            [style]="{'width':'100%'}"
                            id="ambiente"
                            [options]="ambientes"
                            formControlName="ambiente"
                            optionLabel="nome"
                            [disabled]="true"
                            inputId="float-label"
                            (onChange)="onAmbienteSelecionado($event.value)"
                        >
                        </p-select>
                        <label for="float-label" style="margin-left: 15px;">Selecione o Setor</label>
                    </p-floatLabel>
                </div>
                <div class="dvcarg w-10 text-left">
                    <p-floatLabel variant="on">
                        <p-select
                            variant="filled"
                            [style]="{'width':'100%'}"
                            id="cargo"
                            [options]="cargos"
                            formControlName="cargo"
                            optionLabel="nome"
                            [disabled]="true"
                            inputId="float-label"
                            (onChange)="onCargoSelecionado($event.value)"
                        >
                        </p-select>
                        <label for="float-label" style="margin-left: 15px;">Selecione o Cargo</label>
                    </p-floatLabel>
                </div>
                <div class="dvtc w-10 text-left">
                    <p-floatLabel variant="on">
                        <p-select
                            variant="filled"
                            [style]="{'width':'100%'}"
                            id="tipocontrato"
                            [options]="tipocontratos"
                            formControlName="tipocontrato"
                            optionLabel="nome"
                            inputId="float-label"
                        >
                        </p-select>
                        <label for="float-label" style="margin-left: 15px;">Selecione o Tipo de Contrato</label>
                    </p-floatLabel>
                </div>
                <div class="dvraca w-10 text-left">
                    <p-floatLabel variant="on">
                        <p-select
                            variant="filled"
                            [style]="{'width':'100%'}"
                            id="raca"
                            [options]="racas"
                            formControlName="raca"
                            optionLabel="nome"
                            inputId="float-label"
                        >
                        </p-select>
                        <label for="float-label" style="margin-left: 15px;">Selecione a Raça</label>
                    </p-floatLabel>
                </div>
                <div class="dvinst w-10 text-left">
                    <p-floatLabel variant="on">
                        <p-select
                            variant="filled"
                            [style]="{'width':'100%'}"
                            id="inst"
                            [options]="instrucoes"
                            formControlName="instrucao"
                            optionLabel="nome"
                            inputId="float-label"
                        >
                        </p-select>
                        <label for="float-label" style="margin-left: 15px;">Selecione o Grau de Instrução</label>
                    </p-floatLabel>
                </div>
                <div class="sistemas w-10 text-left">
                    <p-floatlabel variant="on">
                        <p-iconfield>

                            <input
                                variant="filled"
                                [style]="{'width':'100%'}"
                                pInputText id="on_label"
                                autocomplete="off"
                                formControlName="minerion_id"
                                type="text"
                            />
                        </p-iconfield>
                        <label for="on_label">Minerion ID</label>
                    </p-floatlabel>
                    <p-floatlabel variant="on">
                        <p-iconfield>

                            <input
                                variant="filled"
                                [style]="{'width':'100%'}"
                                pInputText id="on_label"
                                autocomplete="off"
                                formControlName="dominio_id"
                                type="text"
                            />
                        </p-iconfield>
                        <label for="on_label">Dominio ID</label>
                    </p-floatlabel>
                    <p-floatlabel variant="on">
                        <p-iconfield>

                            <input
                                variant="filled"
                                [style]="{'width':'100%'}"
                                pInputText id="on_label"
                                autocomplete="off"
                                formControlName="sgg_id"
                                type="text"
                            />
                        </p-iconfield>
                        <label for="on_label">SGG ID</label>
                    </p-floatlabel>
                </div>
            </div>

            <div class="fg2 flex flex-column w-12 align-items-center lg:w-6">

                <div class="dvsal w-10 text-left">
                    <p-floatLabel variant="on" >
                        <p-inputNumber
                            variant="filled"
                            inputId="on_label"
                            formControlName="salario"
                            inputId="currency-us"
                            mode="currency"
                            currency="BRL"
                            locale="pt-BR"

                        />
                        <label for="on_label">Informe o Salário</label>
                    </p-floatLabel>
                </div>
                <div class="dvcat w-10 text-left">
                    <p-floatLabel variant="on">
                        <p-select
                            variant="filled"
                            [style]="{'width':'100%'}"
                            id="cat"
                            [options]="categorias"
                            formControlName="categoria"
                            optionLabel="nome"
                            inputId="float-label"
                        >
                        </p-select>
                        <label for="float-label" style="margin-left: 5px;">Selecione a Categoria</label>
                    </p-floatLabel>
                </div>
                <div class="form5 w-10 text-left">
                    <p-floatLabel variant="on">
                        <p-datepicker
                            variant="filled"
                            [style]="{'width':'100%'}"
                            id="da"
                            formControlName="data_admissao"
                            dateFormat="dd/mm/yy"
                            inputId="float-label"
                            [showIcon]="true"
                        >
                        </p-datepicker>
                        <label for="float-label" >Data de Admissão</label>
                    </p-floatLabel>
                </div>
                <div class="dvgen w-10 text-left">
                    <p-floatLabel variant="on">
                        <p-select
                            variant="filled"
                            id="gen"
                            [style]="{'width':'100%'}"
                            [options]="generos"
                            formControlName="genero"
                            optionLabel="nome"
                            inputId="float-label"
                        >
                        </p-select>
                        <label for="float-label" >Selecione o Gênero</label>
                    </p-floatLabel>
                </div>
                <div class="form6 w-10 text-left">
                    <p-floatLabel variant="on">
                        <p-select
                            variant="filled"
                            [style]="{'width':'100%'}"
                            id="es"
                            [options]="estados_civis"
                            formControlName="estado_civil"
                            optionLabel="nome"
                            inputId="float-label"
                        >
                        </p-select>
                        <label for="float-label" style="margin-left: 5px;">Selecione o Estado Civil</label>
                    </p-floatLabel>
                </div>
                <div class="form7 w-10 text-left">
                    <p-floatLabel variant="on">
                        <p-datepicker           
                            variant="filled"
                            id="dc"
                            [style]="{'width':'100%'}"
                            formControlName="data_nascimento"
                            dateFormat="dd/mm/yy"
                            inputId="float-label"
                            [showIcon]="true"
                        >
                        </p-datepicker>
                        <label for="float-label" style="margin-left: 5px;">Data de Nascimento</label>
                    </p-floatLabel>
                </div>
                <div class="dvft w-10 flex-wrap lg:text-justify">
                    <p><label for="foto">Carregar Foto</label></p>
                    <input
                        id="foto"
                        type="file"
                        formControlName="image"
                        class="form-control"
                        (change)="onFileChange($event,registercolaboradorForm)"
                    />
                </div>

                <div class="dvemail w-10 text-left">
                    <p-floatlabel variant="on">
                        <p-iconfield>
                            <p-inputicon class="pi pi-at" />
                            <input
                                variant="filled"
                                [style]="{'width':'100%'}"
                                pInputText id="on_label"
                                autocomplete="off"
                                formControlName="email"
                                type="text"
                            />
                        </p-iconfield>
                        <label for="on_label">Digite o email</label>
                    </p-floatlabel>
                </div>
                <div class="dvcb w-10 text-left">
                    <div class="titclas">
                        <p><strong>Classificação do Colaborador</strong></p>
                    </div>
                        <div class="btns flex flex-column align-items-start  lg:flex-row ">
                            <p><label  for="sit" >Avaliador </label></p>
                            <p-toggleswitch
                                id="sit"
                                formControlName="tornar_avaliador"
                            >
                            </p-toggleswitch>
                            <p><label for="sit"[style]="{'margin-left':'10px'}">Avaliado </label></p>
                            <p-toggleswitch
                                id="sit"
                                formControlName="tornar_avaliado"
                            >
                            </p-toggleswitch>
                            <p><label for="sit"[style]="{'margin-left':'10px'}">Situação </label></p>
                                <p-toggleswitch
                                    id="sit"
                                    formControlName="situacao"
                                >
                                </p-toggleswitch>
                            <p><label for="sit"[style]="{'margin-left':'10px'}">Gestor de Orçamento</label></p>
                                <p-toggleswitch
                                    id="sit"
                                    formControlName="tornar_gestor"
                                >
                                </p-toggleswitch>
                        </div> 
                </div>
                <div class="tituser w-10 text-left">
                    <p><strong>Criar Usuário</strong></p>
                </div>
                <div class="dvus w-10 text-left">
                    <p-floatlabel variant="on">
                        <p-iconfield>
                            <p-inputicon class="pi pi-user" />
                            <input
                                variant="filled"
                                [style]="{'width':'100%'}"
                                pInputText id="on_label"
                                autocomplete="off"
                                formControlName="username"
                                type="text"
                            />
                        </p-iconfield>
                        <label for="on_label">Digite o nome de usuário</label>
                    </p-floatlabel>
                    <br>
                    <p-floatlabel variant="on">
                        <p-iconfield>
                            <p-inputicon class="pi pi-key" />
                            <input
                                variant="filled"
                                [style]="{'width':'100%'}"
                                pInputText id="on_label"
                                autocomplete="off"
                                formControlName="password"
                                type="text"
                            />
                        </p-iconfield>
                        <label for="on_label">Digite a senha</label>
                    </p-floatlabel>

                </div>

            </div>
        </div>

    </form>


    <div class="botoes-form m-5 "@efeitoFade>
        <p-toast></p-toast>
            <div class="btnsec" (click)="clearForm()">
                <p>Limpar</p>
            </div>
            <div class="btnpri" (click)="submit()">
                 <p>Cadastrar</p>
            </div>
    </div>

        <div class="tabela"@swipeAnimationReverse>
            <p-toast/>
            <p-confirmDialog />
            <p-table
                #dt1
                [value]="colaboradores"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[5, 10, 20]"
                [globalFilterFields]="['nome', 'empresaNome','filialNome','areaNome','setorNome','ambienteNome', 'cargoNome','situacao']"
                stripedRows
                scrollable="true"
            >
                <ng-template pTemplate="caption">
                    <div class="flex flex-row md: justify-content-end">
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-search" />
                                <input
                                    variant="filled"
                                    [(ngModel)] = "inputValue"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Palavra-Chave</label>
                        </p-floatlabel>
                        <button size="small" class="ml-2" pButton [rounded]="true" label="Pesquisar" severity="info"  (click)="filterTable()"></button>
                        <button size="small" class="ml-2" pButton [rounded]="true" label="Limpar" severity="info" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:25%" type="text" field="nome" display="menu">
                            Nome
                        </th>
                        <th style="width:25%" type="text" field="empresaNome" display="menu">
                            Empresa
                        </th>
                        <th style="width:25%" type="text" field="filialNome" display="menu">
                            Filial
                        </th>
                        <th style="width:25%" type="text" field="areaNome" display="menu">
                            Area
                        </th>
                        <th style="width:25%" type="text" field="setorNome" display="menu">
                            Ambiente
                        </th>
                        <th style="width:25%" type="text" field="ambienteNome" display="menu">
                            Setor
                        </th>
                        <th style="width:25%" type="text" field="cargoNome" display="menu">
                            Cargo
                        </th>
                        <th style="width:25%" type="text" field="situacao" display="menu">
                            Situação
                        </th>
                        <th style="width:25%"> Foto
                            <p-columnFilter type="text" field="" display="menu"></p-columnFilter>
                        </th>
                        <th style="width: 25%;text-align: center;">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-colaborador>
                    <tr>
                        <td>{{ colaborador.nome }}</td>
                        <td>{{ colaborador.empresa_detalhes.nome }}</td>
                        <td>{{ colaborador.filial_detalhes.nome }}</td>
                        <td>{{ colaborador.area_detalhes.nome }}</td>
                        <td>{{ colaborador.setor_detalhes.nome }}</td>
                        <td>{{ colaborador.ambiente_detalhes.nome }}</td>
                        <td>{{ colaborador.cargo_detalhes.nome }}</td>
                        <td>{{ colaborador.situacao | booleanToStatus }}</td>
                        <td><img [src]="colaborador.image"  width="80" class="shadow-4" /></td>
                        <td class="flex py-5">
                            <div class="btnsect" style="margin-right: 5px;background-color: #97a3c2; color: white;" (click)="visualizarColaboradorDetalhes(colaborador.id)">
                                <p>Visualizar</p>
                            </div>
                            <div class="btnsect" (click)="abrirModalEdicao(colaborador)">
                                <p>Editar</p>
                            </div>
                            <div class="btnprit" (click)="excluirColaborador(colaborador.id)">
                                <p>Excluir</p>
                           </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button"  styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button"  styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
        </div>
        <p-dialog
            [modal]="true"
            [(visible)]="editFormVisible"
            [style]="{ width: '90rem' }"
        >
        <div>
            <p-divider align="left" type="solid">
                <b>Editar Colaborador</b>
            </p-divider>
        </div>
        <form [formGroup]="editForm">
            <div class="editgeral flex flex-column lg:flex-row">
                <div class="fg1edit flex flex-column w-12 align-items-center lg:w-6">
                    <div class="form1edit w-10">
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-user" />
                                <input
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    formControlName="nome"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Digite o nome</label>
                        </p-floatlabel>
                    </div>

                    <div class="form2edit w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                inputId="float-label"
                                [style]="{'width':'100%'}"
                                [options]="empresas"
                                formControlName="empresa"
                                optionLabel="nome"
                                optionValue="id"
                                (onChange)="onEmpresaSelecionada($event.value)"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione a Empresa</label>
                        </p-floatLabel>
                    </div>
                    <div class="filialed w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                inputId="float-label"
                                [style]="{'width':'100%'}"
                                [options]="filiais"
                                id="filial"
                                formControlName="filial"
                                optionValue="id"
                                optionLabel="nome"
                                [disabled]="true"
                                (onChange)="onFilialSelecionada($event.value)"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione a Filial</label>
                        </p-floatLabel>
                    </div>
                    <div class="form3ed w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                [style]="{'width':'100%'}"
                                [options]="areas"
                                id="area"
                                formControlName="area"
                                optionLabel="nome"
                                inputId="float-label"
                                optionValue="id"
                                [disabled]="true"
                                (onChange)="onAreaSelecionada($event.value)"
                                >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione a Área</label>
                        </p-floatLabel>
                    </div>
                    <div class="dvseted w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                [style]="{'width':'100%'}"
                                [options]="setores"
                                id="setor"
                                formControlName="setor"
                                optionValue="id"
                                optionLabel="nome"
                                inputId="float-label"
                                [disabled]="true"
                                (onChange)="onSetorSelecionado($event.value)"
                                >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione o Ambiente</label>
                        </p-floatLabel>
                    </div>
                    <div class="form4ed  w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                [style]="{'width':'100%'}"
                                id="ambiente"
                                [options]="ambientes"
                                formControlName="ambiente"
                                optionLabel="nome"
                                optionValue="id"
                                [disabled]="true"
                                inputId="float-label"
                                (onChange)="onAmbienteSelecionado($event.value)"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione o Setor</label>
                        </p-floatLabel>
                    </div>
                    <div class="dvcarged w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                [style]="{'width':'100%'}"
                                id="cargo"
                                [options]="cargos"
                                formControlName="cargo"
                                optionLabel="nome"
                                [disabled]="true"
                                optionValue="id"
                                inputId="float-label"
                                (onChange)="onCargoSelecionado($event.value)"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione o Cargo</label>
                        </p-floatLabel>
                    </div>
                    <div class="dvtced w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                [style]="{'width':'100%'}"
                                id="tipocontrato"
                                [options]="tipocontratos"
                                formControlName="tipocontrato"
                                optionLabel="nome"
                                optionValue="nome"
                                inputId="float-label"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione o Tipo de Contrato</label>
                        </p-floatLabel>
                    </div>
                    <div class="dvracaed w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                [style]="{'width':'100%'}"
                                id="raca"
                                [options]="racas"
                                formControlName="raca"
                                optionLabel="nome"
                                optionValue="nome"
                                inputId="float-label"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione a Raça</label>
                        </p-floatLabel>
                    </div>
                    <div class="dvinsted w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                [style]="{'width':'100%'}"
                                id="inst"
                                [options]="instrucoes"
                                formControlName="instrucao"
                                optionLabel="nome"
                                optionValue="nome"
                                inputId="float-label"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione o Grau de Instrução</label>
                        </p-floatLabel>
                    </div>
                    <div class="form5ed w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-datepicker
                                variant="filled"
                                [style]="{'width':'100%'}"
                                id="da"
                                formControlName="data_admissao"
                                dateFormat="dd/mm/yy"
                                inputId="float-label"
                                [showIcon]="true"
                            >
                            </p-datepicker>
                            <label for="float-label" >Data de Admissão</label>
                        </p-floatLabel>
                    </div>
                    <div class="sistemasEd flex flex-wrap w-10 text-left justify-content-center">
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <input
                                    class="mt-2"
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    formControlName="minerion_id"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Minerion ID</label>
                        </p-floatlabel>
                        <p-floatlabel variant="on">
                            <p-iconfield>
    
                                <input
                                    class="mt-2"
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    formControlName="dominio_id"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Dominio ID</label>
                        </p-floatlabel>
                    </div>
                    <div class="sistemasEd flex flex-wrap w-12 text-left justify-content-center">
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <input
                                    class="mt-2"
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    formControlName="sgg_id"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">SGG ID</label>
                        </p-floatlabel>
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <input
                                    class="mt-2"
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    formControlName="user_id"
                                    type="text"
                                />
                            </p-iconfield>    
                            <label for="on_label">User ID</label>
                        </p-floatlabel>
                    </div>
                </div>
                    <div class="fg2edit flex flex-column w-12 align-items-center lg:w-6">
                        <!-- <div class="dvsaled w-10 text-left">
                            <p-floatLabel variant="on" >
                                <p-inputNumber
                                    variant="filled"
                                    inputId="on_label"
                                    formControlName="salario"
                                    currency="BRL"
                                    mode="currency"
                                    locale="de-DE"
                                    
                                />
                                <label for="on_label">Informe o Salário R$</label>
                            </p-floatLabel>
                        </div> -->


                        <div class="form1edit w-10">
                            <p-floatlabel variant="on">
                                <p-iconfield>
                                    
                                    <input
                                        variant="filled"
                                        [style]="{'width':'99%'}"
                                        pInputText id="on_label"
                                        autocomplete="off"
                                        formControlName="salario"
                                        type="text"
                                    />
                                </p-iconfield>
                                <label for="on_label">Informe o Salário R$</label>
                            </p-floatlabel>
                        </div>

                        <div class="dvcated w-10 text-left">
                            <p-floatLabel variant="on">
                                <p-select
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    id="cat"
                                    [options]="categorias"
                                    formControlName="categoria"
                                    optionLabel="nome"
                                    inputId="float-label"
                                    optionValue="nome"
                                >
                                </p-select>
                                <label for="float-label" style="margin-left: 5px;">Selecione a Categoria</label>
                            </p-floatLabel>
                        </div>
                        <div class="dvgened w-10 text-left">
                            <p-floatLabel variant="on">
                                <p-select
                                    variant="filled"
                                    id="gen"
                                    [style]="{'width':'100%'}"
                                    [options]="generos"
                                    formControlName="genero"
                                    optionLabel="nome"
                                    optionValue="nome"
                                    inputId="float-label"
                                >
                                </p-select>
                                <label for="float-label" >Selecione o Gênero</label>
                            </p-floatLabel>
                        </div>
                        <div class="form6ed w-10 text-left">
                            <p-floatLabel variant="on">
                                <p-select
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    id="es"
                                    [options]="estados_civis"
                                    formControlName="estado_civil"
                                    optionLabel="nome"
                                    optionValue="nome"
                                    inputId="float-label"
                                >
                                </p-select>
                                <label for="float-label" style="margin-left: 5px;">Selecione o Estado Civil</label>
                            </p-floatLabel>
                        </div>
                        <div class="form7ed w-10 text-left">
                            <p-floatLabel variant="on">
                                <p-datepicker
                                    variant="filled"
                                    id="dc"
                                    [style]="{'width':'100%'}"
                                    formControlName="data_nascimento"
                                    dateFormat="dd/mm/yy"
                                    inputId="float-label"
                                    [showIcon]="true"
                                >
                                </p-datepicker>
                                <label for="float-label" style="margin-left: 5px;">Data de Nascimento</label>
                            </p-floatLabel>
                        </div>
                        <div class="form8ed w-10 text-left">
                            <p-floatLabel variant="on">
                                <p-datepicker
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    formControlName="data_troca_setor"
                                    [disabled]="true"
                                    dateFormat="dd/mm/yy"
                                    inputId="float-label"
                                    [showIcon]="true"
                                >
                                </p-datepicker>
                                <label for="float-label" style="margin-left: 5px;">Data Troca de Setor</label>
                            </p-floatLabel>
                        </div>
                        <div class="form9ed w-10 text-left">
                            <p-floatLabel variant="on">
                                <p-datepicker
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    formControlName="data_troca_cargo"
                                    dateFormat="dd/mm/yy"
                                    inputId="float-label"
                                    [showIcon]="true"
                                >
                                </p-datepicker>
                                <label for="float-label" style="margin-left: 5px;">Data de Troca de Cargo</label>
                            </p-floatLabel>
                        </div>
                        <div class="form10ed w-10 text-left">
                            <p-floatLabel variant="on">
                                    <p-datepicker
                                        variant="filled"
                                        [style]="{'width':'100%'}"
                                        formControlName="data_demissao"
                                        dateFormat="dd/mm/yy"
                                        inputId="float-label"
                                        [showIcon]="true"
                                    >
                                    </p-datepicker>
                                    <label for="float-label" style="margin-left: 5px;">Data de Demissão</label>
                                </p-floatLabel>
                        </div>
                        <div class="dvemailed w-10 text-left">
                            <p-floatlabel variant="on">
                                <p-iconfield>
                                    <p-inputicon class="pi pi-at" />
                                    <input
                                        variant="filled"
                                        [style]="{'width':'100%'}"
                                        pInputText id="on_label"
                                        autocomplete="off"
                                        formControlName="email"
                                        type="text"
                                    />
                                </p-iconfield>
                                <label for="on_label">Digite o email</label>
                            </p-floatlabel>
                        </div>
                        <div class="dvcbed w-10 text-left">
                            <div class="titclas">
                                <p><strong>Classificação do Colaborador</strong></p>
                            </div>
                                <div class="btns flex flex-column align-items-start md:flex-row">
                                    <p><label  for="sit" >Avaliador </label></p>
                                    <p-toggleswitch
                                        id="sit"
                                        formControlName="tornar_avaliador"
                                    >
                                    </p-toggleswitch>
                                    <p><label for="sit"[style]="{'margin-left':'10px'}">Avaliado </label></p>
                                    <p-toggleswitch
                                        id="sit"
                                        formControlName="tornar_avaliado"
                                    >
                                    </p-toggleswitch>
                                    <p><label for="sit"[style]="{'margin-left':'10px'}">Situação </label></p>
                                        <p-toggleswitch
                                            id="sit"
                                            formControlName="situacao"
                                        >
                                        </p-toggleswitch>
                                    <p><label for="sit"[style]="{'margin-left':'10px'}">Gestor de Orçamento </label></p>
                                        <p-toggleswitch
                                            id="sit"
                                            formControlName="tornar_gestor"
                                        >
                                        </p-toggleswitch>
                                </div>

                        </div>
                        <div class="tituseredit w-10 text-left">
                            <p><strong>Editar Usuário</strong></p>
                        </div>


                        <div class="dvusedit w-10 text-left">
                            <p-floatlabel variant="on">
                                <p-iconfield>
                                    <p-inputicon class="pi pi-user" />
                                    <input
                                        variant="filled"
                                        [style]="{'width':'100%'}"
                                        pInputText id="on_label"
                                        autocomplete="off"
                                        formControlName="username"
                                        type="text"
                                    />
                                </p-iconfield>
                                <label for="on_label">Digite o nome de usuário</label>
                            </p-floatlabel>

                            <p-floatlabel variant="on">
                                <p-iconfield>
                                    <p-inputicon class="pi pi-user" />
                                    <input
                                        variant="filled"
                                        class="mt-2"
                                        [style]="{'width':'100%'}"
                                        pInputText id="on_label"
                                        autocomplete="off"
                                        formControlName="password"
                                        type="text"
                                    />
                                </p-iconfield>
                                <label for="on_label">Digite a senha</label>
                            </p-floatlabel>
                        </div>
                        <div class="botoes-formedit ml-5">
                                <div class="btnsecedit" (click)="cleareditForm()">
                                    <p>Limpar</p>
                                </div>
                                <div class="btnpriedit" (click)="saveEdit()">
                                    <p>Editar</p>
                                </div>
                        </div>
                    </div>
            </div>
        </form>
            <form
            [formGroup]="imgForm"
            title="Cadastrar novo Colaborador"
            primaryBtnText="Cadastrar"
            (submit)="updateImage()"
            enctype="multipart/form-data"
        >
            <div class="editImg">
                <input
                id="foto"
                type="file"
                formControlName="image"
                class="form-control"
                (change)="onFileChange($event,imgForm)">

            <button type="submit">Atualizar Imagem</button>
        </div>
          </form>

        </p-dialog>
        <p-dialog
            [modal]="true"
            [(visible)]="detalhaColaboradorVisible"
            [style]="{ width: '70rem' }"
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        >
        <p-divider align="left" type="solid">
            <b>Detalhes do Colaborador</b>
        </p-divider>
            <div *ngIf="colaboradorDetalhes">
                <div class="detalhes">
                    <p>Nome: <strong>{{ colaboradorDetalhes.nome }}</strong></p>
                    <p>Salário: <strong>{{ colaboradorDetalhes.salario | currency:'BRL':'symbol':'1.2-4' }}</strong></p>
                    <p>Tipo de Contrato: <strong>{{ colaboradorDetalhes.tipocontrato }}</strong></p>
                    <p>Data de Admissão: <strong>{{ colaboradorDetalhes.data_admissao }}</strong></p>
                    <p>Gênero: <strong>{{ colaboradorDetalhes.genero }}</strong></p>
                    <p>Situação: <strong>{{ colaboradorDetalhes.situacao }}</strong></p>
                    <p>Estado Civil: <strong>{{ colaboradorDetalhes.estado_civil }}</strong></p>
                    <p>Data de Nascimento: <strong>{{ colaboradorDetalhes.data_nascimento }}</strong></p>
                    <p>Data da Troca de Setor: <strong>{{ colaboradorDetalhes.data_troca_setor }}</strong></p>
                    <p>Data da Troca de Cargo: <strong>{{ colaboradorDetalhes.data_troca_cargo }}</strong></p>
                    <p>Data de Demissão: <strong>{{ colaboradorDetalhes.data_demissao }}</strong></p>
                    <p>Email: <strong>{{ colaboradorDetalhes.email }}</strong></p>
                    <p>Raça: <strong>{{ colaboradorDetalhes.raca }}</strong></p>
                    <p>Grau de Instrução: <strong>{{ colaboradorDetalhes.instrucao }}</strong></p>
                    <p>Categoria: <strong>{{ colaboradorDetalhes.categoria }}</strong></p>
                    <p>Empresa: <strong>{{ colaboradorDetalhes.empresa_detalhes.nome }}</strong><p>
                    <p>Filial: <strong>{{ colaboradorDetalhes.filial_detalhes.nome }}</strong></p>
                    <p>Área: <strong>{{ colaboradorDetalhes.area_detalhes.nome }} </strong></p>
                    <p>Setor: <strong>{{ colaboradorDetalhes.setor_detalhes.nome }}</strong></p>
                    <p>Ambiente: <strong>{{ colaboradorDetalhes.ambiente_detalhes.nome }}</strong></p>
                    <p>Cargo: <strong>{{ colaboradorDetalhes.cargo_detalhes.nome }}</strong></p>
                    <p>Usuário ID: <strong>{{ colaboradorDetalhes.user }}</strong></p>
                    <p>Domínio ID: <strong>{{ colaboradorDetalhes.dominio_id }}</strong></p>
                    <p>Minerion ID: <strong>{{ colaboradorDetalhes.minerion_id }}</strong></p>
                    <p>SGG ID: <strong>{{ colaboradorDetalhes.sgg_id }}</strong></p>
                </div>
                <div class="dvimg">
                    <img [src]="colaboradorDetalhes.image"  width="80" class="shadow-4" />
                </div>
            </div>
        </p-dialog>
</div>

















