
<div *ngIf="hasGroup(['Admin','RHGestor'])" class="container">   
    <div class="form-geral">
        <div class="titulo">
            <p-divider align="left" type="solid">
                <b>Cadastro de Colaboradores</b>
            </p-divider> 
        </div>    
        <form 
            [formGroup]="registercolaboradorForm"
            title="Cadastrar novo Colaborador"
            primaryBtnText="Cadastrar"
            (submit)="submit()"
            enctype="multipart/form-data"
        >
        
            <div class="fg1">
                <div class="form1">
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <i class="pi pi-user-edit"></i>
                        </p-inputGroupAddon>
                        <span class="p-float-label">
                            <input  pInputText
                                id="nome"
                                formControlName="nome"
                                type="text"
                            />
                            <label for="nome">Digite o nome</label>  
                        </span>          
                    </p-inputGroup>
                </div>    
                    
                <div class="form2">
                    <p><label for="empresa">Empresa</label></p>
                    <p-dropdown 
                        [style]="{'width':'75%'}"
                        [options]="empresas" 
                        id="empresa"
                        formControlName="empresa"
                        optionLabel="nome"
                        placeholder="Selecione"
                        (onChange)="onEmpresaSelecionada($event.value)"
                    >
                    </p-dropdown>
                </div>
                <div class="filial">
                        <p><label for="filial">Filial</label></p>    
                    <p-dropdown
                        [style]="{'width':'75%'}"
                        [options]="filiais" 
                        id="filial"
                        formControlName="filial"
                        optionLabel="nome"
                        placeholder="Selecione "
                        [disabled]="true"
                        (onChange)="onFilialSelecionada($event.value)"
                    >
                    </p-dropdown>
                </div>
                <div class="form3">
                    <p><label for="area">Área</label></p>    
                    <p-dropdown 
                        [style]="{'width':'75%'}"
                        [options]="areas"
                        id="area" 
                        formControlName="area"
                        optionLabel="nome"
                        placeholder="Selecione"
                        [disabled]="true"
                        (onChange)="onAreaSelecionada($event.value)"
                        >
                    </p-dropdown>
                </div>
                <div class="dvset">    
                    <p><label for="setor">Ambiente</label></p>
                    <p-dropdown 
                        [style]="{'width':'75%'}"
                        [options]="setores"
                        id="setor" 
                        formControlName="setor"
                        optionLabel="nome"
                        placeholder="Selecione"
                        [disabled]="true"
                        (onChange)="onSetorSelecionado($event.value)"
                        >
                    </p-dropdown>
                </div>
                <div class="form4">
                    <p><label for="ambiente">Setor</label></p> 
                    <p-dropdown 
                        [style]="{'width':'75%'}"
                        id="ambiente"
                        [options]="ambientes" 
                        formControlName="ambiente"
                        optionLabel="nome"
                        [disabled]="true"
                        placeholder="Selecione"
                        (onChange)="onAmbienteSelecionado($event.value)"
                    >
                    </p-dropdown>
                </div>
                <div class="dvcarg">     
                    <p><label for="cargo">Cargo</label></p>
                    <p-dropdown
                        [style]="{'width':'75%'}" 
                        id="cargo"
                        [options]="cargos" 
                        formControlName="cargo"
                        optionLabel="nome"
                        [disabled]="true"
                        placeholder="Selecione"
                        (onChange)="onCargoSelecionado($event.value)"
                    >
                    </p-dropdown>
                </div>
                <div class="dvtc">    
                    <p><label for="tipocontrato">Tipo de Contrato</label></p>
                    <p-dropdown
                        [style]="{'width':'75%'}"
                        id="tipocontrato" 
                        [options]="tipocontratos" 
                        formControlName="tipocontrato"
                        optionLabel="nome"
                        placeholder="Selecione"
                    >
                    </p-dropdown>
                </div>
                <div class="dvraca">    
                    <p><label for="raca">Raça</label></p>
                    <p-dropdown
                        [style]="{'width':'75%'}"
                        id="raca" 
                        [options]="racas" 
                        formControlName="raca"
                        optionLabel="nome"
                        placeholder="Selecione"
                    >
                    </p-dropdown>
                </div>
                <div class="dvinst">    
                    <p><label for="inst">Grau de Instrução</label></p>
                    <p-dropdown
                        [style]="{'width':'75%'}"
                        id="inst" 
                        [options]="instrucoes" 
                        formControlName="instrucao"
                        optionLabel="nome"
                        placeholder="Selecione"
                    >
                    </p-dropdown>
                </div>
            </div>
            <div class="fg2">
                <div class="dvsal">
                    <p><label for="sal">Salário</label></p>    
                    <p-inputNumber
                        [style]="{'width':'79%'}" 
                        id="sal"
                        formControlName="salario" 
                        inputId="currency-us" 
                        mode="currency" 
                        currency="BRL" 
                        locale="pt-BR" 
                    />  
                </div>    
                <div class="dvcat">    
                    <p><label for="cat">Categoria</label></p>
                    <p-dropdown
                        [style]="{'width':'75%'}"
                        id="cat" 
                        [options]="categorias" 
                        formControlName="categoria"
                        optionLabel="nome"
                        placeholder="Selecione"
                    >
                    </p-dropdown>
                </div>       
                <div class="form5">
                   <p><label for="da">Data de Admissão</label></p>
                    <p-calendar
                        [style]="{'width':'76%','margin-left':'-2px'}"
                        id="da" 
                        formControlName="data_admissao"
                        dateFormat="dd/mm/yy"                  
                        [showIcon]="true"
                        placeholder="SELECIONE"
                    >
                    </p-calendar>
                    
                </div>
                <div class="dvgen">
                    <p><label for="gen">Gênero</label></p>     
                    <p-dropdown 
                        id="gen"
                        [style]="{'width':'76%','margin-left':'-5px'}"
                        [options]="generos" 
                        formControlName="genero"
                        optionLabel="nome"
                        placeholder="Selecione "        
                    >
                    </p-dropdown>
                </div>
                <div class="form6">                     
                    <p><label for="es">Estado Civil</label></p>
                    <p-dropdown
                        [style]="{'width':'76%','margin-left':'-5px'}"
                        id="es"
                        [options]="estados_civis" 
                        formControlName="estado_civil"
                        optionLabel="nome"
                        placeholder="Selecione "
                    >
                    </p-dropdown>   
                </div>
                <div class="form7"> 
                    <p><label for="dn">Data de Nascimento</label></p>               
                    <p-calendar
                        id="dc" 
                        [style]="{'width':'76%','margin-left':'-2px'}"
                        formControlName="data_nascimento"
                        dateFormat="dd/mm/yy"
                        [showIcon]="true"
                        placeholder="SELECIONE"
                    >
                    </p-calendar>
                </div>
                <div class="dvft">    
                    <p><label for="foto">Carregar Foto</label></p>
                    <input 
                        id="foto"
                        type="file"  
                        formControlName="image"
                        class="form-control"
                        (change)="onFileChange($event,registercolaboradorForm)"
                    />
                </div>    
                <div class="sistemas">
                    <span class="p-float-label">
                        <input pInputText
                            id="minerion_id"
                            formControlName="minerion_id"
                            type="text"
                        />  
                        <label for="minerion_id">Minerion ID</label>
                    </span>
                    <span class="p-float-label">
                        <input pInputText
                            id="dominio_id"
                            formControlName="dominio_id"
                            type="text"
                        />  
                        <label for="dominio_id">Dominio ID</label>
                    </span>
                    <span class="p-float-label">
                        <input pInputText
                            id="sgg_id"
                            formControlName="sgg_id"
                            type="text"
                        />  
                        <label for="sgg_id">SGG ID</label>
                    </span>  
                </div>    
                <div class="dvemail">
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <i class="pi pi-at"></i>
                        </p-inputGroupAddon>
                        <span class="p-float-label">
                            <input pInputText
                                id="email"
                                formControlName="email"
                                type="text"
                            />  
                            <label for="email">Digite o email</label>
                        </span>          
                    </p-inputGroup>
                </div>
                <div class="dvcb">
                    <div class="titclas">
                        <p>Classificação do Colaborador</p>
                    </div> 
                        <div class="btns">
                            <p><label  for="sit" >Avaliador </label></p>
                            <p-inputSwitch                           
                                id="sit"
                                formControlName="tornar_avaliador"
                            >
                            </p-inputSwitch>
                            <p><label for="sit"[style]="{'margin-left':'20px'}">Avaliado </label></p>
                            <p-inputSwitch 
                                id="sit"
                                formControlName="tornar_avaliado"
                            >
                            </p-inputSwitch>
                            <p><label for="sit"[style]="{'margin-left':'30px'}">Situação </label></p>
                                <p-inputSwitch 
                                    id="sit"
                                    formControlName="situacao"
                                >
                                </p-inputSwitch>
                            <p><label for="sit"[style]="{'margin-left':'30px'}">Gestor de Orçamento </label></p>
                                <p-inputSwitch 
                                    id="sit"
                                    formControlName="tornar_gestor"
                                >
                                </p-inputSwitch>    
                        </div>
                </div>
                <div class="tituser">
                    <p>Criar Usuário</p>
                </div>
                <div class="dvus">
                    
                    <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-user"></i>
                            </p-inputGroupAddon>
                            <span class="p-float-label">
                                <input 
                                    
                                    pInputText
                                    id="username"
                                    formControlName="username"
                                    type="text"
                                />  
                                <label for="nome">Digite o nome de usuário</label>
                            </span>          
                        </p-inputGroup>
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-key"></i>
                            </p-inputGroupAddon>
                            
                                <input pInputText
                                    id="password"
                                    formControlName="password"
                                    type="password"
                                    placeholder="Digite a senha"
                                />  
                                
                                      
                        </p-inputGroup>
                </div>    
                            
            </div>
           
                                       
        </form>
    </div>    
  
    <div class="botoes-form">
        <p-toast></p-toast>
            <div class="btnsec" (click)="clearForm()">
                <p>Limpar</p>
            </div>
            <div class="btnpri" (click)="submit()">
                 <p>Cadastrar</p>            
            </div>
    </div>
    <hr>
        <div class="tabela">
            <p-toast/>
            <p-confirmDialog />
            <p-table
                #dt1
                [value]="colaboradores"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[5, 10, 20]"
                [globalFilterFields]="['nome', 'empresaNome','filialNome','areaNome','setorNome','ambienteNome', 'cargoNome','situacao']"
            >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" [(ngModel)]="inputValue" placeholder="Palavra-Chave" />
                        </span>
                        <button pButton label="Pesquisar" severity="info"  (click)="filterTable()"></button>
                        <button pButton label="Limpar Pesquisa" severity="info" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    </div>
                </ng-template>    
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:25%" type="text" field="nome" display="menu">
                            Nome
                        </th>
                        <th style="width:25%" type="text" field="empresaNome" display="menu">
                            Empresa
                        </th>
                        <th style="width:25%" type="text" field="filialNome" display="menu">
                            Filial
                        </th>
                        <th style="width:25%" type="text" field="areaNome" display="menu">
                            Area
                        </th>
                        <th style="width:25%" type="text" field="setorNome" display="menu">
                            Ambiente
                        </th>
                        <th style="width:25%" type="text" field="ambienteNome" display="menu">
                            Setor
                        </th>
                        <th style="width:25%" type="text" field="cargoNome" display="menu">
                            Cargo
                        </th>
                        <th style="width:25%" type="text" field="situacao" display="menu">
                            Situação
                        </th>
                        <th style="width:25%"> Foto
                            <p-columnFilter type="text" field="" display="menu"></p-columnFilter>
                        </th>
                        <th style="width: 25%;text-align: center;">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-colaborador>
                    <tr>
                        <td>{{ colaborador.nome }}</td>
                        <td>{{ getNomeEmpresa(colaborador.empresa) }}</td>
                        <td>{{ getNomeFilial(colaborador.filial) }}</td>
                        <td>{{ getNomeArea(colaborador.area) }}</td>
                        <td>{{ getNomeSetor(colaborador.setor) }}</td>
                        <td>{{ getNomeAmbiente(colaborador.ambiente) }}</td>
                        <td>{{ getNomeCargo(colaborador.cargo) }}</td>
                        <td>{{ colaborador.situacao | booleanToStatus }}</td>
                        <td><img [src]="colaborador.image"  width="80" class="shadow-4" /></td>
                        <td class="td-acao">
                            <div class="btnsect" style="margin-right: 5px;background-color: #97a3c2; color: white;" (click)="visualizarColaboradorDetalhes(colaborador.id)">
                                <p>Visualizar</p>
                            </div>
                            <div class="btnsect" (click)="abrirModalEdicao(colaborador)">
                                <p>Editar</p>
                            </div>
                            <div class="btnprit" (click)="excluirColaborador(colaborador.id)">
                                <p>Excluir</p>            
                           </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
        </div>        
        <p-dialog 
            [modal]="true"
            [(visible)]="editFormVisible" 
            [style]="{ width: '90rem' }" 
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        >
        <div>   
            <p-divider align="left" type="solid">
                <b>Editar Colaborador</b>
            </p-divider>
        </div>  
        <div class="editgeral">
            <form [formGroup]="editForm">
            <div class="fg1edit">
              <div class="form1edit">
                    <p><label for="nome">Digite o nome</label></p>
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <i class="pi pi-user"></i>
                        </p-inputGroupAddon>
                        <span class="p-float-label">
                            <input  pInputText
                                id="nome"
                                formControlName="nome"
                                type="text"
                            />  
                            <label for="nome">Digite o nome</label>
                        </span>          
                    </p-inputGroup>
                </div>    
                    
                <div class="form2edit">
                    <p><label for="empresa">Empresa</label></p>
                    <p-dropdown 
                        [style]="{'width':'75%'}"
                        [options]="empresas" 
                        id="empresa"
                        formControlName="empresa"
                        optionLabel="nome"
                        placeholder="Selecione"
                        (onChange)="onEmpresaSelecionada($event.value)"
                    >
                    </p-dropdown>
                </div>
                <div class="filialed">
                        <p><label for="filial">Filial</label></p>    
                    <p-dropdown
                        [style]="{'width':'75%'}"
                        [options]="filiais" 
                        id="filial"
                        formControlName="filial"
                        optionLabel="nome"
                        placeholder="Selecione "
                        (onChange)="onFilialSelecionada($event.value)"
                    >
                    </p-dropdown>
                </div>
                <div class="form3ed">
                    <p><label for="area">Área</label></p>    
                    <p-dropdown 
                        [style]="{'width':'75%'}"
                        [options]="areas"
                        id="area" 
                        formControlName="area"
                        optionLabel="nome"
                        placeholder="Selecione"
                        (onChange)="onAreaSelecionada($event.value)"
                        >
                    </p-dropdown>
                </div>
                <div class="dvseted">    
                    <p><label for="setor">Ambiente</label></p>
                    <p-dropdown 
                        [style]="{'width':'75%'}"
                        [options]="setores"
                        id="setor" 
                        formControlName="setor"
                        optionLabel="nome"
                        placeholder="Selecione o Setor"
                        (onChange)="onSetorSelecionado($event.value)"
                        >
                    </p-dropdown>
                </div>
                <div class="form4ed">
                    <p><label for="ambiente">Setor</label></p> 
                    <p-dropdown 
                        [style]="{'width':'75%'}"
                        id="ambiente"
                        [options]="ambientes" 
                        formControlName="ambiente"
                        optionLabel="nome"
                        placeholder="Selecione"
                        (onChange)="onAmbienteSelecionado($event.value)"
                    >
                    </p-dropdown>
                </div>
                <div class="dvcarged">     
                    <p><label for="cargo">Cargo</label></p>
                    <p-dropdown
                        [style]="{'width':'75%'}" 
                        id="cargo"
                        [options]="cargos" 
                        formControlName="cargo"
                        optionLabel="nome"
                        placeholder="Selecione"
                        (onChange)="onCargoSelecionado($event.value)"
                    >
                    </p-dropdown>
                </div>
                <div class="dvtced">    
                    <p><label for="tipocontrato">Tipo de Contrato</label></p>
                    <p-dropdown
                        [style]="{'width':'75%'}"
                        id="tipocontrato" 
                        [options]="tipocontratos" 
                        formControlName="tipocontrato"
                        optionLabel="nome"
                        placeholder="Selecione"
                    >
                    </p-dropdown>
                </div>
                <div class="dvracaed">    
                    <p><label for="raca">Raça</label></p>
                    <p-dropdown
                        [style]="{'width':'75%'}"
                        id="raca" 
                        [options]="racas" 
                        formControlName="raca"
                        optionLabel="nome"
                        placeholder="Selecione"
                    >
                    </p-dropdown>
                </div>
                <div class="dvinsted">    
                    <p><label for="inst">Grau de Instrução</label></p>
                    <p-dropdown
                        [style]="{'width':'75%'}"
                        id="inst" 
                        [options]="instrucoes" 
                        formControlName="instrucao"
                        optionLabel="nome"
                        placeholder="Selecione"
                    >
                    </p-dropdown>
                </div>
                <div class="form5ed">
                    <p><label for="da">Data de Admissão</label></p>
                     <p-calendar
                         [style]="{'width':'75%'}"
                         id="da" 
                         formControlName="data_admissao"
                         dateFormat="dd/mm/yy"                    
                         [showIcon]="true"
                         placeholder="SELECIONE"
                     >
                     </p-calendar>                     
                 </div>
            </div>
                <div class="fg2edit">
                    <div class="dvsaled">
                        <p><label for="sal">Salário</label></p>    
                        <p-inputNumber
                            [style]="{'width':'98%'}" 
                            id="sal"
                            formControlName="salario" 
                            inputId="currency-us" 
                            mode="currency" 
                            currency="BRL" 
                            locale="pt-BR" 
                        />  
                    </div>
                    <div class="dvcated">    
                        <p><label for="cat">Categoria</label></p>
                        <p-dropdown
                            [style]="{'width':'75%'}"
                            id="cat" 
                            [options]="categorias" 
                            formControlName="categoria"
                            optionLabel="nome"
                            placeholder="Selecione"
                        >
                        </p-dropdown>
                    </div>      
                     <div class="dvgened">
                         <p><label for="gen">Gênero</label></p>     
                         <p-dropdown 
                             id="gen"
                             [style]="{'width':'75%'}"
                             [options]="generos" 
                             formControlName="genero"
                             optionLabel="nome"
                             placeholder="Selecione "        
                         >
                         </p-dropdown>
                     </div>
                     <div class="form6ed">                     
                         <p><label for="es">Estado Civil</label></p>
                         <p-dropdown
                             [style]="{'width':'75%'}"
                             id="es"
                             [options]="estados_civis" 
                             formControlName="estado_civil"
                             optionLabel="nome"
                             placeholder="Selecione "
                         >
                         </p-dropdown>   
                     </div>
                     <div class="form7ed"> 
                         <p><label for="da">Data de Nascimento</label></p>               
                         <p-calendar 
                             [style]="{'width':'75%'}"
                             formControlName="data_nascimento"
                             dateFormat="dd/mm/yy"
                             [showIcon]="true"
                             placeholder="SELECIONE"
                         >
                         </p-calendar>
                     </div>
                     <div class="form8ed">
                        <p><label for="da">Data de Troca de Setor</label></p>
                        <p-calendar 
                            [style]="{'width':'75%'}"
                            formControlName="data_troca_setor"
                            [disabled]="true"
                            dateFormat="dd/mm/yy"
                            [showIcon]="true"
                            placeholder="SELECIONE"
                        >
                        </p-calendar>
                    </div>
                    <div class="form9ed">
                        <p><label for="da">Data de Troca de Cargo</label></p>    
                        <p-calendar
                            [style]="{'width':'75%'}"
                            formControlName="data_troca_cargo"
                            dateFormat="dd/mm/yy"
                            [showIcon]="true"
                            placeholder="SELECIONE"
                        >
                        </p-calendar>
                    </div>    
                    <div class="form10ed">    
                            <p><label for="da">Data da Demissão</label></p>
                            <p-calendar 
                                [style]="{'width':'75%'}"
                                formControlName="data_demissao"
                                dateFormat="dd/mm/yy"
                                [showIcon]="true"
                                placeholder="SELECIONE"
                            >
                            </p-calendar>
                    </div>
                    <div class="sistemasEd">
                        <span class="p-float-label">
                            <input pInputText
                                id="minerion_id"
                                formControlName="minerion_id"
                                type="text"
                            />  
                            <label for="minerion_id">Minerion ID</label>
                        </span>
                        <span class="p-float-label">
                            <input pInputText
                                id="dominio_id"
                                formControlName="dominio_id"
                                type="text"
                            />  
                            <label for="dominio_id">Dominio ID</label>
                        </span>
                        <span class="p-float-label">
                            <input pInputText
                                id="sgg_id"
                                formControlName="sgg_id"
                                type="text"
                            />  
                            <label for="sgg_id">SGG ID</label>
                        </span>  
                    </div>   
                    <div class="dvemailed">
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-at"></i>
                            </p-inputGroupAddon>
                            <span class="p-float-label">
                                <input pInputText
                                    id="email"
                                    formControlName="email"
                                    type="text"
                                />  
                                <label for="email">Digite o email</label>
                            </span>          
                        </p-inputGroup>
                    </div> 
                    <div class="dvcbed">
                        <div class="titclas">
                            <p>Classificação do Colaborador</p>
                        </div>     
                        <div class="btnsed">
                            <p><label  for="sit" >Avaliador </label></p>
                            <p-inputSwitch                           
                                id="sit"
                                formControlName="tornar_avaliador"
                            >
                            </p-inputSwitch>
                            <p><label for="sit">Avaliado </label></p>
                            <p-inputSwitch 
                                id="sit"
                                formControlName="tornar_avaliado"
                            >
                            </p-inputSwitch>
                            <p><label for="sit"[style]="{'margin-left':'10px'}">Situação </label></p>
                                <p-inputSwitch 
                                    id="sit"
                                    formControlName="situacao"
                                >
                                </p-inputSwitch>
                            <p><label for="sit"[style]="{'margin-left':'10px'}">Gestor de Orçamento </label></p>
                                <p-inputSwitch 
                                    id="sit"
                                    formControlName="tornar_gestor"
                                >
                                </p-inputSwitch>      
                        </div>
                        
                    </div>
                    <div class="tituseredit">
                        <p>Editar Usuário</p>
                    </div>
                
                    <input
                        [style]="{'margin-bottom':'20px','width':'50px'}" 
                        pInputText
                        id="user"
                        formControlName="user"
                        type="text"
                        readonly
                    />   
                    Usuário ID
                    <div class="dvusedit">
                        <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-user"></i>
                                </p-inputGroupAddon>
                                <span class="p-float-label">
                                    <input 
                                        
                                        pInputText
                                        id="username"
                                        formControlName="username"
                                        type="text"
                                    />  
                                    <label for="nome">Digite o nome de usuário</label>
                                </span>          
                            </p-inputGroup>
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-key"></i>
                                </p-inputGroupAddon>
                                
                                    <input pInputText
                                        id="password"
                                        formControlName="password"
                                        type="password"
                                        placeholder="Digite a senha"
                                />  
                                    
                                          
                            </p-inputGroup>
                    </div>    
                    <div class="botoes-formedit">
                            <div class="btnsecedit" (click)="cleareditForm()">
                                <p>Limpar</p>
                            </div>
                            <div class="btnpriedit" (click)="saveEdit()">
                                 <p>Editar</p>            
                            </div>
                    </div>              
                </div>    
            </form>
        </div>    
            <form 
            [formGroup]="imgForm"
            title="Cadastrar novo Colaborador"
            primaryBtnText="Cadastrar"
            (submit)="updateImage()"
            enctype="multipart/form-data"
        >
            <div class="editImg">
                <input 
                id="foto"
                type="file"  
                formControlName="image"
                class="form-control"
                (change)="onFileChange($event,imgForm)">
            
            <button type="submit">Atualizar Imagem</button>
        </div>
          </form>  
           
        </p-dialog>
        <p-dialog 
            [modal]="true"
            [(visible)]="detalhaColaboradorVisible" 
            [style]="{ width: '70rem' }" 
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        >
        <p-divider align="left" type="solid">
            <b>Detalhes do Colaborador</b>
        </p-divider>
            <div *ngIf="colaboradorDetalhes">
                <div class="detalhes">
                    <p>Nome: <strong>{{ colaboradorDetalhes.nome }}</strong></p>
                    <p>Salário: <strong>{{ colaboradorDetalhes.salario }}</strong></p>
                    <p>Tipo de Contrato: <strong>{{ colaboradorDetalhes.tipocontrato }}</strong></p>
                    <p>Data de Admissão: <strong>{{ colaboradorDetalhes.data_admissao }}</strong></p>
                    <p>Gênero: <strong>{{ colaboradorDetalhes.genero }}</strong></p>
                    <p>Situação: <strong>{{ colaboradorDetalhes.situacao }}</strong></p>
                    <p>Estado Civil: <strong>{{ colaboradorDetalhes.estado_civil }}</strong></p>
                    <p>Data de Nascimento: <strong>{{ colaboradorDetalhes.data_nascimento }}</strong></p>
                    <p>Data da Troca de Setor: <strong>{{ colaboradorDetalhes.data_troca_setor }}</strong></p>
                    <p>Data da Troca de Cargo: <strong>{{ colaboradorDetalhes.data_troca_cargo }}</strong></p>
                    <p>Data de Demissão: <strong>{{ colaboradorDetalhes.data_demissao }}</strong></p>
                    <p>Email: <strong>{{ colaboradorDetalhes.email }}</strong></p>
                    <p>Raça: <strong>{{ colaboradorDetalhes.raca }}</strong></p>
                    <p>Grau de Instrução: <strong>{{ colaboradorDetalhes.instrucao }}</strong></p>
                    <p>Categoria: <strong>{{ colaboradorDetalhes.categoria }}</strong></p>
                    <p>Empresa: <strong>{{ getNomeEmpresa(colaboradorDetalhes.empresa) }}</strong><p>
                    <p>Filial: <strong>{{ getNomeFilial(colaboradorDetalhes.filial) }}</strong></p>
                    <p>Área: <strong>{{ getNomeArea(colaboradorDetalhes.area) }} </strong></p>    
                    <p>Setor: <strong>{{ getNomeSetor(colaboradorDetalhes.setor) }}</strong></p>
                    <p>Ambiente: <strong>{{ getNomeAmbiente(colaboradorDetalhes.ambiente) }}</strong></p>
                    <p>Cargo: <strong>{{ getNomeCargo(colaboradorDetalhes.cargo) }}</strong></p>
                    <p>Usuário ID: <strong>{{ colaboradorDetalhes.user }}</strong></p>
                    <p>Domínio ID: <strong>{{ colaboradorDetalhes.dominio_id }}</strong></p>
                    <p>Minerion ID: <strong>{{ colaboradorDetalhes.minerion_id }}</strong></p>
                    <p>SGG ID: <strong>{{ colaboradorDetalhes.sgg_id }}</strong></p>
                </div>            
                <div class="dvimg">  
                    <img [src]="colaboradorDetalhes.image"  width="80" class="shadow-4" />
                </div>
            </div>    
        </p-dialog>    
        
  </div><!--end container-->
