
<div class="container">
    <div class="formulario">
        <div class="lgimg">
            <img  src="/assets/imagens/logotelalogin.png"/>
        </div>
        <div class="titulo">
            <h1>Criar Nova Senha</h1>
        </div>
        <form [formGroup]="createpassForm">
            <div class="f1">
                <p-floatlabel variant="on">
                    <p-iconfield>
                        <p-inputicon class="pi pi-key"/>
                        <input
                            variant="filled"
                            [style]="{'width':'100%'}"
                            pInputText
                            type="password"
                            id="newPassword"
                            formControlName="newPassword"
                            name="newPassword"
                            required
                        />
                        <label for="newPassword">Nova Senha</label>
                    </p-iconfield>                
                </p-floatlabel>
            </div>
            <div class="f2">    
                <p-floatlabel variant="on">
                    <p-iconfield>
                        <p-inputicon class="pi pi-key"/>
                        <input
                            variant="filled"
                            [style]="{'width':'100%'}"
                            pInputText
                            type="password"
                            id="newPassword"
                            formControlName="confirmPassword"
                            name="newPassword"
                            required
                        />
                        <label for="newPassword">Confirmar Senha</label>
                    </p-iconfield>                
                </p-floatlabel>
                <div class="botoes-form">
                    <p-toast></p-toast>
                    <div class="btnsec" (click)="clearForm()">
                        <p>Limpar</p>
                    </div>
                    <div class="btnpri" (click)="updatePassword()">
                        <p>Criar</p>            
                    </div>
                </div>  
            </div>    
        </form>
    </div>    
</div>

