.titulo{
    justify-content: center;
    margin-top: 50px;
    h2{
        color:slategrey;
    }
}

.cards{
    display: flex;
    text-align: center;
        p{
            color:#1890FF;
        }
        .cardsWidth{
            margin-top: 20px;
           
            width: 250px;
        }
        .mediasal{
            margin-left: 10px;
        }
        .mediaidade{
            margin-left: 10px;
        }
 }

 .chartRadarAvaliadores2{
    margin-top: 50px;
    margin-left: 20px;
    width: 98%;
    height: 500px;
}
.chartRadarAvaliadores{
    width: 600px;
    height: 380px;
    margin-left: 100px;
    margin-top: -10px;
    margin-bottom: 15px;
}