<div class="menu">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="homeOrcamento">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizAnalitica" >Raízes Analíticas</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocustopai" >Centro de Custo Pai</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocusto" >Centro de Custo </a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizSintetica" >Raiz Sintética</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/contaContabil" >Conta Contábil</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/grupoItens" >Grupos de Itens</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/orcamentoBase" >Orçamento Base</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/produto">Linha de Produtos</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/projecao"> Projeções de Vendas</a>
                </li>
                <li *ngIf="hasGroup(['Admin','OrcamentoGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/custoproducao">Projeções de Produção</a>
                </li>
            </ul>
        </li >
        
        <li *ngIf="hasGroup(['Admin','OrcamentoGestor'])" nz-submenu nzTitle="Acompanhamento "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','OrcamentoGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoRealizado/realizado"> Orçado x Realizado Setorial</a>
                </li>
                <li *ngIf="hasGroup(['Admin','OrcamentoGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoGrupoItens/orcamentogrupoitens"> Orçado x Realizado Grupo de Itens</a>
                </li>
                <li *ngIf="hasGroup(['Admin','OrcamentoGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/projetado"> DRE Projetado</a>
                </li>
                <li *ngIf="hasGroup(['Admin','OrcamentoGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/indicadorescp">Indicadores Custo de Produção</a>
                </li>
            </ul>
           
        </li>    
    </ul>
</div>

<div class="titulo">
    <p-divider align="left" type="solid">
        <b>Cadastro de Projeção de Produção</b>
    </p-divider>
</div>

<div class="container">
    <div class="tabela"@swipeAnimation>
        <p-table
            [value]="linhas.controls"
            [tableStyle]="{ 'min-width': '100rem' }"
            stripedRows
            scrollable="true"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:15%" field="nome" display="menu">Produto</th>
                    <th style="width:15%" field="nome" display="menu">Centro de Custo Pai</th>
                    <th style="width:15%" field="nome" display="menu">Fábrica Referência</th>
                    <th style="width:10%" field="nome" display="menu">Período</th>
                    <th style="width:10%" field="nome" display="menu">Ano</th>
                    <th style="width:5%" field="nome" display="menu">Quantidade</th>
                    <th style="width:5%; text-align: center;">Ações</th>  
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-linha let-index="rowIndex">
                <tr [formGroup]="linha">
                    <td>
                        <p-select
                            [style]="{'width':'100%'}"
                            id="produto"
                            inputId="float-label"
                            [options]="produtos"
                            optionValue="id"
                            formControlName="produto"
                            optionLabel="nome"
                            filter="true"
                            filterBy="nome"
                            [appendTo]="'body'"
                        >
                        </p-select>    
                    </td>
                    <td>
                        <p-select
                            [style]="{'width':'100%'}"
                            id="ccPai"
                            inputId="float-label"
                            [options]="ccsPais"
                            optionValue="id"
                            formControlName="centro_custo_pai"
                            optionLabel="nome"
                            filter="true"
                            filterBy="nome"
                            [appendTo]="'body'"
                        >
                        </p-select>   
                    </td>
                    <td>
                        <p-select
                            [style]="{'width':'100%'}"
                            id="ccPai"
                            inputId="float-label"
                            [options]="fabricas"
                            optionValue="nome"
                            formControlName="fabrica"
                            optionLabel="nome"
                            filter="true"
                            filterBy="nome"
                            [appendTo]="'body'"
                        >
                        </p-select>   
                    </td>
                    <td>
                        <p-select
                            [style]="{'width':'100%'}"
                            [options]="meses"
                            formControlName="periodo"
                            optionLabel="value"
                            optionValue="key"
                            [appendTo]="'body'">
                        </p-select>
                    </td>
                    <td>
                        <p-inputNumber
                          
                            mode="decimal"
                            formControlName="ano"
                            [showButtons]="true"
                            inputId="ano"
                            [min]="2024"
                            [max]="2999"
                            [useGrouping]="false" />
                    </td>
                    <td>
                        <p-inputnumber
                            locale="pt-BR"
                            mode="decimal"
                            formControlName="quantidade"
                            inputId="quantidade"
                            [useGrouping]="true" />
                    </td>
                    <td style="text-align: center;">
                        <button size="small" severity="info" label="Remover" pButton [rounded]="true" (click)="removeLinha(index)" ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>    
    </div>
    <div class="botoes-form mt-5 mb-5"@efeitoFade>
        <p-toast></p-toast>
        <div class="btnsec" (click)="addLinha()" >
            <p>Adicionar Linha</p>
        </div>
        <div class="btnpri" (click)="submit()">
            <p>Salvar</p>
        </div>
    </div>


<!-------------------------------------------------Tabela de Listagem----------------------------------------------------------------------->
    <div class="tabela"@swipeAnimationReverse>
        <p-toast />
        <p-confirmDialog />
        <p-table
            #dt1
            [value]="custosProducao"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[5,10,20]"
            [scrollable]="true"
            [globalFilterFields]="['nome']"
            stripedRows
            scrollable="true"
        >
            <ng-template pTemplate="caption">
                <div class="flex flex-row md: justify-content-end">
                    <p-floatlabel variant="on">
                        <p-iconfield>
                            <p-inputicon class="pi pi-search" />
                            <input
                                variant="filled"
                                [(ngModel)] = "inputValue"
                                [style]="{'width':'100%'}"
                                pInputText id="on_label"
                                autocomplete="off"
                                type="text"
                            />
                        </p-iconfield>
                        <label for="on_label">Nome</label>
                    </p-floatlabel>
                    <button size="small" class="ml-2" pButton [rounded]="true" label="Pesquisar" severity="info"  (click)="filterTable()"></button>
                    <button size="small" class="ml-2" pButton [rounded]="true" label="Limpar" severity="info" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:15%" field="nome" display="menu">Produto</th>
                    <th style="width:15%" field="nome" display="menu">Centro de Custo Pai</th>
                    <th style="width:15%" field="nome" display="menu">Fábrica Referência</th>
                    <th style="width:10%" field="nome" display="menu">Período</th>
                    <th style="width:10%" field="nome" display="menu">Ano</th>
                    <th style="width:5%" field="nome" display="menu">Quantidade</th>
                    <th style="width:5%; text-align: center;">Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-custoProducao>
                <tr>
                    <td>{{custoProducao.produto_detalhes.nome}}</td>
                    <td>{{custoProducao.centro_custo_pai_detalhes.nome}}</td>
                    <td>{{custoProducao.fabrica}}</td>
                    <td>{{custoProducao.periodo}}</td>
                    <td>{{custoProducao.ano}}</td>
                    <td>{{custoProducao.quantidade}}</td>
                    <td class="td-acao">
                        <div class="btnsec" (click)="abrirModalEdicao(custoProducao)">
                            <p>Editar</p>
                        </div>

                        <div class="btnpri" (click)="excluirCustoProducao(custoProducao.id)">
                            <p>Excluir</p>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button"  styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button"  styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>    
    </div>

<!------------------------------------Modal de Edição-------------------------------------------------------------------->
    <p-dialog
        [modal]="true"
        [(visible)]="editFormVisible"
        [style]="{ width: '65rem' }"
    >
        <div class="titulo">
            <p-divider align="left" type="solid">
                <b>Editar Custo de Projeção</b>
            </p-divider>
        </div>
            <form
                [formGroup]="editForm"
                title="Editar Custo de Projeção"
            >
                <div class="editGeral flex flex-column lg:flex-row">
                    <div class="fg1edit flex flex-column w-12 align-items-center lg:w-6">
                        <div class="form2 mt-3 text-left w-10">
                            <p-floatlabel variant="on">
                                <p-select
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    [options]="produtos"
                                    optionValue="id"
                                    formControlName="produto"
                                    optionLabel="nome"
                                    [filter]="true"
                                    filterBy="nome"
                                    appendTo="body"
                                >
                                </p-select>
                                <label for="me">Produto</label>
                            </p-floatlabel>
                        </div>
                        <div class="form2 mt-3 text-left w-10">
                            <p-floatlabel variant="on">
                                <p-select
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    [options]="ccsPais"
                                    optionValue="id"
                                    formControlName="centro_custo_pai"
                                    optionLabel="nome"
                                    [filter]="true"
                                    filterBy="nome"
                                    appendTo="body"
                                >
                                </p-select>
                                <label for="me">Centro Custo Pai</label>
                            </p-floatlabel>
                        </div>
                        <div class="form2 mt-3 text-left w-10">
                            <p-floatlabel variant="on">
                                <p-select
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    [options]="fabricas"
                                    optionValue="nome"
                                    formControlName="fabrica"
                                    optionLabel="nome"
                                    [filter]="true"
                                    filterBy="nome"
                                    appendTo="body"
                                >
                                </p-select>
                                <label for="me">Fábrica Referência</label>
                            </p-floatlabel>
                        </div>
                    </div>
                    <div class="fg1edit flex flex-column w-12 align-items-center justify-content-center lg:w-6">
                        <div class="form2 mt-3 text-left w-10">
                            <p-floatlabel variant="on">
                                    <p-inputNumber
                                        variant="filled"
                                        [style]="{'width':'840px'}"
                                        formControlName="periodo"
                                        mode="decimal"
                                    />
                                <label for="mes">Período</label>
                            </p-floatlabel>
                        </div>
                        <div class="form2 mt-3 text-left w-10">
                            <p-floatlabel variant="on">
                                    <p-inputNumber  
                                        variant="filled"
                                        [style]="{'width':'420px'}"
                                        formControlName="ano"
                                        useGrouping="false"
                                    />
                                <label for="ano">Ano</label>
                            </p-floatlabel>
                        </div>
                        <div class="form2 mt-3 mb-3 text-left w-10">
                            <p-floatlabel variant="on">
                                    <p-inputNumber
                                        variant="filled"
                                        [style]="{'width':'420px'}"
                                        formControlName="quantidade"
                                        useGrouping="true"
                                        mode="decimal"
                                        locale="pt-BR"
                                    />
                                <label for="ano">Quantidade</label>
                            </p-floatlabel>
                        </div>
                    </div> 
                </div>
            </form>
            <div class="botoes-form">
                <div class="btnsec" (click)="clearEditForm()">
                    <p>Limpar</p>
                </div>

                <div class="btnpri" (click)="saveEdit()">
                    <p>Salvar</p>
                </div>
            </div>    
    </p-dialog>

</div>

