<div class="menu">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="/welcome/baseOrcamentaria/orcamentoBase/homeOrcamento">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','Master'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizAnalitica" >Raízes Analíticas</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocustopai" >Centro de Custo Pai</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocusto" >Centro de Custo </a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizSintetica" >Raiz Sintética</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/contaContabil" >Conta Contábil</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/grupoItens" >Grupos de Itens</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/orcamentoBase" >Orçamento Base</a>
                </li>
            </ul>
        </li >
        
        <li *ngIf="hasGroup(['Admin','Master','OrcamentoGestorSetor','OrcamentoGestorItens'])" nz-submenu nzTitle="Acompanhamento "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','Master','OrcamentoGestorSetor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoRealizado/realizado"> Orçado x Realizado Setorial</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','OrcamentoGestorItens'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoGrupoItens/orcamentogrupoitens"> Orçado x Realizado Grupo de Itens</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/projetado"> DRE Projetado</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/indicadorescp">Indicadores Custo de Produção</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/curva">Curva ABC</a>
                </li>
            </ul>
           
        </li>    
    </ul>
</div>

<div class="container">

        <div class="titulo mb-6 mt-6">
            <p-divider align="left" type="solid">
                <b>Cadastro de Centro de Custo Pai</b>
            </p-divider>
        </div>
   
        <form 
            [formGroup]="registercentrocustopaiForm"
            title="Cadastrar novo Centro de Custo Pai"
            primaryBtnText="Cadastrar"
            (submit)="submit()"
            enctype="multipart/form-data"
        >
        
            <div class="form-geral flex flex-column lg:flex-row"@swipeAnimation>
                <div class="fg1 flex flex-column w-12 align-items-center lg:w-6">
                    <div class="form2 w-10">
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-file-edit" />
                                <input
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    formControlName="nome"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Informe o nome</label>
                        </p-floatlabel>
                    </div>
                    <div class="form2 w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                id="filial"
                                [style]="{'width':'100%'}"
                                inputId="float-label" 
                                [options]="empresas" 
                                formControlName="empresa"
                                optionLabel="nome"
                                [disabled]="true"
                                (onChange)="onEmpresaSelecionada($event.value)"
                                [filter]="true" 
                                filterBy="nome"
                            >
                            </p-select>
                            <label for="float-label">Selecione a Empresa</label>
                        </p-floatLabel>
                    </div>
                    <div class="form2 w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                id="filial"
                                [style]="{'width':'100%'}"
                                inputId="float-label" 
                                [options]="filiais" 
                                formControlName="filial"
                                optionLabel="nome"
                                [disabled]="true"
                                (onChange)="onFilialSelecionada($event.value)"
                                [filter]="true" 
                                filterBy="nome"
                            >
                            </p-select>
                            <label for="float-label">Selecione a Filial</label>
                        </p-floatLabel>
                    </div>
                </div>

                <div class="fg2 flex flex-column w-12 align-items-center lg:w-6">
                    <div class="form2 w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                id="area" 
                                inputId="float-label" 
                                [style]="{'width':'100%'}"
                                [options]="areas" 
                                formControlName="area"
                                optionLabel="nome"
                                [disabled]="true"
                                (onChange)="onAreaSelecionada($event.value)"
                                [filter]="true" 
                                filterBy="nome"
                                >
                            </p-select>
                            <label for="float-label">Selecione a Area</label>
                        </p-floatLabel>
                    </div>
                    <div class="form2 w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                id="setor" 
                                inputId="float-label" 
                                [style]="{'width':'100%'}"
                                [options]="setores" 
                                formControlName="setor"
                                optionLabel="nome"
                                [disabled]="true"
                                (onChange)="onSetorSelecionado($event.value)"
                                [filter]="true" 
                                filterBy="nome"
                            >
                            </p-select>
                            <label for="float-label">Selecione o Ambiente</label>
                        </p-floatLabel>
                    </div>
                    <div class="form2 w-10 mb-3 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                id="ambiente"
                                inputId="float-label"  
                                [style]="{'width':'100%'}"
                                [options]="ambientes" 
                                formControlName="ambiente"
                                optionLabel="nome"
                                [disabled]="true"
                                [filter]="true" 
                                filterBy="nome"
                            >
                            </p-select>
                            <label for="float-label">Selecione o Setor</label>
                        </p-floatLabel>
                    </div>      
                </div>
            </div>
        </form>
    </div>
       
        <div class="flex justify-content-center mb-5 mt-5"@efeitoFade>
            <p-toast></p-toast>
            <div class="btnsec" (click)="clearForm()">
                <p>Limpar</p>
            </div>
            <div class="btnpri" (click)="submit()">
                <p>Salvar</p>            
            </div>
        
        </div>
    


    <div class="tabela"@swipeAnimationReverse>
        <p-toast />
        <p-confirmDialog />
        <p-table
            #dt1
            [value]="centrosCustoPai"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[5, 10, 20]"
            [globalFilterFields]="['id', 'nome','empresa','filial','area','ambiente','setor']"
            scrollable="true"
            stripedRows
        >
            <ng-template pTemplate="caption">
                <div class="flex flex-row md: justify-content-end">
                    <p-floatlabel variant="on">
                        <p-iconfield>
                            <p-inputicon class="pi pi-search" />
                            <input
                                variant="filled"
                                [(ngModel)] = "inputValue"
                                [style]="{'width':'100%'}"
                                pInputText id="on_label"
                                autocomplete="off"
                                type="text"
                            />
                        </p-iconfield>
                        <label for="on_label">Nome</label>
                    </p-floatlabel>
                    <button size="small" class="ml-2" pButton [rounded]="true" label="Pesquisar" severity="info"  (click)="filterTable()"></button>
                    <button size="small" class="ml-2" pButton [rounded]="true" label="Limpar" severity="info" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                </div>
            </ng-template>    
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:25%" type="text" field="nome" display="menu">
                        Nome
                    </th>
                    <th style="width:25%" type="text" field="empresa" display="menu">
                        Empresa
                    </th>
                    <th style="width:25%" type="text" field="filial" display="menu">
                        Filial
                    </th>
                    <th style="width:25%" type="text" field="area" display="menu">
                        Area
                    </th>
                    <th style="width:25%" type="text" field="setor" display="menu">
                        Ambiente
                    </th>
                    <th style="width:25%" type="text" field="ambiente" display="menu">
                        Setor
                    </th>
                    
                    <th style="width: 25%;text-align: center;">Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-centroCustoPai>
                <tr>                      
                    <td>{{ centroCustoPai.nome }}</td>
                    <td>{{ centroCustoPai.empresa_detalhes.nome }}</td>
                    <td>{{ centroCustoPai.filial_detalhes.nome }}</td>
                    <td>{{ centroCustoPai.area_detalhes.nome }}</td>
                    <td>{{ centroCustoPai.setor_detalhes.nome }}</td>
                    <td>{{ centroCustoPai.ambiente_detalhes.nome }}</td>
                    <td class="flex py-6">
                        <div class="btnsec" (click)="abirModalEdicao(centroCustoPai)">
                            <p>Editar</p>
                        </div>
                        
                        <div class="btnpri" (click)="excluirCentroCustoPai(centroCustoPai.id)">
                            <p>Excluir</p>            
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button"  styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button"  styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>
    </div>
    
            <p-dialog 
                [modal]="true"
                [(visible)]="editFormVisible" 
                [style]="{ width: '65rem' }" 
            >
                <div class="titulo">
                    <p-divider align="left" type="solid">
                        <b>Editar Centro de Custo Pai</b>
                    </p-divider> 
                </div>

                <form 
                    [formGroup]="editForm"
                    title="Editar Centro de Custo Pai"      
                >

                    <div class="editGeral flex flex-column lg:flex-row">
                        <div class="fg1edit flex flex-column w-12 align-items-center lg:w-6">
                            <div class="form2 w-10">
                                <p-floatlabel variant="on">
                                    <p-iconfield>
                                        <p-inputicon class="pi pi-file-edit" />
                                        <input
                                            variant="filled"
                                            [style]="{'width':'100%'}"
                                            pInputText id="on_label"
                                            autocomplete="off"
                                            formControlName="nome"
                                            type="text"
                                        />
                                    </p-iconfield>
                                    <label for="on_label">Informe o nome</label>
                                </p-floatlabel>
                            </div>
                            <div class="form2 w-10 text-left">
                                <p-floatLabel variant="on">
                                    <p-select
                                        variant="filled"
                                        id="empresa"
                                        inputId="float-label" 
                                        [style]="{'width':'100%'}"
                                        [options]="empresas" 
                                        formControlName="empresa"
                                        optionValue="id"
                                        optionLabel="nome"
                                        (onChange)="onEmpresaSelecionada($event.value)"
                                        [filter]="true" 
                                        filterBy="nome"
                                    >
                                    </p-select>
                                    <label for="float-label">Selecione a Empresa</label>
                                </p-floatLabel>
                            </div>        
                            <div class="form2 w-10 text-left">
                                <p-floatLabel variant="on">
                                    <p-select
                                        variant="filled"
                                        id="filial"
                                        inputId="float-label"
                                        [style]="{'width':'100%'}"
                                        [options]="filiais" 
                                        formControlName="filial"
                                        optionValue="id"
                                        optionLabel="nome"
                                        [disabled]="true"
                                        (onChange)="onFilialSelecionada($event.value)"
                                        [filter]="true" 
                                        filterBy="nome"
                                    >
                                    </p-select>
                                    <label for="float-label">Selecione a Filial</label>
                                </p-floatLabel>
                            </div>        
                        </div>
                        <div class="fg2edit flex flex-column w-12 align-items-center lg:w-6">
                            <div class="form2 w-10 text-left">
                                <p-floatLabel variant="on">
                                    <p-select
                                        appendTo="body"
                                        variant="filled"
                                        id="area"
                                        inputId="float-label" 
                                        [style]="{'width':'100%'}"
                                        [options]="areas" 
                                        formControlName="area"
                                        optionValue="id"
                                        optionLabel="nome"                                           placeholder="Selecione a Area"
                                        [disabled]="true"
                                        (onChange)="onAreaSelecionada($event.value)"
                                        [filter]="true" 
                                        filterBy="nome"
                                    >
                                    </p-select>
                                    <label for="float-label">Selecione a Area</label>
                                </p-floatLabel>
                            </div>
                            <div class="form2 w-10 text-left">
                                <p-floatLabel variant="on">
                                    <p-select
                                        appendTo="body"
                                        variant="filled"
                                        id="ambiente"
                                        inputId="float-label" 
                                        [style]="{'width':'100%'}"
                                        [options]="setores" 
                                        formControlName="setor"
                                        optionValue="id"
                                        optionLabel="nome"                                            placeholder="Selecione o Ambiente"
                                        [disabled]="true"
                                        (onChange)="onSetorSelecionado($event.value)"
                                        [filter]="true" 
                                        filterBy="nome"
                                    >
                                    </p-select>
                                    <label for="float-label">Selecione o Ambiente</label>
                                </p-floatLabel>
                            </div>    
                            <div class="form2 w-10 text-left mb-3">
                                <p-floatLabel variant="on">
                                    <p-select
                                        appendTo="body"
                                        variant="filled"
                                        id="setor"
                                        inputId="float-label" 
                                        [style]="{'width':'100%'}"
                                        [options]="ambientes" 
                                        formControlName="ambiente"
                                        optionValue="id"
                                        optionLabel="nome"                                            placeholder="Selecione o Setor"
                                        [disabled]="true"
                                        [filter]="true" 
                                        filterBy="nome"
                                    >
                                    </p-select>
                                    <label for="float-label">Selecione o Setor</label>
                                </p-floatLabel>
                            </div>         
                        </div>
                    </div>
                </form>
                <div class="flex justify-content-center mb-5 mt-5">
                    <div class="btnsec" (click)="clearEditForm()">
                        <p>Limpar</p>
                    </div>
                    
                    <div class="btnpri" (click)="saveEdit()">
                        <p>Salvar</p>            
                    </div>
                </div>                
        
            </p-dialog>


       