<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="/assets/imagens/Slide1.png" alt="logo">
          <h1>Manager</h1>
        </a>
      </div>
      <ul nz-menu style="background-color:#898993;"  nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Gestão de Pesooas" nzIcon="team">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Dashboard</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="colaborador">Colaboradores</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Avaliações</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Avaliadores</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="tipocontrato">Tipos de Contrato</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Cadastros" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a  routerLink="createuser">Usuários</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="registercompany">Empresas</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="area">Areas</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="setor">Setores</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="filial">Filiais</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="cargo">Cargos</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <span class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></span>
          </span>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
          <input
            type="file"
          
          >


          <!-- <p-fileUpload
          chooseLabel="Choose"
          name="imagem"
          url="http://localhost:8000/management/upload/"
          accept="image/*"
          [maxFileSize]="1000000"
          (onUpload)="onUpload($event)"
          [multiple]="true"
        >
          <ng-template let-file pTemplate="file">
            <div>{{ file.name }} {{ file.size }}</div>
          </ng-template>
        </p-fileUpload> -->

        <nz-upload
      nzType="drag"
      nzName="imagem"
      [nzMultiple]="true"
      
      
    >
      <p class="ant-upload-drag-icon">
        <span nz-icon nzType="inbox"></span>
      </p>
      <p class="ant-upload-text">Click or drag file to this area to upload</p>
      <p class="ant-upload-hint">
        Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files
      </p>
    </nz-upload>


        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>