
@import "../../../../node_modules/quill/dist/quill.core.css";
@import "../../../../node_modules/quill/dist/quill.snow.css";

:host {
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .app-layout {
    height: 100vh;
    background-color: #f2f1f0;
  }
  
  .menu-sidebar {
    position: relative;
    z-index: 2;
    min-height: 100vh;
    //box-shadow: 2px 0 6px ;
    background-color:#444959 ;
  }
  
  .header-trigger {
    height: 64px;
    padding: 20px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s,padding 0s;
  }
  
  .trigger:hover {
    color: #4C5264;
  }
  
  .sidebar-logo {
    position: relative;
    height: 75px;
    padding-left: 10px;
    overflow: hidden;
    line-height: 64px;
    background:#444959;
    //box-shadow: 2px 0 16px ;
    transition: all .3s;
    
    
  }
  
  .sidebar-logo img {
    display: inline-block;
    
    width: 60px;
    vertical-align: middle;
  }
  
  .sidebar-logo h1 {
    display: inline-block;
    margin: 0 0 0 20px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
    vertical-align: middle;
  }
  
  nz-header {
    padding: 0;
    width: 100%;
    z-index: 2;
  }
  
  .app-header {
    position: relative;
    display: flex;
    height: 64px;
    padding: 0;
    background: #e3e3f3;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    
  
  }
  .app-header .top {
    
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }

  .app-header .inicio{
    display: flex;
    position: absolute;
    margin-left: 70px;
    
    .divnot{
      
      transform: translate(0%, 1%);
      margin-top: -5px;
      font-size: 12px;
    }
    .divnot2{
      transform: translate(-119%,20%);
      //background-color: #1890ff;
      font-size: 12px;
    }
  }

  .app-header .final{
    display: flex;
    position: absolute;
    right: 120px;
    //background-color: #1890ff;
    
    .empresa{
      
      transform: translate(65%, -15%);
      //background-color: #1890ff;
      font-size: 12px;
      
    }
    .ep2{
      
      transform: translate(-70%, 10%);
      //background-color: #1890ff;
      font-size: 12px;
    }
     .btn{
      cursor: pointer;
      transform: translate(450%, -2%);
      //background-color: #1890ff;
      font-size: 20px;
    }  
    
  }
  nz-content {
    margin: 12px;
    background-color: #fff;
    overflow-y: scroll;
  }
  
  .inner-content {
    padding: 0px;
    background:#fff;
    height: 100vh;
    
  }

  nz-sider{
    
    a:hover {
      color: #1890ff; /* Substitua 'orange' pela cor que você deseja */
  }
    
    li{
      background-color: #4c5264;
      color: #e0ede9;
      margin: 0 0 0 0px;
      border-bottom: 0.5px solid;
      border-top: 0.5px solid;
      border-left: 0.5px solid;
      border-color: #242730;
      
    }
   a{
    color: #e0ede9;
    
    }

    



  }
  .rodape{
    display: flex;
    justify-content: center;
    font-size:10px;
    margin-bottom: 5px;
 }