<div class="menu">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="/welcome/baseOrcamentaria/orcamentoBase/homeOrcamento">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','Master'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizAnalitica" >Raízes Analíticas</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocustopai" >Centro de Custo Pai</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocusto" >Centro de Custo </a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizSintetica" >Raiz Sintética</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/contaContabil" >Conta Contábil</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/grupoItens" >Grupos de Itens</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/orcamentoBase" >Orçamento Base</a>
                </li>
            </ul>
        </li >
        
        <li *ngIf="hasGroup(['Admin','Master','OrcamentoGestorSetor','OrcamentoGestorItens'])" nz-submenu nzTitle="Acompanhamento "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','Master','OrcamentoGestorSetor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoRealizado/realizado"> Orçado x Realizado Setorial</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','OrcamentoGestorItens'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoGrupoItens/orcamentogrupoitens"> Orçado x Realizado Grupo de Itens</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/projetado"> DRE Projetado</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/indicadorescp">Indicadores Custo de Produção</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/curva">Curva ABC</a>
                </li>
            </ul>
           
        </li>    
    </ul>
</div>

<div class="container">

    <div class="titulo mt-6 mb-6">
        <p-divider align="left" type="solid">
            <b>Cadastro de Raízes Analíticas</b>
        </p-divider> 
    </div>

    <form 
        [formGroup]="registerForm"
        title="Cadastrar nova Raiz Analítica"
        primaryBtnText="Cadastrar"
        (submit)="submit()"
    >
    <div class="form-geral flex flex-column lg:flex-row"@swipeAnimationReverse>
            <div class="fg1 flex flex-column w-12 align-items-center lg:w-6">
                <div class="form2 w-10">
                    <p-floatlabel variant="on">
                        <p-iconfield>
                            <p-inputicon class="pi pi-file-edit" />
                            <input
                                variant="filled"
                                [style]="{'width':'100%'}"
                                id="raiz_contabil"
                                pInputText id="on_label"
                                autocomplete="off"
                                formControlName="raiz_contabil"
                                type="text"
                            />
                        </p-iconfield>
                        <label for="on_label">Informe a Raíz</label>
                    </p-floatlabel>
                </div>
                <div class="form2 w-10 mb-3 text-left">
                    <p-floatLabel variant="on">
                        <p-select
                            variant="filled"
                            inputId="float-label"
                            [style]="{'width':'100%'}"
                            [options]="gestores"
                            formControlName="gestor"
                            optionLabel="nome"
                        >
                        </p-select>
                        <label for="float-label" style="margin-left: 15px;">Selecione a Gestor</label>
                    </p-floatLabel>
                </div>
            </div>
        </div>
    </form>

        <div class="botoes-form mt-5 mb-5"@efeitoFade>
            <p-toast></p-toast>
            <div class="btnsec" (click)="clearForm()">
                <p>Limpar</p>
            </div>
            <div class="btnpri" (click)="submit()">
                <p>Salvar</p>            
            </div>
        
        </div>
    </div><!--endForm-->

<div class="tabela" @swipeAnimation>
    <p-toast />
    <p-confirmDialog />
    <p-table
        #dt1
        [value]="raizesAnaliticas"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
        [rowsPerPageOptions]="[5, 10, 20]"
        [globalFilterFields]="['id', 'raiz_contabil','descricao','gestorNome']"
        scrollable="true"
        stripedRows
    >
    <ng-template pTemplate="caption">
        <div class="flex flex-row md: justify-content-end">
            <p-floatlabel variant="on">
                <p-iconfield>
                    <p-inputicon class="pi pi-search" />
                    <input
                        variant="filled"
                        [(ngModel)] = "inputValue"
                        [style]="{'width':'100%'}"
                        pInputText id="on_label"
                        autocomplete="off"
                        type="text"
                    />
                </p-iconfield>
                <label for="on_label">Descrição</label>
            </p-floatlabel>
            <button size="small" class="ml-2" pButton [rounded]="true" label="Pesquisar" severity="info"  (click)="filterTable()"></button>
            <button size="small" class="ml-2" pButton [rounded]="true" label="Limpar" severity="info" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
        </div>
    </ng-template>      
        <ng-template pTemplate="header">
            <tr>
                <th style="width:25%" type="text" field="raiz_contabil" display="menu">
                    Raíz Contábil
                </th>
                <th style="width:25%" type="text" field="descricao" display="menu">
                    Descrição
                </th>
                <th style="width:25%" type="text" field="gestor" display="menu">
                    Gestor
                </th>
                <th style="width: 25%;text-align: center;">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-raizAnalitica>
            <tr>                      
                <td>{{ raizAnalitica.raiz_contabil }}</td>
                <td>{{ raizAnalitica.descricao }}</td>
                <td>{{ getNomeGestor(raizAnalitica.gestor) }}</td>
                
                <td class="td-acao">
                    <div class="btnsec" (click)="abrirModalEdicao(raizAnalitica)">
                        <p>Editar</p>
                    </div>
                    
                    <div class="btnpri" (click)="excluirRaizAnalitica(raizAnalitica.id)">
                        <p>Excluir</p>            
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button"  styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>

        <p-dialog 
            [modal]="true"
            [(visible)]="editFormVisible" 
            [style]="{ width: '65rem' }" 
        >
            <div class="titulo">
                <p-divider align="left" type="solid">
                    <b>Editar Raíz Analítica</b>
                </p-divider> 
            </div>

            <form 
                [formGroup]="editForm"
                title="Editar Raiz Analitica"      
            >

            <div class="editGeral flex flex-column lg:flex-row">
                <div class="fg1edit flex flex-column w-12 align-items-center lg:w-12">
                    <div class="form2 w-10">
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-file-edit" />
                                <input
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    id="raiz_contabil"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    formControlName="raiz_contabil"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Informe a Raíz</label>
                        </p-floatlabel>
                    </div>
                    <div class="form2 w-10 mt-3 mb-3 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                inputId="float-label"
                                [style]="{'width':'100%'}"
                                [options]="gestores"
                                formControlName="gestor"
                                optionLabel="nome"
                                optionValue="id"
                                appendTo="body"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione a Gestor</label>
                        </p-floatLabel>
                    </div>
                </div>
            </div>
        </form>    
            <div class="botoes-form">
                <div class="btnsec" (click)="clearEditForm()">
                    <p>Limpar</p>
                </div>
                
                <div class="btnpri" (click)="saveEdit()">
                    <p>Salvar</p>            
                </div>
            </div>
    </p-dialog>

