<div class="container">
    <div class="titulo mt-6 mb-6 text-2xl">
        <p-divider align="left" type="solid">
            <b><a routerLink="../../">Painel Operacional</a> / <a routerLink="../">Produção</a> / Britagem</b>
        </p-divider>
    </div>
    <div class="flex flex-column  lg:flex-row"@slideAnimation>
        <div class="calcEsquerda w-12 lg:w-8 mt-2 lg:w-8">
            <div class="britadaCalcario">
                <div class="titulo2">
                    <p><b>Último Dia</b></p>
                </div>
                <div class="flex flex-column justify-content-center align-items-center gap-3 lg:flex-row lg:-mt-1"@slideAnimation>
                    <div class="card lg:w-5 lg:mb-3">
                        <div class="valor">
                        <p>{{ totalAgregado }}</p>
                        </div>
                        <div class="unidade">
                        <p>Tn Britado</p>
                        </div>
                    </div>
                    <div class="card lg:w-5 lg:mb-3">
                        <div class="valor">
                        <p>{{ tnHsTrab }}</p>
                        </div>
                        <div class="unidade">
                        <p>Hs Trabalhadas</p>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="britadaCal mt-3">
                <div class="titulo2">
                    <p><b>Último Dia</b></p>
                </div>
                <div class="flex flex-column  justify-content-center align-items-center gap-3 lg:flex-row lg:-mt-1"@slideAnimation>
                    <div class="card lg:w-5 lg:mb-3">
                        <div class="valor">
                        <p>{{ produtividadeHj }}</p>
                        </div>
                        <div class="unidade">
                        <p>Produtividade</p>
                        </div>
                    </div>
                    <div class="card lg:w-5 lg:mb-3">
                        <div class="valor">
                        <p>{{ tnRejeitoDia }}</p>
                        </div>
                        <div class="unidade">
                        <p>Tn Rejeito</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
            


        <div class="calcEsquerda w-12 mt-2 lg:w-8">
           <div class="britadaCalcario">
                <div class="titulo2">
                    <i class="pi pi-plus-circle"></i><span (click)="exibirGrafico()" style="cursor: pointer;"> <b> Tn Britada Para Calcário</b></span><br>
                </div>
                <div class="flex flex-column justify-content-center align-items-center gap-3 lg:flex-row "@slideAnimation>
                    <div class="card lg:mb-3">
                        <div class="valor">
                        <p>{{ tnBritadaCalcarioDia }}</p>
                        </div>
                        <div class="unidade">
                        <p>Último dia</p>
                        </div>
                    </div>
                    <div class="card lg:mb-3">
                        <div class="valor">
                        <p>{{ tnBritadaCalcarioMes }}</p>
                        </div>
                        <div class="unidade">
                        <p>Acomulado mês atual</p>
                        </div>
                    </div>
                    <div class="card mb-3 lg:mb-3">
                        <div class="valor">
                        <p>{{ tnBritadaCalcarioAno }}</p>
                        </div>
                        <div class="unidade">
                        <p>Acomulado ano atual</p>
                        </div>
                    </div>
                </div>    
           </div>
           <div class="britadaCal mt-3">
                <div class="titulo2">
                    <i class="pi pi-plus-circle"></i><span (click)="exibirGraficoCal()" style="cursor: pointer;"> <b> Tn Britada Para Cal</b></span><br>
                </div>
                <div class="flex flex-column justify-content-center align-items-center gap-3 lg:flex-row"@slideAnimation>
                    <div class="card lg:mb-3">
                        <div class="valor">
                        <p>{{ tnBritadaCalDia }}</p>
                        </div>
                        <div class="unidade">
                        <p>Último dia</p>
                        </div>
                    </div>
                    <div class="card lg:mb-3">
                        <div class="valor">
                        <p>{{ tnBritadaCalMes }}</p>
                        </div>
                        <div class="unidade">
                        <p>Acomulado mês atual</p>
                        </div>
                    </div>
                    <div class="card mb-3 lg:mb-3">
                        <div class="valor">
                        <p>{{ tnBritadaCalAno }}</p>
                        </div>
                        <div class="unidade">
                        <p>Acomulado ano atual</p>
                        </div>
                    </div>
                </div>
           </div> 
        </div>
        <div class="calcDireita w-12 mt-3 lg:w-4"@slideAnimation>
            <div class="titulo2">
                <span> <b> Paradas no Britador</b></span><br>
            </div>
            
            <p-table 
                [value]="dados" 
                [scrollable]="true" 
                scrollHeight="350px"
                stripedRows  
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Descrição da Parada</th>
                        <th>Tempo</th>
                        <th>%</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dado>
                    <tr *ngIf="dado.nome1">
                        <td>{{ dado.nome1 }}</td>
                        <td>{{ dado.tempo1 }}</td>
                        <td>{{ dado.percent1 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome2">
                        <td>{{ dado.nome2 }}</td>
                        <td>{{ dado.tempo2 }}</td>
                        <td>{{ dado.percent2 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome3">
                        <td>{{ dado.nome3 }}</td>
                        <td>{{ dado.tempo3 }}</td>
                        <td>{{ dado.percent3 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome4">
                        <td>{{ dado.nome4 }}</td>
                        <td>{{ dado.tempo4 }}</td>
                        <td>{{ dado.percent4 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome5">
                        <td>{{ dado.nome5 }}</td>
                        <td>{{ dado.tempo5 }}</td>
                        <td>{{ dado.percent5 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome6">
                        <td>{{ dado.nome6 }}</td>
                        <td>{{ dado.tempo6 }}</td>
                        <td>{{ dado.percent6 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome7">
                        <td>{{ dado.nome7 }}</td>
                        <td>{{ dado.tempo7 }}</td>
                        <td>{{ dado.percent7 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome8">
                        <td>{{ dado.nome8 }}</td>
                        <td>{{ dado.tempo8 }}</td>
                        <td>{{ dado.percent8 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome9">
                        <td>{{ dado.nome9 }}</td>
                        <td>{{ dado.tempo9 }}</td>
                        <td>{{ dado.percent9 }}</td>
                    </tr>
                </ng-template>
            </p-table>
           
        </div>
    </div>

    <div class="calculos mt-3 mb-3"@slideAnimation>
        <div class="calcCargas">
            <div class="titulo2">
                <span> <b> Movimentação de cargas</b></span><br>
            </div>
            <p-table 
                [value]="movimentos" 
                [scrollable]="true" 
                scrollHeight="350px"
                stripedRows  
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Volume Último Dia</th>
                        <th>Volume Acumulado no Mês</th>
                        <th>Volume Acumulado no Ano</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-movimento>
                    <tr *ngIf="movimento.origem1">
                        <td>{{ movimento.origem1 }}</td>
                        <td>{{ movimento.destino1 }}</td>
                        <td>{{ movimento.dia1 }}</td>
                        <td>{{ movimento.mes1 }}</td>
                        <td>{{ movimento.ano1 }}</td>
                    </tr>
                    <tr *ngIf="movimento.origem2">
                        <td>{{ movimento.origem2 }}</td>
                        <td>{{ movimento.destino2 }}</td>
                        <td>{{ movimento.dia2 }}</td>
                        <td>{{ movimento.mes2 }}</td>
                        <td>{{ movimento.ano2 }}</td>
                    </tr>
                    <tr *ngIf="movimento.origem3">
                        <td>{{ movimento.origem3 }}</td>
                        <td>{{ movimento.destino3 }}</td>
                        <td>{{ movimento.dia3 }}</td>
                        <td>{{ movimento.mes3 }}</td>
                        <td>{{ movimento.ano3 }}</td>
                    </tr>
                    <tr *ngIf="movimento.origem4">
                        <td>{{ movimento.origem4 }}</td>
                        <td>{{ movimento.destino4 }}</td>
                        <td>{{ movimento.dia4 }}</td>
                        <td>{{ movimento.mes4 }}</td>
                        <td>{{ movimento.ano4 }}</td>
                    </tr>
                </ng-template>    
            </p-table>  
        </div>
    </div>   
</div>

<!------------------------Modal Calcário---------------------->
<p-dialog 
    [modal]="true"
    [(visible)]="graficoVisivel1" 
    [style]="{ width: '95%', height: '95%' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"   
>
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b>Produção Pedra Britada para Calcário</b>
        </p-divider> 
    </div>
    <div class="flex flex-row justify-content-center lg:justify-content-end">
        <div class="w-2 ml-1 text-left">
            <p-floatLabel variant="on"> 
                <p-select
                    inputId="float-label"
                    [style]="{'width':'100%'}"
                    [options]="meses" 
                    (ngModel)="mesSelecionado"
                    optionLabel="nome"
                    optionValue="valor"
                    appendTo="body"
                    [filter]="true" 
                    filterBy="nome"
                    [showClear]="true"
                    (onChange)="graficoMesEspecifico('mensal',$event.value)"
                >
                </p-select>
                <label for="float-label">Selecione o Mês</label>
            </p-floatLabel> 
        </div>
        <div 
            class="btnCalc" 
            (click)="graficoMensal('mensal')"
            [ngClass]="{'selecionado': botaoSelecionado === 'mensal'}"    
        >
            <p>No mês</p>
        </div>
        <div 
            class="btnCalc" 
            (click)="graficoAnual('anual')"
            [ngClass]="{'selecionado': botaoSelecionado === 'anual'}"
        >
            <p>No ano</p>
        </div>
    </div>
    <div class="w-full justify-content-center flex flex-column lg:flex-row lg:h-18rem">
        <div class="chartRadarAvaliadores w-full lg:w-12 h-24rem mt-3">
            <canvas id="graficoPedraBritadaCalcarioAnual"></canvas>
        </div>
        <div class="projecoes mt-3 w-12 flex-row lg:flex-column lg:w-2 lg:mt-3 lg:justify-content-center align-items-center lg:h-24rem">
            <div class="af w-6 lg:w-full">
                <div class="titulo2">
                    <span> <b>Média do Período</b></span><br>
                </div>
                <div class="media">
                    <div class="card2 gap-3 h-6rem">
                        <div class="valor">
                            <p>{{ mediaCalcario }}</p>
                        </div>
                        <div class="unidade2">
                            <p>Tn</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="af w-6 lg:w-full">
                <div class="titulo2">
                    <span> <b> Projeção no Período</b></span><br>
                </div>
                <div class="projecao">
                    <div class="card2 gap-3 h-6rem">
                        <div class="valor">
                            <p>{{ projecaoCalcario }}</p>
                        </div>
                        <div class="unidade2">
                            <p>Tn</p>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>    

</p-dialog>

<!-------------MODAL CAL--------------->

<p-dialog 
    [modal]="true"
    [(visible)]="graficoVisivel" 
    [style]="{ width: '95%', height: '95%' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"   
>
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b>Produção Pedra Britada para Cal</b>
        </p-divider> 
    </div>
    <div class="flex flex-row justify-content-center lg:justify-content-end">
        <div class="w-2 ml-1 text-left">
            <p-floatLabel variant="on"> 
                <p-select
                    inputId="float-label"
                    [style]="{'width':'100%'}"
                    [options]="meses" 
                    (ngModel)="mesSelecionado"
                    optionLabel="nome"
                    optionValue="valor"
                    appendTo="body"
                    [filter]="true" 
                    filterBy="nome"
                    [showClear]="true"
                    (onChange)="graficoMesEspecificoCal('mensal',$event.value)"
                >
                </p-select>
                <label for="float-label">Selecione o Mês</label>
            </p-floatLabel> 
        </div>
        <div 
            class="btnCalc" 
            (click)="graficoMensalCal('mensal')"
            [ngClass]="{'selecionado': botaoSelecionado === 'mensal'}" 
        >
            <p>No mês</p>
        </div>
        <div 
            class="btnCalc" 
            (click)="graficoAnualCal('anual')"
            [ngClass]="{'selecionado': botaoSelecionado === 'anual'}" 
        >
            <p>No ano</p>
        </div>
    </div>
    <div class="w-full justify-content-center flex flex-column lg:flex-row lg:h-18rem">
        <div class="chartRadarAvaliadores w-full lg:w-12 h-24rem mt-3">
            <canvas id="graficoPedraBritadaCalAnual"></canvas>
        </div>
        <div class="projecoes mt-3 w-12 flex-row lg:flex-column lg:w-2 lg:mt-3 lg:justify-content-center align-items-center lg:h-24rem">
            <div class="af w-6 lg:w-full">    
                <div class="titulo2">
                    <span> <b>Média do Período</b></span><br>
                </div>
                <div class="media">
                    <div class="card2 gap-3 h-6rem">
                        <div class="valor">
                            <p>{{ mediaCal }}</p>
                        </div>
                        <div class="unidade2">
                            <p>Tn</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="af w-6 lg:w-full">
                <div class="titulo2">
                    <span> <b> Projeção no Período</b></span><br>
                </div>
                <div class="projecao">
                    <div class="card2 gap-3 h-6rem">
                        <div class="valor">
                            <p>{{ projecaoCal }}</p>
                        </div>
                        <div class="unidade2">
                            <p>Tn</p>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>    

</p-dialog>