<div class="container">
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b><a routerLink="../../">Painel Operacional</a> / <a routerLink="../">Produção</a> / Britagem</b>
        </p-divider>
    </div>
    <div class="calculos">
        <div class="calcEsquerda">
           <div class="britadaCalcario">
                <div class="titulo">
                    <i class="pi pi-plus-circle"></i><span (click)="exibirGrafico()" style="cursor: pointer;"> <b> Tn Britada Para Calcário</b></span><br>
                </div>
                <div class="interna"@slideAnimation>
                    <div class="card">
                        <div class="valor">
                        <p>{{ tnBritadaCalcarioDia }}</p>
                        </div>
                        <div class="unidade">
                        <p>Último dia</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="valor">
                        <p>{{ tnBritadaCalcarioMes }}</p>
                        </div>
                        <div class="unidade">
                        <p>Acomulado mês atual</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="valor">
                        <p>{{ tnBritadaCalcarioAno }}</p>
                        </div>
                        <div class="unidade">
                        <p>Acomulado ano atual</p>
                        </div>
                    </div>
                </div>    
           </div>
           <div class="britadaCal">
                <div class="titulo">
                    <i class="pi pi-plus-circle"></i><span (click)="exibirGraficoCal()" style="cursor: pointer;"> <b> Tn Britada Para Cal</b></span><br>
                </div>
                <div class="interna"@slideAnimation>
                    <div class="card">
                        <div class="valor">
                        <p>{{ tnBritadaCalDia }}</p>
                        </div>
                        <div class="unidade">
                        <p>Último dia</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="valor">
                        <p>{{ tnBritadaCalMes }}</p>
                        </div>
                        <div class="unidade">
                        <p>Acomulado mês atual</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="valor">
                        <p>{{ tnBritadaCalAno }}</p>
                        </div>
                        <div class="unidade">
                        <p>Acomulado ano atual</p>
                        </div>
                    </div>
                </div>
           </div> 
        </div>
        <div class="calcDireita"@slideAnimation>
            <div class="titulo">
                <span> <b> Paradas no Britador</b></span><br>
            </div>
            
            <p-table 
                [value]="dados" 
                [scrollable]="true" 
                scrollHeight="350px"  
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Descrição da Parada</th>
                        <th>Tempo</th>
                        <th>%</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dado>
                    <tr *ngIf="dado.nome1">
                        <td>{{ dado.nome1 }}</td>
                        <td>{{ dado.tempo1 }}</td>
                        <td>{{ dado.percent1 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome2">
                        <td>{{ dado.nome2 }}</td>
                        <td>{{ dado.tempo2 }}</td>
                        <td>{{ dado.percent2 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome3">
                        <td>{{ dado.nome3 }}</td>
                        <td>{{ dado.tempo3 }}</td>
                        <td>{{ dado.percent3 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome4">
                        <td>{{ dado.nome4 }}</td>
                        <td>{{ dado.tempo4 }}</td>
                        <td>{{ dado.percent4 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome5">
                        <td>{{ dado.nome5 }}</td>
                        <td>{{ dado.tempo5 }}</td>
                        <td>{{ dado.percent5 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome6">
                        <td>{{ dado.nome6 }}</td>
                        <td>{{ dado.tempo6 }}</td>
                        <td>{{ dado.percent6 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome7">
                        <td>{{ dado.nome7 }}</td>
                        <td>{{ dado.tempo7 }}</td>
                        <td>{{ dado.percent7 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome8">
                        <td>{{ dado.nome8 }}</td>
                        <td>{{ dado.tempo8 }}</td>
                        <td>{{ dado.percent8 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome9">
                        <td>{{ dado.nome9 }}</td>
                        <td>{{ dado.tempo9 }}</td>
                        <td>{{ dado.percent9 }}</td>
                    </tr>
                </ng-template>
            </p-table>
           
        </div>
    </div>

    <div class="calculos"@slideAnimation>
        <div class="calcCargas">
            <div class="titulo">
                <span> <b> Movimentação de cargas</b></span><br>
            </div>
            <p-table 
                [value]="movimentos" 
                [scrollable]="true" 
                scrollHeight="350px"  
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Volume Último Dia</th>
                        <th>Volume Acumulado no Mês</th>
                        <th>Volume Acumulado no Ano</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-movimento>
                    <tr *ngIf="movimento.origem1">
                        <td>{{ movimento.origem1 }}</td>
                        <td>{{ movimento.destino1 }}</td>
                        <td>{{ movimento.dia1 }}</td>
                        <td>{{ movimento.mes1 }}</td>
                        <td>{{ movimento.ano1 }}</td>
                    </tr>
                    <tr *ngIf="movimento.origem2">
                        <td>{{ movimento.origem2 }}</td>
                        <td>{{ movimento.destino2 }}</td>
                        <td>{{ movimento.dia2 }}</td>
                        <td>{{ movimento.mes2 }}</td>
                        <td>{{ movimento.ano2 }}</td>
                    </tr>
                    <tr *ngIf="movimento.origem3">
                        <td>{{ movimento.origem3 }}</td>
                        <td>{{ movimento.destino3 }}</td>
                        <td>{{ movimento.dia3 }}</td>
                        <td>{{ movimento.mes3 }}</td>
                        <td>{{ movimento.ano3 }}</td>
                    </tr>
                    <tr *ngIf="movimento.origem4">
                        <td>{{ movimento.origem4 }}</td>
                        <td>{{ movimento.destino4 }}</td>
                        <td>{{ movimento.dia4 }}</td>
                        <td>{{ movimento.mes4 }}</td>
                        <td>{{ movimento.ano4 }}</td>
                    </tr>
                </ng-template>    
            </p-table>  
        </div>
    </div>   
</div>

<!------------------------MOdal---------------------->
<p-dialog 
    [modal]="true"
    [(visible)]="graficoVisivel1" 
    [style]="{ width: '80%', height: '70%' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"   
>
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b>Produção Pedra Britada para Calcário</b>
        </p-divider> 
    </div>
    <div class="rowBotoes">
        <div 
            class="btnCalc" 
            (click)="graficoMensal('mensal')"
            [ngClass]="{'selecionado': botaoSelecionado === 'mensal'}"    
        >
            <p>No mês</p>
        </div>
        <div 
            class="btnCalc" 
            (click)="graficoAnual('anual')"
            [ngClass]="{'selecionado': botaoSelecionado === 'anual'}"
        >
            <p>No ano</p>
        </div>
    </div>
    <div class="containerModal">
        <div class="chartRadarAvaliadores">
            <canvas id="graficoPedraBritadaCalcarioAnual"></canvas>
        </div>
        <div class="projecoes">
            <div class="titulo2">
                <span> <b>Média do Período</b></span><br>
            </div>
            <div class="media">
                <div class="card2">
                    <div class="valor">
                        <p>{{ mediaCalcario }}</p>
                    </div>
                    <div class="unidade2">
                        <p>Tn</p>
                    </div>
                </div>
            </div>
            <div class="titulo2">
                <span> <b> Projeção para o Período</b></span><br>
            </div>
            <div class="projecao">
                <div class="card2">
                    <div class="valor">
                        <p>{{ projecaoCalcario }}</p>
                    </div>
                    <div class="unidade2">
                        <p>Tn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>    

</p-dialog>

<!-------------MODAL CAL--------------->

<p-dialog 
    [modal]="true"
    [(visible)]="graficoVisivel" 
    [style]="{ width: '80%', height: '70%' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"   
>
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b>Produção Pedra Britada para Cal</b>
        </p-divider> 
    </div>
    <div class="rowBotoes">
        <div 
            class="btnCalc" 
            (click)="graficoMensalCal('mensal')"
            [ngClass]="{'selecionado': botaoSelecionado === 'mensal'}" 
        >
            <p>No mês</p>
        </div>
        <div 
            class="btnCalc" 
            (click)="graficoAnualCal('anual')"
            [ngClass]="{'selecionado': botaoSelecionado === 'anual'}" 
        >
            <p>No ano</p>
        </div>
    </div>
    <div class="containerModal">
        <div class="chartRadarAvaliadores">
            <canvas id="graficoPedraBritadaCalAnual"></canvas>
        </div>
        <div class="projecoes">
            <div class="titulo2">
                <span> <b>Média do Período</b></span><br>
            </div>
            <div class="media">
                <div class="card2">
                    <div class="valor">
                        <p>{{ mediaCal }}</p>
                    </div>
                    <div class="unidade2">
                        <p>Tn</p>
                    </div>
                </div>
            </div>
            <div class="titulo2">
                <span> <b> Projeção para o Período</b></span><br>
            </div>
            <div class="projecao">
                <div class="card2">
                    <div class="valor">
                        <p>{{ projecaoCal }}</p>
                    </div>
                    <div class="unidade2">
                        <p>Tn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>    

</p-dialog>