<div class="menu">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="homeOrcamento">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizAnalitica" >Raízes Analíticas</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocustopai" >Centro de Custo Pai</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocusto" >Centro de Custo </a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizSintetica" >Raiz Sintética</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/contaContabil" >Conta Contábil</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/grupoItens" >Grupos de Itens</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/orcamentoBase" >Orçamento Base</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/produto">Linha de Produtos</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/projecao"> Projeções</a>
                </li>
            </ul>
        </li >
        
        <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Acompanhamento "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoRealizado/realizado"> Orçado x Realizado Setorial</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/projetado"> DRE Projetado</a>
                </li>
            </ul>
           
        </li>    
    </ul>
</div>

<div class="titulo">
    <p-divider align="left" type="solid">
        <b>DRE Projetado</b>
    </p-divider>
</div>

<div class="container">
    
            <div class="tabela" @efeitoFade>
                <p-table
                    #dt1
                    [value]="resultados"
                    [paginator]="false"
                    [rows]="20"
                    dataKey="id" 
                    [showCurrentPageReport]="false"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
                    [rowsPerPageOptions]="[20, 40, 60]"
                    [globalFilterFields]="['id','ano','raiz_analitica_desc','raiz_contabil_grupo_desc','mes_especifico']"
                    sortMode="multiple"
                    scrollable="true"
                    stripedRows
                >
                   
                    <ng-template pTemplate="header">
                        <tr class="footer-row">
                            <th style="width:10%" type="text" field="codigo" display="menu">
                                Linha de Produtos
                            </th>
                            <th style="width:10%" type="text" field="nome" display="menu">
                                Quantidade (tn)
                            </th>
                            <th style="width:10%" type="text" field="nome" display="menu">
                                Preço Médio (R$)
                            </th>
                            <th style="width:10%" type="text" field="nome" display="menu">
                               Faturamento
                            </th>
                            <th style="width:10%" type="text" field="gestorNome" display="menu">
                                Aliquota Dedução (%)
                            </th>
                            <th style="width:10%" type="text" field="gestorNome" display="menu">
                                Dedução
                            </th>
                            <th style="width:10%" type="text" field="gestorNome" display="menu">
                                Receita Liquida
                            </th>
                            <th style="width:10%" type="text" field="gestorNome" display="menu">
                                %
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-resultado>
                        <tr>                      
                            <td>{{ resultado.label }}</td>
                            <td>{{ resultado.quantidade }}</td>
                            <td>{{ resultado.preco  }}</td>
                            <td>{{ resultado.faturamento  }}</td>
                            <td>{{ resultado.aliquota }}</td>
                            <td>{{ resultado.deducao  }}</td>
                            <td>{{ resultado.receitaLiquida  }}</td>
                            <td>{{ resultado.percentual }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr class="footer-row">
                            <td colspan="1" class="text-left">Totais</td>
                            <td>{{ quantidadeTotal }}</td>
                            <td></td>
                            <td>{{ receitaBrutaFormatada }} </td>
                            <td></td>
                            <td>{{ deducaoTotal }}</td>
                            <td>{{ receitaLiquida }}</td>
                            <td></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        
                        <div class="tabela" @swipeAnimationReverse>  
                            <p-treeTable [value]="orcados" [scrollable]="true" scrollHeight="600px" [tableStyle]="{'min-width':'60rem'}">
                                <!-- Cabeçalho da Tabela -->
                                <ng-template pTemplate="header">
                                
                                    <tr class="footer-row">
                                        <th colspan="2" class="text-left font-bold pr-6">Receita Bruta</th>
                                        <th></th>
                                        <th></th>
                                        <th class="text-left font-bold pr-6">{{ receitaBrutaFormatada }}</th>
                                        <th></th>
                                    </tr> 
                                
                                    <tr class="footer-row">
                                        <th colspan="3" class="text-left font-bold pr-6">&nbsp;&nbsp;&nbsp;&nbsp;Deduções</th>
                                        <th></th>
                                        <th class="text-left font-bold pr-6">{{deducaoTotal  }}</th>
                                        <th>{{ percentDeducao  }}%</th>
                                    </tr>

                                    <tr class="footer-row">
                                        <th colspan="2" class="text-left font-bold pr-6">Receita Liquida</th>
                                        <th></th>
                                        <th></th>
                                        <th class="text-left font-bold pr-6">{{ receitaLiquida }}</th>
                                        <th></th>
                                    </tr>

                                </ng-template>
                                
                                <!-- Corpo da Tabela -->
                                <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-rowIndex="rowIndex">
                                    <!-- Linhas dinâmicas -->
                                    <tr>
                                        <td colspan="4">
                                            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                                            {{ rowData.tipo || rowData.nome }} 
                                        </td>
                                        <td style="font-weight: bold; font-size: 15px;">{{ rowData.total }}</td>
                                        <td *ngIf="!rowNode.parent">{{ percentualTotalGeral }}%</td> 
                                        
                                    </tr>
                                </ng-template>
                            
                                <!-- Detalhes expandidos -->
                                <ng-template pTemplate="rowexpansion" let-rowNode let-rowData="rowData">
                                <tr>
                                    <td >
                                    <div class="p-3">
                                        <p-treeTable [value]="rowData.centrosCusto" dataKey="nome">
                                        <ng-template pTemplate="header">
                                            <tr>
                                            <th>Centro de Custo</th>
                                            <th>Total</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-subRowNode let-subRowData="rowData">
                                            <tr>
                                            <td>
                                                <p-treeTableToggler [rowNode]="subRowNode"></p-treeTableToggler>
                                                {{ subRowData.nome }}
                                            </td>
                                            <td>{{ subRowData.total | currency:'BRL' }}</td>
                                            </tr>
                                        </ng-template>
                                        </p-treeTable>
                                    </div>
                                    </td>
                                </tr>
                                </ng-template>
                            
                                <!-- Rodapé do Grupo (Total Geral) -->
                                <ng-template pTemplate="footer">
                                <tr class="footerp-row">
                                    <td style="font-size: 15px;" class="text-left font-bold">Lucro Bruto</td>
                                    <td></td>
                                    <td style="font-size: 15px;" class="text-left font-bold">{{ lucroBrutoFormatado }}</td>
                                </tr>
                                </ng-template>
                            </p-treeTable> 
                        </div>

                        <div class="tabela mt-5"@swipeAnimation>  
                            <p-treeTable [value]="despesas" [scrollable]="true" scrollHeight="600px" [tableStyle]="{'min-width':'60rem'}">
                                <!-- Cabeçalho da Tabela -->
                                <ng-template pTemplate="header">
                                
                                    
    
                                </ng-template>
                                
                                <!-- Corpo da Tabela -->
                                <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                                
                                  <!-- Linhas dinâmicas -->
                                  <tr>
                                    <td colspan="4">
                                      <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                                      {{ rowData.tipo || rowData.nome }}
                                    </td>
                                    <td style="font-weight: bold; font-size: 15px;">{{ rowData.total  }}</td>
                                    <td *ngIf="!rowNode.parent">{{ percentualDespesaGeral }}%</td> 
                                  </tr>
                                </ng-template>
                              
                                <!-- Detalhes expandidos -->
                                <ng-template pTemplate="rowexpansion" let-rowNode let-rowData="rowData">
                                  <tr>
                                    <td colspan="1">
                                      <div class="p-3">
                                        <p-treeTable [value]="rowData.centrosCusto" dataKey="nome">
                                          <ng-template pTemplate="header">
                                            <tr>
                                              <th>Centro de Custo</th>
                                              <th>Total</th>
                                            </tr>
                                          </ng-template>
                                          <ng-template pTemplate="body" let-subRowNode let-subRowData="rowData">
                                            <tr>
                                                <td></td>
                                              <td>
                                                <p-treeTableToggler [rowNode]="subRowNode"></p-treeTableToggler>
                                                {{ subRowData.nome }}
                                              </td>
                                              <td>{{ subRowData.total  }}</td>
                                            </tr>
                                          </ng-template>
                                        </p-treeTable>
                                      </div>
                                    </td>
                                  </tr>
                                </ng-template>
                              
                                <!-- Rodapé do Grupo (Total Geral) -->
                                <ng-template pTemplate="footer">
                                    <!-- <tr class="footerp-row">
                                        <td style="font-size: 15px;" class="text-left font-bold pr-6">Percentual sob Receita Bruta</td>
                                        <td></td>
                                        <td style="font-size: 15px;" class="text-left font-bold pr-6">{{ percentualDespesaGeral }}%</td>
                                    </tr> -->
                                    <tr class="footerp-row">
                                        <td style="font-size: 15px;" class="text-left font-bold pr-6">Resultado Operacional</td>
                                        <td></td>
                                        <td style="font-size: 15px;" class="text-left font-bold pr-6">{{ resultadoOperacionalFormatado }}</td>
                                    </tr>
                                    <tr class="footerp-row">
                                        <td style="font-size: 15px;" class="text-left font-bold pr-6">Resultado Financeiro</td>
                                        <td></td>
                                        <td style="font-size: 15px;" class="text-left font-bold pr-6 nowrap">
                                            <div class="flex text-left">
                                                <p-floatLabel variant="on" style="flex: 1;">
                                                    <p-inputNumber
                                                        currency="BRL"
                                                        locale="pt-BR"
                                                        mode="currency"
                                                        [(ngModel)]="resultadoFinanceiro"
                                                    ></p-inputNumber>
                                                    <label for="resultadoFinanceiro">Informe o valor</label>
                                                </p-floatLabel>
                                                <p-button (click)="calcularLucroAntesImpostos()" styleClass="p-button-info ml-2" size="small" icon="pi pi-calculator" label="Calcular"></p-button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="footerp-row">
                                        <td style="font-size: 15px;" class="text-left font-bold pr-6">Lucro antes dos Impostos</td>
                                        <td></td>
                                        <td style="font-size: 15px;" class="text-left font-bold pr-6">{{ lucroAntesImpostosFormatado}}</td>
                                    </tr>
                                    <tr class="footerp-row">
                                        <td style="font-size: 15px;" class="text-left font-bold pr-6">CSSL/IRPJ</td>
                                        <td></td>
                                        <td style="font-size: 15px;" class="text-left font-bold pr-6 nowrap">
                                            <div class="flex text-left">
                                                <p-floatLabel variant="on" style="flex: 1;">
                                                    <p-inputNumber
                                                        currency="BRL"
                                                        locale="pt-BR"
                                                        mode="currency"
                                                        [(ngModel)]="impostos"
                                                    ></p-inputNumber>
                                                    <label for="resultadoFinanceiro">Informe o valor</label>
                                                </p-floatLabel>
                                                <p-button (click)="calcularLucroLiquido()" styleClass="p-button-info ml-2" size="small" icon="pi pi-calculator" label="Calcular"></p-button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="footerp-row">
                                        <td style="font-size: 15px;" class="text-left font-bold pr-6">Lucro Liquido</td>
                                        <td></td>
                                        <td style="font-size: 15px;" class="text-left font-bold pr-6">{{ lucroLiquidoFormatado }}</td>
                                    </tr>
                                    <tr class="footerp-row">
                                        <td style="font-size: 15px;" class="text-left font-bold pr-6">Depreciação Total</td>
                                        <td></td>
                                        <td></td>
                                        <td style="font-size: 15px;" class="text-left font-bold pr-6">{{ totalDepreciacaoFormatada }}</td>
                                    </tr> 
                                    <tr class="footerp-row">
                                        <td colspan="2" style="font-size: 15px;" class="text-left font-bold pr-6">Ebitda</td>
                                        
                                        <td style="font-size: 15px;" class="text-left font-bold pr-6">{{ ebitdaFormatado }}{{ percentualTotalEbitda }}%</td>
                                        <td >{{ percentualTotalEbitda }}%</td>
                                    </tr>
                                </ng-template>
                              </p-treeTable> 
                        </div>

            </div>



