<div class="menu">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="homeOrcamento">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizAnalitica" >Raízes Analíticas</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocustopai" >Centro de Custo Pai</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocusto" >Centro de Custo </a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizSintetica" >Raiz Sintética</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/contaContabil" >Conta Contábil</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/grupoItens" >Grupos de Itens</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/orcamentoBase" >Orçamento Base</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/produto">Linha de Produtos</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/projecao"> Projeções</a>
                </li>
            </ul>
        </li >
        
        <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Acompanhamento "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoRealizado/realizado"> Orçado x Realizado Setorial</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/projetado"> DRE Projetado</a>
                </li>
            </ul>
           
        </li>    
    </ul>
</div>

<div class="container">
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b>Cadastro de Raiz Sintética</b>
        </p-divider>
    </div>

    <form
        [formGroup]="registerForm"
        title="Cadastrar nova Raiz Sintetica"
        primaryBtnText="Cadastrar"
        (submit)="submit()"
        enctype="multipart/form-data"
    >

        <div class="form-geral flex flex-column lg:flex-row"@swipeAnimation>
            <div class="fg1 flex flex-column w-12 align-items-center lg:w-6">
                <div class="form2 w-10">
                    <p-floatlabel variant="on">
                        <p-iconfield>
                            <p-inputicon class="pi pi-file-edit" />
                            <input
                                variant="filled"
                                [style]="{'width':'100%','font-size':'16px'}"
                                pInputText
                                id="raiz_contabil"
                                formControlName="raiz_contabil"
                                type="text"
                            />  
                        </p-iconfield>
                        <label for="on_label">Informe a Raiz</label>
                    </p-floatlabel>
                </div>        
                <div class="form2 w-10 mb-3 text-left">
                    <p-floatlabel variant="on">
                        <p-select
                            variant="filled"
                            id="ccPai" 
                            [style]="{'width':'100%'}"
                            [options]="ccs" 
                            formControlName="cc"
                            optionLabel="label"
                            [disabled]="true"
                            [filter]="true" 
                            filterBy="codigo"
                        >
                        </p-select>
                        <label for="ccPai">Selecione o Centro de Custo</label>
                    </p-floatlabel>
                </div>
            </div>
        </div>
    </form>
        
    <div class="flex justify-content-center mb-5 mt-5"@efeitoFade>
        <p-toast></p-toast>
        <div class="btnsec" (click)="clearForm()">
            <p>Limpar</p>
        </div>
        <div class="btnpri" (click)="submit()">
            <p>Salvar</p>            
        </div>
    
    </div>
</div>

    <div class="tabela"@swipeAnimationReverse>
        <p-toast />
        <p-confirmDialog />
        <p-table
            #dt1
            [value]="raizesSinteticas"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[5, 10, 20]"
            [globalFilterFields]="['raizContabil','descricao','natureza','cc']"
            scrollable="true"
            stripedRows
        >
            <ng-template pTemplate="caption">
                <div class="flex flex-row md: justify-content-end">
                    <p-floatlabel variant="on">
                        <p-iconfield>
                            <p-inputicon class="pi pi-search" />
                            <input
                                variant="filled"
                                [(ngModel)] = "inputValue"
                                [style]="{'width':'100%'}"
                                pInputText id="on_label"
                                autocomplete="off"
                                type="text"
                            />
                        </p-iconfield>
                        <label for="on_label">Nome</label>
                    </p-floatlabel>
                    <button size="small" class="ml-2" pButton [rounded]="true" label="Pesquisar" severity="info"  (click)="filterTable()"></button>
                    <button size="small" class="ml-2" pButton [rounded]="true" label="Limpar" severity="info" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:25%" type="text" field="raizContabil" display="menu">
                        Raiz Contabil
                    </th>
                    <th style="width:25%" type="text" field="descricao" display="menu">
                        Descrição
                    </th>
                    <th style="width:25%" type="text" field="natureza" display="menu">
                        Natureza
                    </th>
                    <th style="width:25%" type="text" field="cc" display="menu">
                        Centro de Custo
                    </th>
                    
                    <th style="width: 25%;text-align: center;">Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-raizSintetica>
                <tr>                      
                    <td>{{ raizSintetica.raiz_contabil}}</td>
                    <td>{{ raizSintetica.descricao }}</td>
                    <td>{{ raizSintetica.natureza }}</td>
                    <td>{{ getNomeCc(raizSintetica.centro_custo) }}</td>
                    <td class="flex py-5">
                        <div class="btnsec" (click)="abrirModalEdicao(raizSintetica)">
                            <p>Editar</p>
                        </div>
                        
                        <div class="btnpri" (click)="excluirRaizSintetica(raizSintetica.id)">
                            <p>Excluir</p>            
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>
    </div>

    <p-dialog 
        [modal]="true"
        [(visible)]="editFormVisible" 
        [style]="{ width: '65rem' }" 
    >
        <div class="titulo">
            <p-divider align="left" type="solid">
                <b>Editar Raíz Sintética</b>
            </p-divider> 
        </div>

        <form 
            [formGroup]="editForm"
            title="Editar Raiz Sintetica"      
        >

            <div class="editGeral flex flex-column lg:flex-row">
                <div class="fg1edit flex flex-column w-12 align-items-center lg:w-12">
                    <div class="form2 w-10">
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-file-edit" />
                                <input
                                    variant="filled"
                                    [style]="{'width':'100%','font-size':'16px'}"
                                    pInputText
                                    id="raiz_contabil"
                                    formControlName="raiz_contabil"
                                    type="text"
                                />  
                            </p-iconfield>
                            <label for="on_label">Informe o nome</label>
                        </p-floatlabel>
                    </div>        
                    <div class="form2 w-10 mb-3 text-left">
                        <p-floatlabel variant="on">
                            <p-select
                                variant="filled"
                                id="ccPai" 
                                [style]="{'width':'100%'}"
                                [options]="ccs" 
                                formControlName="cc"
                                optionLabel="label"
                                [disabled]="true"
                                [filter]="true" 
                                filterBy="codigo"
                                appendTo="body"
                            >
                            </p-select>
                            <label for="ccPai">Selecione o Centro de Custo</label>
                        </p-floatlabel>
                    </div>            
                </div>
            </div>
            <div class="botoes-form">
                <div class="btnsec" (click)="clearEditForm()">
                    <p>Limpar</p>
                </div>
                
                <div class="btnpri" (click)="saveEdit()">
                    <p>Salvar</p>            
                </div>
            </div>        
        </form>
    </p-dialog>



