
    

<div class="container">
    
    <div class="form-geral">
        <div class="titulo">
            <h2>Cadastrar Novo Usuário</h2>
        </div>    
        <form [formGroup]="createuserForm"
        title="Cadastrar novo usuário"
        primaryBtnText="Cadastrar"
        (submit)="submit()"
        (navigate)="navigate()"
        
        >
        <div class="form1">
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-user"></i>
                </p-inputGroupAddon>
                <span class="p-float-label">
                    <input pInputText
                        id="first_name"
                        formControlName="first_name"
                        type="text"
                    />  
                    <label for="first_name">Digite o nome</label>
                </span>          
            </p-inputGroup>
            
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-user"></i>
                </p-inputGroupAddon>
                <span class="p-float-label">
                    <input pInputText
                    id="last_name"
                    formControlName="last_name"
                    type="text"
                    />  
                    <label for="second_name">Digite o sobrenome</label>
                </span>          
            </p-inputGroup>
            <p-dropdown 
                [options]="funcoes" 
                formControlName="funcao"
                placeholder="Selecione a Função"
                >
            </p-dropdown>
        </div>    
        <div class="form2">
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-at"></i>
                </p-inputGroupAddon>
                <span class="p-float-label">
                    <input pInputText
                        id="username"
                        formControlName="username"
                        type="text"
                    />  
                    <label for="username">Digite o email</label>
                </span>          
            </p-inputGroup>

            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-key"></i>
                </p-inputGroupAddon>
                <span class="p-float-label">
                    <input pInputText
                        id="password"
                        formControlName="password"
                        type="password"
                    />  
                    <label for="password">Digite a senha</label>
                </span>          
            </p-inputGroup>

            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-key"></i>
                </p-inputGroupAddon>
                <span class="p-float-label">
                    <input pInputText
                        id="confirmPassword"
                        formControlName="confirmPassword"
                        type="password"
                    />  
                    <label for="confirmPassword">Confirme a senha</label>
                </span>          
            </p-inputGroup>
        </div>    
        </form>
    </div>    

    <div class="botoes-form">
        <p-toast></p-toast>
        <p-button 
        label="Limpar" 
        icon="pi pi-check" 
        severity="warn"
        (click)="clearForm()">
        </p-button>
        <p-button 
            label="Gravar" 
            icon="pi pi-check"
            iconPos="right" 
            severity="success"
            (click)="submit()">
        </p-button>
        
    </div>
    <hr>
        <div class="tabela">
            <p-table
                #dt1
                [value]="users"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[5, 10, 20]"
                [globalFilterFields]="['first_name', 'last_name', 'usernaname','funcao']"
            >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" [(ngModel)]="inputValue" placeholder="Palavra-Chave" />
                        </span>
                        <button pButton label="Pesquisar" severity="info"  (click)="filterTable()"></button>
                        <button pButton label="Limpar Pesquisa" severity="info" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    </div>
                </ng-template>    
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:25%">ID
                            <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
                        </th>
                        <th style="width:25%">Nome
                            <p-columnFilter type="text" field="first_name" display="menu"></p-columnFilter>
                        </th>
                        <th style="width:25%">Sobrenome
                            <p-columnFilter type="text" field="last_name" display="menu"></p-columnFilter>
                        </th>
                        <th style="width:25%">Usuário
                            <p-columnFilter type="text" field="username" display="menu"></p-columnFilter>
                        </th>
                        <th style="width:25%">Função
                            <p-columnFilter type="text" field="funcao" display="menu"></p-columnFilter>
                        </th>
                        <th style="width:25%">Ação</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>{{ user.id}}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.funcao }}</td>
                        
                        <td class="td-acao">
                            <button pButton label="Editar" severity="help"  (click)="filterTable()"></button>
                            <button pButton label="Excluir" severity="danger"  (click)="filterTable()"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
        </div>        

</div><!--end container-->












 <!-- <app-primary-input
        formControlName="username"
        inputName="username"
        type="email"
        label="Email"
        placeholder="seuemail@grupodb.com.br"
        >
        </app-primary-input>
        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Senha"
            
        >
            <img src="/assets/svg/icon-passwd.svg"/>
        </app-primary-input>
        <app-primary-input
            formControlName="confirmPassword"
            inputName="confirmPassword"
            type="password"
            label="Repita a Senha"
            
        >
            <img src="/assets/svg/icon-passwd.svg"/>
        </app-primary-input> -->
        