.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.notifications {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    p-messages {
        width: 100%;
    }
    .btn {
        cursor: pointer;
        background-color: #e3e3f3;
        color: #444959;
        height: 40px;
        width: 260px;
        border-radius: 5px;
        margin-top: 10px;
        p {
            text-align: center;
            padding: 10px;
        }
    }
}

.titulo {
    width: 100%;
    margin: 0;
    padding: 0 20px;

    p-message {
        display: block;
        width: 100%;
    }
}