<div class="container">
    <div class="container2">
        <div class="formulario mt-8">
            <div class="lgimg">
                <img src="/assets/imagens/logonovo.png"/>
            </div>
            <div class="titulo">
                <p>Insira seu email, (o mesmo cadastrado no sistema) para receber o link para redefinição de senha.</p>
            </div>
            <form [formGroup]="forgotPasswordForm">
                <div class="f1">
                    <p-iconfield>
                        <p-inputicon class="pi pi-at"/>
                        <input
                            [style]="{'width':'100%'}"
                            pInputText
                            type="email"
                            id="newPassword"
                            formControlName="email"
                            name="newPassword"
                            autocomplete="off" 
                            placeholder="Informe o Email"
                            required
                        />
                    </p-iconfield>                
                </div>
                <div class="botoes-form">
                    
                    <p-toast></p-toast>
                    <div class="btnsec" (click)="clearForm()">
                        <p>Limpar</p>
                    </div>
                    <div class="btnpri" (click)="submit()">
                        <p>Enviar</p>            
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>    