<div class="container">
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b><a routerLink="../../">Painel Operacional</a> / <a routerLink="../">Produção</a> / Fábrica de Cal</b>
        </p-divider>
    </div>
    <div class="row1">
        <div class="carregamentos">
            <div class="tituloCarregamento">
                <span> <b> Carregamento geral</b></span><br>
            </div>
                <div class="carregamentoWrap">

                    <div class="cardCarregmento">
                        <div class="valorCarregamento">
                            <p>{{ carregamentoGeralDia }}</p>
                        </div>
                        <div class="unidadeCarregamento">
                            <p>Último dia</p>
                        </div>
                    </div>
                    <div class="cardCarregmento">
                        <div class="valorCarregamento">
                            <p>{{ carregamentoGeralMes }}</p>
                        </div>
                        <div class="unidadeCarregamento">
                            <p>Acomulado mês atual</p>
                        </div>
                    </div>
                    <div class="cardCarregmento">
                        <div class="valorCarregamento">
                            <p>{{ carregamentoGeralAno }}</p>
                        </div>
                        <div class="unidadeCarregamento">
                            <p>Acomulado ano atual</p>
                        </div>
                    </div>
                </div>        
        </div>
    </div><!--EndCarregamento-->
    <div class="row2">
        <div class="totaisWrap">
            <div class="tituloCarregamento2">
                <b> Calcinação</b>
            </div>
            <div class="totais">
                <div class="nomes">
                    <p>AZBE</p>
                </div>
                <div class="card">
                    <div class="valor">
                        <p>{{ azbeDia }}</p>
                    </div>
                    <div class="unidade">
                        <p>Último dia</p>
                    </div>
                </div>
                <div class="card">
                    <div class="valor">
                        <p>{{ azbeMes }}</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado mês atual</p>
                    </div>
                </div>
                <div class="card">
                    <div class="valor">
                        <p>{{ azbeAno }}</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado ano atual</p>
                    </div>
                </div>
            </div><!--EndTotais-->
            <div class="totais">
                <div class="nomes">
                    <p>Metálicos</p>
                </div>
                <div class="card">
                    <div class="valor">
                        <p>{{ metalicosDia }}</p>
                    </div>
                    <div class="unidade">
                        <p>Último dia</p>
                    </div>
                </div>
                <div class="card">
                    <div class="valor">
                        <p>{{ metalicosMes }}</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado mês atual</p>
                    </div>
                </div>
                <div class="card">
                    <div class="valor">
                        <p>{{ metalicosAno }}</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado ano atual</p>
                    </div>
                </div>
            </div><!--EndTotais-->
        </div>    
        <div class="produtividadeWrap">
            <div class="tituloCarregamento2">
                <b>Total dos Fornos</b>
            </div>
            <div class="produtividade">
                <div class="cardForno">
                    <div class="valorForno">
                        <p>{{ fornosTotalDia }}</p>
                    </div>
                    <div class="unidadeForno">
                        <p>Último dia</p>
                    </div>
                </div>
                <div class="cardForno">
                    <div class="valorForno">
                        <p>{{ fornosTotalMes }}</p>
                    </div>
                    <div class="unidadeForno">
                        <p>Acomulado mês atual</p>
                    </div>
                </div>
                <div class="cardForno">
                    <div class="valorForno">
                        <p>{{ fornosTotalAno }}</p>
                    </div>
                    <div class="unidadeForno">
                        <p>Acomulado ano atual</p>
                    </div>
                </div>
            </div>
        </div><!--EndProdutividade-->
    </div><!--enRow2-->
    <div class="row2">
        <div class="totaisWrap">
            <div class="tituloCarregamento2">
                <i class="pi pi-plus-circle"></i><span (click)="exibirGrafico()" style="cursor: pointer;"> <b> Beneficiamento </b></span><br>
            </div>
            <div class="totais">
                <div class="nomes">
                    <p>Cal Virgem CV-C</p>
                </div>
                <div class="cardCalcinacao">
                    <div class="valor">
                        <p>{{ cvcTotalDia }}</p>
                    </div>
                    <div class="unidade">
                        <p>Último dia</p>
                    </div>
                </div>
                <div class="cardCalcinacao">
                    <div class="valor">
                        <p>{{ cvcTotalMes }}</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado mês atual</p>
                    </div>
                </div>
                <div class="cardCalcinacao">
                    <div class="valor">
                        <p>{{ cvcTotalAno }}</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado ano atual</p>
                    </div>
                </div>
            </div><!--EndTotais-->
            <div class="totais">
                <div class="nomes">
                    <p>Cal Hidratada CH-II</p>
                </div>
                <div class="cardCalcinacao">
                    <div class="valor">
                        <p>{{ hidraulicaTotalDia }}</p>
                    </div>
                    <div class="unidade">
                        <p>Último dia</p>
                    </div>
                </div>
                <div class="cardCalcinacao">
                    <div class="valor">
                        <p>{{ hidraulicaTotalMes }}</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado mês atual</p>
                    </div>
                </div>
                <div class="cardCalcinacao">
                    <div class="valor">
                        <p>{{ hidraulicaTotalAno }}</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado ano atual</p>
                    </div>
                </div>
            </div><!--EndTotais-->
            <div class="totais">
                <div class="nomes">
                    <p>Cal Hidráulica</p>
                </div>
                <div class="cardCalcinacao">
                    <div class="valor">
                        <p>{{ ch2TotalDia }}</p>
                    </div>
                    <div class="unidade">
                        <p>Último dia</p>
                    </div>
                </div>
                <div class="cardCalcinacao">
                    <div class="valor">
                        <p>{{ ch2TotalMes }}</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado mês atual</p>
                    </div>
                </div>
                <div class="cardCalcinacao">
                    <div class="valor">
                        <p>{{ ch2TotalAno }}</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado ano atual</p>
                    </div>
                </div>
            </div><!--EndTotais-->
        </div>    
        <div class="produtividadeWrap">
            <div class="tituloCarregamento2">
                <b>Volume Ensacado</b>
            </div>
            <!-- <div class="produtividade"> -->
                <div class="totais">
                    <div class="cardEnsacado">
                        <div class="valor">
                            <p>{{ cvcEnsacadosTotalDia }}</p>
                        </div>
                        <div class="unidade">
                            <p>Último dia</p>
                        </div>
                    </div>
                    <div class="cardEnsacado">
                        <div class="valor">
                            <p>{{ cvcEnsacadosTotalMes }}</p>
                        </div>
                        <div class="unidade">
                            <p>Acomulado mês atual</p>
                        </div>
                    </div>
                    <div class="cardEnsacado">
                        <div class="valor">
                            <p>{{ cvcEnsacadosTotalAno }}</p>
                        </div>
                        <div class="unidade">
                            <p>Acomulado ano atual</p>
                        </div>
                    </div>
                </div><!--EndTotais-->
                <div class="totais">
                    <div class="cardEnsacado">
                        <div class="valor">
                            <p>{{ ch2EnsacadosTotalDia }}</p>
                        </div>
                        <div class="unidade">
                            <p>Último dia</p>
                        </div>
                    </div>
                    <div class="cardEnsacado">
                        <div class="valor">
                            <p>{{ ch2EnsacadosTotalMes }}</p>
                        </div>
                        <div class="unidade">
                            <p>Acomulado mês atual</p>
                        </div>
                    </div>
                    <div class="cardEnsacado">
                        <div class="valor">
                            <p>{{ ch2EnsacadosTotalAno }}</p>
                        </div>
                        <div class="unidade">
                            <p>Acomulado ano atual</p>
                        </div>
                    </div>
                </div><!--EndTotais-->
                <div class="totais">
                    <div class="cardEnsacado">
                        <div class="valor">
                            <p>{{ hidraulicaEnsacadosTotalDia }}</p>
                        </div>
                        <div class="unidade">
                            <p>Último dia</p>
                        </div>
                    </div>
                    <div class="cardEnsacado">
                        <div class="valor">
                            <p>{{ hidraulicaEnsacadosTotalMes }}</p>
                        </div>
                        <div class="unidade">
                            <p>Acomulado mês atual</p>
                        </div>
                    </div>
                    <div class="cardEnsacado">
                        <div class="valor">
                            <p>{{ hidraulicaEnsacadosTotalAno }}</p>
                        </div>
                        <div class="unidade">
                            <p>Acomulado ano atual</p>
                        </div>
                    </div>
                </div><!--EndTotais-->
        <!--EndProdutividade-->
    </div><!--enRow2-->
<!---------------------------------------------MODAIS--------------------------------->
    <p-dialog
        [modal]="true"
        [(visible)]="abrirModal"
        [style]="{ width: '95%', height:'95%' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"   
    >
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b>Produção Cal</b>
        </p-divider> 
    </div>
    <div class="rowBotoes">
        <div 
            class="btnCalc"
            (click)="gerarGrafico('mensal','acumulado')"
            [ngClass]="{'active': selectedButton === 'mensal'}" 
        >
            <p>No mês</p>
        </div>
        <div 
            class="btnCalc" 
            (click)="gerarGrafico('anual','acumulado')"
            [ngClass]="{'active': selectedButton === 'anual'}" 
        >
            <p>No ano</p>
        </div>
    </div>
    <div class="rowBotoesFabricas">
        <div 
            class="btnCalc"
            (click)="gerarGrafico(selectedButton,'acumulado')"
            [ngClass]="{'active': selectedProduct === 'acumulado'}"
        >
            <p>Acumulado</p>
        </div>
        <div 
            class="btnCalc"
           (click)="gerarGrafico(selectedButton,'cvc')"
           [ngClass]="{'active': selectedProduct === 'cvc'}"
        >
            <p>CVC</p>
        </div>
        <div 
            class="btnCalc"
            (click)="gerarGrafico(selectedButton,'ch2')"
            [ngClass]="{'active': selectedProduct === 'ch2'}"
        >
            <p>CH2</p>
        </div>
        <div class="btnCalc"
        (click)="gerarGrafico(selectedButton,'hidraulica')"
        [ngClass]="{'active': selectedProduct === 'hidraulica'}"
        >
            <p>Hidráulica</p>
        </div>
        <div 
            class="btnCalc" 
        >
             <a (click)="exibirEquipamentos()" style="color: inherit;"><p>Detalhar</p></a> 
        </div>
    </div>
    <div class="containerModal">
        <div class="chartBarEnsacados">
            <canvas id="graficoTotalProducaoDiaria"></canvas>
        </div>
        <div class="projecoes">
            <div class="titulo2">
                <span> <b>Média do Período</b></span><br>
            </div>
            <div class="media">
                <div class="card2">
                    <div class="valor">
                        <p>{{ mediaEnsacados }}</p>
                    </div>
                    <div class="unidade2">
                        <p>Tn</p>
                    </div>
                </div>
            </div>
            <div class="titulo2">
                <span> <b> Projeção para o Período</b></span><br>
            </div>
            <div class="projecao">
                <div class="card2">
                    <div class="valor">
                        <p>{{ projecaoEnsacados }}</p>
                    </div>
                    <div class="unidade2">
                        <p>Tn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="containerModal">
        <div class="chartBarEnsacados">
            <canvas id="graficoTotalCarregamentoDiario"></canvas>
        </div>    
        <div class="projecoes">
            <div class="titulo2">
                <span> <b>Média do Período</b></span><br>
            </div>
            <div class="media">
                <div class="card2">
                    <div class="valor">
                        <p>{{ mediaEnsacadosCarregamento }}</p>
                    </div>
                    <div class="unidade2">
                        <p>Tn</p>
                    </div>
                </div>
            </div>
            <div class="titulo2">
                <span> <b> Projeção para o Período</b></span><br>
            </div>
            <div class="projecao">
                <div class="card2">
                    <div class="valor">
                        <p>{{ projecaoEnsacadosCarregamento }}</p>
                    </div>
                    <div class="unidade2">
                        <p>Tn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </p-dialog>
 <!---------------------------------  detalhes equipamentos ------------------ -->
    <p-dialog 
        [modal]="true"
        [(visible)]="equipamentosVisivel" 
        [style]="{ width: '90%', height: '90%' }" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"   
    >
        <div class="titulo">
            <p-divider align="left" type="solid">
                <b>Produtividade Fábricas</b>
            </p-divider>   
            <div class="container">
                <div class="rowSuperior">
                    <div class="buttons">
                        <p-calendar
                            [style]="{'width':'100%'}"
                            id="da" 
                            [(ngModel)]="data"
                            dateFormat="dd/mm/yy"                  
                            [showIcon]="true"
                            placeholder="Data"
                        >
                        </p-calendar>
                        <div class="btnCalcProd" 
                            (click)="calcularEquipamentosDetalhes(data)">
                            <p>Calcular</p>
                        </div>
                    </div>    
                    <div class="rightEqpto">
                        <div class="tituloEqpto">
                            <span> <b>Carregamento geral</b></span><br>
                        </div>
                        <div class="media2">
                            <div class="cardCarregamentoEqpto">
                                <div class="valorCarregamentoEqpto">
                                    <p>{{ ensacadosCarregamento }}</p>
                                </div>
                                <div class="unidadeCarregamentoEqpto">
                                    <p>Carregamento geral</p>
                                </div>    
                            </div>
                        </div>    
                    </div>    
                </div><!--end rowSupeiror-->
                <div class="containerInterno">
                    <div class="esquerda">
                        <div class="rowWrap">
                            <div class="tituloFab">
                                <b> Ensacados </b>
                            </div>
                            <div class="rowEsq">
                                <div class="coluna1">
                                    <div class="linha1">
                                        <div class="eqpto">
                                            <p>MB-01</p>
                                        </div>
                                        <div class="cardProd">
                                            <div class="valorCarregamentoProd">
                                                <p>{{ mb01HoraProd }}</p>
                                            </div>
                                            <div class="unidadeCarregamentoProd">
                                                <p>Hora produção</p>
                                            </div>
                                        </div>
                                        <div class="cardProd">
                                            <div class="valorCarregamentoProd">
                                                <p>{{ mb01HoraParado }}</p>
                                            </div>
                                            <div class="unidadeCarregamentoProd">
                                                <p>Hora parado</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="coluna2">
                                    <div class="cardFab">
                                        <div class="valorCarregamentoProd">
                                            <p>{{ mb01Produtividade }}</p>
                                        </div>
                                        <div class="unidadeCarregamentoProd">
                                            <p>Produtividade equipamento</p>
                                        </div>
                                    </div>
                                    <div class="cardFab">
                                        <div class="valorCarregamentoProd">
                                            <p>{{ mb01Producao }}</p>
                                        </div>
                                        <div class="unidadeCarregamentoProd">
                                            <p>Produção equipamento</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end row1-->
                        </div>    
                        <div class="rowWrap">
                            <div class="tituloFab">
                                <b> Ensacados</b>
                            </div>
                            <div class="rowEsq">   
                                <div class="coluna1">
                                    <div class="linha1">
                                        <div class="eqpto">
                                            <p>MB-02</p>
                                        </div>
                                        <div class="cardProd">
                                            <div class="valorCarregamentoProd">
                                                <p>{{ mb02HoraProd }}</p>
                                            </div>
                                            <div class="unidadeCarregamentoProd">
                                                <p>Hora produção</p>
                                            </div>
                                        </div>
                                        <div class="cardProd">
                                            <div class="valorCarregamentoProd">
                                                <p>{{ mb02HoraParado }}</p>
                                            </div>
                                            <div class="unidadeCarregamentoProd">
                                                <p>Hora parado</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="coluna2">
                                    <div class="cardFab">
                                        <div class="valorCarregamentoProd">
                                            <p>{{ mb02Produtividade }}</p>
                                        </div>
                                        <div class="unidadeCarregamentoProd">
                                            <p>Produtividade equipamento</p>
                                        </div>
                                    </div>
                                    <div class="cardFab">
                                        <div class="valorCarregamentoProd">
                                            <p>{{ mb02Producao }}</p>
                                        </div>
                                        <div class="unidadeCarregamentoProd">
                                            <p>Produção equipamento</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end row2-->
                        </div><!--EndTitle-->    
                        <div class="rowWrap">
                            <div class="tituloFab">
                                <b> Ensacados </b>
                            </div>
                            <div class="rowEsq">
                                <div class="coluna1">
                                    <div class="linha1">
                                        <div class="eqpto">
                                            <p>MB-03</p>
                                        </div>
                                        <div class="cardProd">
                                            <div class="valorCarregamentoProd">
                                                <p>{{ mb03HoraProd }}</p>
                                            </div>
                                            <div class="unidadeCarregamentoProd">
                                                <p>Hora produção</p>
                                            </div>
                                        </div>
                                        <div class="cardProd">
                                            <div class="valorCarregamentoProd">
                                                <p>{{ mb03HoraParado }}</p>
                                            </div>
                                            <div class="unidadeCarregamentoProd">
                                                <p>Hora parado</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                                <div class="coluna2">
                                    <div class="cardFab">
                                        <div class="valorCarregamentoProd">
                                            <p>{{ mb03Produtividade }}</p>
                                        </div>
                                        <div class="unidadeCarregamentoProd">
                                            <p>Produtividade equipamento</p>
                                        </div>
                                    </div>
                                    <div class="cardFab">
                                        <div class="valorCarregamentoProd">
                                            <p>{{ mb03Producao }}</p>
                                        </div>
                                        <div class="unidadeCarregamentoProd">
                                            <p>Produção equipamento</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end row3-->
                        </div>
                        <div class="rowWrap">
                            <div class="tituloFab">
                                <b> Ensacados </b>
                            </div>
                            <div class="rowEsq">
                                <div class="coluna1">
                                    <div class="linha1">
                                        <div class="eqpto">
                                            <p>MG-01</p>
                                        </div>
                                        <div class="cardProd">
                                            <div class="valorCarregamentoProd">
                                                <p>{{ mg01HoraProd }}</p>
                                            </div>
                                            <div class="unidadeCarregamentoProd">
                                                <p>Hora produção</p>
                                            </div>
                                        </div>
                                        <div class="cardProd">
                                            <div class="valorCarregamentoProd">
                                                <p>{{ mg01HoraParado }}</p>
                                            </div>
                                            <div class="unidadeCarregamentoProd">
                                                <p>Hora parado</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                                <div class="coluna2">
                                    <div class="cardFab">
                                        <div class="valorCarregamentoProd">
                                            <p>{{ mg01Produtividade }}</p>
                                        </div>
                                        <div class="unidadeCarregamentoProd">
                                            <p>Produtividade equipamento</p>
                                        </div>
                                    </div>
                                    <div class="cardFab">
                                        <div class="valorCarregamentoProd">
                                            <p>{{ mg01Producao }}</p>
                                        </div>
                                        <div class="unidadeCarregamentoProd">
                                            <p>Produção equipamento</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end row3-->
                        </div>        
                    </div><!--end Esquerda-->
                    <div class="direita">
                        <div class="totais">
                            <div class="cardFabDir">
                                <div class="valorCarregamentoProd">
                                    <p>{{ ensacadosProdutividade }}</p>
                                </div>
                                <div class="unidadeCarregamentoProd">
                                    <p>Produtividade</p>
                                </div>
                            </div>
                            <div class="cardFabDir">
                                <div class="valorCarregamentoProd">
                                    <p>{{ ensacadosProducaoGeral }}</p>
                                </div>
                                <div class="unidadeCarregamentoProd">
                                    <p>Produção diária</p>
                                </div>
                            </div>
                            <div class="cardFabDir">
                                <div class="valorCarregamentoProd">
                                    <p>{{ ensacadosEstoque }}</p>
                                </div>
                                <div class="unidadeCarregamentoProd">
                                    <p>Estoque ensacados</p>
                                </div>
                            </div>
                        </div>
                    </div><!--End Direita-->
                </div><!--end containerInterno--> 
            </div><!--end container--> 
        </div>
        
</p-dialog>       

