<div class="titulo mt-6 mb-6 text-2xl">
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b>Cadastro de Filiais</b>
        </p-divider> 
    </div>
    
        <form 
            [formGroup]="registerfilialForm"
            title="Cadastrar nova Filial"
            primaryBtnText="Cadastrar"
            (submit)="submit()"
        >
        
            <div class="form-geral flex flex-column lg:flex-row"@swipeAnimation> 
                <div class="fg1 flex flex-column w-12 align-items-center lg:w-6">
                    <div class="form2 w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                inputId="float-label"
                                [style]="{'width':'100%'}"
                                [options]="empresas"
                                formControlName="empresa"
                                optionLabel="nome"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione a Empresa</label>
                        </p-floatLabel>
                    </div>
                    <div class="form2 w-10">
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-file-edit" />
                                <input
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    formControlName="nome"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Digite o nome</label>
                        </p-floatlabel>
                    </div>
                    <div class="form2 w-10 text-left" >  
                        <p-floatLabel variant="on">
                            <p-inputmask
                                variant="filled"  
                                id="cnpj_input" 
                                mask="99.999.999/9999-99" 
                                formControlName="cnpj" 
                                [style]="{'width':'100%'}">
                            </p-inputmask>
                            <label  for="cnpj_int">Informe o CNPJ</label>
                        </p-floatLabel>
                    </div>
                </div>  

                <div class="fg2 flex flex-column w-12 align-items-center lg:w-6">
                    <div class="form2 w-10 text-left"> 
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-file-edit" />
                                <input
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    formControlName="endereco"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Digite o endereço</label>
                        </p-floatlabel>
                    </div> 
                    <div class="form2 w-10 text-left"> 
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-file-edit" />
                                <input
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    formControlName="cidade"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Digite a cidade</label>
                        </p-floatlabel>
                    </div>
        
                    <div class="form2 w-10 text-left lg:mb-3"> 
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-file-edit" />
                                <input
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    formControlName="estado"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Digite a sigla do Estado</label>
                        </p-floatlabel>
                    </div>
        
                    
                </div>
                <div class="fg3 flex flex-column w-12 align-items-center lg:w-6">
                    <div class="form2 w-10 text-left"> 
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-file-edit" />
                                <input
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    formControlName="codigo"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Digite o código da filial</label>
                        </p-floatlabel>
                    </div>
                </div>    
        
    </div>    
</form>
    <div class="botoes-form m-5"@efeitoFade>
        <p-toast></p-toast>
        <div class="btnsec" (click)="clearForm()">
            <p>Limpar</p>
        </div>
        <div class="btnpri" (click)="submit()">
            <p>Salvar</p>            
        </div>
    
    </div>
    <hr>
        <div class="tabela"@swipeAnimationReverse>
            <p-toast/>
            <p-confirmDialog />
            <p-table
                #dt1
                [value]="filiais"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[5, 10, 20]"
                [globalFilterFields]="['nome', 'cnpj', 'empresaNome','endereco','cidade','estado','codigo']"
                stripedRows
                scrollable="true"
            >
                <ng-template pTemplate="caption">
                    <div class="flex flex-row md: justify-content-end">
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-search" />
                                <input
                                    variant="filled"
                                    [(ngModel)] = "inputValue"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Palavra-Chave</label>
                        </p-floatlabel>
                        <button size="small" class="ml-2" pButton [rounded]="true" label="Pesquisar" severity="info"  (click)="filterTable()"></button>
                        <button size="small" class="ml-2" pButton [rounded]="true" label="Limpar" severity="info" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    </div>
                </ng-template>    
                <ng-template pTemplate="header">
                    <tr>
                        
                        <th style="width:25%" type="text" field="nome" display="menu">
                            Nome
                        </th>
                        <th style="width:25%" type="text" field="cnpj" display="menu">
                            CNPJ
                        </th>
                        <th style="width:25%" type="text" field="empresaNome" display="menu">
                            Empresa
                        </th>
                        <th style="width:25%" type="text" field="endereco" display="menu">
                            Endereço
                        </th>
                        <th style="width:25%" type="text" field="cidade" display="menu">
                            Cidade
                        </th>
                        <th style="width:25%" type="text" field="estado" display="menu">
                            Estado
                        </th>
                        <th style="width:25%" type="text" field="codigo" display="menu">
                            Codigo
                        </th>
                        <th style="width:25%; text-align: center;">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-filial>
                    <tr>                      
                        <td>{{ filial.nome }}</td>
                        <td>{{ filial.cnpj }}</td>
                        <td>{{ getNomeEmpresa(filial.empresa) }}</td>
                        <td>{{ filial.endereco }}</td>
                        <td>{{ filial.cidade }}</td>
                        <td>{{ filial.estado }}</td>
                        <td>{{ filial.codigo }}</td>
                        <td class="flex py-5">
                            <div class="btnsec" (click)="abrirModalEdicao(filial)">
                                <p>Editar</p>
                            </div>
                            
                            <div class="btnpri" (click)="excluirFilial(filial.id)">
                                <p>Excluir</p>            
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button"  styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button"  styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
        </div>
        <p-dialog 
            [modal]="true"
            [(visible)]="editFormVisible" 
            [style]="{ width: '65rem' }" 
        >
            <div class="titulo">
                <p-divider align="left" type="solid">
                    <b>Editar Filial</b>
                </p-divider> 
            </div>
            <form [formGroup]="editForm" (Submit)="submit()">
                <div class="editGeral flex flex-column lg:flex-row">
                    <div class="fg1edit flex flex-column w-12 align-items-center lg:w-6"> 
                        <div class="form2 w-10 text-left">
                            <p-floatLabel variant="on">
                                <p-select
                                    variant="filled"
                                    inputId="float-label"
                                    [style]="{'width':'100%'}"
                                    [options]="empresas"
                                    formControlName="empresa"
                                    optionLabel="nome"
                                    optionValue="id"
                                >
                                </p-select>
                                <label for="float-label" style="margin-left: 15px;">Selecione a Empresa</label>
                            </p-floatLabel>
                        </div>

                        <div class="form2 w-10">
                            <p-floatlabel variant="on">
                                <p-iconfield>
                                    <p-inputicon class="pi pi-file-edit" />
                                    <input
                                        variant="filled"
                                        [style]="{'width':'100%'}"
                                        pInputText id="on_label"
                                        autocomplete="off"
                                        formControlName="nome"
                                        type="text"
                                    />
                                </p-iconfield>
                                <label for="on_label">Digite o nome</label>
                            </p-floatlabel>
                        </div>
                        <div class="form2 w-10 text-left" >  
                            <p-floatLabel variant="on">
                                <p-inputmask
                                    variant="filled"  
                                    
                                    mask="99.999.999/9999-99" 
                                    formControlName="cnpj" 
                                    [style]="{'width':'100%'}">
                                </p-inputmask>
                                
                            </p-floatLabel>
                        </div>
                    </div>
                    
                    <div class="fg2edit flex flex-column w-12 align-items-center lg:w-6">
                        <div class="form2 w-10 text-left"> 
                            <p-floatlabel variant="on">
                                <p-iconfield>
                                    <p-inputicon class="pi pi-file-edit" />
                                    <input
                                        variant="filled"
                                        [style]="{'width':'100%'}"
                                        pInputText id="on_label"
                                        autocomplete="off"
                                        formControlName="endereco"
                                        type="text"
                                    />
                                </p-iconfield>
                                <label for="on_label">Digite o endereço</label>
                            </p-floatlabel>
                        </div> 
                        <div class="form2 w-10 text-left"> 
                            <p-floatlabel variant="on">
                                <p-iconfield>
                                    <p-inputicon class="pi pi-file-edit" />
                                    <input
                                        variant="filled"
                                        [style]="{'width':'100%'}"
                                        pInputText id="on_label"
                                        autocomplete="off"
                                        formControlName="cidade"
                                        type="text"
                                    />
                                </p-iconfield>
                                <label for="on_label">Digite a cidade</label>
                            </p-floatlabel>
                        </div>

                        <div class="form2 w-10 text-left lg:mb-3"> 
                            <p-floatlabel variant="on">
                                <p-iconfield>
                                    <p-inputicon class="pi pi-file-edit" />
                                    <input
                                        variant="filled"
                                        [style]="{'width':'100%'}"
                                        pInputText id="on_label"
                                        autocomplete="off"
                                        formControlName="estado"
                                        type="text"
                                    />
                                </p-iconfield>
                                <label for="on_label">Digite a sigla do Estado</label>
                            </p-floatlabel>
                        </div>
                    </div>
                    <div class="fg3edit flex flex-column w-12 align-items-center lg:w-6">
                        <div class="form2 w-10 text-left"> 
                            <p-floatlabel variant="on">
                                <p-iconfield>
                                    <p-inputicon class="pi pi-file-edit" />
                                    <input
                                        variant="filled"
                                        [style]="{'width':'100%'}"
                                        pInputText id="on_label"
                                        autocomplete="off"
                                        formControlName="codigo"
                                        type="text"
                                        
                                    />
                                </p-iconfield>
                                <label for="on_label">Digite o código da filial</label>
                            </p-floatlabel>
                        </div>
                    </div>    
                </div>            
            </form> 

            <div class="botoes-formed mt-5 -ml-8">
                <div class="btnsec" (click)="cleareditForm()">
                    <p>Limpar</p>
                </div>
                
                 <div class="btnpri" (click)="saveEdit()">
                    <p>Salvar</p>            
                </div>
            </div>         
        </p-dialog>    
  </div><!--end container-->
