<div class="menu">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="/welcome/baseOrcamentaria/orcamentoBase/homeOrcamento">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','Master'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizAnalitica" >Raízes Analíticas</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocustopai" >Centro de Custo Pai</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocusto" >Centro de Custo </a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizSintetica" >Raiz Sintética</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/contaContabil" >Conta Contábil</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/grupoItens" >Grupos de Itens</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/orcamentoBase" >Orçamento Base</a>
                </li>
            </ul>
        </li >
        
        <li *ngIf="hasGroup(['Admin','Master','OrcamentoGestorSetor','OrcamentoGestorItens'])" nz-submenu nzTitle="Acompanhamento "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','Master','OrcamentoGestorSetor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoRealizado/realizado"> Orçado x Realizado Setorial</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','OrcamentoGestorItens'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoGrupoItens/orcamentogrupoitens"> Orçado x Realizado Grupo de Itens</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/projetado"> DRE Projetado</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','OrcamentoGestorProd'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/indicadorescp">Indicadores Custo de Produção</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/curva">Curva ABC</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/ppr">PPR - Orçamento</a>
                </li> 
            </ul>
           
        </li>    
    </ul>
</div>
<p-toast></p-toast>
<div class="container flex flex-column align-items-center mb-4">
    <div class="containerInterno w-12">
        <div @swipeAnimation>
            <div class="form-geral flex flex-column gap-3 w-12 lg:flex-row">
                <div class="bloco fg1 flex flex-column w-12 align-items-center">
                    <p-card class="card w-12 texte-center">
                        <ng-template #header>
                            <div class="header titulo-info w-full text-center">
                                <h2>Orçamento Grupo de Itens</h2>
                            </div>
                        </ng-template>
                        <div class="form-geral">
                            <div class="flex flex-column lg:flex-row"@swipeAnimation>
                                <div class="fg1 flex flex-column w-12 align-items-center lg:w-6 lg:mt-5">
                                    <div class="form2 w-10" *ngIf="hasGroup(['Admin','Master'])">
                                        <p-floatlabel variant="on"> 
                                            <p-multiSelect
                                                variant="filled"
                                                id="ccPai" 
                                                [style]="{'width':'100%'}"
                                                [options]="gruposItens" 
                                                [(ngModel)]="selectedGruposItens"
                                                optionValue="id"
                                                optionLabel="nome_completo"
                                                [filter]="true" 
                                                filterBy="nome_completo"
                                                appendTo="body"
                                                inputId="float-label" 
                                                (onChange)="onGrupoItensSelecionado($event.value)"
                                            >
                                            </p-multiSelect>
                                            <label for="float-label">Selecione o Grupo de Itens</label>
                                        </p-floatlabel>
                                    </div>

                                    <div class="form2 w-10" *ngIf="hasGroup(['OrcamentoGestorItens'])">
                                        <p-floatlabel variant="on"> 
                                            <p-multiSelect
                                                variant="filled"
                                                id="ccPai" 
                                                [style]="{'width':'100%'}"
                                                [options]="meusGrupos" 
                                                [(ngModel)]="selectedGruposItens"
                                                optionValue="id"
                                                optionLabel="nome_completo"
                                                [filter]="true" 
                                                filterBy="nome_completo"
                                                appendTo="body"
                                                inputId="float-label" 
                                                (onChange)="onGrupoItensSelecionado($event.value)"
                                            >
                                            </p-multiSelect>
                                            <label for="float-label">Selecione o Grupo de Itens</label>
                                        </p-floatlabel>
                                    </div>

                                    <div class="form2 w-10" *ngIf="hasGroup(['Admin','Master','OrcamentoGestorItens'])">
                                        <p-floatlabel variant="on"> 
                                            <p-multiSelect
                                                variant="filled"
                                                id="ccPai" 
                                                [style]="{'width':'100%'}"
                                                [options]="ccsPais" 
                                                [(ngModel)]="selectedCcsPais"
                                                optionValue="id"
                                                optionLabel="nome"
                                                [filter]="true" 
                                                filterBy="nome"
                                                appendTo="body"
                                                inputId="float-label" 
                                                (onChange)="onCcPaiSelecionado($event.value)"
                                            >
                                            </p-multiSelect>
                                            <label for="float-label">Sel. o Centro de Custo Pai</label>
                                        </p-floatlabel>
                                    </div>

                                    <div class="form2 w-10" *ngIf="hasGroup(['OrcamentoGestorItens','Admin','Master'])">
                                        <p-floatlabel variant="on"> 
                                            <p-multiSelect
                                                variant="filled"
                                                id="ccPai" 
                                                [style]="{'width':'100%'}"
                                                [options]="filiaisSga" 
                                                [(ngModel)]="selectedFiliais"
                                                optionValue="cod"
                                                appendTo="body"
                                                optionLabel="nome"
                                                [filter]="true" 
                                                filterBy="nome"
                                                inputId="float-label" 
                                                (onChange)="onFiliaisInformada($event.value)"
                                            >
                                            </p-multiSelect>
                                            <label for="float-label">Selecione as Filiais</label>
                                        </p-floatlabel>
                                    </div>
                                    <div class="form2 w-10" *ngIf="hasGroup(['OrcamentoGestorItens','Admin','Master'])">
                                        <p-floatLabel variant="on">    
                                            <p-multiSelect
                                                variant="filled"
                                                [style]="{'width':'100%'}"
                                                [options]="meses"
                                                optionLabel="value"
                                                optionValue="key"
                                                inputId="float-label"
                                                appendTo="body"
                                                [(ngModel)]="periodo"
                                            >
                                            </p-multiSelect>
                                            <label for="float-label">Selecione os Meses</label>
                                        </p-floatLabel>
                                    </div>
                                    <div class="form2 w-10 text-left">
                                        <p-floatlabel variant="on">
                                            <p-inputnumber
                                                fluid="true" 
                                                variant="filled"
                                                mode="decimal"
                                                [(ngModel)]="selectedAno"
                                                [showButtons]="true" 
                                                [min]="2024" 
                                                [max]="2999"
                                                [useGrouping]="false" 
                                                (ngModelChange)="onAnoInformado($event)"
                                            />
                                            <label>Ano Vigente</label>
                                        </p-floatlabel>
                                    </div>
                                    <p-toast></p-toast>
                                    <div 
                                        class="form2 w-10 h-3rem"
                                        style="background-color: #002B5C; cursor: pointer; border-radius: 4px; color: #ffffff; display: flex; justify-content: center; align-items: center;font-size: 16px;"
                                        (click)="executarCalculos()"
                                    >
                                        Calcular
                                    </div>
                                    <br>
                                    <p-message size="small" severity="info"@swipeAnimation *ngIf="gestor && selectedGruposItens.length <= 1" closable="true">
                                        <ng-template #icon>
                                            <p-avatar [image]="gestor.gestor_detalhes.image" class="md:ml-5 inline-flex justify-content-center align-items-center text-center" size="xlarge" shape="circle" />  
                                        </ng-template>
                                        <div class=" w-full text-xs flex flex-row "  *ngIf="selectedGruposItens.length <= 1 && gestor">    
                                            <div class="w-6 m-4 text-left md:ml-8  lg:w-2 lg:text-sm lg:ml-8">
                                                Gestor:<br>
                                            </div>
                                            <div class="w-6 -ml-1 m-4 text-left lg:w-10 lg:text-sm"*ngIf="gestor">
                                                <strong>{{ gestor.gestor_detalhes.nome }}</strong><br>
                                            </div>
                                        </div>
                                    </p-message>
                                </div>           
                                <div class="fg1 flex flex-column w-12 align-items-center lg:gap-2 lg:w-6 lg:mt-3" @slideAnimation>
                                    <p-card class="w-14rem mt-5 w-4 shadow-2 hover:shadow-6 md:w-10" [style]="{ 'background-color': 'rgba(0, 43, 92, 0.4)' }" @slideAnimation>
                                        <div class="flex justify-content-between gap-3">
                                            <div class="flex flex-column gap-1">
                                                <span class="text-secondary font-bold text-md" style="white-space: nowrap; margin-left: -10px; text-align: start; color: #ffffff;">Orçado Total</span>
                                                <span *ngIf="!loading" class="font-bold text-lg" style="white-space: nowrap; margin-left: -10px; text-align: start; color: #ffffff;">R$ {{ totalOrcado }}</span>
                                            </div>
                                            <div *ngIf="loading" class="loading-indicator">
                                                <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
                                            </div> 
                                            <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center" [style]="{ 'background-color': '#1b91ff' }">
                                                <a (click)="orcadoDetalhes()"><i class="pi pi-wallet" style="font-size: 1.5rem; color: #ffffff;"></i></a>
                                            </span>
                                        </div>
                                    </p-card>
                                    <p-card class="w-14rem w-4 mt-1 shadow-2 hover:shadow-6 md:w-10" [style]="{ 'background-color': 'rgba(92, 123, 177, 0.2)' }" @slideAnimation>
                                        <div class="flex justify-content-between gap-3">
                                            <div class="flex flex-column gap-1">
                                                <span class="text-secondary font-bold text-md" style="white-space: nowrap; margin-left: -10px; text-align: start; color: #ffffff;">Realizado Total</span>
                                                <span *ngIf="!loading" class="font-bold text-lg" style="white-space: nowrap; margin-left: -10px; text-align: start; color: #ffffff;">R$ {{ totalRealizado }} </span>
                                            </div>
                                            <div *ngIf="loading" class="loading-indicator">
                                                <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
                                            </div> 
                                            <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center" [style]="{ 'background-color': '#1b91ff' }">
                                                <a (click)="realizadoDetalhes()" ><i class="pi pi-wallet" style="font-size: 1.5rem; color: #ffffff;"></i></a>
                                            </span>
                                        </div>
                                    </p-card>
                                    <p-card class="w-14rem w-4 mt-1 shadow-2 hover:shadow-6 md:w-10" [style]="{ 'background-color': '#6497B1' }" @slideAnimation>
                                        <div class="flex justify-content-between gap-3">
                                            <div class="flex flex-column gap-1">
                                                <span class="text-secondary font-bold text-md" style="white-space: nowrap; margin-left: -10px; text-align: start; color: #ffffff;">Saldo Total</span>
                                                <span *ngIf="!loading" class="font-bold text-lg" style="white-space: nowrap; margin-left: -10px; text-align: start; color: #ffffff;">R$ {{ totalSaldo }}</span>
                                            </div>
                                            <div *ngIf="loading" class="loading-indicator">
                                                <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
                                            </div> 
                                            <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center" [style]="{ 'background-color': '#1b91ff' }">
                                                <i class="pi pi-wallet" style="font-size: 1.5rem; color: #ffffff;"></i>
                                            </span>
                                        </div>
                                    </p-card>        
                                </div> 
                            </div>
                            <div *ngIf="loading2" class="loading-animation flex flex-column form2 w-10 justify-content-center m-auto">
                                <!-- Coloque aqui a sua animação de carregamento -->
                                <img src="assets/imagens/startmanager2.gif" alt="Loading..." class="w-12">
                            </div>   
                            <div class="modalContainer-full align-items-center  mb-6 flex flex-column gap-5 lg:flex-row">           
                                <div class="grafico1 w-12">
                                    <canvas id="graficoOrcadoRealizado"></canvas>
                                </div>
                            </div>    
                        </div>    
                    </p-card>    
                </div>
            </div>
        </div>    
    </div>
</div>    

<!-----------------------------------SIDEBAR REALIZADO DETALHES------------------>
<p-drawer
    [(visible)]="modalRealizado"
    position="right" 
    [style]="{ width: '96%' }"
    styleClass="w-full md:w-10 lg:w-8"
    (onHide)="limparDadosRealizados()"
>

    <ng-template pTemplate="header">
        <p-divider align="left" type="solid">
            <b>Centros de Custo</b>
        </p-divider>
    </ng-template>
    <p-meterGroup [value]="ccs" labelPosition="start">
        <ng-template #label>
            <div style="max-height: 500px; overflow-y: auto;">
                <div class="flex flex-wrap gap-3 mb-3 mt-3 justify-content-center">
                    <ng-container *ngFor="let meterItem of ccs; let index = index">
                        <p-card class="w-12 shadow-4 border-round-md hover:shadow-6 border-0.2 md:w-10" [style]="{ 'background-color':'rgba(0, 43, 92, 0.4)' }" @slideAnimation >
                            <div class="flex justify-content-between gap-2">
                                <div class="flex flex-column gap-3">
                                    <span class="text-secondary text-md -ml-2" style="text-align: start;">{{ meterItem.label | uppercase }}</span>
                                    <span class="font-bold text-md w-12"style="text-align: start;">R$ {{ meterItem.value }}</span>
                                </div>
                                <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                    <a (click)="ccsLancamentos(meterItem)" style="text-decoration: none; color: inherit;"><i style="font-size: 1.5rem" [class]="meterItem.icon"></i></a>
                                </span>
                            </div>
                        </p-card>
                    </ng-container>
                </div>
            </div>    
        </ng-template>
    </p-meterGroup> 

</p-drawer>

<!-----------------------------------SIDEBAR REALIZADO DETALHES LANCAMENTOS------------------>
<p-drawer
    [(visible)]="modalDetalhesLancamentos"
    position="right" 
    [style]="{ width: '90%' }"
    styleClass="w-full md:w-10 lg:w-8"
    (onHide)="limparDadosRealizados()"
>
    <p-divider align="left" type="solid">
        <b>Detalhes Realizado</b>
    </p-divider>
    <div class="w-12 flex justify-content-center mt-8">
        <p-progress-spinner 
            *ngIf="loading" 
            strokeWidth="8" 
            fill="transparent" 
            animationDuration=".5s" 
            [style]="{ width: '150px', height: '150px' }" 
        />
    </div>    
 <div *ngIf="!loading">
    <p-table  [value]="detalhesRealizadoCC" responsiveLayout="scroll">
        <ng-template pTemplate="header">            
            <tr>
                <th>Data</th>               
                <th>Lançamento COD</th>
                <th>Descrição</th>
                <th>Valor Total</th>    
                <th>Quantidade</th>            
            </tr>
            <tr>
                <th>
                    <p-columnFilter
                        type="text"
                        matchMode="contains"
                        [showMenu]="false"
                        field="LANCDATA"
                        placeholder="Data"
                        ariaLabel="Filter Name"
                        pTooltip="Para filtrar por mês digite: /mês por exemplo /02 para fevereiro"
                        tooltipPosition="right"
                    >
                    </p-columnFilter>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-detalheRealizadoCC>
            <tr class="tabela">                        
                <td>{{ detalheRealizadoCC.LANCDATA }}</td>
                <td>{{ detalheRealizadoCC.LANCCOD }}</td>
                <td>{{ detalheRealizadoCC.DESCRICAO }}</td>
                <td>R$ {{ detalheRealizadoCC.SALDO | number: '1.2-2' }}</td>
                <td>{{ detalheRealizadoCC.QTD }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td><b>Total</b></td>
                <td></td>
                <td></td>
                <td><b>R$ {{ totalCC }}</b></td>
                <td></td>
            </tr>    
        </ng-template>
    </p-table>
</div>
</p-drawer>

<!-------------------------------SIDEBAR ORÇADOS ----------------------------------------------->
<p-drawer
    [(visible)]="ModalOrcado"
    position="right" 
    [style]="{ width: '90%' }"
    styleClass="w-full md:w-10 lg:w-8"
    (onHide)="limparDadosOrcados()"
>
    <ng-template pTemplate="header">
        <p-divider align="left" type="solid">
            <b>Detalhes Orçados</b>
        </p-divider>
    </ng-template>

    <p-inplace
        closable="True"
        active="True"
    >    
    <ng-template pTemplate="display">
        <div class="inline-flex align-items-start">
            <span class="ml-2"><i class="pi pi-plus-circle"></i> <strong> Centro de Custos Pai</strong></span>
        </div>
    </ng-template>
        <ng-template pTemplate="content">
            <p-meterGroup [value]="ccsPaisArray" labelPosition="start">
                <ng-template #label>
                    <div style="max-height: 500px; overflow-y: auto;">
                        <div class="flex flex-wrap gap-3 mb-3 mt-3 justify-content-center">
                            <ng-container *ngFor="let meterItem of ccsPaisArray; let index = index">
                                <p-card class="w-12 shadow-4 border-round-md hover:shadow-6 border-0.2 md:w-10" [style]="{ 'background-color':'rgba(0, 43, 92, 0.4)' }">
                                    <div class="flex justify-content-between gap-2">
                                        <div class="flex flex-column gap-3">
                                            <span class="text-secondary text-md -ml-2" style="text-align: start;">{{ meterItem.label | uppercase }}</span>
                                            <span class="font-bold text-md w-12"style="text-align: start;">R$ {{ meterItem.value }}</span>
                                        </div>
                                        <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                            <i style="font-size: 1.5rem" [class]="meterItem.icon"></i>
                                        </span>
                                    </div>
                                </p-card>
                            </ng-container>
                        </div>
                    </div>    
                </ng-template>
            </p-meterGroup>
        </ng-template>    
    </p-inplace>    

    <p-inplace
        closable="True"
    >
        <ng-template pTemplate="display">
            <div class="inline-flex align-items-start">
                <span class="ml-2"><i class="pi pi-plus-circle"></i> <strong> Detalhado por Centro de Custo</strong></span>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <p-meterGroup [value]="ccsOrcadosArray" labelPosition="start">
                <ng-template #label>
                    <div style="max-height: 500px; overflow-y: auto;">
                        <div class="flex flex-wrap gap-3 mb-3 mt-3 justify-content-center">
                            <ng-container *ngFor="let meterItem of ccsOrcadosArray; let index = index">
                                <p-card class="w-12 shadow-4 border-round-md hover:shadow-6 border-0.2 md:w-10" [style]="{ 'background-color':'rgba(0, 43, 92, 0.4)' }">
                                    <div class="flex justify-content-between gap-2">
                                        <div class="flex flex-column gap-3">
                                            <span class="text-secondary text-md -ml-2" style="text-align: start;">{{ meterItem.label | uppercase }}</span>
                                            <span class="font-bold text-md w-12"style="text-align: start;">R$ {{ meterItem.value }}</span>
                                        </div>
                                        <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                           <i style="font-size: 1.5rem" [class]="meterItem.icon"></i>
                                        </span>
                                    </div>
                                </p-card>
                            </ng-container>
                        </div>
                    </div>    
                </ng-template>
            </p-meterGroup>
        </ng-template> 
    </p-inplace>    
</p-drawer>    