<div *ngIf="hasGroup(['Admin','RHGestor'])" class="container">
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b>Cadastro de Setores</b>
        </p-divider> 
    </div> 
    <div class="form-geral">  
        <form [formGroup]="registerambienteForm"
        title="Cadastrar novo Setor"
        primaryBtnText="Cadastrar"
        (submit)="submit()"
        >
        <div class="form1">
            <div class="dvf1">
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-file-edit"></i>
                    </p-inputGroupAddon>
                    <span class="p-float-label">
                        <input pInputText
                            id="nome"
                            formControlName="nome"
                            type="text"
                        />  
                        <label for="nome">Digite o nome</label>
                    </span>          
                </p-inputGroup>
            </div>
            <div class="form3">
                <p><label for="empresa">Empresa</label></p>
                <p-dropdown
                    [style]="{'width':'95%'}" 
                    [options]="empresas" 
                    id="empresa"
                    formControlName="empresa"
                    optionLabel="nome"
                    placeholder="Selecione"
                    (onChange)="onEmpresaSelecionada($event.value)"
                >
                </p-dropdown>
            </div>
            <div class="dvf4">
                <p><label for="filial">Filial</label></p>   
                <p-dropdown
                    [style]="{'width':'95%'}" 
                    [options]="filiais" 
                    id="filial"
                    formControlName="filial"
                    optionLabel="nome"
                    placeholder="Selecione "
                    (onChange)="onFilialSelecionada($event.value)"
                >
                </p-dropdown>
            </div>
        </div>
        <div class="form2">
            <div class="dvf5"> 
                <p><label for="area">Área</label></p>                       
                <p-dropdown
                    [style]="{'width':'90%'}" 
                    [options]="areas" 
                    formControlName="area"
                    optionLabel="nome"
                    placeholder="Selecione "
                    (onChange)="onAreaSelecionada($event.value)"
                    >
                </p-dropdown>
            </div>
            <div class="dvf6">
                <p><label for="setor">Setor</label></p>    
                <p-dropdown 
                    [style]="{'width':'90%'}"
                    [options]="setores" 
                    formControlName="setor"
                    optionLabel="nome"
                    placeholder="Selecione"
                    >
                </p-dropdown>
            </div>
        </div>            
        </form>
    </div>    
  
    <div class="botoes-form">
        <p-toast></p-toast>
            <div class="btnsec" (click)="clearForm()">
                <p>Limpar</p>
            </div>
            <div class="btnpri" (click)="submit()">
                 <p>Cadastrar</p>            
            </div>
    </div>
    <hr>
        <div class="tabela">
            <p-toast />
            <p-confirmDialog />
            <p-table
                #dt1
                [value]="ambientes"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[5, 10, 20]"
                [globalFilterFields]="['nome', 'empresaNome','filialNome','areaNome','setorNome']"
            >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" [(ngModel)]="inputValue" placeholder="Digite o nome" />
                        </span>
                        <button pButton label="Pesquisar" severity="info"  (click)="filterTable()"></button>
                        <button pButton label="Limpar Pesquisa" severity="info" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    </div>
                </ng-template>    
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:25%" type="text" field="nome" display="menu">
                            Nome
                        </th>
                        <th style="width:25%" type="text" field="empresaNome" display="menu">
                            Empresa
                        </th>
                        <th style="width:25%" type="text" field="filialNome" display="menu">
                            Filial
                        </th>
                        <th style="width:25%" type="text" field="areaNome" display="menu">
                            Área
                        </th>
                        <th style="width:25%" type="text" field="setorNome" display="menu">
                            Setor
                        </th>
                        <th style="width: 25%; text-align: center;">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-ambiente>
                    <tr>
                        <td>{{ ambiente.nome }}</td>
                        <td>{{ getNomeEmpresa(ambiente.empresa) }}</td>
                        <td>{{ getNomeFilial(ambiente.filial) }}</td>
                        <td>{{ getNomeArea(ambiente.area) }}</td>
                        <td>{{ getNomeSetor(ambiente.setor) }}</td>
                        <td class="td-acao">
                            <div class="btnsec" (click)="abrirModalEdicao(ambiente)">
                                <p>Editar</p>
                            </div>
                            <div class="btnpri" (click)="excluirAmbiente(ambiente.id)">
                                <p>Excluir</p>            
                           </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
        </div>
        <p-dialog 
            [modal]="true"
            [(visible)]="editFormVisible" 
            [style]="{ width: '50rem', 'min-height':'45rem' }" 
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        >
        
        <p-divider align="left" type="solid">
            <b>Editar Setor</b>
        </p-divider>
        
        <div class="editform">
            <form [formGroup]="editForm" >
                <div class="form1ed">
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <i class="pi pi-file-edit"></i>
                        </p-inputGroupAddon>
                        <span class="p-float-label">
                            <input pInputText
                                id="nome"
                                formControlName="nome"
                                type="text"
                            />  
                            <label for="nome">Digite o nome</label>
                        </span>          
                    </p-inputGroup>
                </div>
                <div class="form3ed">
                    <p><label for="empresa">Empresa</label></p>
                    <p-dropdown
                        [style]="{'width':'95%'}" 
                        [options]="empresas" 
                        id="empresa"
                        formControlName="empresa"
                        optionLabel="nome"
                        placeholder="Selecione"
                        (onChange)="onEmpresaSelecionada($event.value)"
                    >
                    </p-dropdown>
                </div>
                <div class="dvf4ed">    
                    <p><label for="filial">Filial</label></p>   
                    <p-dropdown
                        [style]="{'width':'95%'}" 
                        [options]="filiais" 
                        id="filial"
                        formControlName="filial"
                        optionLabel="nome"
                        placeholder="Selecione "
                        (onChange)="onFilialSelecionada($event.value)"
                    >
                    </p-dropdown>
                </div>
                <div class="dvf5ed">                        
                    <p><label for="area">Área</label></p>                       
                    <p-dropdown
                        [style]="{'width':'95%'}" 
                        [options]="areas" 
                        formControlName="area"
                        optionLabel="nome"
                        placeholder="Selecione "
                        (onChange)="onAreaSelecionada($event.value)"
                        >
                    </p-dropdown>
                </div>
                <div class="dvf6ed">        
                    <p><label for="setor">Ambiente</label></p>    
                    <p-dropdown 
                        [style]="{'width':'95%'}"
                        [options]="setores" 
                        formControlName="setor"
                        optionLabel="nome"
                        placeholder="Selecione"
                        >
                    </p-dropdown>
                </div>
                       
                        <div class="botoes-form">
                            <div class="btnsec" (click)="cleareditForm()">
                                <p>Limpar</p>
                            </div>
                            <div class="btnpri" (click)="saveEdit()">
                                 <p>Editar</p>            
                            </div>
                        </div>
                       
            </form>
        </div>
    
        </p-dialog>    
  </div><!--end container-->


