.titulo{
    justify-content: center;
    margin-top: 50px;
    h2{
        color:slategrey;
    }
}

.chartRadarAvaliadores3{
    margin-top: 50px;
    margin-left: 20px;
    width: 98%;
    height: 500px;
}