 @import "primeicons/primeicons.css";

.p-inputtext{
    background-color: #104d66 !important;
    border-color: #e3e3f3;
}

 .input-placeholder::placeholder {
  color: #444959 !important;
  opacity: 1;
}

 form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2 {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
    background-image: url('/assets/imagens/bgsemfiltro.jpeg');
    background-size: cover;
    --p-divider-content-background:rgba(21, 96, 130, 1.0);
    --p-divider-content-color: #ffffff;
    // background-repeat: no-repeat;
    // align-items: flex-start;
    // padding-top: 5px;
    padding-left: 0px;
}

.card-login{
    background-color: rgba(21, 96, 130, 0.9);
    color: #ffffff;
    font-size: 18px;
    width: 550px;
    height: 100dvh;
    flex-shrink: 0;
    justify-content: center;
    @media only screen and (min-width: 1440px) {
       width: 700px;
    }
}

.login {
    max-width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
    .lgimg {
        margin-top: 20px;
    }

    img {
        max-width: 80%;
        width: auto;
        height: auto;
        display: block;
        margin: 0 auto; 
    }

    p-inputGroup {
        padding: 20px;
        width: 400px;
    }
}

.inputs{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    
}

.botoes-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 4px;

}

.esqueceu-senha{
    &:hover {
        color: #ffffff;
        text-decoration: underline;
    }
}

.btnpri {
    cursor: pointer;
    background-color: #444959;
    color: #fff;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    margin-left: 5px;
    p {
        text-align: center;
        margin-top: 10px;
    }
    &:hover {
        background-color: #444959 !important;
        color: #fff !important;
        box-shadow: none !important;
        border-color: #444959 !important;
    }
    border-color: #444959 !important;
    border: solid;
}

.btnsec {
    cursor: pointer;
    background-color: #e3e3f3;
    color: #444959;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    p {
        text-align: center;
        margin-top: 10px;
    }
    &:hover {
        background-color: #e3e3f3 !important;
        color: #444959 !important;
        box-shadow: none !important;
        border-color: #e3e3f3 !important;
        
    }
    border-color: #e3e3f3 !important;
    border: solid;
}
.custom-button {
    display: flex;
    gap: 8px; 
    justify-content: center;
    align-items: center;
    background-color: rgba(21, 96, 130, 1.0);
    color: #ffffff; 
    padding: 10px 20px;
    border-radius: 5px; 
    text-align: center; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    height: 6vh;
    width:365px;
}
  
.custom-button:hover {
    background-color: #104d66; 
}

.custom-button p {
    margin: 0; 
    line-height: 1; 
}

.accordion{
    background-color: rgba(21, 96, 130, 1.0);
    color: #ffffff;
    font-size: 18px;
    --p-divider-content-background:rgba(21, 96, 130, 1.0);
    --p-divider-content-color: #ffffff;
}

.lgimg2 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
}
.lgimg2 img {
    max-width: 100%; 
    height: auto;
    object-fit: contain;
}
.titulo{
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    
}
.painel{
    vertical-align: middle;
    display: flex;
    height: fit-content;

    @media only screen and (max-width: 1500px) {
       margin-top: 4px !important;
    }
}

.p-divider-horizontal{
    margin-bottom: 0px !important;
    margin-top: 8px !important;
}