 @import "primeicons/primeicons.css";

.container2 {
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url('/assets/imagens/bgsemfiltro.jpeg');
    background-size: cover; /* Ajusta a imagem para cobrir todo o container */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    height: 100rem;
    //opacity: 0.9;
    
    @media only screen and (max-width: 1500px) {
        height: auto;
        padding-left: 64px !important;
    }
}

.login {
    max-width: 100%;
    margin-top: 10%;
    border-radius: 10px;
    //box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center; /* Adicionado para alinhar itens no centro */
    
    .lgimg {
        margin-top: 20px;
    }

    img {
        max-width: 80%;
        //max-height: 100%;
        width: auto;
        height: auto;
        display: block;
        margin: 0 auto; /* Adicionado para centralizar a imagem */
    }

    p-inputGroup {
        padding: 20px;
        width: 400px;
    }
}

.botoes-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btnpri {
    cursor: pointer;
    background-color: #444959;
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin-left: 5px;
    p {
        text-align: center;
        margin-top: 10px;
    }
}

.btnsec {
    cursor: pointer;
    background-color: #e3e3f3;
    color: #444959;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    p {
        text-align: center;
        margin-top: 10px;
    }
}
.custom-button {
    display: flex;
    gap: 8px; 
    justify-content: center;
    align-items: center;
    background-color: rgba(21, 96, 130, 0.7);
    color: #ffffff; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    text-align: center; /* Centraliza o texto */
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    height: 6vh;
    width:365px;
   
  }
  
  .custom-button:hover {
    background-color: #104d66; /* Cor ao passar o mouse */
  }
  .custom-button p {
    margin: 0; /* Remove margens padrão do <p> */
    line-height: 1; /* Garante que o texto não tenha espaçamento extra */
}

.accordion{
    background-color: rgba(21, 96, 130, 0.8);
    color: #ffffff;
    font-size: 18px;
    border-radius: 10px;
    --p-divider-content-background:rgba(21, 96, 130, 0.6);
    --p-divider-content-color: #ffffff;
}
.menu{
    background-color: rgba(21, 96, 130, 0.7);
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;

    @media only screen and (max-width: 1500px) {
       margin-left: 3px !important;
       padding-top: 4px !important;
    }
}
.lgimg2 {
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente (se necessário) */
    width: 100%; /* Garante que o contêiner ocupe toda a largura disponível */
}

.lgimg2 img {
    max-width: 100%; /* Ajusta a largura da imagem para caber no contêiner */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: contain; /* Garante que a imagem seja ajustada sem cortar */
}
.titulo{
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    
}
.painel{
    vertical-align: middle;
    display: flex;
    height: fit-content;

    @media only screen and (max-width: 1500px) {
       margin-top: 4px !important;
    }
}