
<div class="container">
   <div class="login">
    <p-toast></p-toast> 
        <div class="lgimg">
            <img  src="/assets/imagens/logotelalogin.png"/>
        </div>
        <form [formGroup]="loginForm">
            <p-floatlabel variant="on">
                <p-iconfield>
                    <p-inputicon class="pi pi-user" />
                    <input
                        [style]="{'width':'100%'}"
                        pInputText id="on_label"  
                        autocomplete="off" 
                        formControlName="email"
                        type="text"    
                    />
                </p-iconfield>
                <label for="on_label">Nome de usuário</label>
            </p-floatlabel>


            <p-floatlabel variant="on">
                <p-iconfield>
                    <p-inputicon class="pi pi-key" />
                    <input
                        [style]="{'width':'100%'}"
                        pInputText id="on_label"  
                        autocomplete="off" 
                        formControlName="password"
                        type="password"    
                    />
                </p-iconfield>
                <label for="on_label">Senha</label>
            </p-floatlabel>
            
            <div class="botoes-form">
                
                <div class="btnsec" (click)="clearForm()">
                    <p>Limpar</p>
                </div>
                <div class="btnpri" (click)="submit()">
                    <p>LogIn</p>            
                </div>
            </div>       
        </form>
        <a [routerLink]="['esqueceusenha']"><p>Esqueceu sua senha?</p></a>

    </div>
</div>
 