<div class="flex flex-column align-items-center justify-content-center min-vh-100 lg:flex-row">
    <div class="container2 flex flex-column lg:flex-row">
        <div class="menu flex flex-column w-10 justify-content-start h-26rem mt-8 lg:w-3 ml-3 pt-4">
            <div class="lgimg2 flex flex-column">
                <p class="titulo m-5">Bem-vindo ao</p>
                <img src="/assets/imagens/logonovo.png" width="300px"/>
            </div>
           <form [formGroup]="loginForm" (keydown.enter)="submit()">
                <div class="m-3">    
                    <p-floatlabel variant="on">
                        <p-iconfield>
                            <p-inputicon class="pi pi-user" />
                            <input
                                #emailInput
                                [style]="{'width':'100%'}"
                                pInputText id="on_label"  
                                autocomplete="off" 
                                formControlName="email"
                                type="text" 
                                autofocus    
                            />
                        </p-iconfield>
                        <label for="on_label">Nome de usuário</label>
                    </p-floatlabel>
                </div>    
                <div class="m-3">    
                    <p-floatlabel variant="on">
                        <p-iconfield>
                            <p-inputicon class="pi pi-key" />
                            <input
                                [style]="{'width':'100%'}"
                                pInputText id="on_label"  
                                autocomplete="off" 
                                formControlName="password"
                                type="password"    
                            />
                        </p-iconfield>
                        <label for="on_label">Senha</label>
                    </p-floatlabel>
                </div>    
                <div class="botoes-form mt-3">
                    
                    <div class="btnsec" (click)="clearForm()">
                        <p>Limpar</p>
                    </div>
                    <div class="btnpri" (click)="submit()">
                        <p>LogIn</p>            
                    </div>
                </div>       
            </form>
            <div class="botoes-form">
                <a style="color: white !important" [routerLink]="['esqueceusenha']"><p>Esqueceu sua senha?</p></a>
            </div>       
        </div>
        <div class="painel flex lg:justify-content-end justify-content-center w-10 lg:w-8">
            <div class="accordion mt-2 w-9 md:mt-0 lg:mt-8 lg:mb-6 lg:w-6">
                    
                <p-divider align="left" type="dashed">
                    <b>MISSÃO</b>
                </p-divider>
                <p class="ml-4 mr-2">
                Fornecer soluções para a população através do agronegócio e construção civil, sendo referência em qualidade e atendimento.
                </p>
            
                <p-divider align="left" type="dashed">
                <b>VISÃO</b>
                </p-divider>
            
                <p class="ml-4 mr-2">
                    Crescer e desenvolver-se com solidez, valorizando relacionamentos, acreditando nas pessoas e protegendo a natureza.
                </p>
            
                <p-divider align="left" type="dashed">
                <b>VALORES</b>
                </p-divider>
            
                <p class="ml-4 mr-2">
                    Integridade, respeito, 
                    responsabilidade, empreendedorismo 
                    e transparência
                </p>
            
                <p-divider align="left" type="dashed">
                <b>POLÍTICA DE QUALIDADE</b>
                </p-divider>
            
                <p class="ml-4 mr-2">
                    Fornecer soluções para o agronegócio e construção civil, crescendo e desenvolvendo-se com solidez, satisfazendo requisitos aplicáveis e melhorando continuamente o sistema de gestão de qualidade.
                </p>
            </div>    
        </div>
    </div>
</div>