<div class="flex flex-column align-items-center justify-content-center min-vh-100 lg:flex-row">
    <div class="container2 flex flex-column lg:flex-row">
        <div class="menu flex flex-column">
            <div class="lgimg2 flex flex-column mb-4">
                <img src="/assets/imagens/logonovo.png" width="300px"/>
            </div>
            <form [formGroup]="loginForm" (keydown.enter)="submit()">
                <div class="m-3">    
                    <p-iconfield>
                        <p-inputicon class="pi pi-user"/>
                        <input
                            #emailInput
                            [style]="{'width':'100%'}"
                            pInputText id="on_label"  
                            autocomplete="off" 
                            formControlName="email"
                            type="text" 
                            autofocus    
                            placeholder="Nome do Usuário"
                        />
                    </p-iconfield>
                </div>    
                <div class="m-3 mb-1">    
                    <p-iconfield>
                        <p-inputicon class="pi pi-key"/>
                        <input
                            [style]="{'width':'100%'}"
                            pInputText id="on_label"  
                            autocomplete="off" 
                            formControlName="password"
                            type="password"    
                            placeholder="Senha"
                        />
                    </p-iconfield>
                </div>    
                <div class="botoes-form esqueceu-senha" style="font-size: 15px; ">
                    <a [routerLink]="['esqueceusenha']">
                        <p style="margin-bottom: 0px !important; color: #ffffff !important;">Esqueceu sua senha? Clique aqui!</p>
                    </a>
                </div>     
                <div class="botoes-form mt-3" style="margin-bottom: 5px !important; ">
                    <p-button 
                        (onClick)="clearForm()" 
                        label="Limpar" 
                        icon="pi pi-eraser" 
                        iconPos="left" 
                        tooltipPosition="top"
                        pTooltip="Limpar"
                        styleClass="btnsec"
                    />
                    <p-button 
                        (onClick)="submit()" 
                        label="Login" 
                        icon="pi pi-check" 
                        iconPos="left" 
                        tooltipPosition="top"
                        pTooltip="Login"
                        styleClass="btnpri"
                    />
                </div>       
            </form>
          
                <!-- <p-divider align="left" type="dashed" [style]="{ 'margin-bottom': '0px !important; '}"> </p-divider> -->

                <b class="ml-4 mt-4">MISSÃO</b>
                <p class="ml-5 mr-4 mb-2" style="font-size: 12px; text-align: justify">
                Fornecer soluções para a população através do agronegócio e construção civil, sendo referência em qualidade e atendimento.
                </p>
            
                <b class="ml-4 mt-2">VISÃO</b>
                <p class="ml-5 mr-4 mb-2" style="font-size: 12px; text-align: justify">
                    Crescer e desenvolver-se com solidez, valorizando relacionamentos, acreditando nas pessoas e protegendo a natureza.
                </p>
            
                <b class="ml-4 mt-2">VALORES</b>
                <p class="ml-5 mr-4 mb-2" style="font-size: 12px; text-align: justify">
                    Integridade, respeito, responsabilidade, empreendedorismo e transparência
                </p>
            
                <b class="ml-4 mt-2">POLÍTICA DE QUALIDADE</b>
                <p class="ml-5 mr-4 mb-2" style="font-size: 12px; text-align: justify">
                    Fornecer soluções para o agronegócio e construção civil, crescendo e desenvolvendo-se com solidez, satisfazendo requisitos aplicáveis e melhorando continuamente o sistema de gestão de qualidade.
                </p>
            <!-- <div class="accordion">
                    
                <p-divider align="left" type="dashed" [style]="{ 'margin-bottom': '0px !important' }"> 
                    <b>MISSÃO</b>
                </p-divider>
                <p class="ml-5 mr-4 mb-2" style="font-size: 12px; text-align: justify">
                Fornecer soluções para a população através do agronegócio e construção civil, sendo referência em qualidade e atendimento.
                </p>
            
                <p-divider align="left" type="dashed">
                    <b>VISÃO</b>
                </p-divider>
            
                <p class="ml-5 mr-4 mb-2" style="font-size: 12px; text-align: justify">
                    Crescer e desenvolver-se com solidez, valorizando relacionamentos, acreditando nas pessoas e protegendo a natureza.
                </p>
            
                <p-divider align="left" type="dashed">
                    <b>VALORES</b>
                </p-divider>
            
                <p class="ml-5 mr-4 mb-2" style="font-size: 12px; text-align: justify">
                    Integridade, respeito, 
                    responsabilidade, empreendedorismo 
                    e transparência
                </p>
            
                <p-divider align="left" type="dashed">
                    <b>POLÍTICA DE QUALIDADE</b>
                </p-divider>
            
                <p class="ml-5 mr-4 mb-2" style="font-size: 12px; text-align: justify">
                    Fornecer soluções para o agronegócio e construção civil, crescendo e desenvolvendo-se com solidez, satisfazendo requisitos aplicáveis e melhorando continuamente o sistema de gestão de qualidade.
                </p>
            </div>     -->
        </div>
    
    </div>
</div>