<div *ngIf="hasGroup(['Admin','RHGestor'])" class="container">
    <div class="titulo mt-6 mb-6 text-2xl">
        <p-divider align="left" type="solid">
            <b>Cadastro de Ambientes</b>
        </p-divider> 
    </div>
        <form 
            [formGroup]="registersetorForm"
            title="Cadastrar novo Ambiente"
            primaryBtnText="Cadastrar"
            (submit)="submit()"
        >
        
            <div class="form-geral flex flex-column lg:flex-row"@swipeAnimation>
                <div class="fg1 flex flex-column w-12 align-items-center lg:w-6">    
                    <div class="form2 w-10">
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-file-edit" />
                                <input
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    formControlName="nome"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Digite o nome</label>
                        </p-floatlabel>
                    </div>    
                    <div class="form2 w-10 text-left">
                        <p-float-label variant="on">
                            <p-select
                                variant="filled"
                                [style]="{'width':'100%'}" 
                                [options]="empresas" 
                                formControlName="empresa"
                                optionLabel="nome"
                                (onChange)="onEmpresaSelecionada($event.value)"
                            >
                            </p-select>
                            <label for="empresa">Empresa</label>
                        </p-float-label>
                    </div>
                </div>
                <div class="fg2 flex flex-column w-12 align-items-center lg:w-6">    
                    <div class="form2 w-10 text-left">
                        <p-float-label variant="on">    
                            <p-select
                                variant="filled"
                                [style]="{'width':'100%'}"
                                [options]="filiais" 
                                formControlName="filial"
                                optionLabel="nome"
                                (onChange)="onFilialSelecionada($event.value)"
                            >
                            </p-select>
                            <label for="filial">Filial</label>
                        </p-float-label>
                    </div>
                    <div class="form2 w-10 text-left mb-3">
                        <p-float-label variant="on">
                            <p-select
                                variant="filled" 
                                [style]="{'width':'100%'}"
                                [options]="areas" 
                                formControlName="area"
                                optionLabel="nome"
                            >
                            </p-select>
                            <label for="area">Area</label>
                        </p-float-label>    
                    </div>
                </div>            
            </div>    
        </form>
        <div class="botoes-form m-5 ml-8"@efeitoFade>
            <p-toast></p-toast>
            <div class="btnsec" (click)="clearForm()">
                <p>Limpar</p>
            </div>
            <div class="btnpri" (click)="submit()">
                <p>Salvar</p>            
            </div> 
        </div>

        <div class="tabela"@swipeAnimationReverse>
            <p-table
                #dt1
                [value]="setores"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[5, 10, 20]"
                [globalFilterFields]="['nome', 'empresaNome', 'filialNome','areaNome']"
                stripedRows
                scrollable="true"
            >
                <ng-template pTemplate="caption">
                    <div class="flex flex-row md: justify-content-end">
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-search" />
                                <input
                                    variant="filled"
                                    [(ngModel)] = "inputValue"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Palavra-Chave</label>
                        </p-floatlabel>
                        <button size="small" class="ml-2" pButton [rounded]="true" label="Pesquisar" severity="info"  (click)="filterTable()"></button>
                        <button size="small" class="ml-2" pButton [rounded]="true" label="Limpar" severity="info" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    </div>
                </ng-template>    
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:25%" type="text" field="nome" display="menu">
                            Nome
                        </th>
                        <th style="width:25%" type="text" field="empresaNome" display="menu">
                            Empresa
                        </th>
                        <th style="width:25%" type="text" field="filialNome" display="menu">
                            Filial
                        </th>
                        <th style="width:25%" type="text" field="areaNome" display="menu">
                            Área
                        </th>
                        <th style="width: 25%; text-align: center;">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-setor>
                    <tr>
                        <td>{{ setor.nome }}</td>
                        <td>{{ getNomeEmpresa(setor.empresa) }}</td>
                        <td>{{ getNomeFilial(setor.filial) }}</td>
                        <td>{{ getNomeArea(setor.area) }}</td>
                        <td class="flex py-5 justify-content-center">
                            <p-toast />
                            <p-confirmDialog />
                            <div class="btnsec" (click)="abrirModalEdicao(setor)">
                                <p>Editar</p>
                            </div>
                            
                            <div class="btnpri" (click)="excluirSetor(setor.id)">
                                <p>Excluir</p>            
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button"  styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
        </div>
        <p-dialog 
            [modal]="true"
            [(visible)]="editFormVisible" 
            [style]="{ width: '60rem' }" 
            
        >
        <div class="titulo">
            <p-divider align="left" type="solid">
                <b>Editar Ambiente</b>
            </p-divider> 
        </div>
            <form 
                [formGroup]="editForm" 
                title="Editar Ambiente"
            >
                <div class="editGeral flex flex-column lg:flex-row">
                    <div class="fg1edit flex flex-column w-12 align-items-center lg:w-6">
                        <div class="form2 w-10">
                            <p-floatlabel variant="on">
                                <p-iconfield>
                                    <p-inputicon class="pi pi-file-edit" />
                                    <input
                                        variant="filled"
                                        [style]="{'width':'100%'}"
                                        pInputText id="on_label"
                                        autocomplete="off"
                                        formControlName="nome"
                                        optionValue="id"
                                        type="text"
                                    />
                                </p-iconfield>
                                <label for="on_label">Digite o nome</label>
                            </p-floatlabel>
                        </div>
                        <div class="form2 w-10 text-left">    
                            <p-floatlabel variant="on">
                                <p-select
                                    variant="filled"
                                    [style]="{'width':'100%'}" 
                                    [options]="empresas" 
                                    id="empresa"
                                    formControlName="empresa"
                                    optionLabel="nome"
                                    optionValue="id"
                                    (onChange)="onEmpresaSelecionada($event.value)"
                                >
                                </p-select>
                                <label for="empresa">Empresa</label>    
                            </p-floatlabel>
                        </div>
                    </div>
                    <div class="fg2edit flex flex-column w-12 align-items-center lg:w-6">    
                        <div class="form2 w-10 text-left">    
                            <p-floatLabel variant="on">
                                <p-select
                                    variant="filled"
                                    [style]="{'width':'100%'}" 
                                    [options]="filiais" 
                                    id="filial"
                                    formControlName="filial"
                                    optionValue="id"
                                    optionLabel="nome"
                                    (onChange)="onFilialSelecionada($event.value)"
                                >
                                </p-select>
                                <label for="filial">Filial</label>
                            </p-floatLabel>    
                        </div>
                        <div class="form2 w-10 text-left mb-4">                        
                            <p-floatLabel variant="on">
                                <p-select
                                    variant="filled"
                                    [style]="{'width':'100%'}" 
                                    [options]="areas" 
                                    id="area"
                                    formControlName="area"
                                    optionLabel="nome"
                                    optionValue="id"
                                >
                                </p-select>
                                <label for="area">Área</label>
                            </p-floatLabel>                           
                        </div>    
                    </div>
                </div>            
            </form>
            <div class="botoes-formed m-5 -ml-8">
                <div class="btnseced" (click)="cleareditForm()">
                    <p>Limpar</p>
                </div>
                
                 <div class="btnpried" (click)="saveEdit()">
                    <p>Salvar</p>            
                </div>
            </div>
        </p-dialog>    
  </div><!--end container-->

