.menu{
    position:static;
     //transform: translate(-1%, -180%);
     
     width: 100%;
 }
 .titulo{
    justify-content: center;
    margin-top: 50px;
    h2{
        color:slategrey;
    }
}
.filtros4{
    display: flex;
    justify-content: space-around;
}
.calendarios{
    display: flex;
    justify-content: end;
    margin-top: -25px;
    margin-left: 300px;
    .form5{
        width: 320px;
    }
}
 .cards{
    display: flex;
    text-align: center;
        p{
            color:#1890FF;
        }
        .cardsWidth{
            margin-top: 20px;
            margin-left: 40px;
            width: 250px;
        }
        .mediasal{
            margin-left: 10px;
        }
        .mediaidade{
            margin-left: 10px;
        }
 }
 .filtros{
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
 }
 .graficos{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}
.graficos2 {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

.cardFb{
    width: 300px;
    margin-left: 80px;
    nz-progress{
        margin-top: 15px;
        margin-left: 80px;
        }
    p{
        text-align: center;
    }
    
}
.btnsec{
    cursor: pointer;
        background-color: #444959;
        color: #fff;
        width: 220px;
        height: 60px;
        border-radius: 5px;
        margin-left: 5px;
        p{
            text-align: center;
            margin-top: 10px;
            margin-left: 2px;
            padding: 20px;
        }
}
.btnsecav{
    cursor: pointer;
        background-color: #444959;
        color: #fff;
        width: 400px;
        height: 60px;
        border-radius: 5px;
        margin-left: 5px;
        p{
            text-align: center;
            margin-top: 10px;
            margin-left: 2px;
            padding: 20px;
        }
}
.filtrosPdf{
    display: flex;
    justify-content: space-around;
 }
.chartRadarAvaliadores3{
    margin-top: 50px;
    margin-left: 20px;
    width: 98%;
    height: 500px;
}
.chartRadarAvaliadores2{
    margin-top: 50px;
    margin-left: 20px;
    width: 98%;
    height: 500px;
}
.avaliacoes{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    p{
        color:#1890FF;
    }
    .avGeral{
        display: flex;
        margin-left: -20px;
        .progressFb{
            margin-left: 50px;
            box-shadow: 0px 0px 10px rgba(0.1, 0, 0, 0.1);
            border-radius: 5px;
            width: 300px;
            height: 168px;
            
            .test{
                margin-top: 10px;
                vertical-align: bottom;
                
            }
            nz-progress{  
                margin-top: 105px;
                margin-left: 88px;
            }
            p{
                margin-bottom: -92px;
                text-align: center;
            }
        }
        .cardNota{
            margin-left: 80px;
            width: 200px;
        }
    }
}
.avaliacoesAvaliadores{
    display: flex;
    margin-top: 0px;
    margin-bottom: 50px;
    height: 300px;
    vertical-align: middle;
    .avTotais{
        display: flex;
        margin-left: 10px;
        p{
            color:#1890FF;
        }
        .chartRadarAvaliadores{
            width: 500px;
            margin-left: 20px;
        }
        .progressFbGeral{
            margin-left: 10px;
            margin-top: 80px;
            box-shadow: 0px 0px 10px rgba(0.1, 0, 0, 0.1);
            border-radius: 5px;
            width: 300px;
            height: 168px;
            
            nz-progress{  
                margin-top: 105px;
                margin-left: 88px;
            }
            p{
                margin-bottom: -92px;
                text-align: center;
            }
        }
        .cardAvTot{
            margin-left: 20px;
            margin-top: 80px;
            width: 300px;
        }
    }    
}

.avaliacoesGestores{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
    .avGestor{
        display: flex;
        margin-left: 30px;
        p{
            color:#1890FF;
        }
        .cardAvGes{
            margin-left: 10px;
            margin-top: 80px;
            width: 200px;
        }
        .progressFbGestor{
            margin-left: 10px;
            margin-top: 80px;
            box-shadow: 0px 0px 10px rgba(0.1, 0, 0, 0.1);
            border-radius: 5px;
            width: 300px;
            height: 168px;
            
            nz-progress{  
                margin-top: 105px;
                margin-left: 88px;
            }
            p{
                margin-bottom: -92px;
                text-align: center;
            }
        }
        .chartRadarGestor{
            width: 500px;
            margin-left: 20px;
        }
        .cardAvGes1{
            margin-left: 10px;
            margin-top: 80px;
            width: 200px;
            p{
                font-size: 14px;
            }
        }
    }
}
 
 