<div class="container"> 
  <p-divider align="left" type="solid">
    <b>Nova Avaliação</b> 
  </p-divider><br> 
  <p style="margin-left: 22px;">Periodo: <strong>{{ trimestre }}</strong></p>
  <br>
  <div class="tc">
    <div class="titles">
      <div class="t1">
        <p><b>Identificação do Avaliador:</b></p>
      </div>
    </div>  
    <div class="qw">
      <p><b>Identificação do Avaliado:</b></p>
    </div>
  </div>    
  <div class="infos">
    
      <div class="avaliador">
         
          <div class="av1">
            Nome: <br>
            Empresa: <br>
            Filial: <br>
            Área: <br>
            Setor: <br>
            Ambiente: <br>
            Cargo: <br>
          </div>
          <div class="av2">
            <strong>{{ avaliador.nome }}</strong><br>
            <strong> {{ getNomeEmpresa(avaliador.empresa) }}</strong><br>
            <strong> {{ getNomeFilial(avaliador.filial) }}</strong><br>
            <strong> {{ getNomeArea(avaliador.area) }}</strong><br>
            <strong> {{ getNomeSetor(avaliador.setor) }}</strong><br>
            <strong> {{ getNomeAmbiente(avaliador.ambiente) }}</strong><br>
            <strong> {{ getNomeCargo(avaliador.cargo) }}</strong><br>
          </div>  
      </div>
      
        
      <div class="avaliado" *ngIf="avaliadoDetalhes">  
            <div class="ava1">
              
              Nome: <br>
              Empresa:<br>
              Filial: <br>
              Área:<br>
              Setor:<br>
              Ambiente:<br>
              Cargo:<br>
            </div>
            <div class="ava2">
              <strong>{{ avaliadoDetalhes.nome }} </strong><br>
              <strong> {{ getNomeEmpresa(avaliadoDetalhes.empresa) }}</strong><br>
              <strong> {{ getNomeFilial(avaliadoDetalhes.filial) }}</strong><br>
              <strong> {{ getNomeArea(avaliadoDetalhes.area) }}</strong><br>
              <strong> {{ getNomeSetor(avaliadoDetalhes.setor) }}</strong><br>
              <strong> {{ getNomeAmbiente(avaliadoDetalhes.ambiente) }}</strong><br>
              <strong> {{ getNomeCargo(avaliadoDetalhes.cargo) }}</strong><br>
            </div>  
            
            <div class="dvimg">  
              <img [src]="avaliadoDetalhes.image"  width="80" class="shadow-4" />
            </div>  
      </div>
    </div>  

<p-divider></p-divider>
  <div class="dvform">
    <form [formGroup]="registeravaliacaoForm" (submit)="submit()"> 
      <div class="drops"> 
        <div class="dp1">
          <label for="tipav'">Formulário: </label>
          <p-dropdown
              [style]="{'width':'60%'}"
              id="tipav" 
              [options]="tipoavaliacoes"
              formControlName="tipoavaliacao" 
              optionLabel="nome"
              [filter]="true"
              filterBy="nome" 
              [showClear]="true"
              placeholder="Selecione"
              (onChange)="onTipoAvaliacaoSelecionado($event.value)">
          >
          </p-dropdown>
        </div>
        <div class="dp2">  
          <label for="ava">Avaliado: </label>
          <p-dropdown
              [style]="{'width':'75%'}"
              id="ava" 
              [options]="avaliadosSA"
              formControlName="avaliado" 
              optionLabel="nome"
              [filter]="true"
              filterBy="nome"
              placeholder="Selecione" 
              [showClear]="true"
              (onChange)="onAvaliadoSelecionado($event.value)"
          >   
          </p-dropdown>
        </div> 
      </div>
      <br>  
      <input type="hidden" formControlName="avaliador" [(ngModel)]="avaliador" > 
      <input type="hidden" formControlName="periodo" [(ngModel)]="trimestre">

      <mat-horizontal-stepper linear formArrayName="perguntasRespostas" >
        <mat-step *ngFor="let pergunta of perguntas; let i = index" [formGroupName]="'pergunta-' + pergunta.texto">
          <ng-template matStepLabel>{{ pergunta.texto  }}</ng-template>
          <div class="rg"> 
            <div class="rb"> 
              <mat-radio-group
                style="flex-direction: column; display: flex; "
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                formControlName="resposta"
                name="resposta{{ i }}"
                (change)="onRespostaChange(i)">
                <mat-radio-button class="example-radio-button" *ngFor="let conceito of conceitos" [value]="conceito.value">{{ conceito.name }}</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="pl">  
              <p [innerHTML]="sanitizeHtml(pergunta.legenda)"></p>
            </div>
          </div>  
          <div>
            <textarea 
              rows="2" 
              cols="60" 
              pInputTextarea 
              formControlName="justificativa">
            </textarea><br>
            <!-- <mat-form-field>
              <input [style]="{'width': '100px;'}" matInput type="text" formControlName="justificativa" placeholder="Justificativa">
              <mat-error *ngIf="isJustificativaRequired(i)">Justificativa é obrigatória para resposta Ótimo ou Ruim</mat-error>
            </mat-form-field><br> -->
            <button mat-button matStepperPrevious type="button">Anterior</button>
            <button mat-button matStepperNext type="button">Próximo</button>
          </div>    
          <div>
            
          </div> 
          
        </mat-step> 
      
        <mat-step>
          <ng-template matStepLabel>Revisão</ng-template>
          <div *ngFor="let pergunta of perguntas; let i = index">
            <!-- <h3>Pergunta {{ i + 1 }}</h3> -->
            <p>pergunta: <strong>{{ pergunta.texto }}</strong></p>
            <p>Resposta: <strong>{{ getRespostaValue(pergunta.texto) }}</strong></p>
            <p>Justificativa: <strong> {{ getJustificativaValue(pergunta.texto) }}</strong></p>
            <p-divider />
          </div>
          <div>
           
              <!-- <p><strong>observações</strong></p>
              <textarea 
                rows="3"
                cols="30" 
                pInputTextarea 
                formControlName="feedback"
              >
              </textarea> -->
    
          </div>
          <div class="botoes-form">
            <p-toast></p-toast>
            <button mat-button matStepperPrevious type="button">Anterior</button>
            <div class="btnpri" (click)="submit()">
              <p>Salvar</p>            
            </div>
    
          </div>
        </mat-step>

    
    </mat-horizontal-stepper>
    <!-- {{ registeravaliacaoForm.value | json }} -->
    </form>
  </div>
</div>    
  <!-- <p-button 
      label="Gravar" 
      icon="pi pi-check"
      iconPos="right" 
      severity="success"
      (click)="submit()">
  </p-button>
  {{ registeravaliacaoForm.value | json }}
</form>   -->
<!-- 
  <p>{{ avaliado.nome }}</p> -->


  <!-- <div *ngFor="let avaliado of avaliadoSelecionado">
  <p>{{ avaliado.colaborador.nome }}</p>
  <p>{{ colaborador.cargo_nome }}</p>
  <p>{{ colaborador.area_nome }}</p>
  <p>{{ colaborador.setor_nome }}</p>
  <img [src]="'http://localhost:8000' + colaborador.image"  width="80" class="shadow-4" />
</div> -->
<!-- <div *ngIf="avaliado">
  <h2>{{ avaliadoDetalhes.nome }}</h2> -->
  <!-- Outras propriedades do avaliado -->

      <!-- <p-dropdown 
        [options]="tipoavaliacoes" 
        formControlName="tipoavaliacao"
        optionLabel="nome"
        placeholder="Selecione o Tipo"
      
      >
      </p-dropdown> 
       <p-dropdown 
      [options]="periodos" 
      formControlName="periodo"
      optionLabel="nome"
      placeholder="Selecione o Periodo"
    
    >
    </p-dropdown> -->
  
    

      
         <!-- <input type="hidden" formControlName="avaliador" [(ngModel)]="avaliadorInfo.avaliador" > -->
         <!-- <button (click)="carregarPerguntasDoFormulario()">Carregar Perguntas</button> -->

         
    

    <!-- <mat-form-field>
      <mat-label>Selecione um formulário</mat-label>
         <mat-select [(ngModel)]="formularioSelecionado" (selectionChange)="selecionarFormulario()">
        <mat-option *ngFor="let formulario of formularios" [value]="formulario.id">{{ formulario.nome }}</mat-option>
      </mat-select>
    </mat-form-field> -->
    <!-- <form [formGroup]="registeravaliacaoForm" (submit)="submit()">
      <p-button 
      label="Gravar" 
      icon="pi pi-check"
      iconPos="right" 
      severity="success"
      (click)="submit()">
  </p-button> -->
      
      <!-- <div class="botoes-form">
        <p-toast></p-toast>
        <p-button 
            label="Gravar" 
            icon="pi pi-check"
            iconPos="right" 
            severity="success"
            (click)="submit()">
        </p-button>
      </div>
      {{ registeravaliacaoForm.value | json }}
</form> -->
<!-- <div *ngIf="colaboradorSelecionado">
  <p>{{ colaboradorSelecionado.nome }}</p>
  <p>{{ colaboradorSelecionado.cargo_nome }}</p>
  <p>{{ colaboradorSelecionado.area_nome }}</p>
  <p>{{ colaboradorSelecionado.setor_nome }}</p>
  <img [src]="'http://localhost:8000' + colaboradorSelecionado.image"  width="80" class="shadow-4" />
</div> -->
 
<!-- <mat-form-field>
  <mat-label>Selecione um formulário</mat-label>
    <mat-select [(ngModel)]="formularioSelecionado" (selectionChange)="selecionarFormulario()">
      <mat-option *ngFor="let formulario of formularios" [value]="formulario.id">{{ formulario.nome }}</mat-option>
    </mat-select>
</mat-form-field>   -->

<!-- <mat-horizontal-stepper linear [formGroup]="registeravaliacaoForm">
  <mat-step *ngFor="let pergunta of perguntas; let i = index">
    <ng-template matStepLabel>{{ 'Pergunta ' + (i + 1) }}</ng-template>
    <mat-form-field>
      <mat-label>Input</mat-label>
      <input type="text" formControlName="resposta" placeholder="Resposta para a pergunta {{ pergunta.id }}" required>
      <textarea formControlName="justificativa" placeholder="Justificativa (opcional)"></textarea>
    </mat-form-field>
    <div>
      <button mat-button matStepperPrevious type="button">Back</button>
      <button mat-button matStepperNext type="button">Next</button>
    </div>
  </mat-step>
</mat-horizontal-stepper> -->



 


<!-- <form [formGroup]="registeravaliacao2Form" (ngSubmit)="submit()">
  <div *ngFor="let pergunta of perguntas">
      <label>{{ pergunta.texto }}</label>
      <input type="text" [formControlName]="'resposta_' + pergunta.id">
      <input type="text" [formControlName]="'justificativa_' + pergunta.id">
  </div>
  <button type="submit" [disabled]="!registeravaliacao2Form.valid">Enviar</button>
</form> -->



<!-- <mat-form-field>
  <mat-label>Selecione um formulário</mat-label>
    <mat-select [(ngModel)]="formularioSelecionado" (selectionChange)="selecionarFormulario()">
      <mat-option *ngFor="let formulario of formularios" [value]="formulario.id">{{ formulario.nome }}</mat-option>
    </mat-select>
</mat-form-field>   -->
<!-- <mat-horizontal-stepper linear>
<mat-step *ngFor="let pergunta of perguntas; let i = index" [label]="'Pergunta ' + (i + 1)">
  <ng-template matStepLabel>{{ 'Pergunta ' + (i + 1) }}</ng-template>
  <div class="flex flex-column h-12rem">
    <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
      {{ pergunta.texto }}
      <mat-form-field>
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div>
    <button mat-button matStepperPrevious type="button">Back</button>
    <button mat-button matStepperNext type="button">Next</button>
  </div>
</mat-step> 

</mat-horizontal-stepper> -->
 




    <!--FUNCIONA-->
      <!-- <form [formGroup]="registeravaliacaoForm" (submit)="submit()">
      <div formArrayName="perguntasRespostas">
        <div *ngFor="let pergunta of perguntas; let i = index" [formGroupName]="'pergunta-' + pergunta.id">
          <input type="text" formControlName="resposta" placeholder="Resposta para a pergunta {{ pergunta.id }}" required>
          <textarea formControlName="justificativa" placeholder="Justificativa (opcional)"></textarea>
        </div>
      </div> 
    </form> -->







  


 