
<div class="container">
   <div class="login">
    <p-toast></p-toast> 
        <div class="lgimg">
            <img  src="/assets/imagens/logotelalogin.png"/>
        </div>
        <form [formGroup]="loginForm">
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-user"></i>
                </p-inputGroupAddon>
                <span class="p-float-label">
                    <input pInputText
                        id="email1"
                        formControlName="email"
                        type="text"
                    />  
                    <label for="nome">Nome de usuário</label>
                </span>          
            </p-inputGroup>
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-key"></i>
                </p-inputGroupAddon>
                <span class="p-float-label">
                    <input 
                        [style]="{'width':'50%'}"
                        pInputText
                        id="password"
                        formControlName="password"
                        type="password"
                    />  
                    <label for="password">Senha</label>
                </span>          
            </p-inputGroup>
            
            <div class="botoes-form">
                
                <div class="btnsec" (click)="clearForm()">
                    <p>Limpar</p>
                </div>
                <div class="btnpri" (click)="submit()">
                    <p>LogIn</p>            
                </div>
            </div>       
        </form>
        <a [routerLink]="['esqueceusenha']"><p>Esqueceu sua senha?</p></a>

    </div>
</div>
 