<app-default-login-layout
    title="Entre com suas credenciais"
    primaryBtnText="Log In"
    secondaryBtnText="Cadastrar"
    (submit)="submit()"
    (navigate)="navigate()"
    


    
>
    <form [formGroup]="loginForm">
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="seuemail@grupodb.com.br"
        >
            <img src="/assets/svg/icon-person.svg"/>
        </app-primary-input>
        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Senha"
            
        >
            <img src="/assets/svg/icon-passwd.svg"/>
        </app-primary-input>
        <span>Esqueceu sua senha?</span>
    </form>

</app-default-login-layout>    

