<div class="menu">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="homeOrcamento">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizAnalitica" >Raízes Analíticas</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocustopai" >Centro de Custo Pai</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocusto" >Centro de Custo </a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizSintetica" >Raiz Sintética</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/contaContabil" >Conta Contábil</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/grupoItens" >Grupos de Itens</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/orcamentoBase" >Orçamento Base</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/produto">Linha de Produtos</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/projecao"> Projeções de Vendas</a>
                </li>
                <li *ngIf="hasGroup(['Admin','OrcamentoGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/custoproducao">Projeções de Produção</a>
                </li>
            </ul>
        </li >
        
        <li *ngIf="hasGroup(['Admin','OrcamentoGestor'])" nz-submenu nzTitle="Acompanhamento "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','OrcamentoGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoRealizado/realizado"> Orçado x Realizado Setorial</a>
                </li>
                <li *ngIf="hasGroup(['Admin','OrcamentoGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoGrupoItens/orcamentogrupoitens"> Orçado x Realizado Grupo de Itens</a>
                </li>
                <li *ngIf="hasGroup(['Admin','OrcamentoGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/projetado"> DRE Projetado</a>
                </li>
                <li *ngIf="hasGroup(['Admin','OrcamentoGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/indicadorescp">Indicadores Custo de Produção</a>
                </li>
                <li *ngIf="hasGroup(['Admin','OrcamentoGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/curva">Curva ABC</a>
                </li>
            </ul>
           
        </li>    
    </ul>
</div>

<div class="titulo mt-6 mb-6 text-2xl">
    <p-divider align="left" type="solid">
        <b>Home Base Orcamentaria</b>
    </p-divider> 

    <div *ngFor="let gestor of gestores" class="progress-container">
        <div class="progress-label">
          <span>{{ gestor.nome }}</span>
          <span>{{ gestor.realizado | number:'1.2-2' }} / {{ gestor.orcado | number:'1.2-2' }}</span>
        </div>
        <nz-progress
          [nzPercent]="gestor.porcentagem"
          [nzStrokeColor]="gestor.porcentagem >= 100 ? '#52c41a' : '#1890ff'"
          [nzStatus]="gestor.porcentagem >= 100 ? 'success' : 'active'"
        ></nz-progress>
      </div>

</div>