@import "primeicons/primeicons.css";
.form3{
    margin-top: 50px;
    margin-left: 90px;
}

.card{
   margin-top: 20px;
}
.flext{
    
    text-align: end;
    button{
        margin-left: 1%;
    }
}
.avaliados{
    display: flex;
    justify-content: space-between;
}
.botoes-form{
    width: 93%;
    margin-bottom: 2%;
    margin-top: 1%;
    display: flex;
    justify-content: end;
    
    p-button{
        margin-right: 3%;
        
    }
}
.btnprit{
    cursor: pointer;
    background-color: #444959;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-left: 15px;
    margin-bottom: 1px;
    
    p{
        text-align: center;
        margin-top: 0px;
    }
}
.btnpri{
    cursor: pointer;
    background-color: #444959;
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin-left: 5px;
    p{
        text-align: center;
        margin-top: 10px;
    }
}   
.btnsec{
    cursor: pointer;
    background-color: #e3e3f3;
    color: #444959;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    p{
        text-align: center;
        margin-top: 10px;
    }
}
.menu{
    position:static;
     //transform: translate(-1%, -180%);
     
     width: 100%;
 }
 .titulo{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    h2{
        color:slategrey;
    }
}