<div class="menu">
    <ul nz-menu nzMode="horizontal" style="background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="../dashboard">Início</a>
        </li>
        <li nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li nz-menu-item  nzMatchRouter>
                    <a routerLink="../tipoavaliacao" >Tipos de Avaliações</a>
                </li>
                <li nz-menu-item  nzMatchRouter>
                    <a routerLink="../pergunta" >Perguntas</a>
                </li>
                <li nz-menu-item  nzMatchRouter>
                    <a routerLink="../formulario" >Formulários</a>
                </li>
            </ul>
        </li>    
        
        <li nz-submenu nzTitle="Relacionamentos"  style="font-size: 13px;">
            <ul>
                <li nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px; " routerLink="../questionario" ><span  nzTheme="outline" ></span> Montar Formulários</a>
                </li>
                <li nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px" routerLink="../tipoavaliacaoavaliados" ><span  nzTheme="outline"></span> Associar Avaliados a um Formulário</a>
                </li>
                <li nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px;" routerLink="../avaliadoravaliados" ><span  nzTheme="outline"></span> Associar Avaliados aos Avaliadores</a>
                </li>
            </ul>    
        </li>

        
        <li nz-menu-item nzMatchRouter="">
            <a style="font-size: 13px;" routerLink="../avaliacao" >Avaliações</a>
        </li>
        <li nz-menu-item nzMatchRouter="">
            <a style="font-size: 13px;" routerLink="#" >Histórico de Avaliações</a>
        </li>
        <li nz-menu-item nzMatchRouter="">
            <a style="font-size: 13px;" routerLink="#" >Relatórios</a>
        </li>
        
    </ul>
</div>



<form [formGroup]="registerassociacaoForm"
title="Montar novo Formulario"
primaryBtnText="Cadastrar"
(submit)="submit()"


>
<div class="form1">
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b>Associar Avaliados a um Formulário</b>
        </p-divider>
    </div>    
    <div class="form3">
        <p-dropdown 
        [options]="formularios" 
        formControlName="formulario"
        optionLabel="nome"
        placeholder="Selecione o Formulário"
        >
        </p-dropdown>
        
    </div>
</div>   
<div class="card">
    <p-pickList [source]="avaliados" [target]="targetAvaliados" sourceHeader="Avaliados" targetHeader="Selecionados" [dragdrop]="true" [responsive]="true" [sourceStyle]="{ height: '20rem' }"
        [targetStyle]="{ height: '20rem' }" filterBy="name" sourceFilterPlaceholder="Pesquisa por nome" targetFilterPlaceholder="Pesquisa por nome" breakpoint="1400px"formControlName="pergunta">
        <ng-template let-avaliado pTemplate="item">
            <div class="flex flex-wrap p-2 align-items-center gap-3">
                
                <div class="flex-1 flex flex-column gap-2">
                    <span class="font-bold">{{ avaliado.nome }}</span>
                    <div class="flex align-products-center gap-2">
                        <i class="pi pi-tag text-sm"></i>
                        
                    </div>
                </div>
                
            </div>
        </ng-template>
    </p-pickList>
</div>

         
</form>
<div class="botoes-form">
    <p-toast></p-toast>
    <div class="botoes-form">
        <p-toast></p-toast>
        <div class="botoes-form">
            <p-toast></p-toast>
            <div class="btnsec" (click)="clearForm()">
                <p>Limpar</p>
            </div>
            <div class="btnpri" (click)="submit()">
                <p>Salvar</p>            
            </div>
        </div>   
        
    </div>
    
</div>

