<div class="menu">
    <ul nz-menu nzMode="horizontal" style="background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="homeOrcamento">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizAnalitica" >Raízes Analíticas</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocustopai" >Centro de Custo Pai</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocusto" >Centro de Custo </a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizSintetica" >Raiz Sintética</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/contaContabil" >Conta Contabil</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/grupoItens" >Grupos de Itens</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/orcamentoBase" >Orçamento Base</a>
                </li>
            </ul>
        </li>    
    </ul>
</div>

<div class="titulo">
    <p-divider align="left" type="solid">
        <b>Cadastro de Orçamento Base</b>
    </p-divider>
</div>

<div class="container">
    <div class="formWrap">
        <form
            [formGroup]="registerForm"

        >
            <div class="form">
                <div class="row3">
                    <div class="coluna">
                        <div class="raiz">
                            <p-floatLabel>
                                <p-dropdown
                                    inputId="float-label" 
                                    [style]="{'width':'100%'}"
                                    [options]="ccsPai" 
                                    formControlName="ccPai"
                                    optionLabel="label"
                                    [(ngModel)]="selectedCcPai"
                                    (onChange)="onCcPaiSelecionado($event.value)"
                                    optionValue="id"
                                    [filter]="true" 
                                    filterBy="label"
                                    [showClear]="true"  
                                >
                                </p-dropdown>
                                <label for="float-label">Selecione o Centro de Custo Pai</label>
                            </p-floatLabel>
                        </div>
                    </div>
                    <div class="coluna">
                        <div class="raiz">
                            <p-floatLabel>
                                <p-dropdown
                                    inputId="float-label" 
                                    [style]="{'width':'100%'}"
                                    [options]="centrosCusto" 
                                    formControlName="centroCusto"
                                    optionLabel="nome"
                                    optionValue="id"
                                    [(ngModel)]="selectedCc"
                                    (onChange)="onCcSelecionado($event.value)" 
                                    [filter]="true" 
                                    filterBy="nome"
                                    [showClear]="true"                             
                                >
                                </p-dropdown>
                                <label for="float-label">Selecione o Centro de Custo</label>  
                            </p-floatLabel>  
                        </div>
                    </div>
                </div>
                <div class="row3">
                    <div class="coluna">
                        <div class="raizDetalhes" >
                            <div class="detalhes">
                                Nome:  <br>
                                Empresa:<br>
                                Filial: <br>
                                Área:<br>
                                Setor:<br>
                                Ambiente:<br>
                                
                            </div>    
                        
                            <div class="detalhes" *ngIf="ccsPaiDetalhes">
                                <strong>{{ ccsPaiDetalhes.nome }}</strong><br>
                                <strong>{{ ccsPaiDetalhes.empresa_detalhes.nome }}</strong><br>
                                <input type="hidden" formControlName="empresa" [(ngModel)]="ccsPaiDetalhes.empresa_detalhes.nome">
                                <strong>{{ ccsPaiDetalhes.filial_detalhes.nome }}</strong><br>
                                <input type="hidden" formControlName="filial" [(ngModel)]="ccsPaiDetalhes.filial_detalhes.nome">
                                <strong>{{ ccsPaiDetalhes.area_detalhes.nome }}</strong><br>
                                <input type="hidden" formControlName="area" [(ngModel)]="ccsPaiDetalhes.area_detalhes.nome">
                                <strong>{{ ccsPaiDetalhes.setor_detalhes.nome }}</strong><br>
                                <input type="hidden" formControlName="setor" [(ngModel)]="ccsPaiDetalhes.setor_detalhes.nome">
                                <strong>{{ ccsPaiDetalhes.ambiente_detalhes.nome }}</strong><br>
                                <input type="hidden" formControlName="ambiente" [(ngModel)]="ccsPaiDetalhes.ambiente_detalhes.nome">
                            </div>
                        </div>
                    </div>
                    <div class="coluna">
                        <div class="raizDetalhesDir" >
                            <div class="detalhes">
                                Codigo:  <br>
                                Nome:<br>
                                Gestor: <br>
                            </div>    
                            <div class="detalhes" *ngIf="ccsDetalhes">
                                <strong>{{ ccsDetalhes.codigo }}</strong><br>
                                <strong>{{ ccsDetalhes.nome }}</strong><br>
                                <input type="hidden" formControlName="gestor" [(ngModel)]="ccsDetalhes.gestor_detalhes.nome ">
                                <strong>{{ ccsDetalhes.gestor_detalhes.nome }}</strong><br>
                               
                            </div>
                        </div>
                        <div class="raizSinteticaDetalhes"> 
                            <div class="detalhes">
                                Raiz Sintetica: <br>
                                Raiz Sintetica Descrição:
                            </div> 
                            <div class="detalhes" *ngIf="raizSinteticaDetalhes">
                                <strong>{{ raizSinteticaDetalhes.raiz_contabil }}</strong><br>
                                <input type="hidden" formControlName="raizSintetica" [(ngModel)]="raizSinteticaDetalhes.raiz_contabil">
                                <strong>{{ raizSinteticaDetalhes.descricao }}</strong>
                                <input type="hidden" formControlName="raizSinteticaDesc" [(ngModel)]="raizSinteticaDetalhes.descricao">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row3">        
                    <div class="coluna">   
                        <div class="raiz">
                            <p-floatLabel>
                                <p-dropdown
                                    [style]="{'width':'100%'}"
                                    [options]="baseOrcamentos"
                                    formControlName="baseOrcamento"
                                    optionLabel="value"
                                    optionValue="value"
                                    inputId="float-label"
                                >
                                </p-dropdown>
                                <label for="float-label">Selecione a Base de Orçamento</label>
                            </p-floatLabel>    
                        </div>
                        <div class="raiz" style="margin-left: 20px;">
                            <p><label for="sit">Suplementação </label></p>
                                <p-inputSwitch 
                                    id="sit"
                                    formControlName="suplementacao"
                                >
                                </p-inputSwitch>
                        </div>
                    </div>
                    <div class="coluna">
                        <div class="raiz">
                            <p-floatLabel>
                                <p-dropdown
                                    inputId="float-label" 
                                    [style]="{'width':'100%'}"
                                    [options]="raizesAnaliticas" 
                                    formControlName="raizAnalitica"
                                    optionLabel="label"

                                    [(ngModel)]="selectedRaizAnalitica"
                                    (onChange)="onRaizAnaliticaSelecionada($event.value)"
                                    [filter]="true" 
                                    filterBy="descricao"
                                    [showClear]="true" 
                                >
                                    <ng-template pTemplate="filter" let-options="options">
                                        <div class="flex gap-1">
                                            <div class="p-inputgroup" (click)="$event.stopPropagation()">
                                                <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                                                <input 
                                                    type="text"
                                                    pInputText
                                                    placeholder="Filter"
                                                    [(ngModel)]="filterValue"
                                                    (keyup)="customFilterFunction($event, options)" />
                                            </div>
                                            <button pButton icon="pi pi-times" (click)="resetFunction(options)"></button>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                <label for="float-label">Selecione a Raíz Analítica</label>
                                <input type="hidden" formControlName="contaContabilDesc" [(ngModel)]="contaContabilDesc">
                            </p-floatLabel>
                        </div> 
                        <div class="raizDetalhesCc">
                            <div class="detalhes">
                                Conta Contábil:
                            </div>
                            <div class="detalhes">
                                <strong>{{ contaContabil }}</strong>
                                <input type="hidden" formControlName="contaContabil" [(ngModel)]="contaContabil">
                                <input type="hidden" formControlName="raizAnaliticaDesc" [(ngModel)]="raizAnaliticaDesc">
                                <input type="hidden" formControlName="raizAnaliticaCod" [(ngModel)]="raizAnaliticaCod">
                            </div>
                        </div>
                        <input type="hidden" formControlName="raizContGrupoDesc" [(ngModel)]="rcGrupoDesc">
                        <div class="raizDetalhesCc">
                            <div class="detalhes">
                                Raiz Contabil Grupo:
                            </div>
                            <div class="detalhes">
                                <strong>{{ rcGrupoDesc }}</strong>
                                <input type="hidden" formControlName="raizContGrupoDesc" [(ngModel)]="rcGrupoDesc">
                            </div>
                        </div>
                        <div class="raizDetalhesCc">
                            <div class="detalhes">
                                Id Base:
                            </div>
                            <div class="detalhes">
                                <strong>{{ idBase }}</strong>
                                <input type="hidden" formControlName="idBase" [(ngModel)]="idBase">
                                <input type="hidden" formControlName="tipoCusto" [(ngModel)]="tipoCusto">
                            </div>
                        </div>   
                    </div>    
                </div><!--endRow-->  
                <div class="row3">
                    <div class="colunaAno">
                        <div class="raizAno">
                            <p><label style="margin-left: 20px;" class="mb-2 block font-bold" for="ano">
                                Ano
                            </label></p>
                            <p-inputNumber 
                                mode="decimal"
                                formControlName="ano"
                                [showButtons]="true" 
                                inputId="ano" 
                                [min]="2024" 
                                [max]="2999"
                                [useGrouping]="false" 
                            />
                        </div>
                    
                    
                        <div class="raizAno">
                            <p><label style="margin-left: 20px;" for="sal">Valor</label></p>    
                            <p-inputNumber
                                [style]="{'width':'100%'}" 
                                id="sal"
                                formControlName="valor" 
                                inputId="currency-us" 
                                mode="currency" 
                                currency="BRL" 
                                locale="pt-BR" 
                            />  
                        </div>
                    </div>
                    <div class="coluna">
                        <div class="raiz" style="margin-top: 30px;">
                            <p-floatLabel>
                                <p-dropdown
                                    inputId="float-label"
                                    [style]="{'width':'100%'}"
                                    [options]="recorrencias" 
                                    formControlName="periodicidade"
                                    optionLabel="value"
                                    optionValue="key"
                                >
                                </p-dropdown>
                                <label for="float-label">Selecione a Periodicidade</label>
                            </p-floatLabel> 
                        </div>
                    </div>
                    
                </div> <!--endRow>-->
                <div class="row3">
                    <div class="coluna">
                        
                    </div>
                    
                </div>
                <div class="row3">    
                    <div class="coluna">
                            <div class="raiz" *ngIf="registerForm.get('periodicidade')?.value === 'mensal'">
                                <p-floatLabel>
                                    <p-dropdown
                                    inputId="float-label"
                                        [style]="{'width':'100%'}"
                                        [options]="mensalTipos"
                                        formControlName="mensalTipo"
                                        optionLabel="value"
                                        optionValue="key"
                                    >
                                    </p-dropdown>
                                    <label for="float-label">Selecione o Tipo de Ocorrência</label>
                                </p-floatLabel>    
                            </div>    
                    </div>
                    <div class="coluna">
                        <div class="raiz" *ngIf="registerForm.get('mensalTipo')?.value === 'especifico'">
                            <p-floatLabel>
                                <p-dropdown
                                    inputId="float-label"
                                    [style]="{'width':'100%'}"
                                    [options]="meses"
                                    formControlName="mesEspecifico"
                                    optionLabel="value"
                                    optionValue="key"
                                >
                                </p-dropdown>
                                <label for="float-label">Selecione o Mês</label>
                            </p-floatLabel>    
                        </div>
                        <div class="raiz" *ngIf="registerForm.get('mensalTipo')?.value === 'recorrente'">
                            <p-floatLabel>    
                                <p-multiSelect
                                    [style]="{'width':'100%'}"
                                    [options]="meses"
                                    formControlName="mesesRecorrentes"
                                    optionLabel="value"
                                    optionValue="key"
                                    inputId="float-label"
                                >
                                </p-multiSelect>
                                <label for="float-label">Selecione os Meses</label>
                            </p-floatLabel>    
                        </div>
                    </div>
                </div>  
            </div>
        </form>
        <div class="botoes-form">
            <p-toast></p-toast>
            <div class="btnsec" (click)="clearForm()" >
                <p>Limpar</p>
            </div>
            <div class="btnpri" (click)="submit()">
                <p>Salvar</p>            
            </div>
        </div>

        

    </div>   
    <!-- <pre>{{ registerForm.value | json }}</pre> -->
</div>


<div class="tabela">
    <p-table
        #dt1
        [value]="orcamentosBases"
        [paginator]="true"
        [rows]="5"
        dataKey="id" 
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
        [rowsPerPageOptions]="[5, 10, 20]"
        [globalFilterFields]="['ano','raiz_analitica_desc','raiz_contabil_grupo_desc','mes_especifico']"
        sortMode="multiple"
    >
        <ng-template pTemplate="caption">
            <p-toast />
            <p-confirmDialog />
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="inputValue" placeholder="Palavra-Chave" />
                </span>
                <button pButton label="Pesquisar" severity="info"  (click)="filterTable()"></button>
                <button pButton label="Limpar Pesquisa" severity="info" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                <span class="p-input-icon-left ml-auto">
                    <input
                        [(ngModel)]="porcentagemDissidio"
                        pInputText
                        placeholder="informe o Percentual"
                        prefix="%"  
                    />
                </span>
                <button pButton label="Aplicar Dissídio" severity="info" icon="pi pi-filter-slash" (click)="calcularDissidio(porcentagemDissidio)"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="ano" style="width:10%" type="text" field="ano" display="menu">
                    Ano <p-sortIcon field="ano" />
                </th>          
                <th pSortableColumn="raiz_analitica_desc" style="width:10%" type="text" field="raiz_analitica_desc" display="menu">
                    Raiz Analítica Descrição <p-sortIcon field="raiz_analitica_desc"></p-sortIcon>
                </th>
                <th pSortableColumn="raiz_contabil_grupo_desc" style="width:10%" type="text" field="raiz_contabil_grupo_desc" display="menu">
                    Raiz CC Grupo Descrição <p-sortIcon field="raiz_contabil_grupo_desc"></p-sortIcon>
                </th>
                <th pSortableColumn="mes_especifico" style="width:10%" type="text" field="mes_especifico" display="menu">
                    Mês <p-sortIcon field="mes_especifico"></p-sortIcon>
                </th>
                <th pSortableColumn="periodicidade" style="width:10%" type="text" field="periodicidade" display="menu">
                    Periodicidade <p-sortIcon field="periodicidade"></p-sortIcon>
                </th>
                <th pSortableColumn="valor" style="width:10%" type="text" field="valor" display="menu">
                    Valor <p-sortIcon field="valor"></p-sortIcon>
                </th>
                <th pSortableColumn="setor" style="width:10%" type="text" field="setor" display="menu">
                    Setor <p-sortIcon field="setor"></p-sortIcon>
                </th>
                <th pSortableColumn="ambiente" style="width:10%" type="text" field="ambiente" display="menu">
                    Ambiente <p-sortIcon field="ambiente"></p-sortIcon>
                </th>
                <th style="width: 10%;text-align: center;">Ações</th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter 
                        showMenu="false"
                        type="text"
                        field="ano" 
                        placeholder="Pesquisar" 
                        ariaLabel="Filter" />
                </th>
                <th>
                    <p-columnFilter 
                        showMenu="false"
                        type="text"
                        field="raiz_analitica_desc" 
                        placeholder="Pesquisar" 
                        ariaLabel="Filter" />
                </th>
                <th>
                    <p-columnFilter 
                        showMenu="false"
                        type="text"
                        field="raiz_contabil_grupo_desc" 
                        placeholder="Pesquisar" 
                        ariaLabel="Filter" />
                </th>
                <th>
                    <p-columnFilter 
                        showMenu="false"
                        type="text"
                        field="mes_especifico" 
                        placeholder="Pesquisar" 
                        ariaLabel="Filter" />
                </th>
                <th>
                    <p-columnFilter
                        showMenu="false" 
                        type="text"
                        field="periodicidade" 
                        placeholder="Pesquisar" 
                        ariaLabel="Filter" />
                </th>
                <th>
                    <p-columnFilter 
                        showMenu="false"
                        type="text"
                        field="valor" 
                        placeholder="Pesquisar" 
                        ariaLabel="Filter" />
                </th>
                <th>
                    <p-columnFilter
                        showMenu="false"
                        type="text"
                        field="setor" 
                        placeholder="Pesquisar" 
                        ariaLabel="Filter" />
                </th>
                <th>
                    <p-columnFilter 
                        showMenu="false"
                        type="text"
                        field="ambiente" 
                        placeholder="Pesquisar" 
                        ariaLabel="Filter" />
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-orcamentoBase>
            <tr>                      
                <td>{{ orcamentoBase.ano}}</td>
                <td>{{ orcamentoBase.raiz_analitica_desc }}</td>
                <td>{{ orcamentoBase.raiz_contabil_grupo_desc }}</td>
                <td>{{ orcamentoBase.mes_especifico }}</td>
                <td>{{ orcamentoBase.periodicidade }}</td>
                <td>{{ orcamentoBase.valor }} </td>
                <td>{{ orcamentoBase.setor }}</td>
                <td>{{ orcamentoBase.ambiente }}</td>
                
                <td class="td-acao">

                    <div class="btnsect" style="margin-right: 5px;background-color: #97a3c2; color: white;" (click)="visualizarOrcamentoBaseDetalhes(orcamentoBase.id)">
                        <p>Visualizar</p>
                    </div>

                    <div class="btnsec" (click)="abrirModalEdicao(orcamentoBase)">
                        <p>Editar</p>
                    </div>
                    
                    <div class="btnpri" (click)="excluirOrcamentoBase(orcamentoBase.id)">
                        <p>Excluir</p>            
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<!-----------------------------------Modal--------------------------------->

    <p-dialog 
        [modal]="true"
        [(visible)]="editFormVisible" 
        [style]="{ width: '90%', height:'90%'}" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    >
        <div class="titulo">
            <p-divider align="left" type="solid">
                <b>Editar Orçamento Base</b>
            </p-divider> 
        </div>
        <div class="container">
            <div class="formWrap">
                <form
                    [formGroup]="editForm"
                    title="Editar Conta Contabil"
                >
                    <div class="form">
                        <div class="row3">
                            <div class="coluna">
                                <div class="raiz">
                                    <p-inputGroup >
                                        <p-inputGroupAddon>
                                            <i class="pi pi-file-edit"></i>
                                        </p-inputGroupAddon>
                                        <span class="p-float-label">
                                            <input
                                                [style]="{'width':'100%'}"
                                                pInputText
                                                id="me"
                                                formControlName="valor"
                                                type="text"
                                            />  
                                            <label for="me">Valor</label>
                                        </span>          
                                    </p-inputGroup>
                                </div>
                            </div>
                            <div class="coluna">
                                <div class="raiz">
                                    <p-inputGroup >
                                        <p-inputGroupAddon>
                                            <i class="pi pi-file-edit"></i>
                                        </p-inputGroupAddon>
                                        <span class="p-float-label">
                                            <input
                                                [style]="{'width':'100%'}"
                                                pInputText
                                                id="me"
                                                formControlName="valor_ajustado"
                                                type="text"
                                            />  
                                            <label for="me">Valor Previsto</label>
                                        </span>          
                                    </p-inputGroup>
                                </div>
                            </div>
                            <div class="coluna">
                                <div class="raiz">
                                    <p-inputGroup >
                                        <p-inputGroupAddon>
                                            <i class="pi pi-file-edit"></i>
                                        </p-inputGroupAddon>
                                        <span class="p-float-label">
                                            <input
                                                [style]="{'width':'100%'}"
                                                pInputText
                                                id="me"
                                                formControlName="valor_real"
                                                type="text"
                                            />  
                                            <label for="me">Valor Real</label>
                                        </span>          
                                    </p-inputGroup>
                                </div>
                            </div>
                        </div><!--endRow-->
                    </div><!--endForm-->
                    <div class="botoes-form">
                        <div class="btnsec" (click)="clearEditForm()">
                            <p>Limpar</p>
                        </div>
                        
                        <div class="btnpri" (click)="saveEdit()">
                            <p>Salvar</p>            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </p-dialog>    


<!---------------------------Visualizar Moda-------------------------------->



    <p-dialog 
        [modal]="true"
        [(visible)]="detalhaOrcamentoBaseVisible" 
        [style]="{ width: '90%', height:'90%'}" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    >

    <div class="titulo">
        <p-divider align="left" type="solid">
            <b>Detalha Orçamento Base</b>
        </p-divider>
    </div>

<div *ngIf="orcamentoBaseDetalhes">
    <div class="visualizar">
        <div class="detalha">
            <p>Ano: <strong>{{  orcamentoBaseDetalhes.ano }}</strong></p>
            <p>Gestor: <strong>{{  orcamentoBaseDetalhes.gestor }}</strong></p>
            <p>Empresa: <strong>{{  orcamentoBaseDetalhes.empresa }}</strong></p>
            <p>Filial: <strong>{{  orcamentoBaseDetalhes.filial }}</strong></p>
            <p>Area: <strong>{{  orcamentoBaseDetalhes.area }}</strong></p>
            <p>Ambiente: <strong>{{  orcamentoBaseDetalhes.setor }}</strong></p>
            <p>Setor: <strong>{{  orcamentoBaseDetalhes.ambiente }}</strong></p>
            <p>Raiz Sintética: <strong>{{  orcamentoBaseDetalhes.raiz_sintetica }}</strong></p>
            <p>Raiz Sintética Descrição: <strong>{{  orcamentoBaseDetalhes.raiz_sintetica_desc }}</strong></p>
            <p>Raiz Analítica: <strong>{{  orcamentoBaseDetalhes.raiz_analitica_cod }}</strong></p>
            <p>Raiz Analítica Descrição: <strong>{{  orcamentoBaseDetalhes.raiz_analitica_desc }}</strong></p>
            <p>Conta Contábil: <strong>{{  orcamentoBaseDetalhes.conta_contabil }}</strong></p>
            <p>Conta Contábil Descrição: <strong>{{  orcamentoBaseDetalhes.conta_contabil_desc }}</strong></p>
            <p>Grupo Contábil Raiz Descrição: <strong>{{  orcamentoBaseDetalhes.raiz_contabil_grupo_desc }}</strong></p>
        </div>
        <div class="detalha">    
            <p>Periodicidade: <strong>{{  orcamentoBaseDetalhes.periodicidade }}</strong></p>
            <p>Tipo Mensal: <strong>{{  orcamentoBaseDetalhes.mensal_tipo }}</strong></p>
            <p>Mês Específico: <strong>{{  orcamentoBaseDetalhes.mes_especifico }}</strong></p>
            <p>Meses Recorrentes: <strong> {{ orcamentoBaseDetalhes.meses_recorrentes }}</strong></p>
            <p>Suplementação: <strong> {{ orcamentoBaseDetalhes.suplementacao }}</strong></p>
            <p>Base Orçamento: <strong> {{ orcamentoBaseDetalhes.base_orcamento }}</strong></p>
            <p>Id Base: <strong> {{ orcamentoBaseDetalhes.id_base }}</strong></p>
            <p>Tipo de Custo: <strong> {{ orcamentoBaseDetalhes.tipo_custo }}</strong></p>
            <p>Valor: <strong> {{ orcamentoBaseDetalhes.valor }}</strong></p>
            <p>Valor Ajustado: <strong> {{ orcamentoBaseDetalhes.valor_ajustado }}</strong></p>
            <p>Valor Real: <strong> {{ orcamentoBaseDetalhes.valor_real }}</strong></p>
            <p>Centro de Custo Pai: <strong>{{ getNomeCcPai(orcamentoBaseDetalhes.centro_de_custo_pai)}}</strong></p>
            <p>Centro de custo: <strong>{{ getNomeCc(orcamentoBaseDetalhes.centro_custo_nome)}}</strong></p>
        </div>    
    </div>    
</div>

   
    </p-dialog>