@import "primeicons/primeicons.css";
.container{
    max-width: 100%;
}
.containerInterno{
    background-color: #ffffff;
    border: 10px solid #ffffff;
    border-radius: 20px;
    padding: 10px;
    //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.titulo{
    font-size: 22px;
    //background-color: #4A90E2;
    background-color: #ffffff;
    border: 20px solid #ffffff;
}

.card{
    .header{
        background-color: #4A90E2;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px 10px 0 0;
        
        h2{
            color: #ffffff;
            font-weight: 700;
        }
    }
}

.form-geral{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    .fg1{
        width: 100%;
        //margin-top: 10px;
        //margin-bottom: 25px;
        p{
            margin-left: 20px;
        }
        .form1{
           margin-top: 16px; 
        }
        .form2{
            margin-top: 16px;
        } 
    }
    .fg2{
        width: 100%;
        //margin-top: 10px;
        //margin-bottom: 25px;
        p{
            margin-left: 20px;
        }
        .form2{
            margin-top: 16px;
            
        } 
    }
    .fg3{
        width: 100%;
        //margin-top: 10px;
        margin-bottom: 25px;
        p{
            margin-left: 20px;
        }
        .form2{
            margin-top: 16px;
            
        }
    }
}   

.background-form{
    background-color: #F7F8FA;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.formWrap{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    .form{
        margin-top: 2%;
        height: 50%;
        width: 95%;
        //display: flex;
        margin-left: auto;
        margin-right: auto;
        
        
            .coluna{
                display: flex;
                flex-direction: column;
                width: 50%;
                justify-content: center;
                
                .raiz{
                    width: 99%;
                    margin-top: 5%;
                
                }
            }
            
    }
} 
.row{
    background-color: aqua;
    display: flex;
    width: 100%;
}  
.row2{
    background-color: chartreuse;
    width: 100%;
} 
.row3{
    //background-color: rgb(104, 117, 90);
    width: 100%;
    display: flex;
    margin-top: 1%;
}    
.botoes-form{
    display: flex;
    width: 75%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 2%;
    justify-content: center;
}
.btnpri{
    cursor: pointer;
    background-color: #444959;
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin-left: 5px;
    p{
        text-align: center;
        margin-top: 10px;
    }
}   
.btnsec{
    cursor: pointer;
    background-color: #e3e3f3;
    color: #444959;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    p{
        text-align: center;
        margin-top: 10px;
    }
}
.tabela{
    margin: auto;
    border-radius: 10px;
    width: 100%;
    th{
        font-size: 14px;
    }
    td{
        font-size:12px ;
    }
}
.flex{
    
    text-align: end;
    button{
        margin-left: 1%;
    }
    span{
        margin-left: 10%;
    }
}

.td-acao{
    display: flex;
    button{
        margin-left: 2px;
    }
}
.raizDetalhes{
    display: flex;
    height: 50%;
    margin-bottom: 4%;
    //margin-top: 5%;
    .detalhes{
        margin-left: 2%;
        margin-right: 2%;
        
       
    }   
}
.raizDetalhesDir{
    display: flex;
    height: 50%;
    .detalhes{
        margin-right: 2%;
        margin-left: 2%;
    }   
}
.raizSinteticaDetalhes{
    display: flex;
    //height: 50%;
    //margin-top: -20%;
    //background-color: #444959;
    .detalhes{
        margin-right: 2%;
        margin-left: 2%;
    }   
}
.raizDetalhesCc{
    display: flex;
    margin-top: 2%;
    .detalhes{
        margin-right: 2%;
        margin-left: 2%;
    } 
}
.colunaAno{
    display: flex;
    width: 50%;
    .raizAno{
        width: 50%;
    }
}
.btnsect{
    cursor: pointer;
    background-color: #e3e3f3;
    color: #444959;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    p{
        text-align: center;
        margin-top: 10px;
    }
}
.visualizar{
    display: flex;
    .detalha{
        width: 50%;
        margin-left: 5%;
        margin-top: 3%;
    }
}
.editGeral{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    .fg1edit{
        width: 50%;
        margin-top: 10px;
        .form2{
            margin-top: 25px;
        }
    }
    .fg2edit{
        width: 50%;
        margin-top: 10px;
        .form2{
            margin-top: 25px;
        }
    }
    .fg3edit{
        width: 50%;
        margin-top: 10px;
        .form2{
            margin-top: 25px;
            margin-bottom: 20px;;
        }
    }
}

