<div class="menu">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="/welcome/baseOrcamentaria/orcamentoBase/homeOrcamento">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','Master'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizAnalitica" >Raízes Analíticas</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocustopai" >Centro de Custo Pai</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocusto" >Centro de Custo </a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizSintetica" >Raiz Sintética</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/contaContabil" >Conta Contábil</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/grupoItens" >Grupos de Itens</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/orcamentoBase" >Orçamento Base</a>
                </li>
            </ul>
        </li >
        
        <li *ngIf="hasGroup(['Admin','Master','OrcamentoGestorSetor','OrcamentoGestorItens'])" nz-submenu nzTitle="Acompanhamento "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','Master','OrcamentoGestorSetor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoRealizado/realizado"> Orçado x Realizado Setorial</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','OrcamentoGestorItens'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoGrupoItens/orcamentogrupoitens"> Orçado x Realizado Grupo de Itens</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/projetado"> DRE Projetado</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','OrcamentoGestorProd'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/indicadorescp">Indicadores Custo de Produção</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/curva">Curva ABC</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/ppr">PPR - Orçamento</a>
                </li>   
            </ul>
           
        </li>    
    </ul>
</div>

<div class="container">

    <div class="titulo mt-6 mb-6">
        <p-divider align="left" type="solid">
            <b>Cadastro de Orçamento Base</b>
        </p-divider>
    </div>

        <form
            [formGroup]="registerForm"
            title="Cadastrar novo Orçamento Base"
        >
        
            <div class="form-geral flex flex-column "@swipeAnimation>
                <div class="fg1 flex flex-column w-12 align-items-center  lg:flex-row justify-content-around">
                        <div class="form2 w-10 lg:w-5 text-left">
                            <p-floatLabel variant="on">
                                <p-select
                                    variant="filled" 
                                    inputId="float-label" 
                                    [style]="{'width':'100%'}"
                                    [options]="ccsPai" 
                                    formControlName="ccPai"
                                    optionLabel="label"
                                    [(ngModel)]="selectedCcPai"
                                    (onChange)="onCcPaiSelecionado($event.value)"
                                    optionValue="id"
                                    [filter]="true" 
                                    filterBy="label"
                                    [showClear]="true"  
                                >
                                </p-select>
                                <label for="float-label">Selecione o Centro de Custo Pai</label>
                            </p-floatLabel>
                        </div>
                    
                    
                        <div class="form2 w-10 lg:w-5 text-left">
                            <p-floatLabel variant="on">
                                <p-select
                                
                                    variant="filled"
                                    inputId="float-label" 
                                    [style]="{'width':'100%'}"
                                    [options]="centrosCusto" 
                                    formControlName="centroCusto"
                                    optionLabel="nome"
                                    optionValue="id"
                                    [(ngModel)]="selectedCc"
                                    (onChange)="onCcSelecionado($event.value)" 
                                    [filter]="true" 
                                    filterBy="nome"
                                    [showClear]="true"                             
                                >
                                </p-select>
                                <label for="float-label">Selecione o Centro de Custo</label>  
                            </p-floatLabel>  
                        </div>
                </div>    
                <div class="fg2 -mt-2 flex flex-column w-12 align-items-center  lg:flex-row justify-content-around">
                    <div class="form2 w-10 text-xs flex justify-content-around lg:text-sm align-items-center">
                    
                            <div class="text-left w-2 lg:w-3 text-right">
                                Nome:  <br>
                                Empresa:<br>
                                Filial: <br>
                                Área:<br>
                                Setor:<br>
                                Ambiente:<br>
                            </div>    
                        
                            <div class="text-left w-8 lg:w-8" *ngIf="ccsPaiDetalhes">
                                <strong>{{ ccsPaiDetalhes.nome }}</strong><br>
                                <strong>{{ ccsPaiDetalhes.empresa_detalhes.nome }}</strong><br>
                                <input type="hidden" formControlName="empresa" [(ngModel)]="ccsPaiDetalhes.empresa_detalhes.nome">
                                <strong>{{ ccsPaiDetalhes.filial_detalhes.nome }}</strong><br>
                                <input type="hidden" formControlName="filial" [(ngModel)]="ccsPaiDetalhes.filial_detalhes.nome">
                                <strong>{{ ccsPaiDetalhes.area_detalhes.nome }}</strong><br>
                                <input type="hidden" formControlName="area" [(ngModel)]="ccsPaiDetalhes.area_detalhes.nome">
                                <strong>{{ ccsPaiDetalhes.setor_detalhes.nome }}</strong><br>
                                <input type="hidden" formControlName="setor" [(ngModel)]="ccsPaiDetalhes.setor_detalhes.nome">
                                <strong>{{ ccsPaiDetalhes.ambiente_detalhes.nome }}</strong><br>
                                <input type="hidden" formControlName="ambiente" [(ngModel)]="ccsPaiDetalhes.ambiente_detalhes.nome">
                            </div>
                        
                    </div>
                    <div class="fg2 mt-0 flex flex-column w-12 align-items-center  lg:justify-content-around">
                        <div class="form2 w-10 text-xs flex justify-content-around lg:text-sm justify-content-around align-items-center" >
                            <div class="text-left w-2 lg:w-3 text-right">
                                Codigo:  <br>
                                Nome:<br>
                                Gestor: <br>
                            </div>    
                            <div class="text-left w-8 lg:w-8" *ngIf="ccsDetalhes">
                                <strong>{{ ccsDetalhes.codigo }}</strong><br>
                                <strong>{{ ccsDetalhes.nome }}</strong><br>
                                <input type="hidden" formControlName="gestor" [(ngModel)]="ccsDetalhes.gestor_detalhes.nome ">
                                <strong>{{ ccsDetalhes.gestor_detalhes.nome }}</strong><br>
                               
                            </div>
                        </div>
                        <div class="form2 w-10 mb-5 text-xs flex justify-content-start lg:justify-content-around align-items-center"> 
                            <div class="text-right w-2 md:w-4 lg:w-4 text-right">
                                Raiz Sintetica: <br>
                                Raiz Sintetica Descrição:
                            </div> 
                            <div class="text-center w-8 md:text-left ml-1 lg:w-7" *ngIf="raizSinteticaDetalhes">
                                <strong>{{ raizSinteticaDetalhes.raiz_contabil }}</strong><br>
                                <input type="hidden" formControlName="raizSintetica" [(ngModel)]="raizSinteticaDetalhes.raiz_contabil">
                                <strong>{{ raizSinteticaDetalhes.descricao }}</strong>
                                <input type="hidden" formControlName="raizSinteticaDesc" [(ngModel)]="raizSinteticaDetalhes.descricao">
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="fg2 flex flex-column w-12 align-items-center  lg:flex-row justify-content-around">      
                    <div class="form2 w-10 lg:w-5 text-left">   
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                [style]="{'width':'100%'}"
                                [options]="baseOrcamentos"
                                formControlName="baseOrcamento"
                                optionLabel="value"
                                optionValue="value"
                                inputId="float-label"
                            >
                            </p-select>
                            <label for="float-label">Selecione a Base de Orçamento</label>
                        </p-floatLabel>   
                    </div>
                    <div class="form2 w-10 lg:w-5 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                inputId="float-label" 
                                [style]="{'width':'100%'}"
                                [options]="raizesFiltradas" 
                                formControlName="raizAnalitica"
                                optionLabel="label"
                                [(ngModel)]="selectedRaizAnalitica"
                                (onChange)="onRaizAnaliticaSelecionada($event.value)"
                                [filter]="true" 
                                filterBy="descricao"
                                [showClear]="true" 
                            >
                                <ng-template pTemplate="filter" let-options="options">
                                    <div class="flex gap-1">
                                        <div class="p-inputgroup" (click)="$event.stopPropagation()">
                                            <p-iconfield>
                                                <p-inputicon styleClass="pi pi-search" />
                                            <input
                                                variant="filled"
                                                [style]="{'width':'100%'}"
                                                type="text"
                                                pInputText
                                                placeholder="Filter"
                                                [value]="filterValue"
                                                (click)="customFilterFunction(options)"
                                                (keyup)="customFilterFunction(options)" />
                                            </p-iconfield>
                                        </div>
                                        <button pButton icon="pi pi-times" (click)="resetFunction(options)"></button>
                                    </div>
                                </ng-template>
                            </p-select>
                            <label for="float-label">Selecione a Raiz Analítica</label>
                            <input type="hidden" formControlName="contaContabilDesc" [(ngModel)]="contaContabilDesc">
                        </p-floatLabel>    
                    </div>
                </div>
                <div class="flex flex-column lg:flex-row justify-content-around">
                    <div class="fg2 flex flex-column w-6 align-items-center">
                        <div class="form2 w-10 text-left">
                            <p><label for="sit">Suplementação </label></p>
                                <p-toggleswitch 
                                    id="sit"
                                    formControlName="suplementacao"
                                >
                                </p-toggleswitch>
                        </div>
                    
                        <div class="form2 w-10 text-left">
                            <p-floatLabel variant="on">
                                <p-inputNumber 
                                    variant="filled"
                                    mode="decimal"
                                    [(ngModel)]="ano"
                                    formControlName="ano"
                                    [showButtons]="true" 
                                    inputId="ano" 
                                    [min]="2024" 
                                    [max]="2999"
                                    [useGrouping]="false" 
                                />
                                <label for="ano">Ano</label>
                            </p-floatLabel>    
                        </div>

                    
                    
                    </div><!--endRow-->  

                    <div class="fg2 mt-3 flex-column w-8 md:w-10 lg:w-6">
                        <div class="md:flex flex-row w-full lg:flex flex-row text-0 w-full">
                            <div class="w-8 md:w-4">
                                Conta Contábil:
                            </div>
                            <div class="w-full  md:w-8 ml-3 text-left">
                                <strong>{{ contaContabil }}</strong>
                                <input type="hidden" formControlName="contaContabil" [(ngModel)]="contaContabil">
                                <input type="hidden" formControlName="raizAnaliticaDesc" [(ngModel)]="raizAnaliticaDesc">
                                <input type="hidden" formControlName="raizAnaliticaCod" [(ngModel)]="raizAnaliticaCod">
                            </div>
                        </div>
                        <input type="hidden" formControlName="raizContGrupoDesc" [(ngModel)]="rcGrupoDesc">
                            <div class="mt-3 w-full md:flex flex-row lg:flex flex-row">
                                <div class="w-10 md:w-4 lg:w-4">
                                    Raiz Contabil Grupo:
                                </div>
                                <div class="w-full text-xs md:w-6 ml-3 text-left">
                                    <strong>{{ rcGrupoDesc }}</strong>
                                    <input type="hidden" formControlName="raizContGrupoDesc" [(ngModel)]="rcGrupoDesc">
                                </div>
                            </div>
                            <div class=" mt-3 w-full md:flex flex-row">
                                <div class="w-6 md:w-4">
                                    Id Base:
                                </div>
                                <div class="w-full md:w-8 ml-3 text-left">
                                    <strong>{{ idBase }}</strong>
                                    <input type="hidden" formControlName="idBase" [(ngModel)]="idBase">
                                    <input type="hidden" formControlName="tipoCusto" [(ngModel)]="tipoCusto">
                                </div>
                            </div>
                    </div>
                </div>    

                <div class="fg2 mb-5 flex flex-column w-12 align-items-center  lg:flex-row justify-content-around">
                    <div class="form2 w-10 lg:w-5 text-left">
                        <p-floatLabel variant="on" >
                            <p-inputNumber
                                variant="filled"
                                inputId="on_label"
                                formControlName="valor"
                                inputId="currency-us"
                                mode="currency"
                                currency="BRL"
                                locale="pt-BR"
                                [style]="{'width':'100%'}"
                            />
                            <label for="on_label">Valor</label>
                        </p-floatLabel>
                    </div>
                    <div class="form2 w-10 lg:w-5 text-left">
                      
                            <p-floatLabel variant="on"> 
                                <p-select
                                    inputId="float-label"
                                    [style]="{'width':'100%'}"
                                    [options]="recorrencias" 
                                    formControlName="periodicidade"
                                    optionLabel="value"
                                    optionValue="key"
                                >
                                </p-select>
                                <label for="float-label">Selecione a Periodicidade</label>
                            </p-floatLabel> 
                        
                    </div>
                </div>   
                <div class="fg2 mb-5 flex flex-column w-12 align-items-center  lg:flex-row justify-content-around">
                    <div class="form2 w-10 lg:w-5 text-left">
                        <div class="raiz" *ngIf="registerForm.get('periodicidade')?.value === 'mensal'">
                            <p-floatLabel variant="on">
                                <p-select
                                    variant="filled"
                                    inputId="float-label"
                                    [style]="{'width':'100%'}"
                                    [options]="mensalTipos"
                                    formControlName="mensalTipo"
                                    optionLabel="value"
                                    optionValue="key"
                                >
                                </p-select>
                                <label for="float-label">Selecione o Tipo de Ocorrência</label>
                            </p-floatLabel>    
                        </div>    
                </div>
                <div class="form2 w-10 lg:w-5 text-left">
                    <div class="raiz" *ngIf="registerForm.get('mensalTipo')?.value === 'especifico'">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                inputId="float-label"
                                [style]="{'width':'100%'}"
                                [options]="meses"
                                formControlName="mesEspecifico"
                                optionLabel="value"
                                optionValue="key"
                            >
                            </p-select>
                            <label for="float-label">Selecione o Mês</label>
                        </p-floatLabel>    
                    </div>
                    <div class="raiz" *ngIf="registerForm.get('mensalTipo')?.value === 'recorrente'">
                        <p-floatLabel variant="on">    
                            <p-multiSelect
                                variant="filled"
                                [style]="{'width':'100%'}"
                                [options]="meses"
                                formControlName="mesesRecorrentes"
                                optionLabel="value"
                                optionValue="key"
                                inputId="float-label"
                            >
                            </p-multiSelect>
                            <label for="float-label">Selecione os Meses</label>
                        </p-floatLabel>    
                    </div>



                </div>
                </div> <!--endRow>-->
                
                 
                    
        </div>
                
             
        </form>
        
        <div class="botoes-form"@efeitoFade>
            <p-toast></p-toast>
            <div class="btnsec" (click)="clearForm()" >
                <p>Limpar</p>
            </div>
            <div class="btnpri" (click)="submit()">
                <p>Salvar</p>            
            </div>
        </div>

        




<div class="tabela"@swipeAnimationReverse>
    <p-toast />
    <p-confirmDialog />
    <p-table
        #dt1
        [value]="orcamentosBases"
        [paginator]="true"
        [rows]="20"
        dataKey="id" 
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
        [rowsPerPageOptions]="[20, 40, 60]"
        [globalFilterFields]="['id','ano','raiz_analitica_desc','raiz_contabil_grupo_desc','mes_especifico']"
        sortMode="multiple"
        scrollable="true"
        stripedRows
    >
        <ng-template pTemplate="caption" >
            <div class="flex flex-row md: justify-content-end">
                <p-floatlabel variant="on">
                    <p-iconfield>
                        <p-inputicon class="pi pi-search" style="color: #1b91ff;" />
                        <input
                            variant="filled"
                            [(ngModel)] = "inputValue"
                            [style]="{'width':'100%'}"
                            pInputText id="on_label"
                            autocomplete="off"
                            type="text"
                            (keyup)="filterTable()"
                            style="border-color:#1b91ff;"
                        />
                    </p-iconfield>
                    <label for="on_label" style="color: #1b91ff">Pesquisar</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <p-iconfield>
                        <input
                            [style]="{'width':'100%'}"
                            variant="filled"
                            [(ngModel)]="porcentagemDissidio"
                            pInputText
                            prefix="%"  
                        />
                    </p-iconfield>
                    <label for="on_label">% Dissídio</label>    
                </p-floatlabel>
                <button size="small" pButton label="Aplicar Dissídio" severity="info" icon="pi pi-filter-slash" (click)="calcularDissidio(porcentagemDissidio)"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" style="width:10%" type="text" field="id" display="menu">
                    Id <p-sortIcon field="id" />
                </th>
                <th pSortableColumn="ano" style="width:10%" type="text" field="ano" display="menu">
                    Ano <p-sortIcon field="ano" />
                </th>          
                <th pSortableColumn="raiz_analitica_desc" style="width:10%" type="text" field="raiz_analitica_desc" display="menu">
                    Raiz Analítica Descrição <p-sortIcon field="raiz_analitica_desc"></p-sortIcon>
                </th>
                <th pSortableColumn="raiz_contabil_grupo_desc" style="width:10%" type="text" field="raiz_contabil_grupo_desc" display="menu">
                    Raiz CC Grupo Descrição <p-sortIcon field="raiz_contabil_grupo_desc"></p-sortIcon>
                </th>
                <th pSortableColumn="mes_especifico" style="width:10%" type="text" field="mes_especifico" display="menu">
                    Mês <p-sortIcon field="mes_especifico"></p-sortIcon>
                </th>
                <th pSortableColumn="periodicidade" style="width:10%" type="text" field="periodicidade" display="menu">
                    Periodicidade <p-sortIcon field="periodicidade"></p-sortIcon>
                </th>
                <th pSortableColumn="valor" style="width:10%" type="text" field="valor" display="menu">
                    Valor <p-sortIcon field="valor"></p-sortIcon>
                </th>
                <th pSortableColumn="setor" style="width:10%" type="text" field="setor" display="menu">
                    Setor <p-sortIcon field="setor"></p-sortIcon>
                </th>
                <th pSortableColumn="ambiente" style="width:10%" type="text" field="ambiente" display="menu">
                    Ambiente <p-sortIcon field="ambiente"></p-sortIcon>
                </th>
                <th style="width: 10%;text-align: center;">Ações</th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter 
                        showMenu="false"
                        type="text"
                        field="id" 
                        placeholder="Pesquisar" 
                        ariaLabel="Filter" />
                </th>
                <th>
                    <p-columnFilter 
                        showMenu="false"
                        type="text"
                        field="ano" 
                        placeholder="Pesquisar" 
                        ariaLabel="Filter" />
                </th>
                <th>
                    <p-columnFilter 
                        showMenu="false"
                        type="text"
                        field="raiz_analitica_desc" 
                        placeholder="Pesquisar" 
                        ariaLabel="Filter" />
                </th>
                <th>
                    <p-columnFilter 
                        showMenu="false"
                        type="text"
                        field="raiz_contabil_grupo_desc" 
                        placeholder="Pesquisar" 
                        ariaLabel="Filter" />
                </th>
                <th>
                    <p-columnFilter 
                        showMenu="false"
                        type="text"
                        field="mes_especifico" 
                        placeholder="Pesquisar" 
                        ariaLabel="Filter" />
                </th>
                <th>
                    <p-columnFilter
                        showMenu="false" 
                        type="text"
                        field="periodicidade" 
                        placeholder="Pesquisar" 
                        ariaLabel="Filter" />
                </th>
                <th>
                    <p-columnFilter 
                        showMenu="false"
                        type="text"
                        field="valor" 
                        placeholder="Pesquisar" 
                        ariaLabel="Filter" />
                </th>
                <th>
                    <p-columnFilter
                        showMenu="false"
                        type="text"
                        field="setor" 
                        placeholder="Pesquisar" 
                        ariaLabel="Filter" />
                </th>
                <th>
                    <p-columnFilter 
                        showMenu="false"
                        type="text"
                        field="ambiente" 
                        placeholder="Pesquisar" 
                        ariaLabel="Filter" />
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-orcamentoBase>
            <tr>     
                <td>{{ orcamentoBase.id }}</td>                 
                <td>{{ orcamentoBase.ano }}</td>
                <td>{{ orcamentoBase.raiz_analitica_desc }}</td>
                <td>{{ orcamentoBase.raiz_contabil_grupo_desc }}</td>
                <td>{{ orcamentoBase.mes_especifico }}</td>
                <td>{{ orcamentoBase.periodicidade }}</td>
                <td>{{ orcamentoBase.valor }} </td>
                <td>{{ orcamentoBase.setor }}</td>
                <td>{{ orcamentoBase.ambiente }}</td>
                
                <td class="td-acao">

                    <div class="btnsect" style="margin-right: 5px;background-color: #97a3c2; color: white;" (click)="visualizarOrcamentoBaseDetalhes(orcamentoBase.id)">
                        <p>Visualizar</p>
                    </div>

                    <div class="btnsec" (click)="abrirModalEdicao(orcamentoBase)">
                        <p>Editar</p>
                    </div>
                    
                    <div class="btnpri" (click)="excluirOrcamentoBase(orcamentoBase.id)">
                        <p>Excluir</p>            
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<!-----------------------------------Modal--------------------------------->

    <p-dialog 
        [modal]="true"
        [(visible)]="editFormVisible" 
        [style]="{ width: '65rem'}"
    >
        <div class="titulo">
            <p-divider align="left" type="solid">
                <b>Editar Orçamento Base</b>
            </p-divider> 
        </div>

                <form
                    [formGroup]="editForm"
                    title="Editar Conta Contabil"
                >
                    <div class="editgeral flex flex-column lg:flex-row">
                        <div class="fg1edit flex flex-column w-12 align-items-center lg:w-12">
                            <div class="form1edit w-10">
                                <p-floatlabel variant="on">
                                    <p-iconfield>
                                        <p-inputicon class="pi pi-dollar" />
                                        <input
                                            variant="filled"
                                            [style]="{'width':'100%'}"
                                            pInputText id="on_label"
                                            autocomplete="off"
                                            formControlName="valor"
                                            type="text"
                                        />
                                    </p-iconfield>
                                    <label for="on_label">Valor</label>
                                </p-floatlabel>
                            </div>
                            <div class="form1edit mt-3 w-10">
                                <p-floatlabel variant="on">
                                    <p-iconfield>
                                        <p-inputicon class="pi pi-dollar" />
                                        <input
                                            variant="filled"
                                            [style]="{'width':'100%'}"
                                            pInputText id="on_label"
                                            autocomplete="off"
                                            formControlName="valor_ajustado"
                                            type="text"
                                        />
                                    </p-iconfield>
                                    <label for="on_label">Valor Previsto</label>
                                </p-floatlabel>
                            </div>
                            <div class="form1edit mt-3 w-10">
                                <p-floatlabel variant="on">
                                    <p-iconfield>
                                        <p-inputicon class="pi pi-dollar" />
                                        <input
                                            variant="filled"
                                            [style]="{'width':'100%'}"
                                            pInputText id="on_label"
                                            autocomplete="off"
                                            formControlName="valor_real"
                                            type="text"
                                        />
                                    </p-iconfield>
                                    <label for="on_label">Valor Real</label>
                                </p-floatlabel>
                            </div>
                        </div><!--endRow-->
                    </div><!--endForm-->
                    <div class="botoes-form">
                        <div class="btnsec" (click)="clearEditForm()">
                            <p>Limpar</p>
                        </div>
                        
                        <div class="btnpri" (click)="saveEdit()">
                            <p>Salvar</p>            
                        </div>
                    </div>
                </form>
    </p-dialog>    


<!---------------------------Visualizar Moda-------------------------------->



    <p-dialog 
        [modal]="true"
        [(visible)]="detalhaOrcamentoBaseVisible" 
        [style]="{ width: '90%', height:'90%'}" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    >

    <div class="titulo">
        <p-divider align="left" type="solid">
            <b>Detalha Orçamento Base</b>
        </p-divider>
    </div>

<div *ngIf="orcamentoBaseDetalhes">
    <div class="visualizar">
        <div class="detalha">
            <p>Ano: <strong>{{  orcamentoBaseDetalhes.ano }}</strong></p>
            <p>Gestor: <strong>{{  orcamentoBaseDetalhes.gestor }}</strong></p>
            <p>Empresa: <strong>{{  orcamentoBaseDetalhes.empresa }}</strong></p>
            <p>Filial: <strong>{{  orcamentoBaseDetalhes.filial }}</strong></p>
            <p>Area: <strong>{{  orcamentoBaseDetalhes.area }}</strong></p>
            <p>Ambiente: <strong>{{  orcamentoBaseDetalhes.setor }}</strong></p>
            <p>Setor: <strong>{{  orcamentoBaseDetalhes.ambiente }}</strong></p>
            <p>Raiz Sintética: <strong>{{  orcamentoBaseDetalhes.raiz_sintetica }}</strong></p>
            <p>Raiz Sintética Descrição: <strong>{{  orcamentoBaseDetalhes.raiz_sintetica_desc }}</strong></p>
            <p>Raiz Analítica: <strong>{{  orcamentoBaseDetalhes.raiz_analitica_cod }}</strong></p>
            <p>Raiz Analítica Descrição: <strong>{{  orcamentoBaseDetalhes.raiz_analitica_desc }}</strong></p>
            <p>Conta Contábil: <strong>{{  orcamentoBaseDetalhes.conta_contabil }}</strong></p>
            <p>Conta Contábil Descrição: <strong>{{  orcamentoBaseDetalhes.conta_contabil_desc }}</strong></p>
            <p>Grupo Contábil Raiz Descrição: <strong>{{  orcamentoBaseDetalhes.raiz_contabil_grupo_desc }}</strong></p>
        </div>
        <div class="detalha">    
            <p>Periodicidade: <strong>{{  orcamentoBaseDetalhes.periodicidade }}</strong></p>
            <p>Tipo Mensal: <strong>{{  orcamentoBaseDetalhes.mensal_tipo }}</strong></p>
            <p>Mês Específico: <strong>{{  orcamentoBaseDetalhes.mes_especifico }}</strong></p>
            <p>Meses Recorrentes: <strong> {{ orcamentoBaseDetalhes.meses_recorrentes }}</strong></p>
            <p>Suplementação: <strong> {{ orcamentoBaseDetalhes.suplementacao }}</strong></p>
            <p>Base Orçamento: <strong> {{ orcamentoBaseDetalhes.base_orcamento }}</strong></p>
            <p>Id Base: <strong> {{ orcamentoBaseDetalhes.id_base }}</strong></p>
            <p>Tipo de Custo: <strong> {{ orcamentoBaseDetalhes.tipo_custo }}</strong></p>
            <p>Valor: <strong> {{ orcamentoBaseDetalhes.valor }}</strong></p>
            <p>Valor Ajustado: <strong> {{ orcamentoBaseDetalhes.valor_ajustado }}</strong></p>
            <p>Valor Real: <strong> {{ orcamentoBaseDetalhes.valor_real }}</strong></p>
            <p>Centro de Custo Pai: <strong>{{ getNomeCcPai(orcamentoBaseDetalhes.centro_de_custo_pai)}}</strong></p>
            <p>Centro de custo: <strong>{{ getNomeCc(orcamentoBaseDetalhes.centro_custo_nome)}}</strong></p>
        </div>    
    </div>    
</div>

   
    </p-dialog>