<div class="container">
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b><a routerLink="../../" >Painel Operacional</a> / <a routerLink="../">Produção</a> / Fábrica de Argamassa</b>
        </p-divider>
    </div>

    <div class="row1">
        <div class="carregamentos">
            <div class="tituloCarregamento">
                <span> <b> Carregamento geral</b></span><br>
            </div>
                <div class="carregamentoWrap">
                    <div class="cardCarregmento">
                        <div class="valorCarregamento">
                            <p>{{ totalCarregamentoDia }}</p>
                        </div>
                        <div class="unidadeCarregamento">
                            <p>Último dia</p>
                        </div>
                    </div>
                    <div class="cardCarregmento">
                        <div class="valorCarregamento">
                            <p>{{ totalCarregamentoMes }}</p>
                        </div>
                        <div class="unidadeCarregamento">
                            <p>Acomulado mês atual</p>
                        </div>
                    </div>
                    <div class="cardCarregmento">
                        <div class="valorCarregamento">
                            <p>{{ totalCarregamentoAno }}</p>
                        </div>
                        <div class="unidadeCarregamento">
                            <p>Acomulado ano atual</p>
                        </div>
                    </div>
                </div>        
        </div>
    </div><!--EndCarregamento-->
    <div class="row2">
        <div class="totaisWrap">
            <div class="tituloCarregamento">
                <b>Produção</b>
            </div>
            <div class="totais">
                <div class="card">
                    <div class="valor">
                        <p>{{ totalProducaoDia }}</p>
                    </div>
                    <div class="unidade">
                        <p>Último dia</p>
                    </div>
                </div>
                <div class="card">
                    <div class="valor">
                        <p>{{ totalProducaoMes }}</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado mês atual</p>
                    </div>
                </div>
                <div class="card">
                    <div class="valor">
                        <p>{{ totalProducaoAno }}</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado ano atual</p>
                    </div>
                </div>
            </div><!--EndTotais-->
        </div>    
        <div class="produtividadeWrap">
            <div class="tituloCarregamento">
                <b>Volume ensacado</b>
            </div>
            <div class="totais">
                <div class="card">
                    <div class="valor">
                        <p>{{ totalEnsacadosDia }}</p>
                    </div>
                    <div class="unidade">
                        <p>Último dia</p>
                    </div>
                </div>
                <div class="card">
                    <div class="valor">
                        <p>{{ totalEnsacadosMes }}</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado mês atual</p>
                    </div>
                </div>
                <div class="card">
                    <div class="valor">
                        <p>{{ totalEnsacadosAno }}</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado ano atual</p>
                    </div>
                </div>
            </div><!--EndTotais-->
        </div><!--EndProdutividade-->
    </div><!--enRow2-->
    <div class="wrapInplace">
        <p-inplace
            
            closable="true"
        >
            <ng-template pTemplate="display">
                <div class="inline-flex align-items-center">
                    <span class="ml-2"><i class="pi pi-plus-circle"></i></span>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <p-table [value]="dados" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Produto</th>
                            <th>Último dia</th>
                            <th>Acumulado Mês</th>
                            <th>Acumulado Ano</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dado>
                        <tr *ngIf="dado.nome">
                            <td>{{ dado.nome }}</td>
                            <td>{{ dado.dia }}</td>
                            <td>{{ dado.mes }}</td>
                            <td>{{ dado.ano }}</td>
                        </tr>
                        <tr *ngIf="dado.nome1">
                            <td>{{ dado.nome1 }}</td>
                            <td>{{ dado.dia1 }}</td>
                            <td>{{ dado.mes1 }}</td>
                            <td>{{ dado.ano1 }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>
        </p-inplace>
    </div>    
</div>    