<div class="container">
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b><a routerLink="../../" >Painel Operacional</a> / <a routerLink="../">Produção</a> / Fábrica de Argamassa</b>
        </p-divider>
    </div>

    <div class="row1"@swipeAnimationReverse>
        <div class="carregamentos w-8">
            <div class="tituloCarregamento">
                <span> <b> Carregamento geral</b></span><br>
            </div>
                <div class="carregamentoWrap flex-wrap gap-3">
                    <div class="cardCarregmento">
                        <div class="valorCarregamento">
                            <p>{{ totalCarregamentoDia }}</p>
                        </div>
                        <div class="unidadeCarregamento">
                            <p>Último dia</p>
                        </div>
                    </div>
                    <div class="cardCarregmento">
                        <div class="valorCarregamento">
                            <p>{{ totalCarregamentoMes }}</p>
                        </div>
                        <div class="unidadeCarregamento">
                            <p>Acomulado mês atual</p>
                        </div>
                    </div>
                    <div class="cardCarregmento">
                        <div class="valorCarregamento">
                            <p>{{ totalCarregamentoAno }}</p>
                        </div>
                        <div class="unidadeCarregamento">
                            <p>Acomulado ano atual</p>
                        </div>
                    </div>
                </div>        
        </div>
    </div><!--EndCarregamento-->
    <div class="row2 w-12 flex-column  lg:flex-row "@swipeAnimation>
        <div class="justify-content-center mt-3">
            <div class="tituloCarregamento">
                <b>Produção</b>
            </div>
            <div class=" flex flex-wrap justify-content-center gap-3">
                <div class="card">
                    <div class="valor">
                        <p>{{ totalProducaoDia }}</p>
                    </div>
                    <div class="unidade">
                        <p>Último dia</p>
                    </div>
                </div>
                <div class="card">
                    <div class="valor">
                        <p>{{ totalProducaoMes }}</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado mês atual</p>
                    </div>
                </div>
                <div class="card">
                    <div class="valor">
                        <p>{{ totalProducaoAno }}</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado ano atual</p>
                    </div>
                </div>
            </div><!--EndTotais-->
        </div>    
        <div class="justify-content-center mt-3 ">
            <div class="tituloCarregamento">
                <b>Volume ensacado</b>
            </div>
            <div class="totais flex-wrap gap-3">
                <div class="card">
                    <div class="valor">
                        <p>{{ totalEnsacadosDia }}</p>
                    </div>
                    <div class="unidade">
                        <p>Último dia</p>
                    </div>
                </div>
                <div class="card">
                    <div class="valor">
                        <p>{{ totalEnsacadosMes }}</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado mês atual</p>
                    </div>
                </div>
                <div class="card">
                    <div class="valor">
                        <p>{{ totalEnsacadosAno }}</p>
                    </div>
                    <div class="unidade">
                        <p>Acomulado ano atual</p>
                    </div>
                </div>
            </div><!--EndTotais-->
        </div><!--EndProdutividade-->
    </div><!--enRow2-->
    <div class="wrapInplace">
        <p-inplace
            
            closable="true"
        >
            <ng-template pTemplate="display">
                <div class="inline-flex align-items-center">
                    <span class="ml-2"><i class="pi pi-plus-circle"></i></span>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <p-table [value]="dados" responsiveLayout="scroll" stripedRows scrollable="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Produto</th>
                            <th>Último dia</th>
                            <th>Acumulado Mês</th>
                            <th>Acumulado Ano</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dado>
                        <tr *ngIf="dado.nome">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',2728);calcularGraficosCarregamentoMensal('mensal',2728)" style="cursor: pointer;"></i> {{ dado.nome }} 
                            </td>
                            <td>{{ dado.dia }}</td>
                            <td>{{ dado.mes }}</td>
                            <td>{{ dado.ano }}</td>
                        </tr>
                        <tr *ngIf="dado.nome1">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',22089);calcularGraficosCarregamentoMensal('mensal',22089)" style="cursor: pointer;"></i> {{ dado.nome1 }}
                            </td>
                            <td>{{ dado.dia1 }}</td>
                            <td>{{ dado.mes1 }}</td>
                            <td>{{ dado.ano1 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome2">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',2708);calcularGraficosCarregamentoMensal('mensal',2708)" style="cursor: pointer;"></i> {{ dado.nome2 }}
                            </td>
                            <td>{{ dado.dia2 }}</td>
                            <td>{{ dado.mes2 }}</td>
                            <td>{{ dado.ano2 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome3">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',2709);calcularGraficosCarregamentoMensal('mensal',2709)" style="cursor: pointer;"></i> {{ dado.nome3 }}
                            </td>
                            <td>{{ dado.dia3 }}</td>
                            <td>{{ dado.mes3 }}</td>
                            <td>{{ dado.ano3 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome4">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',2710);calcularGraficosCarregamentoMensal('mensal',2710)" style="cursor: pointer;"></i> {{ dado.nome4 }}
                            </td>
                            <td>{{ dado.dia4 }}</td>
                            <td>{{ dado.mes4 }}</td>
                            <td>{{ dado.ano4 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome5">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',2730);calcularGraficosCarregamentoMensal('mensal',2730)" style="cursor: pointer;"></i> {{ dado.nome5 }}
                            </td>
                            <td>{{ dado.dia5 }}</td>
                            <td>{{ dado.mes5 }}</td>
                            <td>{{ dado.ano5 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome6">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',23987);calcularGraficosCarregamentoMensal('mensal',23987)" style="cursor: pointer;"></i> {{ dado.nome6 }}
                            </td>
                            <td>{{ dado.dia6 }}</td>
                            <td>{{ dado.mes6 }}</td>
                            <td>{{ dado.ano6 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome7">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',23988);calcularGraficosCarregamentoMensal('mensal',23988)" style="cursor: pointer;"></i> {{ dado.nome7 }}
                            </td>
                            <td>{{ dado.dia7 }}</td>
                            <td>{{ dado.mes7 }}</td>
                            <td>{{ dado.ano7 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome8">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',23989);calcularGraficosCarregamentoMensal('mensal',23989)" style="cursor: pointer;"></i> {{ dado.nome8 }}
                            </td>
                            <td>{{ dado.dia8 }}</td>
                            <td>{{ dado.mes8 }}</td>
                            <td>{{ dado.ano8 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome9">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',24021);calcularGraficosCarregamentoMensal('mensal',24021)" style="cursor: pointer;"></i> {{ dado.nome9 }}
                            </td>
                            <td>{{ dado.dia9 }}</td>
                            <td>{{ dado.mes9 }}</td>
                            <td>{{ dado.ano9 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome10">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',24022);calcularGraficosCarregamentoMensal('mensal',24022)" style="cursor: pointer;"></i> {{ dado.nome10 }}
                            </td>
                            <td>{{ dado.dia10 }}</td>
                            <td>{{ dado.mes10 }}</td>
                            <td>{{ dado.ano10 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome11">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',24023);calcularGraficosCarregamentoMensal('mensal',24023)" style="cursor: pointer;"></i> {{ dado.nome11 }}
                            </td>
                            <td>{{ dado.dia11 }}</td>
                            <td>{{ dado.mes11 }}</td>
                            <td>{{ dado.ano11 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome12">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',24019);calcularGraficosCarregamentoMensal('mensal',24019)" style="cursor: pointer;"></i> {{ dado.nome12 }}
                            </td>
                            <td>{{ dado.dia12 }}</td>
                            <td>{{ dado.mes12 }}</td>
                            <td>{{ dado.ano12 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome13">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',24020);calcularGraficosCarregamentoMensal('mensal',24020)" style="cursor: pointer;"></i> {{ dado.nome13 }}
                            </td>
                            <td>{{ dado.dia13 }}</td>
                            <td>{{ dado.mes13 }}</td>
                            <td>{{ dado.ano13 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome14">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',24024);calcularGraficosCarregamentoMensal('mensal',24024)" style="cursor: pointer;"></i> {{ dado.nome14 }}
                            </td>
                            <td>{{ dado.dia14 }}</td>
                            <td>{{ dado.mes14 }}</td>
                            <td>{{ dado.ano14 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome15">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',2715);calcularGraficosCarregamentoMensal('mensal',2715)" style="cursor: pointer;"></i> {{ dado.nome15 }}
                            </td>
                            <td>{{ dado.dia15 }}</td>
                            <td>{{ dado.mes15 }}</td>
                            <td>{{ dado.ano15 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome16">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',2716);calcularGraficosCarregamentoMensal('mensal',2716)" style="cursor: pointer;"></i> {{ dado.nome16 }}
                            </td>
                            <td>{{ dado.dia16 }}</td>
                            <td>{{ dado.mes16 }}</td>
                            <td>{{ dado.ano16 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome17">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',2711);calcularGraficosCarregamentoMensal('mensal',2711)" style="cursor: pointer;"></i> {{ dado.nome17 }}
                            </td>
                            <td>{{ dado.dia17 }}</td>
                            <td>{{ dado.mes17 }}</td>
                            <td>{{ dado.ano17 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome18">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',2714);calcularGraficosCarregamentoMensal('mensal',2714)" style="cursor: pointer;"></i> {{ dado.nome18 }}
                            </td>
                            <td>{{ dado.dia18 }}</td>
                            <td>{{ dado.mes18 }}</td>
                            <td>{{ dado.ano18 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome19">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',24222);calcularGraficosCarregamentoMensal('mensal',24222)" style="cursor: pointer;"></i> {{ dado.nome19 }}
                            </td>
                            <td>{{ dado.dia19 }}</td>
                            <td>{{ dado.mes19 }}</td>
                            <td>{{ dado.ano19 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome20">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',2717);calcularGraficosCarregamentoMensal('mensal',2717)" style="cursor: pointer;"></i> {{ dado.nome20 }}
                            </td>
                            <td>{{ dado.dia20 }}</td>
                            <td>{{ dado.mes20 }}</td>
                            <td>{{ dado.ano20 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome21">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',2718);calcularGraficosCarregamentoMensal('mensal',2718)" style="cursor: pointer;"></i> {{ dado.nome21 }}
                            </td>
                            <td>{{ dado.dia21 }}</td>
                            <td>{{ dado.mes21 }}</td>
                            <td>{{ dado.ano21 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome22">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',25878);calcularGraficosCarregamentoMensal('mensal',25878)" style="cursor: pointer;"></i> {{ dado.nome22 }}
                            </td>
                            <td>{{ dado.dia22 }}</td>
                            <td>{{ dado.mes22 }}</td>
                            <td>{{ dado.ano22 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome23">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',25877);calcularGraficosCarregamentoMensal('mensal',25877)" style="cursor: pointer;"></i> {{ dado.nome23 }}
                            </td>
                            <td>{{ dado.dia23 }}</td>
                            <td>{{ dado.mes23 }}</td>
                            <td>{{ dado.ano23 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome24">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',2719);calcularGraficosCarregamentoMensal('mensal',2719)" style="cursor: pointer;"></i> {{ dado.nome24 }}
                            </td>
                            <td>{{ dado.dia24 }}</td>
                            <td>{{ dado.mes24 }}</td>
                            <td>{{ dado.ano24 }}</td>
                        </tr>
                        <tr *ngIf="dado.nome25">
                            <td>
                                <i class="pi pi-plus-circle" (click)="calcularGraficosMensal('mensal',2729);calcularGraficosCarregamentoMensal('mensal',2729)" style="cursor: pointer;"></i> {{ dado.nome25 }}
                            </td>
                            <td>{{ dado.dia25 }}</td>
                            <td>{{ dado.mes25 }}</td>
                            <td>{{ dado.ano25 }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>
        </p-inplace>
    </div>    
</div> 

<!------------------------MODAIS------------------------------------>
<p-dialog
    [modal]="true"
    [(visible)]="exibirGraficos" 
    [style]="{ width: '95%', height: '95%' }" 
>
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b>Produção e Carregamento Argamassa</b>
        </p-divider>
    </div>
    <div class="rowInit flex-wrap lg:flex-nowrap">
        <div class="dropdown mb-3">
            <p-select
                appendTo="body"
                [style]="{'width':'100%'}"
                [options]="produtos"
                optionLabel="nome"
                optionValue="cod"
                [(ngModel)]="selectedProduto"
                (onChange)="onProdutoSelecionado($event)"
            >
            </p-select>
               
        </div>

        <div class="rowBotoes"> 
            <div 
                class="btnCalc"
                (click)="exibirEquipamentos()"
                [ngClass]="{'active': selectedButton === 'acumulado'}" 
            >
                <p>Detalhar</p>
            </div> 
            <div 
                class="btnCalc"
                (click)="exibirAcumulados()"
                [ngClass]="{'active': selectedButton === 'acumulado'}" 
            >
                <p>Acumulado</p>
            </div>
        </div> 

        <div class="rowBotoes">
            
            <div 
                class="btnCalc"
                (click)="gerarGraficos('mensal',selectedProduto)"
                [ngClass]="{'active': selectedButton === 'mensal'}" 
            >
                <p>No mês</p>
            </div>
            <div 
                class="btnCalc" 
                (click)="gerarGraficos('anual',selectedProduto)"
                [ngClass]="{'active': selectedButton === 'anual'}" 
            >
                <p>No ano</p>
            </div>
        </div>
    </div>
    <div class=" w-full justify-content-center flex flex-column lg:flex-row lg:h-18rem">
        
            <div class="chartProdutosArgamassa w-full lg:w-10">
                <canvas id="graficoProducaoProduto"></canvas>
            </div>
        
        
        <!--Garficos-->
        <div class="projecoes mt-3 w-full flex-row lg:flex-column lg:w-2 lg:mt-0">
            <div class="af w-6 lg:w-full">    
                <div class="titulo2">
                    <span> <b>Média do Período</b></span><br>
                </div>
                <div class="media">
                    <div class="card2 h-6rem">
                        <div class="valor">
                            <p>{{ mediaProducao }}</p>
                        </div>
                        <div class="unidade2">
                            <p>Sc</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="af w-6 lg:w-full">    
                <div class="titulo2">
                    <span> <b> Projeção para o Período</b></span><br>
                </div>
                <div class="media">
                    <div class="card2 h-6rem">
                        <div class="valor">
                            <p>{{ projecaoProducao }}</p>
                        </div>
                        <div class="unidade2">
                            <p>Sc</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" w-full mt-3 justify-content-center flex flex-column lg:flex-row lg:h-18rem">
        <div class="chartProdutosArgamassa w-full lg:w-10">
            <canvas id="graficoProdutoCarregamento"></canvas>
        </div>

        <div class="projecoes mt-3 w-full flex-row lg:flex-column lg:w-2 lg:mt-0">
            <div class="af w-6 lg:w-full">
                <div class="titulo2">
                    <span> <b>Média do Período</b></span><br>
                </div>
                <div class="media">
                    <div class="card2 h-6rem">
                        <div class="valor">
                            <p>{{ mediaCarregamento }}</p>
                        </div>
                        <div class="unidade2">
                            <p>Sc</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="af w-6 lg:w-full">
                <div class="titulo2">
                    <span> <b> Projeção para o Período</b></span><br>
                </div>
                <div class="media">
                    <div class="card2 h-6rem">
                        <div class="valor">
                            <p>{{ projecaoCarregamento }}</p>
                        </div>
                        <div class="unidade2">
                            <p>Sc</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>    
</p-dialog>
<!---------------------------------  detalhes equipamentos ------------------ -->
<p-dialog 
    [modal]="true"
    [(visible)]="equipamentosVisivel" 
    [style]="{ width: '95%', height: '95%' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"   
>

    <p-divider align="left" type="solid">
        <b>Produtividade Fábrica</b>
    </p-divider>   
    <div class="container">
        <div class="rowSuperior flex-wrap">
            <div class="buttons w-12 lg:w-6">
                <p-datepicker
                    [style]="{'width':'100%'}"
                    id="da" 
                    [(ngModel)]="data"
                    dateFormat="dd/mm/yy"                  
                    [showIcon]="true"
                    placeholder="Data"
                >
                </p-datepicker>
                <div 
                    class="btnCalcProd"
                    (click)="calcularEquipamentosDetalhes(data)" 
                >
                    <p>Calcular</p>
                </div>
            </div>    
            <div class="rightEqpto w-12 lg:w-20rem">
                <div class="tituloEqpto">
                    <span> <b>Carregamento geral</b></span><br>
                </div>
                <div class="media2">
                    <div class="cardCarregamentoEqpto">
                        <div class="valorCarregamentoEqpto">
                            <p>{{ argamassaCarregamentoDia }}</p>
                        </div>
                        <div class="unidadeCarregamentoEqpto">
                            <p>Carregamento geral</p>
                        </div>    
                    </div>
                </div>    
            </div>    
        </div><!--end rowSupeiror-->
        <div class="containerInterno flex flex-wrap justify-content-center lg:flex-nowrap lg:w-12">
            <div class="w-12">
                <div class="rowWrap flex flex-column lg:flex-row lg:w-12 lg:mt-1">
                    <div class="tituloFab">
                        <b> Ensacados </b>
                    </div>
                    <div class="flex flex-column lg:flex-row lg:w-12">
                        <div class="flex flex-column lg:flex-row ">
                            <div class="flex w-12 flex-column align-items-center lg:flex-row">
                                <div class="eqpto text-center w-2 -ml-8">
                                    <p>MH-01</p>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>{{ mh01HoraProd }}</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Hora produção</p>
                                    </div>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>{{ mh01HoraParado }}</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Hora parado</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-column w-12 align-items-center lg:flex-row">
                            <div class="cardFab w-6">
                                <div class="valorCarregamentoProd">
                                    <p>{{ mh01Produtividade }}</p>
                                </div>
                                <div class="unidadeCarregamentoProd">
                                    <p>Produtividade equipamento</p>
                                </div>
                            </div>
                            <div class="cardFab w-6">
                                <div class="valorCarregamentoProd">
                                    <p>{{ mh01Producao }}</p>
                                </div>
                                <div class="unidadeCarregamentoProd">
                                    <p>Produção equipamento</p>
                                </div>
                            </div>
                        </div>
                    </div><!--end row1-->
                </div>    
                <div class="rowWrap flex flex-column lg:flex-row lg:w-12 lg:mt-1">
                    <div class="tituloFab">
                        <b> Ensacados</b>
                    </div>
                    <div class="flex flex-column lg:flex-row lg:w-12">   
                        <div class="flex flex-column lg:flex-row">
                            <div class="flex flex-column align-items-center lg:flex-row">
                                <div class="eqpto text-center w-2 -ml-8">
                                    <p>MH-02</p>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>{{ mh02HoraProd }}</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Hora produção</p>
                                    </div>
                                </div>
                                <div class="cardProd">
                                    <div class="valorCarregamentoProd">
                                        <p>{{ mh02HoraParado }}</p>
                                    </div>
                                    <div class="unidadeCarregamentoProd">
                                        <p>Hora parado</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-column w-12 align-items-center lg:flex-row">
                            <div class="cardFab w-6">
                                <div class="valorCarregamentoProd">
                                    <p>{{ mh02Produtividade }}</p>
                                </div>
                                <div class="unidadeCarregamentoProd">
                                    <p>Produtividade equipamento</p>
                                </div>
                            </div>
                            <div class="cardFab w-6">
                                <div class="valorCarregamentoProd">
                                    <p>{{ mh02Producao }}</p>
                                </div>
                                <div class="unidadeCarregamentoProd">
                                    <p>Produção equipamento</p>
                                </div>
                            </div>
                        </div>
                    </div><!--end row2-->
                </div><!--EndTitle-->          
            </div><!--end Esquerda-->
            <div class="direita w-10 lg:w-2">
                <div class="totais">
                    <div class="cardFabDir">
                        <div class="valorCarregamentoProd">
                            <p>{{ argamassaProdutividade }}</p>
                        </div>
                        <div class="unidadeCarregamentoProd">
                            <p>Produtividade do Dia</p>
                        </div>
                    </div>
                    <div class="cardFabDir">
                        <div class="valorCarregamentoProd">
                            <p>{{ argamassaProducao }}</p>
                        </div>
                        <div class="unidadeCarregamentoProd">
                            <p>Produção do Dia</p>
                        </div>
                    </div>
                </div>
            </div><!--End Direita-->
        </div><!--end containerInterno--> 
    </div><!--end container--> 


</p-dialog> 
<!----------------------ACUMULADOS----------------------->
<p-dialog 
    [modal]="true"
    [(visible)]="acumuladoVisivel" 
    [style]="{ width: '95%', height: '95%' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"   
>
<div class="titulo">
    <p-divider align="left" type="solid">
        <b>Produção e Carregamento Acumulados</b>
    </p-divider>   
    
        <div class="rowBotoesAcumulado">
            <div 
                class="btnCalc"
                (click)="gerarGraficosAcumulado('atual')"
                [ngClass]="{'active': selectedButton === 'atual'}" 
            >
                <p>Último dia</p>
            </div>
            <div 
                class="btnCalc"
                (click)="gerarGraficosAcumulado('mensal')"
                [ngClass]="{'active': selectedButton === 'mensal'}" 
            >
                <p>No mês</p>
            </div>
            <div 
                class="btnCalc" 
                (click)="gerarGraficosAcumulado('anual')"
                [ngClass]="{'active': selectedButton === 'anual'}" 
            >
                <p>No ano</p>
            </div>
        </div><!--end rowSupeiror-->
        <div class="containerModalAcumulado">
            <div class="chartProdutosArgamassaAcumulado">
                <canvas id="graficoAcumuladoProduto"></canvas>
            </div>
        </div>     
    
        <div class="containerModalAcumulado">
            <div class="chartProdutosArgamassaAcumulado">
                <canvas id="graficoAcumuladoCarregamento"></canvas>
            </div>
        </div>
    
</div>
</p-dialog> 