<div class="container">
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b><a routerLink="../">Painel Operacional</a> / Produção</b>
        </p-divider>
    </div>
    <div class="row">
        <div class="totais">
            <div class="titulo1">
                <i class="pi pi-plus-circle"></i><span> <b> Tn Rebritada</b></span><br>
            </div>
            <div class="card">
                <div class="valor">
                <p>{{ tnRebritadaDia }}</p>
                </div>
                <div class="unidade">
                <p>Último dia</p>
                </div>
            </div>
            <div class="card">
                <div class="valor">
                <p>{{ tnRebritadaMes }}</p>
                </div>
                <div class="unidade">
                <p>Acomulado mês atual</p>
                </div>
            </div>
            <div class="card">
                <div class="valor">
                <p>{{ tnRebritadaAno }}</p>
                </div>
                <div class="unidade">
                <p>Acomulado ano atual</p>
                </div>
            </div>
        </div>
        <div class="paradas">
            <div class="titulo1">
                <span> <b> Paradas na Rebritagem</b></span><br>
            </div>
            <p-table 
                [value]="dados" 
                [scrollable]="true" 
                scrollHeight="430px"  
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Descrição da Parada</th>
                        <th>Tempo</th>
                        <th>%</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dado>
                    <tr *ngIf="dado.nome1">
                        <td>{{ dado.nome1 }}</td>
                        <td>{{ dado.tempo1 }}</td>
                        <td>{{ dado.percent1 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome2">
                        <td>{{ dado.nome2 }}</td>
                        <td>{{ dado.tempo2 }}</td>
                        <td>{{ dado.percent2 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome3">
                        <td>{{ dado.nome3 }}</td>
                        <td>{{ dado.tempo3 }}</td>
                        <td>{{ dado.percent3 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome4">
                        <td>{{ dado.nome4 }}</td>
                        <td>{{ dado.tempo4 }}</td>
                        <td>{{ dado.percent4 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome5">
                        <td>{{ dado.nome5 }}</td>
                        <td>{{ dado.tempo5 }}</td>
                        <td>{{ dado.percent5 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome6">
                        <td>{{ dado.nome6 }}</td>
                        <td>{{ dado.tempo6 }}</td>
                        <td>{{ dado.percent6 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome7">
                        <td>{{ dado.nome7 }}</td>
                        <td>{{ dado.tempo7 }}</td>
                        <td>{{ dado.percent7 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome8">
                        <td>{{ dado.nome8 }}</td>
                        <td>{{ dado.tempo8 }}</td>
                        <td>{{ dado.percent8 }}</td>
                    </tr>
                    <tr *ngIf="dado.nome9">
                        <td>{{ dado.nome9 }}</td>
                        <td>{{ dado.tempo9 }}</td>
                        <td>{{ dado.percent9 }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
