<div class="menu">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/dashControle">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/tipoEnsaio">Tipo de Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/ensaio" >Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/calculoEnsaio" >Cálculo de Ensaio</a>
                </li>
            </ul>
        </li >
        
        <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-submenu nzTitle="Banco de Análises"  style="font-size: 13px; ">
        </li>
        
        <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-submenu nzTitle="Relatórios"  style="font-size: 13px; ">
        </li>

    </ul>
</div>

<div class="container">
    
    <div class="titulo mt-6 mb-6 text-2xl">
        <p-divider align="left" type="solid">
            <b>Ensaio</b>
        </p-divider>
    </div>

    <form
        [formGroup]="registerForm"
        title="Cadastrar novo Ensaio"
        (submit)="submit()"
        enctype="multipart/form-data"
    >

    <div class="form-geral flex flex-column lg:flex-row"@swipeAnimation>
        <div class="fg1 flex flex-column w-12 align-items-center lg:w-6">
            <div class="form2 w-10 mb-3 mt-3">
                <p-floatlabel variant="on">
                    <p-iconfield>
                        <p-inputicon class="pi pi-file-edit" />
                        <input
                            variant="filled"
                            [style]="{'width':'100%'}"
                            pInputText id="on_label"
                            autocomplete="off"
                            formControlName="descricao"
                            type="text"
                        />
                    </p-iconfield>
                    <label for="on_label">Digite a descrição</label>
                </p-floatlabel>
            </div>
            <div class="form2 w-10 mb-3 mt-3 text-left">
                <p-floatLabel variant="on"> 
                    <p-select
                        inputId="float-label"
                        [style]="{'width':'100%'}"
                        [options]="responsaveis" 
                        formControlName="responsavel"
                        optionLabel="value"
                        optionValue="value"
                        appendTo="body"
                        [filter]="true" 
                        filterBy="value"
                        [showClear]="true"
                        appendTo="body" 
                    >
                    </p-select>
                    <label for="float-label">Selecione o Responsável</label>
                </p-floatLabel> 
            </div>

        </div>
        <div class="fg1 flex flex-column w-12 align-items-center lg:w-6">
            <div class="form2 w-10 mb-3 mt-3">
                <p-floatlabel variant="on">
                    <p-iconfield>
                        <p-inputicon class="pi pi-file-edit" />
                        <input
                            variant="filled"
                            [style]="{'width':'100%'}"
                            pInputText id="on_label"
                            autocomplete="off"
                            formControlName="valor"
                            type="text"
                        />
                    </p-iconfield>
                    <label for="on_label">Digite o valor</label>
                </p-floatlabel>
            </div>
            <div class="form2 w-10 mb-3 mt-3 text-left">
                <p-floatLabel variant="on"> 
                    <p-select
                        variant="filled"
                        inputId="float-label"
                        [style]="{'width':'100%'}"
                        [options]="tiposEnsaio" 
                        formControlName="tipoEnsaio"
                        optionLabel="nome"
                        optionValue="id"
                        [filter]="true" 
                        filterBy="nome"
                        [showClear]="true"    
                    >
                    </p-select>
                    <label for="float-label">Selecione o Tipo de Ensaio</label>
                </p-floatLabel> 
            </div>
        </div>
    </div>

    </form>

</div>
<div class="container">
    <div class="flex justify-content-center mb-5 mt-5"@efeitoFade>
        <p-toast></p-toast>
        <div class="btnsec" (click)="clearForm()">
            <p>Limpar</p>
        </div>
        <div class="btnpri" (click)="submit()">
            <p>Salvar</p>            
        </div>

    </div>

    <div class="tabela w-11"@swipeAnimationReverse> 
        <p-toast />
        <p-confirmDialog />
        <p-table
            #dt1
            [value]="ensaios"
            [paginator]="true"
            [rows]="10"
            [rowsPerPageOptions]="[10, 20, 50]"
            [globalFilterFields]="['nome','descricao','responsavel','valor','tipoEnsaio']"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Ensaios"
            scrollable="true"
            stripedRows
        >
            <ng-template pTemplate="caption">
                <div class="flex flex-row md: justify-content-end">
                    <p-floatlabel variant="on">
                        <p-iconfield>
                            <p-inputicon class="pi pi-search" />
                            <input
                                variant="filled"
                                [(ngModel)] = "inputValue"
                                [style]="{'width':'100%'}"
                                pInputText id="on_label"
                                autocomplete="off"
                                type="text"
                            />
                        </p-iconfield>
                        <label for="on_label">Pesquisar</label>
                    </p-floatlabel>
                    <button size="small" class="ml-2" pButton [rounded]="true" label="Pesquisar" severity="info"  (click)="filterTable()"></button>
                    <button size="small" class="ml-2" pButton [rounded]="true" label="Limpar" severity="info" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 20%; text-align: center;" type="text" field="descricao" display="menu">Descrição</th>
                    <th style="width: 20%; text-align: center;" type="text" field="responsavel" display="menu">Responsável</th>
                    <th style="width: 20%; text-align: center;" type="text" field="valor" display="menu">Valor</th>
                    <th style="width: 20%; text-align: center;" type="text" field="tipoEnsaio" display="menu">Tipo de Ensaio</th>
                    <th style="width: 20%; text-align: center;" type="text" field="acoes" display="menu">Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ensaios>
                <tr>
                    <td style="text-align: center;">{{ ensaios.descricao }}</td>
                    <td style="text-align: center;">{{ ensaios.responsavel }}</td>
                    <td style="text-align: center;">{{ ensaios.valor }}</td>
                    <td style="text-align: center;">{{ ensaios.tipo_ensaio_detalhes.nome }}</td>
                    <td class="flex justify-content-center">
                        <div class="btnsec" (click)="abrirModalEdicao(ensaios)">
                            <p>Editar</p>
                        </div>
                        
                        <div class="btnpri" (click)="excluirEnsaio(ensaios.id)">
                            <p>Excluir</p>            
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button"  styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button"  styleClass="p-button-text"></p-button>
            </ng-template> 
        </p-table>
    </div>

    <!-------------------------------------------MODAL EDIÇÂO---------------------------------------------->
    <p-drawer
        [(visible)]="editFormVisible"
        position="right"
        [style]="{ width: '20%' }"
        styleClass="w-full md:w-10 lg:w-3"
    >

    <div class="titulo">
        <p-divider align="left" type="solid">
            <b>Editar Ensaio</b>
        </p-divider> 
    </div>

        <form
            [formGroup]="editForm"
            title="Editar Ensaio"
        >
            <div class="editGeral flex flex-column lg:flex-row">
                <div class="fg1edit flex flex-column w-12 align-items-center lg:w-12">
                    <div class="w-10 mb-3 mt-3">
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-file-edit" />
                                <input
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    formControlName="descricao"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Digite a descrição</label>
                        </p-floatlabel>
                    </div>
                    <div class="w-10 mb-3 mt-3 text-left">
                        <p-floatLabel variant="on"> 
                            <p-select
                                inputId="float-label"
                                [style]="{'width':'100%'}"
                                [options]="responsaveis" 
                                formControlName="responsavel"
                                optionLabel="value"
                                optionValue="value"
                                [filter]="true" 
                                filterBy="value"
                                [showClear]="true"
                                appendTo="body"    
                            >
                            </p-select>
                            <label for="float-label">Selecione o Responsável</label>
                        </p-floatLabel>
                    </div>
                    <div class="w-10 mb-3 mt-3">
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                
                                <input
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    formControlName="valor"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Digite o Valor</label>
                        </p-floatlabel>
                    </div>
                    <div class="w-10 mb-3 mt-3 text-left">
                        <p-floatLabel variant="on"> 
                            <p-select
                                variant="filled"
                                inputId="float-label"
                                [style]="{'width':'100%'}"
                                [options]="tiposEnsaio" 
                                formControlName="tipoEnsaio"
                                optionLabel="nome"
                                optionValue="id"
                                [filter]="true" 
                                filterBy="nome"
                                [showClear]="true"
                                appendTo="body"    
                            >
                            </p-select>
                            <label for="float-label">Selecione o Tipo de Ensaio</label>
                        </p-floatLabel> 
                    </div>
                </div>
            </div>
        </form>
        <div class="flex justify-content-center mb-5 mt-5">
            <div class="btnsec" (click)="clearEditForm()">
                <p>Limpar</p>
            </div>
            
            <div class="btnpri" (click)="saveEdit()">
                <p>Salvar</p>            
            </div>
        </div>
    </p-drawer>

</div>