@import "primeicons/primeicons.css";

.container{  

    flex-flow: column wrap;
    align-items: center;
    
}

.form-geral{
    width: 100%;
    .fg1{
        width: 50%;
       
        .form1{
            margin-left: 25px;
            p{
                margin-left: 20px;
            }
            p-inputGroup{
                width: 79%;
            }
        }
        .form2{
            padding: 5px;
            margin-left: 20px;
            
            p{
                margin-left: 20px;
            }
        }
        .filial{
            padding: 5px;
            margin-left: 20px;
            p{
                margin-left: 20px;
            }   
        }
        .form3{
            padding: 5px;
            margin-left: 20px;
            
            p{
                margin-left: 20px;
            }
        }
    }
    .fg2{
        width: 50%;
        margin-top: -30px;
        .dvset{
            margin-top: 15px;
            margin-left: 5px;
            p{
                margin-left: 18px;
            }
        }
        .form4{
            margin-top: 20px;
            margin-left: 5px;
            p{
                margin-left: 18px;
            }
        }
        .dvcarg{
            margin-top: 10px;
            margin-left: 5px;
            p{
                margin-left: 18px;
            }
        } 
    }
}
.titulo{
    justify-content: center;
    text-align: center;
    h2{
        color:slategrey;
    }
}
 form{
    margin-top: 2%;
    display: flex;
    height: 6%;
    
        p-inputGroup{
            padding: 15px;
        }
        p-dropdown{
            padding: 15px;
        }
        p-inputMask{
            padding: 15px;
            width: 150px;
        }    
        .form3{
            margin-top: 2%;
            margin-bottom: 5%;
        }

        .teste{
            margin-bottom: 5%;
            margin-top: 6%;
            label{
                margin-left: 5%;
            }
        }
 }
 
 .botoes-form{
    width: 89%;
    margin-bottom: 2%;
    margin-top: 1%;
    display: flex;
    justify-content: end;

}

.btnpri{
    cursor: pointer;
    background-color: #444959;
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin-left: 5px;
    p{
        text-align: center;
        margin-top: 10px;
    }
}   
.btnsec{
    cursor: pointer;
    background-color: #e3e3f3;
    color: #444959;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    p{
        text-align: center;
        margin-top: 10px;
    }
}


.flex{
    
    text-align: end;
    button{
        margin-left: 1%;
    }
}

.tabela{
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.td-acao{
    display: flex;
    button{
        margin-left: 2px;
    }
}

.editgeral{
    width: 100%;
    .fg1edit{
        width: 50%;
        p{
            margin-left: 20px;
        }
        .form1edit{
            width: 110%;  
            p{
                margin-left: 2px;
                margin-bottom: 20px;
            }
            p-inputGroup{
                width: 77%;        
            }
        }            
        .form2edit{
            margin-top: 10px;    
        }
        .filialed{
            margin-top: 10px;
        }
        .form3ed{
            margin-top:10px;
        }
    }        
    .fg2edit {
        width: 50%;
        p{
            margin-left: 20px;
        }
        .dvseted{
            margin-top: -18px;
        }
        .form4ed{
            margin-top: 25px;
        }
        .dvcarged{
            margin-top: 12px;
        }
    }   
}

.botoes-formedit{
    display: flex;
    justify-content: end;
    width: 89%;
    margin-top: 20px;
 
    .btnpriedit{
        cursor: pointer;
        background-color: #444959;
        color: #fff;
        width: 120px;
        height: 40px;
        border-radius: 5px;
        margin-left: 5px;
        p{
            text-align: center;
            margin-top: 10px;
            margin-left: 2px;
        }
    }   
    .btnsecedit{
        cursor: pointer;
        background-color: #e3e3f3;
        color: #444959;
        width: 120px;
        height: 40px;
        border-radius: 5px;
        p{
            text-align: center;
            margin-top: 10px;
            margin-left: 2px;
        }
    }
}