<div class="menu">
    <ul nz-menu nzMode="horizontal" style="background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="../dashboard">Início</a>
        </li>
        <li nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li nz-menu-item  nzMatchRouter>
                    <a routerLink="../formulario" >Tipos de Avaliações</a>
                </li>
                <li nz-menu-item  nzMatchRouter>
                    <a routerLink="../pergunta" >Perguntas</a>
                </li>
                <li nz-menu-item  nzMatchRouter>
                    <a routerLink="../tipoavaliacao" >Formulários</a>
                </li>
            </ul>
        </li>    
        
        <li nz-submenu nzTitle="Relacionamentos"  style="font-size: 13px;">
            <ul>
                <li nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px; " routerLink="../questionario" ><span  nzTheme="outline" ></span> Montar Formulários</a>
                </li>
                <li nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px" routerLink="../tipoavaliacaoavaliados" ><span  nzTheme="outline"></span> Associar Avaliados aos Tipos de Avaliação</a>
                </li>
                <li nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px;" routerLink="../avaliadoravaliados" ><span  nzTheme="outline"></span> Associar Avaliados aos Avaliadores</a>
                </li>
            </ul>    
        </li>

        
        <li nz-menu-item nzMatchRouter="">
            <a style="font-size: 13px;" routerLink="../avaliacao" >Avaliações</a>
        </li>
        <li nz-menu-item nzMatchRouter="">
            <a style="font-size: 13px;" routerLink="#" >Histórico de Avaliações</a>
        </li>
        <li nz-menu-item nzMatchRouter="">
            <a style="font-size: 13px;" routerLink="#" >Relatórios</a>
        </li>
        
    </ul>
</div>
    <div class="buttons" >
        
            <div class="divAvaliacao" routerLink="../novaliacao">
                <p> + NOVA AVALIAÇÃO </p>
            </div>  
        
        
            <div class="divFeedbacks" routerLink="../feedback">
                <p> FEEDBACKS </p>
            </div>  
        
    </div>    
<router-outlet></router-outlet>