<ul nz-menu nzMode="horizontal">
    <li nz-submenu nzTitle="Cadastros" nzIcon="tags">
        <ul>
            <li nz-menu-item  nzMatchRouter>
                <a routerLink="../colaborador" >Colaboradores</a>
            </li>
            <li nz-menu-item  nzMatchRouter>
                <a routerLink="../tipoavaliacao" >Tipos de Avaliação</a>
            </li>
            <li nz-menu-item  nzMatchRouter>
                <a routerLink="../pergunta" >Perguntas</a>
            </li>
            <li nz-menu-item  nzMatchRouter>
                <a routerLink="../formulario" >Questionários</a>
            </li>
        </ul>
      
    <li nz-menu-item   nzMatchRouter>
        <a routerLink="../questionario" ><span nz-icon nzType="setting" nzTheme="outline"></span> Montar Formulários</a>
    </li>
    <li nz-menu-item   nzMatchRouter>
        <a routerLink="../tipoavaliacaoavaliados" ><span nz-icon nzType="setting" nzTheme="outline"></span> Associar Avaliados - Tipos de Avaliação</a>
    </li>
    <li nz-menu-item   nzMatchRouter>
        <a routerLink="../avaliadoravaliados" ><span nz-icon nzType="setting" nzTheme="outline"></span> Associar Avaliados - Avaliadores</a>
    </li>
    
    
  </ul>
    <div class="buttons" >
        
            <div class="divAvaliacao" routerLink="../novaliacao">
                <p> + NOVA AVALIAÇÃO </p>
            </div>  
        
        
            <div class="divFeedbacks" routerLink="../">
                <p> FEEDBACKS </p>
            </div>  
        
    </div>    
<router-outlet></router-outlet>