<div class="menu">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="/welcome/baseOrcamentaria/orcamentoBase/homeOrcamento">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','Master'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizAnalitica" >Raízes Analíticas</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocustopai" >Centro de Custo Pai</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocusto" >Centro de Custo </a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizSintetica" >Raiz Sintética</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/contaContabil" >Conta Contábil</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/grupoItens" >Grupos de Itens</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/orcamentoBase" >Orçamento Base</a>
                </li>
            </ul>
        </li >
        
        <li *ngIf="hasGroup(['Admin','Master','OrcamentoGestorSetor','OrcamentoGestorItens'])" nz-submenu nzTitle="Acompanhamento "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','Master','OrcamentoGestorSetor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoRealizado/realizado"> Orçado x Realizado Setorial</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','OrcamentoGestorItens'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoGrupoItens/orcamentogrupoitens"> Orçado x Realizado Grupo de Itens</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/projetado"> DRE Projetado</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','OrcamentoGestorProd'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/indicadorescp">Indicadores Custo de Produção</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/curva">Curva ABC</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/ppr">PPR - Orçamento</a>
                </li> 
            </ul>
           
        </li>    
    </ul>
</div>

<div class="titulo mt-6">
    <p-divider align="left" type="solid">
        <b>Fator de contribuição ao bônus global</b>
    </p-divider>
</div>

<div class="container">

    <div  class="tabela mt-5"@swipeAnimationReverse>
        <p-table
            #dt1
            [value]="[
                { fabrica: 'Ai) Despesas Adm', label: despesasAdmFormatado, projetado: indices?.despesasAdm, realizado: bonusContribuicao?.despesasAdmFormatado },
                { fabrica: 'Aii) Variável Matriz', label: variavelMatrizFormatado, projetado: indices?.variavelMatriz, realizado: bonusContribuicao?.variavelMatriz },
                { fabrica: 'Aiii) Fixo Matriz', label: fixoMatrizFormatado, projetado: indices?.fixoMatriz, realizado: bonusContribuicao?.fixoMatriz },
                { fabrica: 'Aiv) Variável Atm', label: variavelAtmFormatado, projetado: indices?.variavelAtm, realizado: bonusContribuicao?.variavelAtm },
                { fabrica: 'Av) Fixo Atm', label: fixoAtmFormatado, projetado: indices?.fixoAtm, realizado: bonusContribuicao?.fixoAtm }
            ]"
            [paginator]="false"
            [rows]="20"
            dataKey="fabrica"
            [tableStyle]="{ 'min-width': '50rem' }"
            scrollable="true"
            stripedRows
        >
            <ng-template pTemplate="header">
                <tr class="footer-row1">
                    <th style="width: 25%">Fator cálculo</th>
                    <th style="width: 25%">Realizado</th>
                    <th style="width: 25%">Índice (%)</th>
                    <th style="width: 25%">Contribuição Bônus (R$)</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-resultado>
                <tr class="resultados-row">
                    <td *ngIf="loading">
                        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '20px', height: '20px' }" />
                    </td>
                    <td *ngIf="!loading">{{ resultado.fabrica }}</td>
                    
                    <td *ngIf="loading2">
                        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '20px', height: '20px' }" />
                    </td>
                    <td *ngIf="!loading2">{{ resultado.label  }}</td>
                    
                    <td *ngIf="loading3">
                        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '20px', height: '20px' }" />
                    </td>
                    <td *ngIf="!loading3">{{ resultado.projetado }}%</td>
                    
                    <td *ngIf="loading4">
                        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '20px', height: '20px' }" />
                    </td>
                    <td *ngIf="!loading4">{{ resultado.realizado }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr class="footerp-row">
                    <td><b>Total</b></td>
                    <td>{{ totalRealizadoFormatado  }}</td>
                    <td>100%</td>
                    <td>{{ totalBonusFormatado }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

<div class="titulo mt-6">
    <p-divider align="left" type="solid">
        <b>Cálculo do bônus conquistado</b>
    </p-divider>
</div>


    <div class="tabela mt-5"@swipeAnimation>  
        <p-table
            #dt2
            [paginator]="false"
            [rows]="20"
            dataKey="fabrica"
            [tableStyle]="{ 'min-width': '50rem' }"
            scrollable="true"
            stripedRows
            [value]="[
                { fabrica: 'Ci) Despesas Adm', previsto:orcadoDespesasAdmFormatado, realizado: despesasAdmFormatado, indice: indices2?.despesasAdmFormatado, bonus: bonus?.despesasAdm, valor: valorBonus?.despesasAdm },
                { fabrica: 'Cii) Variável Matriz', previsto: orcadoVariavelMatrizFormatado, realizado: custoVariavelMatrizFormatado, indice: indices2?.variavelMatrizFormatado, bonus: bonus?.variavelMatriz, valor: valorBonus?.variavelMatriz },
                { fabrica: 'Ciii) Fixo Matriz', previsto: orcadoFixoMatrizFormatado, realizado: fixoMatrizFormatado, indice: indices2?.fixoMatrizFormatado, bonus: bonus?.fixoMatriz, valor: valorBonus?.fixoMatriz },
                { fabrica: 'Civ) Variável Atm', previsto: orcadoVariavelAtmFormatado, realizado: custoVariavelAtmFormatado, indice: indices2?.variavelAtmFormatado, bonus: bonus?.variavelAtm, valor: valorBonus?.variavelAtm },
                { fabrica: 'Cv) Fixo Atm', previsto: orcadoFixoAtmFormatado, realizado: fixoAtmFormatado, indice: indices2?.fixoAtmFormatado, bonus: bonus?.fixoAtm, valor: valorBonus?.fixoAtm }
            ]"
        >
            <ng-template pTemplate="header"> 
                <tr class="footer-row1">
                    <th>Fator cálculo</th>
                    <th>Previsto</th>
                    <th>Realizado</th>
                    <th>%</th>
                    <th>% Bônus</th>
                    <th>Valor</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-resultado>
                <tr class="resultados-row">
                    <td *ngIf="loading5">
                        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '20px', height: '20px' }" />
                    </td>
                    <td *ngIf="!loading5">{{ resultado.fabrica }}</td>

                    <td *ngIf="loading6">
                        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '20px', height: '20px' }" />
                    </td>
                    <td *ngIf="!loading6">{{ resultado.previsto }}</td>

                    <td *ngIf="loading7">
                        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '20px', height: '20px' }" />
                    </td>
                    <td *ngIf="!loading7">{{ resultado.realizado }}</td>

                    <td *ngIf="loading8">
                        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '20px', height: '20px' }" />
                    </td>
                    <td *ngIf="!loading8">{{ resultado.indice }}%</td>

                    <td *ngIf="loading8">
                        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '20px', height: '20px' }" />
                    </td>
                    <td *ngIf="!loading8">{{ resultado.bonus }}%</td>

                    <td *ngIf="loading8">
                        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '20px', height: '20px' }" />
                    </td>
                    <td *ngIf="!loading8">{{ resultado.valor }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr class="footerp-row">
                    <td colspan="5"><strong>Total de bônus conquistado</strong></td>
                    <td><strong>{{ somaBonus }}</strong></td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
