<div class="menu">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/dashControle">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/tipoEnsaio">Tipo de Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/variavel">Variáveis de Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/ensaio" >Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/calculoEnsaio" >Cálculo de Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/plano" >Plano de Análise</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/tipoAmostra" >Local de Coleta</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/produtoAmostra" >Produto</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/garantia" >Garantias</a>
                </li>
            </ul>
        </li >
        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/amostra">Amostras</a>
        </li>

        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/ordem">Ordens de Serviço</a>
        </li>

        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/arquivo">Banco de Análises</a>
        </li>

        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;">Banco de Relatórios</a>
        </li>
         <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/resultados">Histórico de Resultados</a>
        </li>
        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/acompanhamento">Acompanhamento de Tempo</a>
        </li>
    </ul>
</div>

<div class="container flex flex-column align-items-center mb-4">
    <div class="containerInterno w-12" @swipeAnimation>
        <form
            [formGroup]="registerForm"
            title="Cadastrar novo Ensaio"
            (submit)="submit()"
            enctype="multipart/form-data"
        >
            <div class="form-geral flex flex-column gap-3 w-12">
                <div class="fg1 flex flex-column w-12 align-items-center">
                    <p-card class="card titulo-info w-12 text-center">
                        <ng-template #header>
                            <div class="header titulo-info w-full">
                                <h2>Ensaio</h2>
                            </div>
                        </ng-template>
                        <div class="bloco flex flex-column lg:flex-row"@swipeAnimation>
                            <div class="fg1 flex flex-column w-12 align-items-center lg:w-6">
                                <div class="form2 w-12 mb-3 mt-3">
                                    <p-floatlabel variant="on">
                                        <p-iconfield>
                                            <p-inputicon class="pi pi-file-edit" />
                                            <input
                                                variant="filled"
                                                [style]="{'width':'100%'}"
                                                pInputText id="on_label"
                                                autocomplete="off"
                                                formControlName="descricao"
                                                type="text"
                                            />
                                        </p-iconfield>
                                        <label for="on_label">Digite a descrição</label>
                                    </p-floatlabel>
                                </div>
                                <div class="flex w-12 ">
                                    <div class="form2 w-12 mb-3 mt-3">
                                        <p-floatlabel variant="on">
                                            <p-iconfield>
                                                <p-inputicon class="pi pi-file-edit" />
                                                <input
                                                    variant="filled"
                                                    [style]="{'width':'100%'}"
                                                    pInputText id="on_label"
                                                    autocomplete="off"
                                                    formControlName="funcao"
                                                    type="text"
                                                    [readOnly]="true"

                                                />
                                            </p-iconfield>
                                            <label for="on_label">Cálculo</label>
                                        </p-floatlabel>
                                    </div>
                                    <div class="form2 flex w-1 mb-3 mt-3">
                                        <button pButton type="button" icon="pi pi-plus" (click)="montarFormula()"></button> 
                                    </div>
                                </div>

                                <div class="form2 flex flex-column md:flex-row md:items-end md:gap-4 w-12 mt-3">
                                    <div class="field w-full md:w-6 text-left">
                                        <p-floatLabel variant="on">
                                        <p-inputNumber 
                                            variant="filled"
                                            mode="decimal"
                                            formControlName="tempoPrevistoValor"
                                            [showButtons]="true" 
                                            inputId="tempoPrevistoValorInput"    
                                            [min]="0" 
                                            [max]="9999"
                                            [useGrouping]="false" 
                                            [style]="{ width: '100%' }"
                                        ></p-inputNumber>
                                        <label for="tempoPrevistoValorInput">Tempo Previsto</label>
                                        </p-floatLabel>     
                                    </div>

                                    <div class="field w-full md:w-6 text-left">
                                        <p-floatLabel variant="on"> 
                                        <p-select
                                            inputId="tempoPrevistoUnidadeSelect"   
                                            [style]="{'width':'100%'}"
                                            [options]="unidades" 
                                            formControlName="tempoPrevistoUnidade"
                                            optionLabel="value"
                                            optionValue="value"
                                            appendTo="body"
                                            [filter]="true" 
                                            filterBy="value"
                                            [showClear]="true"
                                        ></p-select>
                                        <label for="tempoPrevistoUnidadeSelect">Unidade de Tempo</label>
                                        </p-floatLabel>
                                    </div>    
                                </div>
                                
                                <div class="form2 flex flex-column md:flex-row md:items-end md:gap-4 w-12 mb-3">
                                    <div class="field w-full md:w-6 text-left">
                                        <p-floatLabel variant="on">
                                        <p-inputNumber 
                                            variant="filled"
                                            mode="decimal"
                                            formControlName="tempoTrabalhoValor"
                                            [showButtons]="true" 
                                            inputId="tempoTrabalhoValorInput"    
                                            [min]="0" 
                                            [max]="9999"
                                            [useGrouping]="false" 
                                            [style]="{ 'width': '100%' }"
                                        ></p-inputNumber>
                                        <label for="tempoTrabalhoValorInput">Tempo Trabalho</label>
                                        </p-floatLabel>     
                                    </div>

                                    <div class="field w-full md:w-6 text-left">
                                        <p-floatLabel variant="on"> 
                                        <p-select
                                            inputId="tempoTrabalhoUnidadeSelect"   
                                            [style]="{'width':'100%'}"
                                            [options]="unidades" 
                                            formControlName="tempoTrabalhoUnidade"
                                            optionLabel="value"
                                            optionValue="value"
                                            appendTo="body"
                                            [filter]="true" 
                                            filterBy="value"
                                            [showClear]="true"
                                        ></p-select>
                                        <label for="tempoTrabalhoUnidadeSelect">Unidade de Tempo</label>
                                        </p-floatLabel>
                                    </div>    
                                </div>

                            </div>
                            <div class="fg1 flex flex-column w-12 align-items-center lg:w-6 ml-4">
                                <div class="form2 w-12 mb-3 mt-3" *ngIf="registerForm.get('tipoEnsaio')?.value===7">
                                    <p-floatlabel variant="on">
                                        <p-iconfield>
                                            <p-inputicon class="pi pi-file-edit" />
                                            <input
                                                variant="filled"
                                                [style]="{'width':'100%'}"
                                                pInputText id="on_label"
                                                autocomplete="off"
                                                formControlName="valor"
                                                type="text"
                                                
                                            />
                                        </p-iconfield>
                                        <label for="on_label">Digite o valor</label>
                                    </p-floatlabel>
                                </div>
                                
                                    <div class="form2 w-12 mb-3 mt-3 text-left">
                                        <p-floatLabel variant="on"> 
                                            <p-select
                                                variant="filled"
                                                inputId="float-label"
                                                [style]="{'width':'100%'}"
                                                [options]="tiposEnsaio" 
                                                formControlName="tipoEnsaio"
                                                optionLabel="nome"
                                                optionValue="id"
                                                [filter]="true" 
                                                filterBy="nome"
                                                [showClear]="true"
                                                appendTo="body"
                                            >
                                            </p-select>
                                            <label for="float-label">Selecione o Tipo de Ensaio</label>
                                        </p-floatLabel> 
                                    </div>
                                    <div class="form2 flex flex-column md:flex-row w-12 mt-3 md:justify-content-between">
                                        <div class="w-6 text-left md:mb-3 lg:mr-1">
                                            <p-floatLabel variant="on">
                                                <p-inputNumber 
                                                    variant="filled"
                                                    mode="decimal"
                                                    formControlName="garantia"
                                                    [showButtons]="true" 
                                                    inputId="tempo" 
                                                    [min]="0" 
                                                    [max]="9999"
                                                    [useGrouping]="false" 
                                                />
                                            <label for="tempo">Garantia</label>
                                            </p-floatLabel>     
                                        </div>          
                                        <div class="w-6 text-left">    
                                            <p-floatLabel variant="on"> 
                                                <p-select
                                                    inputId="float-label"
                                                    [style]="{'width':'100%'}"
                                                    [options]="tipo_garantia" 
                                                    formControlName="tipoGarantia"
                                                    optionLabel="value"
                                                    optionValue="value"
                                                    appendTo="body"
                                                    [filter]="true" 
                                                    filterBy="value"
                                                    [showClear]="true"

                                                >
                                                </p-select>
                                                <label for="float-label">Tipo de Garantia</label>
                                            </p-floatLabel>
                                        </div>    
                                    </div>
                                    <div class="flex flex-row w-12 mt-3 gap-1">    
                                        <div class="w-4">
                                            <p-floatlabel variant="on">
                                                <p-iconfield>
                                                    <p-inputicon class="pi pi-file-edit" />
                                                    <input
                                                        variant="filled"
                                                        [style]="{'width':'100%'}"
                                                        pInputText id="on_label"
                                                        autocomplete="off"
                                                        formControlName="unidade"
                                                        type="text"
                                                    />
                                                </p-iconfield>
                                                <label for="on_label">Digite a Unidade</label>
                                            </p-floatlabel>
                                        </div>
                                        <div class="w-4">
                                            <p-floatlabel variant="on">
                                                <p-iconfield>
                                                    <p-inputicon class="pi pi-file-edit" />
                                                    <input
                                                        variant="filled"
                                                        [style]="{'width':'100%'}"
                                                        pInputText id="on_label"
                                                        autocomplete="off"
                                                        formControlName="norma"
                                                        type="text"
                                                    />
                                                </p-iconfield>
                                                <label for="on_label">Digite a norma</label>
                                            </p-floatlabel>
                                        </div>
                                        <div class="w-4">
                                            <p-floatlabel variant="on">
                                                <p-iconfield>
                                                    <p-inputicon class="pi pi-file-edit" />
                                                    <input
                                                        variant="filled"
                                                        [style]="{'width':'100%'}"
                                                        pInputText id="on_label"
                                                        autocomplete="off"
                                                        formControlName="estado"
                                                        type="text"
                                                    />
                                                </p-iconfield>
                                                <label for="on_label">Digite o estado</label>
                                            </p-floatlabel>
                                        </div>
                                    </div>    
                            </div>
                        </div>
                        <div class=" flex w-12 gap-3 mt-4 justify-content-center text-center">
                            <p-button 
                                (onClick)="clearForm()" 
                                label="Limpar"
                                severity="info"
                                iconPos="right"  
                                tooltipPosition="top"
                                pTooltip="Limpar"
                                icon="pi pi-eraser"
                            />
                            <p-button 
                                (onClick)="submit()" 
                                label="Salvar" 
                                severity="success"
                                icon="pi pi-save" 
                                iconPos="right" 
                                tooltipPosition="top"
                                pTooltip="Salvar"
                            />
                        </div>
                    </p-card>
                </div>
            </div>        
        </form>
    
        <div class="background-form mt-4 w-12" @swipeAnimation>
            <div class="text-left w-12">
                <p-toast />
                <p-confirmDialog />
                <p-inplace closable="true" closeIcon="pi pi-angle-up">
                <ng-template pTemplate="display">
                    <p-button 
                        label="Ensaios" 
                        tooltipPosition="top" 
                        pTooltip="Exibir Amostras"
                        severity="info"    
                    >
                        <div class="inline-flex align-items-center">
                            <span><i class="pi pi-angle-down"></i></span>
                        </div>
                    </p-button>
    
                </ng-template>
                <ng-template pTemplate="content">
                    <p-table
                        #dt1
                        [value]="ensaios"
                        [paginator]="true"
                        [rows]="10"
                        [rowsPerPageOptions]="[10, 20, 50]"
                        [globalFilterFields]="['nome','descricao','responsavel','valor','tempo_previsto','tipo_ensaio_detalhes.nome','norma','unidade','garantia','estado']"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Ensaios"
                        scrollable="true"
                    >
                        <ng-template pTemplate="caption">
                            <div class="flex flex-row md: justify-content-end">
                                <p-floatlabel variant="on">
                                    <p-iconfield>
                                        <p-inputicon class="pi pi-search" style="color: #1b91ff;" />
                                        <input
                                            variant="filled"
                                            [(ngModel)] = "inputValue"
                                            [style]="{'width':'100%'}"
                                            pInputText id="on_label"
                                            autocomplete="off"
                                            type="text"
                                            (keyup)="filterTable()"
                                            style="border-color:#1b91ff;"
                                        />
                                    </p-iconfield>
                                    <label for="on_label" style="color: #1b91ff">Pesquisar</label>
                                </p-floatlabel>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr class="tabela">
                                <th style="width: 20%; text-align: center;" type="text" field="descricao" display="menu">Descrição</th>
                                <th style="width: 20%; text-align: center;" type="text" field="valor" display="menu">Unidade</th>
                                <th style="width: 20%; text-align: center;" type="text" field="tempo_previsto" display="menu">Tempo Previsto</th>
                                <th style="width: 20%; text-align: center;" type="text" field="garantia" display="menu">Tempo de Trabalho</th>
                                <th style="width: 20%; text-align: center;" type="text" field="norma" display="menu">Norma</th>
                                <th style="width: 20%; text-align: center;">
                                    <p-columnFilter field="tipo_ensaio_detalhes.nome" matchMode="equals" [showMenu]="false">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-select 
                                                [ngModel]="value" 
                                                [options]="tiposEnsaioFiltro" 
                                                (ngModelChange)="filter($event)" 
                                                placeholder="Selecionar Tipo" 
                                                [showClear]="true" 
                                                optionLabel="label"
                                                optionValue="value"
                                                appendTo="body"
                                                styleClass="p-column-filter"
                                            >
                                            </p-select>
                                        </ng-template>
                                        <ng-template pTemplate="header">
                                            Tipo de Ensaio
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th style="width: 20%; text-align: center;" type="text" field="tipo_ensaio_detalhes.nome" display="menu">Garantia</th>
                                <th style="width: 20%; text-align: center;" type="text" field="estado" display="menu">Estado</th>
                                <th style="width: 20%; text-align: center;" type="text" field="acoes" display="menu">Ações</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-ensaios>
                            <tr class="row8">
                                <td style="text-align: center;">{{ ensaios.descricao }}</td>
                                <td style="text-align: center;">{{ ensaios.unidade }}</td>
                                <td style="text-align: center;">{{ ensaios.tempo_previsto }}</td>
                                <td style="text-align: center;">{{ ensaios.tempo_trabalho }}</td>
                                <td style="text-align: center;">{{ ensaios.norma }}</td>
                                <td style="text-align: start;">{{ ensaios.tipo_ensaio_detalhes.nome }}</td>
                                <td style="text-align: center;">{{ ensaios.garantia }}</td>
                                <td style="text-align: center;">{{ ensaios.estado }}</td>
                                <td class="flex justify-content-center gap-1">
                                    <p-button 
                                        icon="pi pi-file-edit" 
                                        severity="info" 
                                        size="small" 
                                        [raised]="true"
                                        (onClick)="abrirModalEdicao(ensaios)"
                                        pTooltip="Editar" 
                                        tooltipPosition="top">
                                    </p-button>
                                    <p-button 
                                        icon="pi pi-trash" 
                                        severity="danger" 
                                        size="small" 
                                        [raised]="true"
                                        (onClick)="excluirEnsaio(ensaios.id)"
                                        pTooltip="Excluir" 
                                        tooltipPosition="top">
                                    </p-button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft">
                            <p-button type="button"  styleClass="p-button-text"></p-button>
                        </ng-template>
                        <ng-template pTemplate="paginatorright">
                            <p-button type="button"  styleClass="p-button-text"></p-button>
                        </ng-template> 
                    </p-table>
                </ng-template>
                </p-inplace>        
            </div>
        </div>    
    </div>
</div>
    <!-------------------------------------------MODAL EDIÇÂO---------------------------------------------->
    <p-drawer
        [(visible)]="editFormVisible"
        position="right"
        styleClass="w-full md:w-10 lg:w-4"
    >
        <div class="background-form">
            <form
                [formGroup]="editForm"
                title="Editar Ensaio"
            >
                <div class="form-geral flex flex-column gap-3 w-12 lg:flex-row">
                    <div class="fg1 flex flex-column w-12 align-items-center">
                        <p-card class="card w-12">
                            <ng-template #header>
                                <div class="header titulo-info ">
                                    <h2>Editar Ensaio</h2>
                                </div>
                            </ng-template>
                            <div 
                                class="bloco flex flex-column w-12 align-items-center lg:w-12"
                            >
                                <div class="w-10 mb-3 mt-3">
                                    <p-floatlabel variant="on">
                                        <p-iconfield>
                                            <p-inputicon class="pi pi-file-edit" />
                                            <input
                                                variant="filled"
                                                [style]="{'width':'100%'}"
                                                pInputText id="on_label"
                                                autocomplete="off"
                                                formControlName="descricao"
                                                type="text"
                                            />
                                        </p-iconfield>
                                        <label for="on_label">Digite a descrição</label>
                                    </p-floatlabel>
                                </div>
                                <div class="flex w-10 ">
                                    <div class="form2 w-12 mb-3 mt-3">
                                        <p-floatlabel variant="on">
                                            <p-iconfield>
                                                <p-inputicon class="pi pi-file-edit" />
                                                <input
                                                    variant="filled"
                                                    [style]="{'width':'100%'}"
                                                    pInputText id="on_label"
                                                    autocomplete="off"
                                                    formControlName="funcao"
                                                    type="text"
                                                    [readOnly]="true"
                                                />
                                            </p-iconfield>
                                            <label for="on_label">Cálculo</label>
                                        </p-floatlabel>
                                    </div>
                                    <div class="form2 flex w-1 mb-3 mt-3">
                                        <button pButton icon="pi pi-plus" (click)="editarFormula()"></button> 
                                    </div>
                                </div>
                                <div class="w-10 mb-3 mt-3">
                                    <p-floatlabel variant="on">
                                        <p-iconfield>
                                            
                                            <input
                                                variant="filled"
                                                [style]="{'width':'100%'}"
                                                pInputText id="on_label"
                                                autocomplete="off"
                                                formControlName="valor"
                                                type="text"
                                            />
                                        </p-iconfield>
                                        <label for="on_label">Digite o Valor</label>
                                    </p-floatlabel>
                                </div>
                                <div class="w-10 mb-3 mt-3">
                                    <p-floatlabel variant="on">
                                        <p-iconfield>
                                            <p-inputicon class="pi pi-file-edit" />
                                            <input
                                                variant="filled"
                                                [style]="{'width':'100%'}"
                                                pInputText id="on_label"
                                                autocomplete="off"
                                                formControlName="norma"
                                                type="text"
                                            />
                                        </p-iconfield>
                                        <label for="on_label">Digite a norma</label>
                                    </p-floatlabel>
                                </div>
                                    
                                <div class="w-10 mb-3 mt-3 text-left">
                                    <p-floatLabel variant="on">
                                        <p-inputNumber 
                                        variant="filled"
                                        mode="decimal"
                                        formControlName="tempoPrevistoValor"
                                        [showButtons]="true" 
                                        inputId="tempoPrevistoValorInput"
                                        [min]="0" 
                                        [max]="9999"
                                        [useGrouping]="false" 
                                        [style]="{'width': '100%'}"
                                        />
                                        <label for="tempoPrevistoValorInput">Tempo Previsto</label>
                                    </p-floatLabel>     
                                </div>
                        
                                <div class="w-10 mb-3 mt-3 text-left">    
                                    <p-floatLabel variant="on"> 
                                        <p-select
                                        inputId="tempoPrevistoUnidadeSelect"
                                        [style]="{'width':'100%'}"
                                        [options]="unidades" 
                                        formControlName="tempoPrevistoUnidade"
                                        optionLabel="value"
                                        optionValue="value"
                                        appendTo="body"
                                        [filter]="true" 
                                        filterBy="value"
                                        [showClear]="true"
                                        >
                                        </p-select>
                                        <label for="tempoPrevistoUnidadeSelect">Informe a Unidade de tempo</label>
                                    </p-floatLabel>
                                </div>

                                <div class="w-10 mb-3 mt-3 text-left">
                                    <p-floatLabel variant="on">
                                        <p-inputNumber 
                                        variant="filled"
                                        mode="decimal"
                                        formControlName="tempoTrabalhoValor"
                                        [showButtons]="true" 
                                        inputId="tempoTrabalhoValorInput"
                                        [min]="0" 
                                        [max]="9999"
                                        [useGrouping]="false" 
                                        [style]="{'width': '100%'}"
                                        />
                                        <label for="tempoTrabalhoValorInput">Tempo Trabalho</label>
                                    </p-floatLabel>     
                                </div>

                                <div class="w-10 mb-3 mt-3 text-left">    
                                    <p-floatLabel variant="on"> 
                                        <p-select
                                        inputId="tempoTrabalhoUnidadeSelect"
                                        [style]="{'width':'100%'}"
                                        [options]="unidades" 
                                        formControlName="tempoTrabalhoUnidade"
                                        optionLabel="value"
                                        optionValue="value"
                                        appendTo="body"
                                        [filter]="true" 
                                        filterBy="value"
                                        [showClear]="true"
                                        >
                                        </p-select>
                                        <label for="tempoTrabalhoUnidadeSelect">Informe a Unidade de tempo</label>
                                    </p-floatLabel>
                                </div>

                                <div class="w-10 mb-3 mt-3 text-left">
                                    <p-floatLabel variant="on"> 
                                        <p-select
                                            variant="filled"
                                            inputId="float-label"
                                            [style]="{'width':'100%'}"
                                            [options]="tiposEnsaio" 
                                            formControlName="tipo_ensaio"
                                            optionLabel="nome"
                                            optionValue="id"
                                            [filter]="true" 
                                            filterBy="nome"
                                            [showClear]="true"
                                            appendTo="body"    
                                        >
                                        </p-select>
                                        <label for="float-label">Selecione o Tipo de Ensaio</label>
                                    </p-floatLabel> 
                                </div>
                                <div class="w-10 mb-3 mt-3 text-left">
                                    <p-floatlabel variant="on">
                                        <p-iconfield>
                                            <p-inputicon class="pi pi-file-edit" />
                                            <input
                                                variant="filled"
                                                [style]="{'width':'100%'}"
                                                pInputText id="on_label"
                                                autocomplete="off"
                                                formControlName="unidade"
                                                type="text"
                                            />
                                        </p-iconfield>
                                        <label for="on_label">Digite a unidade</label>
                                    </p-floatlabel>
                                </div>
                                <div class="w-10 mb-3 mt-3">
                                    <p-floatlabel variant="on">
                                        <p-iconfield>
                                            <p-inputicon class="pi pi-file-edit" />
                                            <input
                                                variant="filled"
                                                [style]="{'width':'100%'}"
                                                pInputText id="on_label"
                                                autocomplete="off"
                                                formControlName="garantia"
                                                type="text"
                                            />
                                        </p-iconfield>
                                        <label for="on_label">Digite a garantia</label>
                                    </p-floatlabel>
                                </div>
                                <div class="w-10 mb-3 mt-3">
                                    <p-floatlabel variant="on">
                                        <p-iconfield>
                                            <p-inputicon class="pi pi-file-edit" />
                                            <input
                                                variant="filled"
                                                [style]="{'width':'100%'}"
                                                pInputText id="on_label"
                                                autocomplete="off"
                                                formControlName="estado"
                                                type="text"
                                            />
                                        </p-iconfield>
                                        <label for="on_label">Digite o estado</label>
                                    </p-floatlabel>
                                </div>
                            </div>
                    </p-card>
                </div>
            </div>            
        </form>
        </div>
        <div class="flex justify-content-center gap-2 mb-5 mt-5">
            <p-button 
                icon="pi pi-eraser" 
                severity="info"
                label="Limpar" 
                size="large" [raised]="true" 
                (onClick)="clearEditForm()"
                pTooltip="Limpar Formulário" 
                tooltipPosition="top">
        </p-button>
        <p-button 
            icon="pi pi-save" 
            severity="success"
            label="Salvar" 
            size="large" 
            [raised]="true" 
            (onClick)="saveEdit()"
            pTooltip="Salvar ensaio" 
            tooltipPosition="top">
        </p-button>
        </div>
    </p-drawer>



    <!-------------------------------------Modal Montagem Formulas--------------------------------------->
    <p-drawer
        [(visible)]="montarFormulaVisivel"
        position="left"
        styleClass=" md:w-10 lg:w-10"
        [style]="{ height: '100vh' }"
    >
        <ng-template pTemplate="header">
            <p-divider align="left" type="solid">
                <b style="font-size: 20px;">Montar Cálculo</b>
            </p-divider>
        </ng-template>    
        <div class="w-full flex flex-column md:flex-row" style="height: 100%;"> 
            <div class="flex flex-column w-6 blocos-scroll">
                <div *ngFor="let bloco of expressaoDinamica; let i = index" class="flex flex-row w-10">

                        <div class="w-8 mt-2 mb-2 text-left">
                            <p-floatLabel variant="on">
                                <p-select
                                    [(ngModel)]="bloco.tipo"
                                    [options]="tipos"
                                    placeholder="Tipo"
                                    [showClear]="true"
                                    optionLabel="label"
                                    optionValue="value"
                                    [style]="{ width: '90%' }"
                                    [filter]="true" 
                                    filterBy="label"
                                    appendTo="body"
                                    inputId="float-label"
                                    variant="filled" 
                                >       
                                </p-select>
                                <label for="float-label">Informe o elemento</label>
                            </p-floatLabel>
                        </div>
                        <div  *ngIf="bloco.tipo === 'Valor'"  class="w-7 mt-2 mb-2 text-left">    
                            <p-floatlabel variant="on">
                                <p-iconfield>
                                    <p-inputicon class="pi pi-file-edit" />
                                    <input

                                        [(ngModel)]="bloco.valor"
                                        variant="filled"
                                        [style]="{'width':'100%'}"
                                        pInputText id="on_label"
                                        autocomplete="off"
                                        type="text"

                                    />
                                </p-iconfield>
                                <label for="on_label">Digite o valor</label>
                            </p-floatlabel>
                        </div>
                        <div *ngIf="bloco.tipo !== 'Valor'" class="w-7 mt-2 mb-2 text-left">     
                            <p-floatlabel variant="on">
                                <p-select
                                    [(ngModel)]="bloco.valor"
                                    [disabled]="!bloco.tipo"
                                    [options]="getValoresPorTipo(bloco.tipo || '')"
                                    [style]="{ width: '100%' }"
                                    optionLabel="label"
                                    optionValue="value"
                                    appendTo="body"
                                    inputId="float-label"
                                    variant="filled"  
                                    [filter]="true" 
                                    filterBy="label"
                                    [showClear]="true"
                                >
                                </p-select>
                                <label for="float-label">Informe o elemento</label>
                            </p-floatlabel>
                        </div>        
                        <div class="m-2 flex">    
                            <button pButton type="button" icon="pi pi-trash" severity="danger" (click)="removerBloco(i)" *ngIf="expressaoDinamica.length > 1"></button>
                            <button pButton type="button" icon="pi pi-plus" severity="info" label="Add" (click)="adicionarBloco()"></button>
                        </div>

                </div>                   
            </div>    

            <p-divider layout="vertical" />

            <div class="w-4 expressao-container">
                <div class="expressao">
                    <span style="font-size: 20px;">{{ getExpressaoStringAmigavel() }}</span>
                </div>
            </div>

        </div>

        <ng-template pTemplate="footer">
            <div class="flex drawer-footer gap-1">
                <button pButton type="button" icon="pi pi-plus" severity="info" label="Adicionar" (click)="adicionarBloco()"></button>
                <button pButton type="button" icon="pi pi-play" severity="warn" label="Testar" (click)="testarExpressao()"></button>
                <button pButton type="button" icon="pi pi-check" severity="success" label="Inserir" (click)="salvarFormula()"></button>
            </div>
        </ng-template>

    </p-drawer>

    <!----------------------------------Modal Edição de Formula---------------------------------------->

<p-drawer
    [(visible)]="editarFormulaVisivel"
    position="left"
    styleClass="w-full md:w-10 lg:w-10"
>

    <ng-template pTemplate="header">
        <p-divider align="left" type="solid">
            <b style="font-size: 20px;">Editar Cálculo</b>
        </p-divider>
    </ng-template>
    <div class="w-full flex flex-column md:flex-row" style="height: 100%;"> 
        <div class="flex flex-column w-6 blocos-scroll">
            <div *ngFor="let bloco of expressaoDinamica; let i = index" class="flex flex-row w-12">
                <div class="w-8 mt-2 mb-2 text-left">
                    <p-floatLabel variant="on">
                        <p-select
                            [(ngModel)]="bloco.tipo"
                            [options]="tipos"
                            placeholder="Tipo"
                            [showClear]="true"
                            optionLabel="label"
                            optionValue="value"
                            [style]="{ width: '90%' }"
                            [filter]="true" 
                            filterBy="label"
                            appendTo="body"
                            inputId="float-label"
                            variant="filled" 
                        >       
                        </p-select>
                        <label for="float-label">Informe o elemento</label>
                    </p-floatLabel>
                </div>
                <div  *ngIf="bloco.tipo === 'Valor'"  class="w-7 mt-2 mb-2 text-left">    
                    <p-floatlabel variant="on">
                        <p-iconfield>
                            <p-inputicon class="pi pi-file-edit" />
                            <input

                                [(ngModel)]="bloco.valor"
                                variant="filled"
                                [style]="{'width':'100%'}"
                                pInputText id="on_label"
                                autocomplete="off"
                                type="text"

                            />
                        </p-iconfield>
                        <label for="on_label">Digite o valor</label>
                    </p-floatlabel>
                </div>
                <div *ngIf="bloco.tipo !== 'Valor'" class="w-7 mt-2 mb-2 text-left">     
                    <p-floatlabel variant="on">
                        <p-select
                            [(ngModel)]="bloco.valor"
                            [disabled]="!bloco.tipo"
                            [options]="getValoresPorTipo(bloco.tipo || '')"
                            [style]="{ width: '100%' }"
                            optionLabel="label"
                            optionValue="value"
                            appendTo="body"
                            inputId="float-label"
                            variant="filled"  
                            [filter]="true" 
                            filterBy="label"
                            [showClear]="true"
                        >
                        </p-select>
                        <label for="float-label">Informe o elemento</label>
                    </p-floatlabel>
                </div>        
                <div class="m-2">    
                    <button pButton icon="pi pi-trash" severity="danger" (click)="removerBloco(i)" *ngIf="expressaoDinamica.length > 1"></button>
                </div>
            </div>                   
        </div>    

        <p-divider layout="vertical" />

        <div class="w-4 expressao-container">
            <div class="expressao">
                <span style="font-size: 20px;">{{ getExpressaoStringAmigavel() }}</span>
            </div>
        </div>

    </div>

    <ng-template pTemplate="footer">
        <div class="flex drawer-footer gap-1">
            <button pButton icon="pi pi-plus" severity="info" label="Adicionar" (click)="adicionarBloco()"></button>
            <button pButton icon="pi pi-check" severity="success" label="Inserir" (click)="salvarFormulaEditada()"></button>
        </div>
    </ng-template>  

</p-drawer>