@import "primeicons/primeicons.css";
.container{
    max-width: 100%;
    background-color: #F7F8FA;
}

.tabela{
    th{
        background-color: #71AAE0;
        color: #fff;
    }
}

 :host ::ng-deep .p-fieldset-legend {
    background-color: #71AAE0;
    color: #fff;
  }