<div class="menu w-full">
  <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 45px;box-shadow: 2px 0 6px ; ">
      <li nz-menu-item nzMatchRouter="#">
          <a style="font-size: 13px;" routerLink="../dashboard">Início</a>
      </li>
      <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
          <ul>
              <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                  <a routerLink="../tipoavaliacao" >Tipos de Avaliações</a>
              </li>
              <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                  <a routerLink="../pergunta" >Perguntas</a>
              </li>
              <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                  <a routerLink="../formulario" >Formulários</a>
              </li>
          </ul>
      </li>    
      
      <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Relacionamentos"  style="font-size: 13px;">
          <ul>
              <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item   nzMatchRouter>
                  <a style="font-size: 13px; " routerLink="../questionario" ><span  nzTheme="outline" ></span> Montar Formulários</a>
              </li>
              <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item   nzMatchRouter>
                  <a style="font-size: 13px" routerLink="../tipoavaliacaoavaliados" ><span  nzTheme="outline"></span> Associar Avaliados a um Formulário</a>
              </li>
              <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item   nzMatchRouter>
                  <a style="font-size: 13px;" routerLink="../avaliadoravaliados" ><span  nzTheme="outline"></span> Associar Avaliados aos Avaliadores</a>
              </li>
          </ul>    
      </li>

      
      <li nz-menu-item nzMatchRouter="">
          <a style="font-size: 13px;" routerLink="../avaliacao" >Avaliações</a>
      </li>
      <li nz-menu-item nzMatchRouter="" *ngIf="hasGroup(['RHAvaliacao'])">
          <a style="font-size: 13px;" routerLink="../historico" >Histórico de Avaliações</a>
      </li>
  
      <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Relatórios" style="font-size: 13px;">
        <ul>
          <li nz-menu-item nzMatchRouter="">
            <a style="font-size: 13px;" routerLink="../mapaavaliadores">Mapa de Avaliadores</a>
          </li>
          <li nz-menu-item nzMatchRouter="">
            <a style="font-size: 13px;" routerLink="../comparativoavaliadores">Comparativo entre Avaliadores</a>
          </li>
          <li nz-menu-item nzMatchRouter="">
            <a style="font-size: 13px;" routerLink="../mapaavaliados">Mapa de Avaliados</a>
          </li>
          <li nz-menu-item nzMatchRouter="">
            <a style="font-size: 13px;" routerLink="../evolucaoavaliacoes">Evolução das Avaliações</a>
          </li>
          <li nz-menu-item nzMatchRouter="">
            <a style="font-size: 13px;" routerLink="../relatoriospdf">Relatŕorios em PDF</a>
          </li>
        </ul>
      </li> 
      
  </ul>
</div>

<div class="container">
  <p-divider align="left" type="solid">
    <b>Nova Avaliação</b> 
  </p-divider><br> 
  <p style="margin-left: 22px;">Periodo: <strong>{{ trimestre }}</strong></p>
  <br>

  <div class="flex flex-column md:flex-row w-full  lg:flex-row w-full ">
   
    <div class="flex flex-column md:flex-row align-items-center w-full">
      <div class="w-12 md:w-6 ml-2">
        <div class=" mt-3">
          <p><b>Identificação do Avaliador:</b></p>
        </div>
        <div class="flex flex-row ">
          <div class=" w-2">
            Nome: <br>
            Empresa: <br>
            Filial: <br>
            Área: <br>
            Ambiente: <br>
            Setor: <br> 
            Cargo: <br>
          </div>
          <div class="w-10 ml-4">
            <strong>{{ avaliador.nome }}</strong><br>
            <strong> {{ getNomeEmpresa(avaliador.empresa) }}</strong><br>
            <strong> {{ getNomeFilial(avaliador.filial) }}</strong><br>
            <strong> {{ getNomeArea(avaliador.area) }}</strong><br>
            <strong> {{ avaliador.ambiente }}</strong><br>
            <strong> {{ avaliador.setor }}</strong><br>
            <strong> {{ avaliador.cargo }}</strong><br>
          </div> 
        </div>        
      </div>

          <div class="w-12 md:w-6 ml-2">
            <div class=" mt-3">
                <p><b>Identificação do Avaliado:</b></p>
            </div> 
            <div class="flex flex-row " *ngIf="avaliadoDetalhes">  
                    <div class="w-2">      
                      Nome: <br>
                      Empresa:<br>
                      Filial: <br>
                      Área:<br>
                      Ambiente:<br>
                      Setor:<br>
                      Cargo:<br>
                    </div>
                    <div class="w-10 ml-4">
                      <strong>{{ avaliadoDetalhes.nome }} </strong><br>
                      <strong> {{ getNomeEmpresa(avaliadoDetalhes.empresa) }}</strong><br>
                      <strong> {{ getNomeFilial(avaliadoDetalhes.filial) }}</strong><br>
                      <strong> {{ getNomeArea(avaliadoDetalhes.area) }}</strong><br>
                      <strong> {{ avaliadoDetalhes.ambiente }}</strong><br>
                      <strong> {{ avaliadoDetalhes.setor }}</strong><br>
                      <strong> {{ avaliadoDetalhes.cargo }}</strong><br>
                    </div>  
              </div>
            </div>
    </div>
        
  </div>           
      <!-- <div class="dvimg mt-5">  
        <img [src]="avaliadoDetalhes.image"  width="80" class="shadow-4" />
      </div>   -->

<p-divider></p-divider>

  <div class="dvform">
    <form [formGroup]="registeravaliacaoForm" (submit)="submit()"> 
      <div class="drops w-full justify-content-center"> 
        <div class="dp2 w-10 md:w-6">  
          <p-floatlabel variant="on">
            <p-select
                variant="filled"
                [style]="{'width':'100%'}"
                id="ava" 
                [options]="avaliadosSA"
                formControlName="avaliado" 
                optionLabel="nome"
                [filter]="true"
                filterBy="nome"
                [showClear]="true"
                (onChange)="onAvaliadoSelecionado($event.value)"
            >   
            </p-select>
            <label for="ava">Avaliado</label>
          </p-floatlabel>
        </div> 
      </div>
      <br>  
      <input type="hidden" formControlName="tipo">
      <input type="hidden" formControlName="avaliador" [(ngModel)]="avaliador" > 
      <input type="hidden" formControlName="periodo" [(ngModel)]="trimestre">

    <mat-horizontal-stepper linear="true" #stepper [selectedIndex]="activeIndex" (selectionChange)="stepper.selectedIndex = activeIndex">
      <ng-container formArrayName="perguntasRespostas">
        <mat-step
          *ngFor="let pergunta of perguntas; let i = index"
          [formGroupName]="i.toString()"
          [stepControl]="getPerguntaControl(i)"
          errorMessage="A resposta é obrigatória."
        >
          <ng-template matStepLabel>{{ pergunta.texto }}</ng-template>
          <div class="flex flex-column mt-2 md:flex-row mt-0 ">
            <div class="">
              <mat-radio-group
                style="flex-direction: column; display: flex;"
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                formControlName="resposta"
                name="resposta{{ i }}"
              >
                <mat-radio-button class="example-radio-button" *ngFor="let conceito of conceitos" [value]="conceito.value">
                  {{ conceito.name }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="flex flex-column mt-1 mt-4 md:ml-8 ">
              <p [innerHTML]="pergunta.legenda | safeHtml"></p>
            </div>
          </div>
          <div>
            <textarea
              rows="2"
              cols="35"
              pInputTextarea
              formControlName="justificativa"
            ></textarea>
            <br>
            <div *ngIf="getPerguntaControl(i).hasError('justificativaObrigatoria')">
              <p>Justificativa é obrigatória quando a resposta é ótimo ou péssimo.</p>
            </div>
            <button mat-button matStepperPrevious type="button">Anterior</button>
            <button mat-button matStepperNext type="button">Próximo</button>
          </div>
        </mat-step>
      </ng-container>
    
      <mat-step>
        <ng-template matStepLabel>Revisão</ng-template>
        <div *ngFor="let pergunta of perguntas; let i = index">
          <p>Pergunta: <strong>{{ pergunta.texto }}</strong></p>
          <p>Resposta: <strong>{{ getRespostaValue(i) }}</strong></p>
          <p>Justificativa: <strong>{{ getJustificativaValue(i) }}</strong></p>
          <p-divider></p-divider>
        </div>
        <div class="botoes-form">
          <p-toast></p-toast>
          <button mat-button matStepperPrevious type="button" >Anterior</button>
          <button mat-button type="button" (click)="submit()">Salvar</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    </form>
  </div>








  


 