<div class="container">
  <div *ngIf="hasGroup(['Admin','RHGestor'])" class="menu">
    <ul nz-menu nzMode="horizontal" style="background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="../dashboard">Início</a>
        </li>
        <li nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li nz-menu-item  nzMatchRouter>
                    <a routerLink="../tipoavaliacao" >Tipos de Avaliações</a>
                </li>
                <li nz-menu-item  nzMatchRouter>
                    <a routerLink="../pergunta" >Perguntas</a>
                </li>
                <li nz-menu-item  nzMatchRouter>
                    <a routerLink="../formulario" >Formulários</a>
                </li>
            </ul>
        </li>    
        
        <li nz-submenu nzTitle="Relacionamentos"  style="font-size: 13px;">
            <ul>
                <li nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px; " routerLink="../questionario" ><span  nzTheme="outline" ></span> Montar Formulários</a>
                </li>
                <li nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px" routerLink="../tipoavaliacaoavaliados" ><span  nzTheme="outline"></span> Associar Avaliados a um Formulário</a>
                </li>
                <li nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px;" routerLink="../avaliadoravaliados" ><span  nzTheme="outline"></span> Associar Avaliados aos Avaliadores</a>
                </li>
            </ul>    
        </li>

        
        <li nz-menu-item nzMatchRouter="">
            <a style="font-size: 13px;" routerLink="../avaliacao" >Avaliações</a>
        </li>
        <li nz-menu-item nzMatchRouter=""*ngIf="hasGroup(['RHAvaliacao'])">
            <a style="font-size: 13px;" routerLink="../historico" >Histórico de Avaliações</a>
        </li>
        <li nz-menu-item nzMatchRouter="">
            <a style="font-size: 13px;" routerLink="../relatorios" >Relatórios</a>
        </li>
        
    </ul>
  </div>
  

  <p-divider align="left" type="solid">
    <b>Nova Avaliação</b> 
  </p-divider><br> 
  <p style="margin-left: 22px;">Periodo: <strong>{{ trimestre }}</strong></p>
  <br>
  <div class="tc">
    <div class="titles">
      <div class="t1">
        <p><b>Identificação do Avaliador:</b></p>
      </div>
    </div>  
    <div class="qw">
      <p><b>Identificação do Avaliado:</b></p>
    </div>
  </div>    
  <div class="infos">
      <div class="avaliador">
          <div class="av1">
            Nome: <br>
            Empresa: <br>
            Filial: <br>
            Área: <br>
            Ambiente: <br>
            Setor: <br> 
            Cargo: <br>
          </div>
          <div class="av2">
            <strong>{{ avaliador.nome }}</strong><br>
            <strong> {{ getNomeEmpresa(avaliador.empresa) }}</strong><br>
            <strong> {{ getNomeFilial(avaliador.filial) }}</strong><br>
            <strong> {{ getNomeArea(avaliador.area) }}</strong><br>
            <strong> {{ getNomeSetor(avaliador.setor) }}</strong><br>
            <strong> {{ getNomeAmbiente(avaliador.ambiente) }}</strong><br>
            <strong> {{ getNomeCargo(avaliador.cargo) }}</strong><br>
          </div>  
      </div>      
      <div class="avaliado" *ngIf="avaliadoDetalhes">  
            <div class="ava1">      
              Nome: <br>
              Empresa:<br>
              Filial: <br>
              Área:<br>
              Ambiente:<br>
              Setor:<br>
              Cargo:<br>
            </div>
            <div class="ava2">
              <strong>{{ avaliadoDetalhes.nome }} </strong><br>
              <strong>{{ formularioDetalhes.nome }} </strong><br>
              <strong> {{ getNomeEmpresa(avaliadoDetalhes.empresa) }}</strong><br>
              <strong> {{ getNomeFilial(avaliadoDetalhes.filial) }}</strong><br>
              <strong> {{ getNomeArea(avaliadoDetalhes.area) }}</strong><br>
              <strong> {{ getNomeSetor(avaliadoDetalhes.setor) }}</strong><br>
              <strong> {{ getNomeAmbiente(avaliadoDetalhes.ambiente) }}</strong><br>
              <strong> {{ getNomeCargo(avaliadoDetalhes.cargo) }}</strong><br>
            </div>  
            
            <div class="dvimg">  
              <img [src]="avaliadoDetalhes.image"  width="80" class="shadow-4" />
            </div>  
      </div>
  </div>  

<p-divider></p-divider>

  <div class="dvform">
    <form [formGroup]="registeravaliacaoForm" (submit)="submit()"> 
      <div class="drops"> 
        <div class="dp2">  
          <label for="ava">Avaliado: </label>
          <p-dropdown
              [style]="{'width':'75%'}"
              id="ava" 
              [options]="avaliadosSA"
              formControlName="avaliado" 
              optionLabel="nome"
              [filter]="true"
              filterBy="nome"
              placeholder="Selecione" 
              [showClear]="true"
              (onChange)="onAvaliadoSelecionado($event.value)"
          >   
          </p-dropdown>
        </div> 
      </div>
      <br>  
      <input type="hidden" formControlName="tipo">
      <input type="hidden" formControlName="avaliador" [(ngModel)]="avaliador" > 
      <input type="hidden" formControlName="periodo" [(ngModel)]="trimestre">

    <mat-horizontal-stepper linear="true" #stepper [selectedIndex]="activeIndex" (selectionChange)="stepper.selectedIndex = activeIndex">
      <ng-container formArrayName="perguntasRespostas">
        <mat-step
          *ngFor="let pergunta of perguntas; let i = index"
          [formGroupName]="i.toString()"
          [stepControl]="getPerguntaControl(i)"
          errorMessage="A resposta é obrigatória."
        >
          <ng-template matStepLabel>{{ pergunta.texto }}</ng-template>
          <div class="rg">
            <div class="rb">
              <mat-radio-group
                style="flex-direction: column; display: flex;"
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                formControlName="resposta"
                name="resposta{{ i }}"
              >
                <mat-radio-button class="example-radio-button" *ngFor="let conceito of conceitos" [value]="conceito.value">
                  {{ conceito.name }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="pl">
              <p [innerHTML]="pergunta.legenda | safeHtml"></p>
            </div>
          </div>
          <div>
            <textarea
              rows="2"
              cols="60"
              pInputTextarea
              formControlName="justificativa"
            ></textarea>
            <br>
            <div *ngIf="getPerguntaControl(i).hasError('justificativaObrigatoria')">
              <p>Justificativa é obrigatória quando a resposta é ótimo ou péssimo.</p>
            </div>
            <button mat-button matStepperPrevious type="button">Anterior</button>
            <button mat-button matStepperNext type="button">Próximo</button>
          </div>
        </mat-step>
      </ng-container>
    
      <mat-step>
        <ng-template matStepLabel>Revisão</ng-template>
        <div *ngFor="let pergunta of perguntas; let i = index">
          <p>Pergunta: <strong>{{ pergunta.texto }}</strong></p>
          <p>Resposta: <strong>{{ getRespostaValue(i) }}</strong></p>
          <p>Justificativa: <strong>{{ getJustificativaValue(i) }}</strong></p>
          <p-divider></p-divider>
        </div>
        <div class="botoes-form">
          <p-toast></p-toast>
          <button mat-button matStepperPrevious type="button" >Anterior</button>
          <button mat-button type="button" (click)="submit()">Salvar</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    </form>
  </div>
</div>    







  


 