<div class="menu">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/dashControle">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/tipoEnsaio">Tipo de Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/variavel">Variáveis de Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/ensaio" >Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/calculoEnsaio" >Cálculo de Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/plano" >Plano de Análise</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/tipoAmostra" >Tipo de Amostra</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/produtoAmostra" >Produto de Amostra</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/garantia" >Garantias</a>
                </li>
            </ul>
        </li >
        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/amostra">Amostras</a>
        </li>

        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/ordem">Ordens de Serviço</a>
        </li>

        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/arquivo">Banco de Análises</a>
        </li>

        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;">Banco de Relatórios</a>
        </li>
         <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/resultados">Histórico de Resultados</a>
        </li>
        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/acompanhamento">Acompanhamento de Tempo</a>
        </li>
    </ul>
</div>

<div class="container flex flex-column align-items-center mb-4">
    <div class="containerInterno w-12">
        <div @swipeAnimation>
            <form
                [formGroup]="registerForm"
                title="Cadastrar novo Plano de Análise" 
                class="flex flex-column gap-4" 
            >
                <div class="form-geral flex flex-column gap-3 w-12 lg:flex-row">
                    <div class="fg1 flex flex-column w-12 align-items-center">
                        <p-card class="card w-12 text-center">
                            <ng-template #header>
                                <div class="header titulo-info w-full text-center">
                                    <h2>Plano de Análise</h2>
                                </div>
                            </ng-template>
                            <div class="flex flex-column w-12 gap-3">
                                <div class="w-12 text-left">
                                    <p-floatlabel variant="on">
                                        <p-iconfield>
                                            <p-inputicon class="pi pi-file-edit" />
                                            <input
                                                variant="filled"
                                                [style]="{'width':'100%'}"
                                                pInputText id="on_label"
                                                autocomplete="off"
                                                formControlName="descricao"
                                                type="text"
                                            />
                                        </p-iconfield>
                                        <label for="on_label">Digite a descrição</label>
                                    </p-floatlabel>
                                </div>

                                <div class="w-12 text-left">
                                    <div class="step1 mt-2 mb-5 w-12 ">
                                        <p-message severity="info" class="w-11">
                                            <b>Selecione os Ensaios</b>
                                        </p-message>
                                    </div>
                                    <p-pickList 
                                        [source]="ensaios" 
                                        [target]="targetEnsaios" 
                                        sourceHeader="Ensaios"
                                        targetHeader="Selecionados" 
                                        [dragdrop]="true" 
                                        [responsive]="true"
                                        [sourceStyle]="{ height: '20rem' }" 
                                        [targetStyle]="{ height: '20rem' }" 
                                        filterBy="descricao"
                                        sourceFilterPlaceholder="Pesquisa por nome" 
                                        targetFilterPlaceholder="Pesquisa por nome"
                                        breakpoint="412px"
                                        styleClass="picklist-black"
                                        [trackBy]="trackByFn"
                                        (onMoveToTarget)="onEnsaiosChange($event)"
                                        (onMoveToSource)="onEnsaiosChange($event)"
                                        (onSourceReorder)="onEnsaiosChange($event)"
                                        (onTargetReorder)="onEnsaiosChange($event)"
                                    >
                                        <ng-template let-ensaio pTemplate="item">
                                            <div class="flex flex-wrap p-2 align-items-center gap-3">
                                                <div class="flex-1 flex flex-column gap-2">
                                                    <span class="font-bold">{{ ensaio.descricao }}</span>
                                                    <div class="flex align-products-center gap-2">
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-pickList>
                                </div>

                                <div class="w-12 text-left">
                                    <p-pickList 
                                        [source]="calculosEnsaio" 
                                        [target]="targetCalculos"
                                        [trackBy]="trackByFn"
                                        sourceHeader="Cálculos de Ensaio"
                                        targetHeader="Selecionados"
                                        [dragdrop]="true"
                                        [responsive]="true"
                                        [sourceStyle]="{ height: '50%' }" 
                                        [targetStyle]="{ height: '30rem' }"
                                        filterBy="descricao"
                                        sourceFilterPlaceholder="Pesquisa por nome" 
                                        targetFilterPlaceholder="Pesquisa por nome"
                                        breakpoint="412px"
                                        (onMoveToTarget)="onCalculosChange($event)"
                                        (onMoveToSource)="onCalculosChange($event)"
                                        (onSourceReorder)="onCalculosChange($event)"
                                        (onTargetReorder)="onCalculosChange($event)"
                                    >
                                        <ng-template let-ensaio pTemplate="item">
                                            <div class="flex flex-wrap p-2 align-items-center gap-3">
                                            <div class="flex-1 flex flex-column gap-2">
                                                <span class="font-bold">{{ ensaio.descricao }}</span>
                                            </div>
                                            </div>
                                        </ng-template>
                                        </p-pickList>
                                </div>
                            </div>
                            <div class=" flex w-12 gap-3 mt-4 justify-content-center text-center">
                                <p-button 
                                    (onClick)="clearForm()" 
                                    label="Limpar"
                                    severity="info"
                                    iconPos="right"  
                                    tooltipPosition="top"
                                    pTooltip="Limpar"
                                    icon="pi pi-eraser"
                                />
                                <p-button 
                                    (onClick)="submit()" 
                                    label="Salvar" 
                                    severity="success"
                                    icon="pi pi-save" 
                                    iconPos="right" 
                                    tooltipPosition="top"
                                    pTooltip="Salvar"
                                />
                            </div>
                        </p-card>
                    </div>    
                </div>
            </form>
        </div>
        <div class="background-form mt-4 w-12" @swipeAnimation>
            <div class="text-left w-12">
                <p-toast />
                <p-confirmDialog />
                <p-inplace closable="true" closeIcon="pi pi-angle-up">
                    <ng-template pTemplate="display">
                        <p-button 
                            label="Planos de Análise" 
                            tooltipPosition="top"
                            severity="info"
                            pTooltip="Exibir Planose de Análise"      
                        >
                            <div class="inline-flex align-items-center">
                                <span><i class="pi pi-angle-down"></i></span>
                            </div>
                        </p-button>

                    </ng-template>
                    <ng-template pTemplate="content">
                        <p-table
                            #dt1
                            [value]="planosAnalise"
                            [paginator]="true"
                            [rows]="10"
                            [rowsPerPageOptions]="[10, 20, 50]"
                            [globalFilterFields]="['descricao','ensaios','calcsEnsaios']"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Planos de Análise"
                            scrollable="true"
                            
                        >
                            <ng-template pTemplate="caption">
                                <div class="flex flex-row md: justify-content-end">
                                    <p-floatlabel variant="on">
                                        <p-iconfield>
                                            <p-inputicon class="pi pi-search" style="color: #1b91ff;" />
                                                <input 
                                                variant="filled" 
                                                [(ngModel)]="inputValue"
                                                [style]="{'width':'100%'}" 
                                                pInputText id="on_label"
                                                autocomplete="off" 
                                                type="text" 
                                                (keydown)="filterTable()"
                                                />
                                        </p-iconfield>
                                        <label for="on_label" style="color: #1b91ff">Pesquisar</label>
                                    </p-floatlabel>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr class="tabela">
                                    <th style="width: 10%; text-align: center;" type="text" field="descricao" display="menu">Descrição</th>
                                    <th style="width: 35%; text-align: center;" type="text" field="ensaios" display="menu">Ensaios</th>
                                    <th style="width: 35%; text-align: center;" type="text" field="calcsEnsaios" display="menu">Cálculos de Ensaios</th>
                                    <th style="width: 20%; text-align: center;" type="text" field="acoes" display="menu">Ações</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-planoAnalise>
                                <tr>
                                    <td style="text-align: center;">{{ planoAnalise.descricao }}</td>
                                    <td style="text-align: center;">
                                        <span *ngFor="let planoAnalise of planoAnalise.ensaio_detalhes; let last = last">
                                            {{ planoAnalise.descricao }}
                                            <span *ngIf="!last">,</span>                                                
                                        </span>             
                                    </td>
                                    <td style="text-align: center;">
                                        <span *ngFor="let planoAnalise of planoAnalise.calculo_ensaio_detalhes; let last = last">
                                            {{ planoAnalise.descricao }}
                                            <span *ngIf="!last">,</span>                                                
                                        </span>             
                                    </td>
                                    <td style="text-align: center;">
                                        <div class="flex justify-content-center gap-2">
                                            <p-button
                                                icon="pi pi-file-edit" 
                                                severity="info" 
                                                size="small" 
                                                [raised]="true"
                                                pTooltip="Editar" 
                                                tooltipPosition="top"
                                                (onClick)="abrirModalEdicao(planoAnalise)"
                                            ></p-button>

                                            <p-button 
                                                icon="pi pi-trash" 
                                                severity="danger" 
                                                size="small" 
                                                [raised]="true"
                                                pTooltip="Excluir" 
                                                tooltipPosition="top"
                                                (onClick)="excluirPlano(planoAnalise.id)"
                                            ></p-button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="paginatorleft">
                                <p-button type="button"  styleClass="p-button-text"></p-button>
                            </ng-template>
                            <ng-template pTemplate="paginatorright">
                                <p-button type="button"  styleClass="p-button-text"></p-button>
                            </ng-template> 
                        </p-table>

                    </ng-template>
                </p-inplace>
            </div>
        </div>

    </div>
    
</div>

<p-drawer
    [(visible)]="editFormVisible"
    position="right"
    [style]="{ width: '60vw' }"
    styleClass="w-full md:w-12 lg:w-4"
>
        <div class="background-form">
            <p-toast></p-toast>
            <form
                [formGroup]="editForm" title="Editar Plano de Análise" class="flex flex-column gap-4" 
            >
                <div class="form-geral flex flex-column gap-3 w-12 lg:flex-row">
                    <div class="fg1 flex flex-column w-12 align-items-center">

                        <p-card class="card w-12 text-center">
                            <ng-template #header>
                                <div class="header titulo-info w-full text-center">
                                    <b>Editar Plano de Análise</b>
                                </div>
                            </ng-template>
                            <div class="bloco flex flex-column w-12 gap-3">
                                <div class="w-12 text-left">
                                    <p-floatlabel variant="on">
                                        <p-iconfield>
                                            <p-inputicon class="pi pi-file-edit" />
                                            <input
                                                variant="filled"
                                                [style]="{'width':'100%'}"
                                                pInputText id="on_label"
                                                autocomplete="off"
                                                formControlName="descricao"
                                                type="text"
                                            />
                                        </p-iconfield>
                                        <label for="on_label">Digite a descrição</label>
                                    </p-floatlabel>
                                </div>

                                <div class="w-12 text-left">
                                    <p-floatlabel variant="on">
                                        <p-multiselect
                                            inputId="float-label"
                                            [style]="{'width':'100%'}"
                                            [options]="ensaios" 
                                            formControlName="ensaios"
                                            optionLabel="descricao"
                                            optionValue="id"
                                            appendTo="body"
                                            [filter]="true" 
                                            filterBy="descricao"
                                            [showClear]="true"
                                        >
                                        </p-multiselect>
                                        <label for="float-label">Selecione o(s) Ensaio(s)</label>
                                    </p-floatlabel>
                                </div>

                                <div class="w-12 text-left">
                                    <p-floatlabel variant="on">
                                        <p-multiselect
                                            inputId="float-label"
                                            [style]="{'width':'100%'}"
                                            [options]="calculosEnsaio" 
                                            formControlName="calculos_ensaio"
                                            optionLabel="descricao"
                                            optionValue="id"
                                            appendTo="body"
                                            [filter]="true" 
                                            filterBy="descricao"
                                            [showClear]="true"
                                            
                                        >
                                        </p-multiselect>
                                        <label for="float-label">Selecione o(s) Cálculos de Ensaio(s)</label>
                                    </p-floatlabel>
                                </div>

                            </div>
                            <div class=" flex w-12 gap-3 mt-4 justify-content-center text-center">
                                <p-button 
                                    (onClick)="clearEditForm()" 
                                    label="Limpar"
                                    iconPos="right"
                                    severity="info"  
                                    tooltipPosition="top"
                                    pTooltip="Limpar"
                                    icon="pi pi-eraser"
                                />
                                <p-button 
                                    (onClick)="saveEdit()" 
                                    label="Salvar" 
                                    severity="success"
                                    icon="pi pi-save" 
                                    iconPos="right" 
                                    tooltipPosition="top"
                                    pTooltip="Salvar"
                                />
                            </div>
                        </p-card>
                    </div>    
                </div>
            </form>
        </div>
</p-drawer>