<div class="container">
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b><a routerLink="../">Painel Operacional</a> / Produção</b>
        </p-divider>
    </div>
    <div class="rowUm">
        <div  class="divFeedbacks" routerLink="homebritagem">
            <p>BRITAGEM</p>
        </div>
        <div  class="divFeedbacks" routerLink="rebritagem">
            <p>REBRITAGEM</p>
        </div>
        <div  class="divFeedbacks" routerLink="calcario">
            <p>CALCÁRIO</p>
        </div>
    </div>
    <div class="rowDois">
        <div  class="divFeedbacks" routerLink="fertilizante">
            <p> FERTILIZANTE </p>
        </div>
        <div  class="divFeedbacks" routerLink="#">
            <p>CAL</p>
        </div>
        <div  class="divFeedbacks" routerLink="#">
            <p>ARGAMASSA</p>
        </div>
    </div>
</div>