<div class="container">
    <div class="titulo mt-6 mb-6 text-2xl">
        <p-divider align="left" type="solid">
            <b><a routerLink="../">Painel Operacional</a> / Produção</b>
        </p-divider>
    </div>
    <div class="rowUm flex-wrap"@swipeAnimation>
        <div  class="divFeedbacks" routerLink="homebritagem">
            <p>BRITAGEM</p>
        </div>
        <div  class="divFeedbacks" routerLink="rebritagem">
            <p>REBRITAGEM</p>
        </div>
        <div  class="divFeedbacks" routerLink="calcario">
            <p>CALCÁRIO</p>
        </div>
    </div>
    <div class="rowDois flex-wrap"@swipeAnimationReverse>
        <div  class="divFeedbacks" routerLink="fertilizante">
            <p> FERTILIZANTE </p>
        </div>
        <div  class="divFeedbacks" routerLink="cal">
            <p>CAL</p>
        </div>
        <div  class="divFeedbacks" routerLink="argamassa">
            <p>ARGAMASSA</p>
        </div>
    </div>
</div>