.titulo a {
    color: inherit; 
    text-decoration: none; 
}
.titulo a:hover {
    color:#1890FF; 
}
.rowUm{
    display: flex;
    justify-content: center;
}
.rowDois{
    display: flex;
    justify-content: center;
}
.divFeedbacks {
        
    margin-top: 5%;
    background-color: #444959;
    color: #ffffffee;
    height: 150px;
    width: 380px;
    margin-left: 1%;
    cursor: pointer;
    border-radius: 5px;
    p{
        font-size: 30px;
        text-align: center;
        padding: 65px;
    }
}