<div class="menu">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/dashControle">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/tipoEnsaio">Tipo de Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/ensaio" >Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/calculoEnsaio" >Cálculo de Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/plano" >Plano de Análise</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/tipoAmostra" >Tipo de Amostra</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/produtoAmostra" >Produto de Amostra</a>
                </li>
            </ul>
        </li >
        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/amostra">Amostras/Ordens de Serviço</a>
        </li>

        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;">Banco de Análises</a>
        </li>

        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;">Banco de Relatórios</a>
        </li>
    </ul>
</div>

<div class="container">

    <div class="titulo mt-6 mb-6 text-2xl">
        <p-divider align="left" type="solid">
            <b>Tipo de Amostra</b>
        </p-divider>
    </div>

    <form
        [formGroup]="registerForm"
        title="Cadastrar novo tipo de amostra"
    >
    <div class="form-geral flex flex-column lg:flex-row"@swipeAnimation>
        <div class="fg1 flex flex-column w-12 align-items-center lg:w-6">
            <div class="form2 w-10 mb-5 mt-5">
                <p-floatlabel variant="on">
                    <p-iconfield>
                        <p-inputicon class="pi pi-file-edit" />
                        <input
                            variant="filled"
                            [style]="{'width':'100%'}"
                            pInputText id="on_label"
                            autocomplete="off"
                            formControlName="nome"
                            type="text"
                        />
                    </p-iconfield>
                    <label for="on_label">Digite o nome</label>
                </p-floatlabel>
            </div>
        </div>
        <div class="fg1 flex flex-column w-12  align-items-center lg:w-6">
            <div class="form2 w-10 mb-5 mt-5">
                <p-floatlabel variant="on">
                    <p-iconfield>
                        <p-inputicon class="pi pi-file-edit" />
                        <input
                            variant="filled"
                            [style]="{'width':'100%'}"
                            pInputText id="on_label"
                            autocomplete="off"
                            formControlName="natureza"
                            type="text"
                        />
                    </p-iconfield>
                    <label for="on_label">Digite a natureza</label>
                </p-floatlabel>
            </div>
        </div>
    </div>
    </form> 

</div>

<div class="container">
    <div class="flex justify-content-center mb-5 mt-5"@efeitoFade>
        <p-toast></p-toast>
        <div class="btnsec" (click)="clearForm()">
            <p>Limpar</p>
        </div>
        <div class="btnpri" (click)="submit()">
            <p>Salvar</p>            
        </div>
    </div>

    <div class="tabela w-11"@swipeAnimationReverse>
        <p-toast/>
        <p-confirmDialog />
        <p-table
            #dt1
            [value]="tiposAmostra"
            [paginator]="true"
            [rows]="10"
            [rowsPerPageOptions]="[10, 20, 50]"
            [globalFilterFields]="['nome', 'natureza']"
            scrollable="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Ensaios"
            stripedRows
        >
            <ng-template pTemplate="caption">
                <div class="flex flex-row md: justify-content-end">
                    <p-floatlabel variant="on">
                        <p-iconfield>
                            <p-inputicon class="pi pi-search" />
                            <input
                                variant="filled"
                                [(ngModel)] = "inputValue"
                                [style]="{'width':'100%'}"
                                pInputText id="on_label"
                                autocomplete="off"
                                type="text"
                            />
                        </p-iconfield>
                        <label for="on_label">Pesquisar</label>
                    </p-floatlabel>
                    <button size="small" class="ml-2" pButton [rounded]="true" label="Pesquisar" severity="info"  (click)="filterTable()"></button>
                    <button size="small" class="ml-2" pButton [rounded]="true" label="Limpar" severity="info" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 10%; text-align: center;" type="text" field="nome" display="menu">Nome</th>
                    <th style="width: 35%; text-align: center;" type="text" field="natureza" display="menu">Natureza</th>
                    <th style="width: 20%; text-align: center;" type="text" field="acoes" display="menu">Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tipoAmostra>
                <tr>
                    <td style="text-align: center;">{{tipoAmostra.nome}}</td>
                    <td style="text-align: center;">{{tipoAmostra.natureza}}</td>
                    <td class="flex justify-content-center">
                        <div class="btnsec" (click)="abrirModalEdicao(tipoAmostra)">
                            <p>Editar</p>
                        </div>
                        
                        <div class="btnpri" (click)="excluirTipoAmostra(tipoAmostra.id)">
                            <p>Excluir</p>            
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button"  styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button"  styleClass="p-button-text"></p-button>
            </ng-template> 
        </p-table>    
    </div>    

</div>


<!------------------------------------ Modal de Edição ----------------------------------------------->
<p-drawer
    [(visible)]="editFormVisible"
    position="right"
    [style]="{ width: '60vw' }"
    styleClass="w-full md:w-10 lg:w-4"
>
    <div class="titulo">
        <p-divider align="left" type="solid">
            <b>Editar Tipo de Amostra</b>
        </p-divider> 
    </div>

    <form
        [formGroup]="editForm"
        title="Editar tipo de amostra"
    >

        <div class="editGeral flex flex-column lg:flex-row">
            <div class="fg1edit flex flex-column w-12 align-items-center lg:w-12">
                <div class="form2 w-10 mb-3 mt-3">
                    <p-floatlabel variant="on">
                        <p-iconfield>
                            <p-inputicon class="pi pi-file-edit" />
                            <input
                                variant="filled"
                                [style]="{'width':'100%'}"
                                pInputText id="on_label"
                                autocomplete="off"
                                formControlName="nome"
                                type="text"
                            />
                        </p-iconfield>
                        <label for="on_label">Digite o nome</label>
                    </p-floatlabel>
                </div>
                <div class="form2 w-10 mb-3 mt-3">
                    <p-floatlabel variant="on">
                    <p-iconfield>
                        <p-inputicon class="pi pi-file-edit" />
                        <input
                            variant="filled"
                            [style]="{'width':'100%'}"
                            pInputText id="on_label"
                            autocomplete="off"
                            formControlName="natureza"
                            type="text"
                        />
                    </p-iconfield>
                    <label for="on_label">Digite a natureza</label>
                    </p-floatlabel>
                </div>
            </div>
        </div>
    </form>
    <div class="flex justify-content-center mb-5 mt-5">
            <div class="btnsec" (click)="clearEditForm()">
                <p>Limpar</p>
            </div>
            
            <div class="btnpri" (click)="saveEdit()">
                <p>Salvar</p>            
            </div>
    </div>

</p-drawer>