<div class="container block">
    <div class="titulo mt-6 mb-6 text-2xl">
        <p-divider align="left" type="solid">
            <b>Cadastro de Cargos</b>
        </p-divider> 
    </div>     
        <form 
            [formGroup]="registercargoForm"
            title="Cadastrar novo Cargo"
            primaryBtnText="Cadastrar"
            (submit)="submit()"
        >
            <div class="form-geral flex flex-column lg:flex-row"@swipeAnimation>
                <div class="fg1 flex flex-column w-12 align-items-center lg:w-6">
                    <div class="form2 w-10">
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-file-edit" />
                                <input
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    formControlName="nome"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Digite o nome</label>
                        </p-floatlabel>
                    </div>
                    <div class="form2 w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                inputId="float-label"
                                [style]="{'width':'100%'}"
                                [options]="empresas"
                                formControlName="empresa"
                                optionLabel="nome"
                                (ngModelChange)="onEmpresaSelecionada($event)"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione a Empresa</label>
                        </p-floatLabel>
                    </div>
                    <div class="form2 w-10 text-left mb-3">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                inputId="float-label"
                                [style]="{'width':'100%'}"
                                [options]="filiais"
                                formControlName="filial"
                                optionLabel="nome"
                                (ngModelChange)="onFilialSelecionada($event)"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione a Filial</label>
                        </p-floatLabel>
                    </div>
                </div>    
                <div class="fg2 flex flex-column w-12 align-items-center lg:w-6">
                    <div class="form2 w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                inputId="float-label"
                                [style]="{'width':'100%'}"
                                [options]="areas"
                                formControlName="area"
                                optionLabel="nome"
                                (ngModelChange)="onAreaSelecionada($event)"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione a Área</label>
                        </p-floatLabel>
                    </div>
                    <div class="form2 w-10 text-left ">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                inputId="float-label"
                                [style]="{'width':'100%'}"
                                [options]="setores"
                                formControlName="setor"
                                optionLabel="nome"
                                (ngModelChange)="onSetorSelecionado($event)"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione o Ambiente</label>
                        </p-floatLabel>
                    </div>
                    <div class="form2 w-10 text-left mb-3">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                inputId="float-label"
                                [style]="{'width':'100%'}"
                                [options]="ambientes"
                                formControlName="ambiente"
                                optionLabel="nome"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione o Setor</label>
                        </p-floatLabel>
                    </div>
                </div>          
            </div>    
        </form>
    <div class="botoes-form flex md:flex-row sm:flex-row align-items-center justify-content-center m-5"@efeitoFade>
            <p-toast></p-toast>
            <div class="btnsec" (click)="clearForm()">
                <p>Limpar</p>
            </div>
            <div class="btnpri" (click)="submit()">
                <p>Cadastrar</p>            
            </div>
            
        </div>
    <hr>
        <div class="tabela"@swipeAnimationReverse>
            <p-toast />
            <p-confirmDialog />
            <p-table
                #dt1
                [value]="cargos"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[5, 10, 20]"
                [globalFilterFields]="['nome', 'empresaNome', 'filialNome','areaNome','setorNome','ambienteNome']"
                stripedRows
                scrollable="true"
            >
                <ng-template pTemplate="caption">
                    <div class="flex flex-row md: justify-content-end">
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-search" style="color: #1b91ff;" />
                                <input
                                    variant="filled"
                                    [(ngModel)] = "inputValue"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    type="text"
                                    (keyup)="filterTable()"
                                    style="border-color:#1b91ff;"
                                />
                            </p-iconfield>
                            <label for="on_label" style="color: #1b91ff">Pesquisar</label>
                        </p-floatlabel>
                    </div>
                </ng-template>     
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:25%" type="text" field="nome" display="menu">
                            Nome
                        </th>
                        <th style="width:25%" type="text" field="empresaNome" display="menu">
                            Empresa
                        </th>
                        <th style="width:25%" type="text" field="filialNome" display="menu">
                            Filial
                        </th>
                        <th style="width:25%" type="text" field="areaNome" display="menu">
                            Area
                        </th>
                        <th style="width:25%" type="text" field="setorNome" display="menu">
                            Ambiente
                        </th>
                        <th style="width:25%" type="text" field="ambienteNome" display="menu">
                            Setor
                        </th>
                        <th style="width: 25%; text-align: center;">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cargo>
                    <tr>
                        <td>{{ cargo.nome }}</td>
                        <td>{{ getNomeEmpresa(cargo.empresa) }}</td>
                        <td>{{ getNomeFilial(cargo.filial) }}</td>
                        <td>{{ getNomeArea(cargo.area) }}</td>
                        <td>{{ getNomeSetor(cargo.setor) }}</td>
                        <td>{{ getNomeAmbiente(cargo.ambiente) }}</td>
                        <td class="flex py-6">
                            <div class="btnsec" (click)="abrirModalEdicao(cargo)">
                                <p>Editar</p>
                            </div>
                            <div class="btnpri" (click)="excluirCargo(cargo.id)">
                                <p>Excluir</p>            
                           </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button"  styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button"  styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
        </div>        
        <p-dialog 
            [modal]="true"
            [(visible)]="editFormVisible" 
            [style]="{ width: '70rem' }" 
        >
        <p-divider align="left" type="solid">
            <b>Editar Cargo</b>
        </p-divider>

        <form 
            [formGroup]="editForm"
            title="Editar Cargo" 
        >

            <div class="editGeral flex flex-column lg:flex-row">
                <div class="fg1edit flex flex-column w-12 align-items-center lg:w-6">    
                    <div class="form2 w-10">
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-file-edit" />
                                <input
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    formControlName="nome"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Digite o nome</label>
                        </p-floatlabel>
                    </div>

                    <div class="form2 w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                inputId="float-label"
                                [style]="{'width':'100%'}"
                                [options]="empresas"
                                formControlName="empresa"
                                optionLabel="nome"
                                optionValue="id"
                                (ngModelChange)="onEmpresaSelecionada($event)"
                                appendTo="body"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione a Empresa</label>
                        </p-floatLabel>
                    </div>
                    
                    <div class="form2 w-10 text-left mb-3">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                inputId="float-label"
                                [style]="{'width':'100%'}"
                                [options]="filiais"
                                formControlName="filial"
                                optionLabel="nome"
                                optionValue="id"
                                (ngModelChange)="onFilialSelecionada($event)"
                                appendTo="body"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione a Filial</label>
                        </p-floatLabel>
                    </div>

                </div>
                <div class="fg2edit flex flex-column w-12 align-items-center lg:w-6">    
                    <div class="form2 w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                inputId="float-label"
                                [style]="{'width':'100%'}"
                                [options]="areas"
                                formControlName="area"
                                optionLabel="nome"
                                optionValue="id"
                                (ngModelChange)="onAreaSelecionada($event)"
                                appendTo="body"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione a Área</label>
                        </p-floatLabel>
                    </div>
                    
                    <div class="form2 w-10 text-left">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                inputId="float-label"
                                [style]="{'width':'100%'}"
                                [options]="setores"
                                formControlName="setor"
                                optionLabel="nome"
                                optionValue="id"
                                appendTo="body"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione o Ambiente</label>
                        </p-floatLabel>
                    </div>

                    <div class="form2 w-10 text-left mb-3">
                        <p-floatLabel variant="on">
                            <p-select
                                variant="filled"
                                inputId="float-label"
                                [style]="{'width':'100%'}"
                                [options]="ambientes"
                                formControlName="ambiente"
                                optionLabel="nome"
                                optionValue="id"
                                appendTo="body"
                            >
                            </p-select>
                            <label for="float-label" style="margin-left: 15px;">Selecione o Setor</label>
                        </p-floatLabel>
                    </div>
                </div>        
          </div>
        </form>  
        <div class="botoes-formedit">
            <div class="btnsecedit" (click)="clearForm()">
                <p>Limpar</p>
            </div>
            <div class="btnpriedit" (click)="saveEdit()">
                 <p>Editar</p>            
            </div>
        </div>
             
    </p-dialog>        
</div><!--end container-->

