<div class="titulo">
    <p-divider align="left" type="solid">
        <b>Orçamentos Realizados</b>
    </p-divider>
</div>

<div class="container">
    <div class="formWrap">
        <div class="form">
            <div class="colunaEsq">
                <div class="row3">
                    <div class="raiz">
                            <p-floatLabel> 
                                <p-dropdown
                                    id="ccPai" 
                                    [style]="{'width':'600px'}"
                                    [options]="ccsPai" 
                                    [(ngModel)]="selectedCcPai"
                                    optionValue="id"
                                    optionLabel="nome"
                                    [filter]="true" 
                                    filterBy="nome"
                                    inputId="float-label" 
                                    (onChange)="onCcPaiSelecionado($event.value)"
                                >
                                </p-dropdown>
                                <label for="float-label">Selecione o Centro de Curso Pai</label>
                            </p-floatLabel>
                        </div>  
                </div>
                <div class="row3">
                    <div class="raiz">
                        <p-floatLabel> 
                            <p-multiSelect
                                id="ccPai" 
                                [style]="{'width':'600px'}"
                                [options]="filiaisSga" 
                                [(ngModel)]="selectedsFiliais"
                                optionValue="cod"
                                optionLabel="nome"
                                [filter]="true" 
                                filterBy="nome"
                                inputId="float-label" 
                                (onChange)="onFiliaisInformada($event.value)"
                            >
                            </p-multiSelect>
                            <label for="float-label">Selecione as Filiais</label>
                        </p-floatLabel>
                    </div>
                </div>    
                    <div class="row3">
                        <div class="raizAno2">
                            <p><label style="margin-left: 5px;" class="mb-2 block font-bold" for="ano">
                               Alterar ano
                            </label></p>
                            <p-inputNumber 
                                mode="decimal"
                                [style]="{'width':'600px'}"
                                [(ngModel)]="selectedAno"
                                [showButtons]="true" 
                                [min]="2024" 
                                [max]="2999"
                                [useGrouping]="false" 
                                (ngModelChange)="onAnoInformado($event)"
                            />
                        </div>
                    </div>
                    <div class="row3">
                            <div class="detalhe">
                                Gestor:<br>
                                Empresa:<br>
                                Filial:<br>
                                Área:<br>
                                Ambiente:<br>
                                Setor:<br>
                            </div>
                            <div class="detalhe1">
                                <strong>{{ gestor }}</strong><br>
                                <strong>{{ empresa }}</strong><br>
                                <strong>{{ filial }}</strong><br>
                                <strong>{{ area }}</strong><br>
                                <strong>{{ setor }}</strong><br>
                                <strong>{{ ambiente }}</strong><br>
                            </div>
                        </div> 
            </div>
            <div class="colunaDir">
                <div class="titulo">
                    <p-divider align="left" type="solid">
                       <h3> <b>ORÇADO</b></h3>
                    </p-divider>
                </div>
                    <p-meterGroup [value]="resultadosTotais" labelPosition="start">
                        <ng-template pTemplate="label">
                            <div class="flex flex-wrap gap-1">
                                <ng-container *ngFor="let meterItem of resultadosTotais; let index = index">
                                    <p-card class="w-14rem p-1 m-1 flex-grow-1"> 
                                        <div class="flex justify-content-between gap-1">
                                            <div class="flex flex-column gap-1">
                                                <span class="text-secondary text-sm" style="white-space: nowrap; margin-left: -10px;">{{ meterItem.label }}</span>
                                                <span class="font-bold text-lg" style="white-space: nowrap; margin-left: -10px;">R$ {{ meterItem.value }}</span>
                                            </div>
                                            <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                <i style="font-size: 1rem" [class]="meterItem.icon"></i>
                                            </span>
                                        </div>
                                    </p-card>
                                </ng-container>
                            </div>
                        </ng-template>
                    </p-meterGroup>
                
                <div class="row4">
                    <div class="wrapInplacePrincipal">
                        <p-inplace
                            closable="True"
                        >
                            <ng-template pTemplate="display">
                                <div class="inline-flex align-items-start">
                                    <span class="ml-2"><i class="pi pi-plus-circle"></i> <strong> Orçamento Analítico Mensal</strong></span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="content">
                                <p-tabView styleClass="tabview-custom">
                                    <p-tabPanel>
                                        <ng-template pTemplate="header">
                                            <div class="flex align-items-center gap-2">
                                                <span class=" white-space-nowrap m-0" style="color: #444959;"> Mês a Mês</span>
                                            </div>
                                        </ng-template>
                                            <p-meterGroup [value]="resultadosMensais" labelPosition="start">
                                                <ng-template pTemplate="label">
                                                    <div class="flex flex-wrap gap-3">
                                                        <ng-container *ngFor="let meterItem of resultadosMensais; let index = index">
                                                            <p-card class="w-12rem p-1 m-1 flex-grow-1" >
                                                                <div class="flex justify-content-between gap-2">
                                                                    <div class="flex flex-column gap-3">
                                                                        <span class="text-secondary text-sm" style="white-space: nowrap;">{{ meterItem.label }}</span>
                                                                        <span class="font-bold text-sm"style="white-space: nowrap;">R$ {{ meterItem.value }}</span>
                                                                    </div>
                                                                    <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff',}">
                                                                        <a (click)="modalDetalhes(meterItem)"style="text-decoration: none; color: inherit;"><i style="font-size: 1.5rem" [class]="meterItem.icon"></i></a>
                                                                    </span>
                                                                </div>
                                                            </p-card>
                                                        </ng-container>
                                                    </div>
                                                </ng-template>
                                            </p-meterGroup>
                                    </p-tabPanel>

                                    <p-tabPanel>
                                        <ng-template pTemplate="header">
                                            <div class="flex align-items-center gap-2">
                                                <span class="white-space-nowrap m-0" style="color: #444959;"> Tipo de Custo</span>
                                            </div>
                                        </ng-template>
                                        <div class="w-full">
                                            <p-meterGroup [value]="contasMensais" labelPosition="start">
                                                <ng-template pTemplate="label">
                                                    <div class="flex flex-wrap gap-1">
                                                        <ng-container *ngFor="let meterItem of contasMensais; let index = index">
                                                            <p-card class="w-20rem p-1 m-1 flex-grow-1" >
                                                                <div class="flex justify-content-between gap-2">
                                                                    <div class="flex flex-column gap-3">
                                                                        <span class="text-secondary text-sm" style="white-space: nowrap;margin-left: -10px;">{{ meterItem.label }}</span>
                                                                        <span class="font-bold text-sm"style="white-space: nowrap;">R$ {{ meterItem.value }}</span>
                                                                    </div>
                                                                    <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                                        <i style="font-size: 1.5rem" [class]="meterItem.icon"></i>
                                                                    </span>
                                                                </div>
                                                            </p-card>
                                                        </ng-container>
                                                    </div>
                                                </ng-template>
                                            </p-meterGroup>
                                        </div>    
                                    </p-tabPanel>

                                    <p-tabPanel>
                                        <ng-template pTemplate="header">
                                            <div class="flex align-items-center gap-2">
                                                <span class="white-space-nowrap m-0" style="color: #444959;"> Grupo de Contas</span>
                                            </div>
                                        </ng-template>
                                        <p-meterGroup [value]="tiposMensais" labelPosition="start">
                                            <ng-template pTemplate="label">
                                                <div class="flex flex-wrap gap-3">
                                                    <ng-container *ngFor="let meterItem of tiposMensais; let index = index">
                                                        <p-card class="w-20rem p-1 m-1 flex-grow-1">
                                                            <div class="flex justify-content-between gap-2">
                                                                <div class="flex flex-column gap-3">
                                                                    <span class="text-secondary text-sm" style="white-space: nowrap; margin-left: -10px">{{ meterItem.label }}</span>
                                                                    <span class="font-bold text-sm"style="white-space: nowrap;">R$ {{ meterItem.value }}</span>
                                                                </div>
                                                                <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                                    <i style="font-size: 1.5rem" [class]="meterItem.icon"></i>
                                                                </span>
                                                            </div>
                                                        </p-card>
                                                    </ng-container>
                                                </div>
                                            </ng-template>
                                        </p-meterGroup>
                                    </p-tabPanel>

                                    <p-tabPanel>
                                        <ng-template pTemplate="header">
                                            <div class="flex align-items-center gap-2">
                                                <span class="white-space-nowrap m-0" style="color: #444959;"> Contas Analíticas</span>
                                            </div>
                                        </ng-template>
                                        <p-meterGroup [value]="raizMensais" labelPosition="start">
                                            <ng-template pTemplate="label">
                                                <div class="flex flex-wrap gap-1">
                                                    <ng-container *ngFor="let meterItem of raizMensais; let index = index">
                                                        <p-card class="flex-grow-1" >
                                                            <div class="flex justify-content-between gap-2">
                                                                <div class="flex flex-column gap-3">
                                                                    <span class="text-secondary text-sm" style="white-space: nowrap; margin-left: -10px;">{{ meterItem.label }}</span>
                                                                    <span class="font-bold text-sm"style="white-space: nowrap;">R$ {{ meterItem.value }}</span>
                                                                </div>
                                                                <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                                    <i style="font-size: 1.5rem" [class]="meterItem.icon"></i>
                                                                </span>
                                                            </div>
                                                        </p-card>
                                                    </ng-container>
                                                </div>
                                            </ng-template>
                                        </p-meterGroup> 
                                    </p-tabPanel>
                                </p-tabView>
                            </ng-template>   
                        </p-inplace>
                    </div>    
                </div><!--endRow-->
                <div class="row4">
                    <div class="wrapInplacePrincipal">
                        <p-inplace
                            closable="True"
                        >
                            <ng-template pTemplate="display">
                                <div class="inline-flex align-items-start">
                                    <span class="ml-2"><i class="pi pi-plus-circle"></i> <strong> Orçamento Analítico Anual</strong></span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="content">
                                <p-tabView styleClass="tabview-custom">
                                    <p-tabPanel>
                                        <ng-template pTemplate="header">
                                            <div class="flex align-items-center gap-2">
                                                <span class=" white-space-nowrap m-0" style="color: #444959;"> Tipo de Custo</span>
                                            </div>
                                        </ng-template>
                                        <p-meterGroup [value]="tiposAnuais" labelPosition="start">
                                            <ng-template pTemplate="label">
                                                <div class="flex flex-wrap gap-3">
                                                    <ng-container *ngFor="let meterItem of tiposAnuais; let index = index">
                                                        <p-card class="w-20rem p-1 m-1 flex-grow-1" >
                                                            <div class="flex justify-content-between gap-2">
                                                                <div class="flex flex-column gap-3">
                                                                    <span class="text-secondary text-sm" style="white-space: nowrap;">{{ meterItem.label }}</span>
                                                                    <span class="font-bold text-sm"style="white-space: nowrap;">R$ {{ meterItem.value }}</span>
                                                                </div>
                                                                <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                                    <i style="font-size: 1.5rem" [class]="meterItem.icon"></i>
                                                                </span>
                                                            </div>
                                                        </p-card>
                                                    </ng-container>
                                                </div>
                                            </ng-template>
                                        </p-meterGroup>
                                    </p-tabPanel>
                                    <p-tabPanel>
                                        <ng-template pTemplate="header">
                                            <div class="flex align-items-center gap-2">
                                                <span class=" white-space-nowrap m-0" style="color: #444959;"> Grupo de Contas</span>
                                            </div>
                                        </ng-template>
                                        <p-meterGroup [value]="contasAnuais" labelPosition="start">
                                            <ng-template pTemplate="label">
                                                <div class="flex flex-wrap gap-3">
                                                    <ng-container *ngFor="let meterItem of contasAnuais; let index = index">
                                                        <p-card class="w-14rem p-1 m-1 flex-grow-1" >
                                                            <div class="flex justify-content-between gap-2">
                                                                <div class="flex flex-column gap-3">
                                                                    <span class="text-secondary text-sm" style="white-space: nowrap; margin-left: -10px;">{{ meterItem.label }}</span>
                                                                    <span class="font-bold text-sm"style="white-space: nowrap;">R$ {{ meterItem.value }}</span>
                                                                </div>
                                                                <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                                    <i style="font-size: 1.5rem" [class]="meterItem.icon"></i>
                                                                </span>
                                                            </div>
                                                        </p-card>
                                                    </ng-container>
                                                </div>
                                            </ng-template>
                                        </p-meterGroup>     
                                    </p-tabPanel>
                                    <p-tabPanel>
                                        <ng-template pTemplate="header">
                                            <div class="flex align-items-center gap-2">
                                                <span class=" white-space-nowrap m-0" style="color: #444959;"> Contas Analíticas</span>
                                            </div>
                                        </ng-template>
                                        <p-meterGroup [value]="raizAnuais" labelPosition="start">
                                            <ng-template pTemplate="label">
                                                <div class="flex flex-wrap gap-3">
                                                    <ng-container *ngFor="let meterItem of raizAnuais; let index = index">
                                                        <p-card class="w-20rem p-1 m-1 flex-grow-1">
                                                            <div class="flex justify-content-between gap-2">
                                                                <div class="flex flex-column gap-3">
                                                                    <span class="text-secondary text-sm" style="white-space: nowrap;">{{ meterItem.label }}</span>
                                                                    <span class="font-bold text-sm"style="white-space: nowrap;">R$ {{ meterItem.value }}</span>
                                                                </div>
                                                                <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                                    <i style="font-size: 1.5rem" [class]="meterItem.icon"></i>
                                                                </span>
                                                            </div>
                                                        </p-card>
                                                    </ng-container>
                                                </div>
                                            </ng-template>
                                        </p-meterGroup>
                                    </p-tabPanel>
                                </p-tabView>
                            </ng-template>
                        </p-inplace>
                    </div>           
                </div><!--endRow-->
                <div class="titulo">
                    <p-divider align="left" type="solid">
                       <h3> <b>REALIZADO</b></h3>
                    </p-divider>
                </div>

                <p-meterGroup [value]="resultadosTotaisRealizado" labelPosition="start">
                    <ng-template pTemplate="label">
                        <div class="flex flex-wrap gap-1">
                            <ng-container *ngFor="let meterItem of resultadosTotaisRealizado; let index = index">
                                <p-card class="w-14rem p-1 m-1 flex-grow-1"> 
                                    <div class="flex justify-content-between gap-1">
                                        <div class="flex flex-column gap-1">
                                            <span class="text-secondary text-sm" style="white-space: nowrap; margin-left: -10px;">{{ meterItem.label }}</span>
                                            <span class="font-bold text-lg" style="white-space: nowrap; margin-left: -10px;">R$ {{ meterItem.value }}</span>
                                        </div>
                                        <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                            <i style="font-size: 1rem" [class]="meterItem.icon"></i>
                                        </span>
                                    </div>
                                </p-card>
                            </ng-container>
                        </div>
                    </ng-template>
                </p-meterGroup>

                <div class="row4">
                    <div class="wrapInplacePrincipal">
                        <p-inplace
                            closable="True"
                        >
                        <ng-template pTemplate="display">
                            <div class="inline-flex align-items-start">
                                <span class="ml-2"><i class="pi pi-plus-circle"></i> <strong> Exibir gastos realizados</strong></span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content">
                            <p-tabView styleClass="tabview-custom">
                                <p-tabPanel>
                                    <ng-template pTemplate="header">
                                        <div class="flex align-items-center gap-2">
                                            <span class=" white-space-nowrap m-0" style="color: #444959;"> Tipos de Custo</span>
                                        </div>
                                    </ng-template>
                                    <p-meterGroup [value]="tiposCusto" labelPosition="start">
                                        <ng-template pTemplate="label">
                                            <div class="flex flex-wrap gap-1">
                                                <ng-container *ngFor="let meterItem of tiposCusto; let index = index">
                                                    <p-card class="flex-grow-1" >
                                                        <div class="flex justify-content-between gap-2">
                                                            <div class="flex flex-column gap-3">
                                                                <span class="text-secondary text-sm" style="white-space: nowrap; margin-left: -10px;">{{ meterItem.label }}</span>
                                                                <span class="font-bold text-sm"style="white-space: nowrap;">R$ {{ meterItem.value }}</span>
                                                            </div>
                                                            <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                                <i style="font-size: 1.5rem" [class]="meterItem.icon"></i>
                                                            </span>
                                                        </div>
                                                    </p-card>
                                                </ng-container>
                                            </div>
                                        </ng-template>
                                    </p-meterGroup> 
                                </p-tabPanel>

                                <p-tabPanel>
                                    <ng-template pTemplate="header">
                                        <div class="flex align-items-center gap-2">
                                            <span class=" white-space-nowrap m-0" style="color: #444959;"> Grupos Contabeis</span>
                                        </div>
                                    </ng-template>
                                    <p-meterGroup [value]="gruposContabeis" labelPosition="start">
                                        <ng-template pTemplate="label">
                                            <div style="max-height: 300px; overflow-y: auto;">
                                                <div class="flex flex-wrap gap-1">
                                                    <ng-container *ngFor="let meterItem of gruposContabeis; let index = index">
                                                        <p-card class="flex-grow-1" >
                                                            <div class="flex justify-content-between gap-2">
                                                                <div class="flex flex-column gap-3">
                                                                    <span class="text-secondary text-sm" style="white-space: nowrap; margin-left: -10px;">{{ meterItem.label }}</span>
                                                                    <span class="font-bold text-sm"style="white-space: nowrap;">R$ {{ meterItem.value }}</span>
                                                                </div>
                                                                <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                                    <i style="font-size: 1.5rem" [class]="meterItem.icon"></i>
                                                                </span>
                                                            </div>
                                                        </p-card>
                                                    </ng-container>
                                                </div>
                                            </div>    
                                        </ng-template>
                                    </p-meterGroup> 
                                </p-tabPanel>

                            </p-tabView>
                        </ng-template>
                        </p-inplace>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="row3">
    <div class="raiz">
        <p-floatLabel> 
            <p-dropdown
                id="ccPai" 
                [style]="{'width':'100%'}"
                [options]="centrosCusto" 
                
                optionValue="id"
                optionLabel="nome"
                [filter]="true" 
                filterBy="nome"
                inputId="float-label" 
                
            >
            </p-dropdown>
            <label for="float-label">Selecione o Centro de Curso Pai</label>
        </p-floatLabel>
    </div>
</div>


<p-sidebar [(visible)]="modalVisible" position="right" [style]="{ width: '900px' }">

    
        <p-table [value]="detalhesMensais" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Mês</th>
                    <th>Tipo</th>
                    <th>Grupo Contábil</th>
                    <th>Valor</th>
                    <th>Valor Real</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-detalheMensal>
                <tr *ngFor="let detalhe of detalhesMensais">
                    <td style="margin: 35px;">{{ detalhe.mes_especifico }} </td>
                    <td style="margin-right: 335px;">{{ detalhe.tipo_custo}} </td>
                    <td style="margin: 35px;">{{ detalhe.raiz_contabil_grupo_desc }} </td>
                    <td style="margin: 35px;">R$ {{ detalhe.valor | number: '1.2-2' }} </td>
                    <td style="margin: 35px;">R$ {{ detalhe.valor_real | number: '1.2-2' }} </td>
                </tr>
            </ng-template>
           
        </p-table>
   
    

</p-sidebar>


