<div class="menu">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="homeOrcamento">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizAnalitica" >Raízes Analíticas</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocustopai" >Centro de Custo Pai</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/centrocusto" >Centro de Custo </a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/raizSintetica" >Raiz Sintética</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/contaContabil" >Conta Contábil</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/grupoItens" >Grupos de Itens</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoBase/orcamentoBase" >Orçamento Base</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/produto">Linha de Produtos</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/projecao"> Projeções</a>
                </li>
            </ul>
        </li >
        
        <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Acompanhamento "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/orcamentoRealizado/realizado"> Orçado x Realizado Setorial</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/baseOrcamentaria/dre/projetado"> DRE Projetado</a>
                </li>
            </ul>
           
        </li>    
    </ul>
</div>

<div class="titulo">
    <p-divider align="left" type="solid">
        <b>Acompanhamento do Orçamento</b>
    </p-divider>
</div>

<div class="container">
    <div class="form-geral flex flex-column lg:flex-row"@swipeAnimation>
        <div class="fg1 flex flex-column w-12 align-items-center lg:w-6"> 
            <div class="form2 w-10">
                <p-floatlabel variant="on"> 
                    <p-multiSelect
                        variant="filled"
                        id="ccPai" 
                        [style]="{'width':'100%'}"
                        [options]="ccsPai" 
                        [(ngModel)]="selectedCcPai"
                        optionValue="id"
                        optionLabel="nome"
                        [filter]="true" 
                        filterBy="nome"
                        inputId="float-label" 
                        (onChange)="onCcPaiSelecionado($event.value)"
                    >
                    </p-multiSelect>
                    <label for="float-label">Selecione o Centro de Custo Pai</label>
                </p-floatlabel>
            </div>
            <div class="form2 w-10">
                <p-floatlabel variant="on"> 
                    <p-multiSelect
                        variant="filled"
                        id="ccPai" 
                        [style]="{'width':'100%'}"
                        [options]="filiaisSga" 
                        [(ngModel)]="selectedsFiliais"
                        optionValue="cod"
                        optionLabel="nome"
                        [filter]="true" 
                        filterBy="nome"
                        inputId="float-label" 
                        (onChange)="onFiliaisInformada($event.value)"
                    >
                    </p-multiSelect>
                    <label for="float-label">Selecione as Filiais</label>
                </p-floatlabel>
            </div>
            <div class="form2 w-10 text-left">
                <p-floatlabel variant="on">
                    <p-inputnumber
                        fluid="true" 
                        variant="filled"
                        mode="decimal"
                        [(ngModel)]="selectedAno"
                        [showButtons]="true" 
                        [min]="2024" 
                        [max]="2999"
                        [useGrouping]="false" 
                        (ngModelChange)="onAnoInformado($event)"
                    />
                    <label>Ano Vigente</label>
                </p-floatlabel>
            </div>     
            
        </div>                        
         
        <div class="text-xs flex flex-row" *ngIf="selectedCcPai.length <= 1">    
            <div class="w-2 m-4 text-left">
                Gestor:<br>
                Empresa:<br>
                Filial:<br>
                Área:<br>
                Ambiente:<br>
                Setor:<br>
            </div>
            <div class="w-10 ml-0 m-4 text-left" *ngIf="detalhes">
                <strong>{{ detalhes.gestor_detalhes.nome }}</strong><br>
                <strong>{{ detalhes.cc_pai_detalhes.empresa_detalhes.nome }}</strong><br>
                <strong>{{ detalhes.cc_pai_detalhes.filial_detalhes.nome }}</strong><br>
                <strong>{{ detalhes.cc_pai_detalhes.area_detalhes.nome }}</strong><br>
                <strong>{{ detalhes.cc_pai_detalhes.setor_detalhes.nome }}</strong><br>
                <strong>{{ detalhes.cc_pai_detalhes.ambiente_detalhes.nome }}</strong><br>
            </div>
        </div>  
                    
        <div *ngIf="isLoading" class="loading-animation">
            <!-- Coloque aqui a sua animação de carregamento -->
            <img src="assets/imagens/animation.gif" alt="Loading...">
        </div>        
                
        <div  class="flex flex-wrap">           
            <div class="grafico1 w-full">
                <canvas id="graficoTotalChart"></canvas>
            </div>
        
            <div class="w-full">
                <canvas id="graficoBaseChart"></canvas>
            </div>
            <div class="w-full">
                <canvas id="gruposContasRealizadosChart"></canvas>
            </div>  
        </div>            
                    
        <div class="fg1 flex flex-column w-12 align-items-center lg:w-6"@slideAnimation>
            <div class="titulo">
                <p-divider align="left" type="solid">
                   <h3> <b>ORÇADO</b></h3>
                </p-divider>
            </div>    
            
            <p-metergroup [value]="resultadosTotais" labelPosition="start">
                <ng-template #label>
                    <div class="flex flex-wrap gap-3 ml-5">
                        <ng-container *ngFor="let meterItem of resultadosTotais; let index = index">
                            <p-card class="w-14rem w-12 shadow-2  hover:shadow-6"@slideAnimation> 
                                <div class="flex justify-content-between gap-1">
                                    <div class="flex flex-column gap-1">
                                        <span class="text-secondary text-md" style="white-space: nowrap; margin-left: -10px; text-align: start;">{{ meterItem.label | uppercase }}</span>
                                        <span class="font-bold text-lg" style="white-space: nowrap; margin-left: -10px; text-align: start;">R$ {{ meterItem.value }}</span>
                                    </div>
                                    <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                        <i style="font-size: 1rem" [class]="meterItem.icon"></i>
                                    </span>
                                </div>
                            </p-card>
                        </ng-container>
                    </div>
                </ng-template>
            </p-metergroup>
                
                <div class="row4">
                    <div class="wrapInplacePrincipal">
                        <p-inplace
                            closable="True"
                        >
                            <ng-template pTemplate="display">
                                <div class="inline-flex align-items-start">
                                    <span class="ml-2"><i class="pi pi-plus-circle"></i> <strong> Orçamento Analítico Mensal</strong></span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="content">
                                <p-tabView styleClass="tabview-custom">
                                    <p-tabPanel>
                                        <ng-template pTemplate="header">
                                            <div class="flex align-items-center gap-2">
                                                <span class=" white-space-nowrap m-0" style="color: #444959;"> Mês a Mês</span>
                                            </div>
                                        </ng-template>
                                            <p-meterGroup [value]="resultadosMensais" labelPosition="start">
                                                <ng-template #label>
                                                    <div style="max-height: 500px; overflow-y: auto; margin-top: 20px;">
                                                        <div class="flex flex-wrap gap-3 ml-2 ">
                                                            <ng-container *ngFor="let meterItem of resultadosMensais; let index = index">
                                                                <p-card class="w-14rem shadow-2 border-round-md hover:shadow-6 " @slideAnimation >
                                                                    <div class="flex justify-content-between gap-2">
                                                                        <div class="flex flex-column gap-3">
                                                                            <span class="text-secondary text-md" style="white-space: nowrap; text-align: start;">{{ meterItem.label | uppercase }}</span>
                                                                            <span class="font-bold text-md"style="white-space: nowrap; text-align: start;">R$ {{ meterItem.value }}</span>
                                                                        </div>
                                                                        <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff',}">
                                                                            <a (click)="modalDetalhes(meterItem)"style="text-decoration: none; color: inherit;"><i style="font-size: 1.5rem" [class]="meterItem.icon"></i></a>
                                                                        </span>
                                                                    </div>
                                                                </p-card>
                                                            </ng-container>
                                                        </div>
                                                    </div>    
                                                </ng-template>
                                            </p-meterGroup>
                                    </p-tabPanel>

                                    <p-tabPanel>
                                        <ng-template pTemplate="header">
                                            <div class="flex align-items-center gap-2">
                                                <span class="white-space-nowrap m-0" style="color: #444959;"> Tipo de Custo</span>
                                            </div>
                                        </ng-template>
                                        <div class="w-full">
                                            <p-meterGroup [value]="tiposMensais" labelPosition="start">
                                                <ng-template #label>
                                                    <div class="w-full" style="max-height: 500px; overflow-y: auto;">
                                                        <div class="flex flex-wrap gap-3 ml-2">
                                                            <ng-container *ngFor="let meterItem of tiposMensais; let index = index">
                                                                <p-card class="w-10 shadow-2 border-round-md hover:shadow-6 border-0.2" @slideAnimation >
                                                                    <div class="flex justify-content-between gap-3">
                                                                        <div class="flex flex-column gap-3">
                                                                            <span class="text-secondary text-md" style="white-space: nowrap;text-align: start;">{{ meterItem.label | uppercase }}</span>
                                                                            <span class="font-bold text-md"style="white-space: nowrap;text-align: start;">R$ {{ meterItem.value }}</span>
                                                                        </div>
                                                                        <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                                            <a (click)="abrirModalGrupoMensais()" style="text-decoration: none; color: inherit;"><i style="font-size: 1.5rem" [class]="meterItem.icon"></i></a>
                                                                        </span>
                                                                    </div>
                                                                </p-card>
                                                            </ng-container>
                                                        </div>
                                                    </div>    
                                                </ng-template>
                                            </p-meterGroup>
                                        </div>    
                                    </p-tabPanel>

                                    <p-tabPanel>
                                        <ng-template pTemplate="header">
                                            <div class="flex align-items-center gap-2">
                                                <span class="white-space-nowrap m-0" style="color: #444959;"> Grupo de Contas</span>
                                            </div>
                                        </ng-template>
                                        <p-meterGroup [value]="contasMensais" labelPosition="start">
                                            <ng-template #label>
                                                <div class="w-full" style="max-height: 500px; overflow-y: auto;">
                                                    <div class="flex flex-wrap gap-3 ml-2">
                                                        <ng-container *ngFor="let meterItem of contasMensais; let index = index">
                                                            <p-card class="w-10 flex-grow-1 shadow-2 border-round-md hover:shadow-6 border-0.2" @slideAnimation >
                                                                <div class="flex justify-content-between gap-3">
                                                                    <div class="flex flex-column gap-3">
                                                                        <span class="text-secondary text-md" style="white-space: nowrap; text-align: start; ">{{ meterItem.label | uppercase }}</span>
                                                                        <span class="font-bold text-md"style="white-space: nowrap; text-align: start; ">R$ {{ meterItem.value }}</span>
                                                                    </div>
                                                                    <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                                        <a (click)="abrirModalTiposMensais()" style="text-decoration: none; color: inherit;"><i style="font-size: 1.5rem" [class]="meterItem.icon"></i></a>
                                                                    </span>
                                                                </div>
                                                            </p-card>
                                                        </ng-container>
                                                    </div>
                                                </div>    
                                            </ng-template>
                                        </p-meterGroup>
                                    </p-tabPanel>

                                    <p-tabPanel>
                                        <ng-template pTemplate="header">
                                            <div class="flex align-items-center gap-2">
                                                <span class="white-space-nowrap m-0" style="color: #444959;"> Contas Analíticas</span>
                                            </div>
                                        </ng-template>
                                        <p-meterGroup [value]="raizMensais" labelPosition="start">
                                            <ng-template #label>
                                                <div class="w-full" style="max-height: 500px; overflow-y: auto;">
                                                    <div class="flex flex-wrap gap-1 ml-2">
                                                        <ng-container *ngFor="let meterItem of raizMensais; let index = index">
                                                            <p-card class="w-12 shadow-2 border-round-md hover:shadow-6 border-0.2" @slideAnimation >
                                                                <div class="flex justify-content-between gap-2">
                                                                    <div class="flex flex-column gap-3">
                                                                        <span class="text-secondary text-md" style="white-space: nowrap; text-align: start;">{{ meterItem.label | uppercase }}</span>
                                                                        <span class="font-bold text-md"style="white-space: nowrap; text-align: start;">R$ {{ meterItem.value }}</span>
                                                                    </div>
                                                                    <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                                        <a (click)="abrirModalContasAnaliticas()" style="text-decoration: none; color: inherit;"><i style="font-size: 1.5rem" [class]="meterItem.icon"></i></a>
                                                                    </span>
                                                                </div>
                                                            </p-card>
                                                        </ng-container>
                                                    </div>
                                                </div>    
                                            </ng-template>
                                        </p-meterGroup> 
                                    </p-tabPanel>
                                </p-tabView>
                            </ng-template>   
                        </p-inplace>
                    </div>    
                </div><!--endRow-->
                <div class="row4">
                    <div class="wrapInplacePrincipal">
                        <p-inplace
                            closable="True"
                        >
                            <ng-template pTemplate="display">
                                <div class="inline-flex align-items-start">
                                    <span class="ml-2"><i class="pi pi-plus-circle"></i> <strong> Orçamento Analítico Anual</strong></span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="content">
                                <p-tabView styleClass="tabview-custom">
                                    <p-tabPanel>
                                        <ng-template pTemplate="header">
                                            <div class="flex align-items-center gap-2">
                                                <span class=" white-space-nowrap m-0" style="color: #444959;"> Tipo de Custo</span>
                                            </div>
                                        </ng-template>
                                        <p-meterGroup [value]="tiposAnuais" labelPosition="start">
                                            <ng-template #label>
                                                <div class="w-full" style="max-height: 500px; overflow-y: auto;">
                                                    <div class="flex flex-wrap gap-3 ml-2">
                                                        <ng-container *ngFor="let meterItem of tiposAnuais; let index = index">
                                                            <p-card class="w-10 shadow-2 border-round-md hover:shadow-6 border-0.2" @slideAnimation >
                                                                <div class="flex justify-content-between gap-2">
                                                                    <div class="flex flex-column gap-3">
                                                                        <span class="text-secondary text-md" style="white-space: nowrap; text-align: start;">{{ meterItem.label | uppercase }}</span>
                                                                        <span class="font-bold text-md"style="white-space: nowrap; text-align: start;">R$ {{ meterItem.value }}</span>
                                                                    </div>
                                                                    <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                                        <a (click)="abrirModalTiposAnual()" style="text-decoration: none; color: inherit;"><i style="font-size: 1.5rem" [class]="meterItem.icon"></i></a>
                                                                    </span>
                                                                </div>
                                                            </p-card>
                                                        </ng-container>
                                                    </div>
                                                </div>    
                                            </ng-template>
                                        </p-meterGroup>
                                    </p-tabPanel>
                                    <p-tabPanel>
                                        <ng-template pTemplate="header">
                                            <div class="flex align-items-center gap-2">
                                                <span class=" white-space-nowrap m-0" style="color: #444959;"> Grupo de Contas</span>
                                            </div>
                                        </ng-template>
                                        <p-meterGroup [value]="contasAnuais" labelPosition="start">
                                            <ng-template #label>
                                                <div class="w-full" style="max-height: 500px; overflow-y: auto;">
                                                    <div class="flex flex-wrap gap-3 ml-2">
                                                        <ng-container *ngFor="let meterItem of contasAnuais; let index = index">
                                                            <p-card class="w-10 shadow-2 border-round-md hover:shadow-6 border-0.2" @slideAnimation >
                                                                <div class="flex justify-content-between gap-2">
                                                                    <div class="flex flex-column gap-3">
                                                                        <span class="text-secondary text-md" style="white-space: nowrap; text-align: start;">{{ meterItem.label | uppercase }}</span>
                                                                        <span class="font-bold text-md"style="white-space: nowrap; text-align: start;">R$ {{ meterItem.value }}</span>
                                                                    </div>
                                                                    <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                                        <a (click)="abrirModalGruposAnual()" style="text-decoration: none; color: inherit;"><i style="font-size: 1.5rem" [class]="meterItem.icon"></i></a>
                                                                    </span>
                                                                </div>
                                                            </p-card>
                                                        </ng-container>
                                                    </div>
                                                </div>    
                                            </ng-template>
                                        </p-meterGroup>     
                                    </p-tabPanel>
                                    <p-tabPanel>
                                        <ng-template pTemplate="header">
                                            <div class="flex align-items-center gap-2">
                                                <span class=" white-space-nowrap m-0" style="color: #444959;"> Contas Analíticas</span>
                                            </div>
                                        </ng-template>
                                        <p-meterGroup [value]="raizAnuais" labelPosition="start">
                                            <ng-template #label>
                                                <div class="w-full" style="max-height: 500px; overflow-y: auto;">
                                                    <div class="flex flex-wrap gap-3 ml-2">
                                                        <ng-container *ngFor="let meterItem of raizAnuais; let index = index">
                                                            <p-card class="w-10 shadow-2 border-round-md hover:shadow-6 border-0.2" @slideAnimation >
                                                                <div class="flex justify-content-between gap-2">
                                                                    <div class="flex flex-column gap-3">
                                                                        <span class="text-secondary text-md" style="white-space: nowrap; text-align: start;">{{ meterItem.label | uppercase }}</span>
                                                                        <span class="font-bold text-md"style="white-space: nowrap; text-align: start;">R$ {{ meterItem.value }}</span>
                                                                    </div>
                                                                    <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                                        <a (click)="abrirModalContasAnual()" style="text-decoration: none; color: inherit;"><i style="font-size: 1.5rem" [class]="meterItem.icon"></i></a>
                                                                    </span>
                                                                </div>
                                                            </p-card>
                                                        </ng-container>
                                                    </div>
                                                </div>    
                                            </ng-template>
                                        </p-meterGroup>
                                    </p-tabPanel>
                                </p-tabView>
                            </ng-template>
                        </p-inplace>
                    </div>           
                </div><!--endRow-->
                <div class="titulo">
                    <p-divider align="left" type="solid">
                       <h3> <b>REALIZADO</b></h3>
                    </p-divider>
                </div>

                <p-meterGroup [value]="resultadosTotaisRealizado" labelPosition="start">
                    <ng-template #label>
                        <div class="flex flex-wrap gap-1 m-2">
                            <ng-container *ngFor="let meterItem of resultadosTotaisRealizado; let index = index">
                                <p-card class="w-10 shadow-2 border-round-md hover:shadow-6 border-0.4" @slideAnimation> 
                                    <div class="flex justify-content-between gap-3">
                                        <div class="flex flex-column gap-1">
                                            <span class="text-secondary text-md" style="white-space: nowrap; text-align: start;">{{ meterItem.label | uppercase }}</span>
                                            <span class="font-bold text-md" style="white-space: nowrap; text-align: start;">R$ {{ meterItem.value }}</span>
                                        </div>
                                        <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                            <i style="font-size: 1rem" [class]="meterItem.icon"></i>
                                        </span>
                                    </div>
                                </p-card>
                            </ng-container>
                        </div>
                    </ng-template>
                </p-meterGroup>

                <div class="row4">
                    <div class="wrapInplacePrincipal">
                        <p-inplace
                            closable="True"
                        >
                        <ng-template pTemplate="display">
                            <div class="inline-flex align-items-start">
                                <span class="ml-2"><i class="pi pi-plus-circle"></i> <strong> Exibir gastos realizados</strong></span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content">
                            <p-tabView styleClass="tabview-custom">
                                <p-tabPanel>
                                    <ng-template pTemplate="header">
                                        <div class="flex align-items-center gap-2">
                                            <span class=" white-space-nowrap m-0" style="color: #444959;"> Tipos de Custo</span>
                                        </div>
                                    </ng-template>
                                    <p-meterGroup [value]="tiposCusto" labelPosition="start">
                                        <ng-template #label>
                                            <div style="max-height: 500px; overflow-y: auto;">
                                                <div class="flex flex-wrap gap-5 ml-2">
                                                    <ng-container *ngFor="let meterItem of tiposCusto; let index = index">
                                                        <p-card class="w-10 shadow-2 border-round-md hover:shadow-6 border-0.2" @slideAnimation >
                                                            <div class="flex justify-content-between gap-2">
                                                                <div class="flex flex-column gap-3">
                                                                    <span class="text-secondary text-md" style="white-space: nowrap; text-align: start;">{{ meterItem.label | uppercase }}</span>
                                                                    <span class="font-bold text-md"style="white-space: nowrap; text-align: start;">R$ {{ meterItem.value }}</span>
                                                                </div>
                                                                <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                                    <a (click)="abrirModalRealizadoTipos()" style="text-decoration: none; color: inherit;"><i style="font-size: 1.5rem" [class]="meterItem.icon"></i></a>
                                                                </span>
                                                            </div>
                                                        </p-card>
                                                    </ng-container>
                                                </div>
                                            </div>    
                                        </ng-template>
                                    </p-meterGroup> 
                                </p-tabPanel>

                                <p-tabPanel>
                                    <ng-template pTemplate="header">
                                        <div class="flex align-items-center gap-2">
                                            <span class=" white-space-nowrap m-0" style="color: #444959;"> Centros de Custo</span>
                                        </div>
                                    </ng-template>
                                    <p-meterGroup [value]="ccs" labelPosition="start">
                                        <ng-template #label>
                                            <div style="max-height: 500px; overflow-y: auto;">
                                                <div class="flex flex-wrap gap-5 ml-2">
                                                    <ng-container *ngFor="let meterItem of ccs; let index = index">
                                                        <p-card class="w-10 shadow-2 border-round-md hover:shadow-6 border-0.2" @slideAnimation >
                                                            <div class="flex justify-content-between gap-2">
                                                                <div class="flex flex-column gap-3">
                                                                    <span class="text-secondary text-md" style="white-space: nowrap;text-align: start;">{{ meterItem.label | uppercase }}</span>
                                                                    <span class="font-bold text-md"style="white-space: nowrap;text-align: start;">R$ {{ meterItem.value }}</span>
                                                                </div>
                                                                <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                                    <a (click)="abrirModalRealizadoCcs()" style="text-decoration: none; color: inherit;"><i style="font-size: 1.5rem" [class]="meterItem.icon"></i></a>
                                                                </span>
                                                            </div>
                                                        </p-card>
                                                    </ng-container>
                                                </div>
                                            </div>    
                                        </ng-template>
                                    </p-meterGroup> 
                                </p-tabPanel>

                                <p-tabPanel>
                                    <ng-template pTemplate="header">
                                        <div class="flex align-items-center gap-2">
                                            <span class=" white-space-nowrap m-0" style="color: #444959;"> Grupos Contábeis</span>
                                        </div>
                                    </ng-template>
                                    <p-meterGroup [value]="gruposContabeis" labelPosition="start">
                                        <ng-template #label>
                                            <div style="max-height: 500px; overflow-y: auto;">
                                                <div class="flex flex-wrap gap-5 ml-2">
                                                    <ng-container *ngFor="let meterItem of gruposContabeis; let index = index">
                                                        <p-card class="w-10 shadow-2 border-round-md hover:shadow-6 border-0.2" @slideAnimation >
                                                            <div class="flex justify-content-between gap-2">
                                                                <div class="flex flex-column gap-3">
                                                                    <span class="text-secondary text-md" style="white-space: nowrap;text-align: start;">{{ meterItem.label | uppercase }}</span>
                                                                    <span class="font-bold text-md"style="white-space: nowrap;text-align: start;">R$ {{ meterItem.value }}</span>
                                                                </div>
                                                                <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                                    <a (click)="abrirModalRealizadoGruposContabeis()" style="text-decoration: none; color: inherit;"><i style="font-size: 1.5rem" [class]="meterItem.icon"></i></a>
                                                                </span>
                                                            </div>
                                                        </p-card>
                                                    </ng-container>
                                                </div>
                                            </div>    
                                        </ng-template>
                                    </p-meterGroup> 
                                </p-tabPanel>

                                <p-tabPanel>
                                    <ng-template pTemplate="header">
                                        <div class="flex align-items-center gap-2">
                                            <span class=" white-space-nowrap m-0" style="color: #444959;"> Contas Analiticas</span>
                                        </div>
                                    </ng-template>
                                    <p-meterGroup [value]="contasCompletas" labelPosition="start">
                                        <ng-template #label>
                                            <div style="max-height: 500px; overflow-y: auto;">
                                                <div class="flex flex-wrap gap-5 ml-2">
                                                    <ng-container *ngFor="let meterItem of contasCompletas; let index = index">
                                                        <p-card class="w-12 shadow-2 border-round-md hover:shadow-6 border-0.2" @slideAnimation >
                                                            <div class="flex justify-content-between gap-2">
                                                                <div class="flex flex-column gap-3">
                                                                    <span class="text-secondary text-md" style="white-space: nowrap;text-align: start;">{{ meterItem.label | uppercase }}</span>
                                                                    <span class="font-bold text-md"style="white-space: nowrap;text-align: start;">R$ {{ meterItem.value }}</span>
                                                                </div>
                                                                <span class="w-3rem h-3rem border-circle inline-flex justify-content-center align-items-center text-center"[style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                                                                    <a (click)="abrirModalRealizadoContasAnaliticas()" style="text-decoration: none; color: inherit;"><i style="font-size: 1.5rem" [class]="meterItem.icon"></i></a>
                                                                </span>
                                                            </div>
                                                        </p-card>
                                                    </ng-container>
                                                </div>
                                            </div>    
                                        </ng-template>
                                    </p-meterGroup> 
                                </p-tabPanel>

                            </p-tabView>
                        </ng-template>
                        </p-inplace>
                    </div>

                </div>
                
            </div>
        </div>
    </div>



<!----------------SIDEBAR_______________________________-->
<p-sidebar [(visible)]="modalVisible" position="right" [style]="{ width: '900px' }">

    
        <p-table [value]="detalhesMensais" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Mês</th>
                    <th>Tipo</th>
                    <th>Grupo Contábil</th>
                    <th>Valor</th>
                    <th>Valor Real</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-detalheMensal>
                <tr>
                    <td>{{ detalheMensal.mes_especifico }} </td>
                    <td>{{ detalheMensal.tipo_custo}} </td>
                    <td>{{ detalheMensal.raiz_contabil_grupo_desc }} </td>
                    <td>R$ {{ detalheMensal.valor | number: '1.2-2' }} </td>
                    <td>R$ {{ detalheMensal.valor_real | number: '1.2-2' }} </td>
                </tr>
            </ng-template>
           
        </p-table>
   
</p-sidebar>

<!-----------------------------MODAL GRAFICOS-->
<!--Grafico Tipos de Custo Mensal-->
<p-dialog 
    [(visible)]="modalGrafVisible"
    [modal]="true"
    [style]="{ width: '90%', height: '90%' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
    <div class="modalContainer">
        <canvas id="polarAreaChart"></canvas>
    </div>
    
</p-dialog>
<!----------------------Grafico Grupo de Contas Mensais-------------------------------------->
    <p-dialog 
        [(visible)]="modalGrafVisible2"
        [modal]="true"
        [style]="{ width: '90%', height: '90%' }" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    >
        <div class="modalContainer">
            <canvas id="polarAreaChart2"></canvas>
        </div>
        
    </p-dialog>
<!-----------------------------Grafico Contas Analiticas Mensal---------------------------------------------->    
<p-dialog 
    [(visible)]="modalGrafVisible3"
    [modal]="true"
    [style]="{ width: '90%', height: '90%' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
    <div class="modalContainer">
        <canvas id="polarAreaChart3"></canvas>
    </div>
</p-dialog>
<!------------------------Grafico tipos de custos Anual---------------------------------------------------------->
<p-dialog 
    [(visible)]="modalGrafVisible5"
    [modal]="true"
    [style]="{ width: '90%', height: '90%' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
    <div class="modalContainer">
        <canvas id="polarAreaChart5"></canvas>
    </div>
</p-dialog>
<!------------------------Grafico grupos de contas Anual---------------------------------------------------------->
<p-dialog 
    [(visible)]="modalGrafVisible6"
    [modal]="true"
    [style]="{ width: '90%', height: '90%' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
    <div class="modalContainer">
        <canvas id="polarAreaChart6"></canvas>
    </div>
</p-dialog>
<!------------------------Grafico contas Analiticas Anual---------------------------------------------------------->
<p-dialog 
    [(visible)]="modalGrafVisible7"
    [modal]="true"
    [style]="{ width: '90%', height: '90%' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
    <div class="modalContainer">
        <canvas id="polarAreaChart7"></canvas>
    </div>
</p-dialog>
<!------------------------Graficos Realizados---------------------------------------------------------->
<p-dialog 
    [(visible)]="modalGrafVisibleRealizado"
    [modal]="true"
    [style]="{ width: '90%', height: '90%' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
    <div class="modalContainer">
        <canvas id="graficoRealizadoChart"></canvas>
    </div>
</p-dialog>