<div class="menu">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/dashControle">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/tipoEnsaio">Tipo de Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/ensaio" >Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/calculoEnsaio" >Cálculo de Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/plano" >Plano de Análise</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/tipoAmostra" >Tipo de Amostra</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/produtoAmostra" >Produto de Amostra</a>
                </li>
            </ul>
        </li >
        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/amostra">Amostras/Ordens de Serviço</a>
        </li>

        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/ordem">Ordens de Serviço</a>
        </li>

        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;">Banco de Análises</a>
        </li>

        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;">Banco de Relatórios</a>
        </li>
    </ul>
</div>

<div class="container">
    <div class="titulo mt-6 mb-6 text-2xl">
        <p-divider align="left" type="solid">
            <b>Ordens de Serviço</b>
        </p-divider>
    </div>

    <div class="form-geral mt-4 ml-4 mr-4">
        <div class="tabela w-12"@swipeAnimation >
            <p-table
                [value]="ordens"
                [paginator]="true"
                [rows]="10"
                [rowsPerPageOptions]="[10, 20, 50]"
                [globalFilterFields]="['numero']"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Ordem"
                scrollable="true"
                stripedRows
            >
                <ng-template pTemplate="caption">
                    <div class="flex flex-row md: justify-content-end">
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-search" />
                                <input
                                    variant="filled"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Pesquisar</label>
                        </p-floatlabel>
                        <button size="small" class="ml-2" pButton [rounded]="true" label="Pesquisar" severity="info" ></button>
                        <button size="small" class="ml-2" pButton [rounded]="true" label="Limpar" severity="info" icon="pi pi-filter-slash"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 10%; text-align: center;" type="text" field="descricao" display="menu">#</th>
                        <th style="width: 10%; text-align: center;" type="text" field="ensaios" display="menu">Plano Detalhes</th>
                        <th style="width: 10%; text-align: center;" type="text" field="calcsEnsaios" display="menu">Número</th>
                        <th style="width: 15%; text-align: center;" type="text" field="calcsEnsaios" display="menu">Data</th>
                        <th style="width: 15%; text-align: center;" type="text" field="calcsEnsaios" display="menu">Responsável</th>
                        <th style="width: 15%; text-align: center;" type="text" field="calcsEnsaios" display="menu">Digitador</th>
                        <th style="width: 15%; text-align: center;" type="text" field="calcsEnsaios" display="menu">Classificação</th>
                    
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-ordem>
                    <tr>
                        <td style="text-align: center;">{{ ordem.id }}</td>
                        <td style="text-align: center;">{{ ordem.plano_detalhes[0].descricao }}</td>
                        <td style="text-align: center;">{{ ordem.numero }}</td>
                        <td style="text-align: center;">{{ ordem.data | date:"dd/MM/yyyy" }}</td>
                        <td style="text-align: center;">{{ ordem.responsavel }}</td>
                        <td style="text-align: center;">{{ ordem.digitador }}</td>
                        <td style="text-align: center;">{{ ordem.classificacao }}</td>
                      
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

</div>