<div class="menu">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/dashControle">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/tipoEnsaio">Tipo de Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/variavel">Variáveis de Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/ensaio" >Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/calculoEnsaio" >Cálculo de Ensaio</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/plano" >Plano de Análise</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/tipoAmostra" >Tipo de Amostra</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="/welcome/controleQualidade/produtoAmostra" >Produto de Amostra</a>
                </li>
            </ul>
        </li >
        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/amostra">Amostras/Ordens de Serviço</a>
        </li>

        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;" routerLink="/welcome/controleQualidade/ordem">Ordens de Serviço</a>
        </li>

        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;">Banco de Análises</a>
        </li>

        <li nz-menu-item nzMatchRouter="#" *ngIf="hasGroup(['Admin','Master','LabGestor','LabOp'])">
            <a style="font-size: 13px;">Banco de Relatórios</a>
        </li>
    </ul>
</div>

<div class="container flex flex-column align-items-center mb-4">

    <div class="containerInterno w-12">
        <div class="background-form" @swipeAnimation>
            <div class="form-geral flex flex-column gap-3 w-12 lg:flex-row">
                <div class="fg1 flex flex-column w-12 align-items-center">
                    <p-card class="card w-12 text-left">
                        <ng-template #header>
                            <div class="header w-full text-center">
                                <h2>Ordens de Serviço</h2>
                            </div>
                        </ng-template>

                        <p-inplace closable="true" closeIcon="pi pi-angle-up">
                            <ng-template pTemplate="display">
                                <p-button 
                                    label="Formulário de OS" 
                                    tooltipPosition="top"
                                    pTooltip="Formulário de OS"    
                                >
                                    <div class="inline-flex align-items-center">
                                        <span><i class="pi pi-angle-down"></i></span>
                                    </div>
                                </p-button>

                            </ng-template>
                            <ng-template pTemplate="content">

                                <form 
                                    [formGroup]="registerOrdemForm" 
                                    title="Cadastrar nova Ordem de Serviço"
                                    class="flex flex-column">
                                    
                                    <!-- Toggle para tipo de ordem -->
                                    
                                    <div class="form-geral flex flex-column align-items-center"
                                         [class.border-2]="isOrdemExpressa" 
                                         [class.border-primary]="isOrdemExpressa"
                                         [class.border-dashed]="isOrdemExpressa"
                                         [class.p-3]="isOrdemExpressa"
                                         [class.border-round]="isOrdemExpressa">
                                        <div class="flex flex-column w-12 lg:flex-row">
                                            <div class="w-6 mr-3">
                                                <p-floatlabel variant="on">
                                                    <p-iconfield>
                                                        <p-inputicon class="pi pi-file-edit" />
                                                        <input variant="filled" [style]="{'width':'100%'}" pInputText id="on_label"
                                                            autocomplete="off" formControlName="numero" type="text" />
                                                    </p-iconfield>
                                                    <label for="on_label">Número</label>
                                                </p-floatlabel>
                                            </div>
                                            <div class="w-6 ml-3">
                                                <p-floatlabel variant="on">
                                                    <p-iconfield>
                                                        <p-inputicon class="pi pi-file-edit" />
                                                        <input variant="filled" [style]="{'width':'100%'}" pInputText id="on_label"
                                                            autocomplete="off" formControlName="digitador" type="text" />
                                                    </p-iconfield>
                                                    <label for="on_label">Digitador</label>
                                                </p-floatlabel>
                                            </div>
            
                                        </div>
                                        <div class="flex flex-column w-12 lg:flex-row">
                                            <div class="w-6 text-left mb-3 mt-3 mr-3">
                                                <p-floatLabel variant="on">
                                                    <p-datepicker variant="filled" [style]="{'width':'100%'}" id="da"
                                                        formControlName="data" dateFormat="dd/mm/yy" inputId="float-label"
                                                        [showIcon]="true">
                                                    </p-datepicker>
                                                    <label for="float-label">Data de Abertura</label>
                                                </p-floatLabel>
                                            </div>
                                            <div class="w-6 text-left mb-3 mt-3 ml-3" *ngIf="!isOrdemExpressa">
                                                <p-floatLabel variant="on">
                                                    <p-multiselect inputId="float-label" [style]="{'width':'100%'}"
                                                        [options]="planosAnalise" formControlName="planoAnalise"
                                                        optionLabel="descricao" optionValue="id" appendTo="body" [filter]="true"
                                                        filterBy="nome" [showClear]="true"
                                                    >
                                                    </p-multiselect>
                                                    <label for="float-label">Selecione o Plano de Análise</label>
                                                </p-floatLabel>
                                            </div>
                                            
                                            <!-- Seção para ordem expressa -->
                                            <div class="w-6 text-left mb-3 mt-3 ml-3" *ngIf="isOrdemExpressa">
                                                <div class="flex flex-column gap-2">
                                                    <p-button 
                                                        label="Selecionar Ensaios" 
                                                        icon="pi pi-plus" 
                                                        severity="success" 
                                                        size="small"
                                                        (onClick)="abrirModalEnsaios()"
                                                        [badge]="ensaiosSelecionados.length.toString()"
                                                        [badgeClass]="'p-badge-secondary'"
                                                    >
                                                    </p-button>
                                                    
                                                    <p-button 
                                                        label="Selecionar Cálculos" 
                                                        icon="pi pi-plus" 
                                                        severity="info" 
                                                        size="small"
                                                        (onClick)="abrirModalCalculos()"
                                                        [badge]="calculosSelecionados.length.toString()"
                                                        [badgeClass]="'p-badge-secondary'"
                                                    >
                                                    </p-button>
                                                </div>
                                            </div>
            
            
                                        </div>
                                        <div class="flex flex-column w-12 lg:flex-row">
                                            <div class="w-6 text-left mb-3 mr-3">
                                                <p-floatLabel variant="on">
                                                    <p-select inputId="float-label" [style]="{'width':'100%'}"
                                                        [options]="finalidades" formControlName="classificacao" optionLabel="nome"
                                                        optionValue="nome" appendTo="body" [filter]="true" filterBy="nome"
                                                        [showClear]="true" (onChange)="onMaterialChange($event.value)">
                                                    </p-select>
                                                    <label for="float-label">Selecione a Classificação</label>
                                                </p-floatLabel>
                                            </div>
                                            <div class="w-6 text-left mb-3 ml-3">
                                                <p-floatLabel variant="on">
                                                    <p-select inputId="float-label" [style]="{'width':'100%'}"
                                                        [options]="responsaveis" formControlName="responsavel" optionLabel="value"
                                                        optionValue="value" appendTo="body" [filter]="true" filterBy="value"
                                                        [showClear]="true">
                                                    </p-select>
                                                    <label for="float-label">Selecione o Responsável</label>
                                                </p-floatLabel>
                                            </div>
                                        </div>
                                        
                                        <!-- Seção para exibir ensaios e cálculos selecionados na ordem expressa -->
                                        <div class="w-12 mb-3" *ngIf="isOrdemExpressa && (ensaiosSelecionados.length > 0 || calculosSelecionados.length > 0)">
                                            <p-divider align="left">
                                                <b>Itens Selecionados</b>
                                            </p-divider>
                                            
                                            <!-- Ensaios selecionados -->
                                            <div *ngIf="ensaiosSelecionados.length > 0" class="mb-3">
                                                <h4 class="text-green-600 mb-2">
                                                    <i class="pi pi-check-circle mr-2"></i>
                                                    Ensaios ({{ ensaiosSelecionados.length }})
                                                </h4>
                                                <div class="flex flex-wrap gap-2">
                                                    <p-tag *ngFor="let ensaio of ensaiosSelecionados" 
                                                           [value]="ensaio.descricao" 
                                                           severity="success"
                                                           icon="pi pi-times"
                                                           (click)="removerEnsaio(ensaio)"
                                                           styleClass="cursor-pointer">
                                                    </p-tag>
                                                </div>
                                            </div>
                                            
                                            <!-- Cálculos selecionados -->
                                            <div *ngIf="calculosSelecionados.length > 0">
                                                <h4 class="text-blue-600 mb-2">
                                                    <i class="pi pi-calculator mr-2"></i>
                                                    Cálculos ({{ calculosSelecionados.length }})
                                                </h4>
                                                <div class="flex flex-wrap gap-2">
                                                    <p-tag *ngFor="let calculo of calculosSelecionados" 
                                                           [value]="calculo.descricao" 
                                                           severity="info"
                                                           icon="pi pi-times"
                                                           (click)="removerCalculo(calculo)"
                                                           styleClass="cursor-pointer">
                                                    </p-tag>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="flex flex-column w-12 mb-3 justify-content-end lg:flex-row">
                                            
                                            <div class=" flex w-6 gap-3 justify-content-end text-right">
                                                <p-button label="Gerar OS" severity="success" icon="pi pi-check" iconPos="right"
                                                    (onClick)="criarOrdemComAmostra()" />
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </ng-template>
                        </p-inplace>

                        <div class="flex flex-column w-12 gap-3 mt-3">

                            <div class="w-12 text-left">
                                
                                <p-table 
                                    #dt1
                                    [value]="analisesFiltradas"
                                    [paginator]="true"
                                    [rows]="30"
                                    [globalFilterFields]="[
                                        'fornecedor',
                                        'numero',
                                        'status',
                                        'responsavel'
                                    ]"
                                >
                                <ng-template pTemplate="caption">
                                    <div class="step1 flex flex-column w-12 justify-content-end lg:w-12 lg:flex-row">
                                        <div class="w-2 text-left">
                                            <p-multiselect
                                                [(ngModel)]="materiaisSelecionados"
                                                [options]="materiaisFiltro"
                                                (onChange)="filtrarPorMateriais()"
                                                placeholder="Material"
                                                [showClear]="true"
                                                optionLabel="label"
                                                optionValue="value"
                                                [maxSelectedLabels]="3"
                                                appendTo="body"
                                            >
                                                <ng-template pTemplate="selectedItems" let-selectedOptions>
                                                    <div class="flex gap-1 flex-wrap">
                                                    <p-tag
                                                        *ngFor="let option of selectedOptions"
                                                        [value]="option.value"
                                                        [severity]="getSeverity(option.value)"
                                                    />
                                                    </div>
                                                </ng-template>
                                                <ng-template pTemplate="item" let-option>
                                                    <p-tag [value]="option.value" [severity]="getSeverity(option.value)" />
                                                </ng-template>
                                            </p-multiselect>
                                        </div>
                                        <div class=" flex w-2 gap-3 text-left items-center" style="display: flex; gap: 1rem; align-items: center;">
                                            Finalizada 
                                            <p-columnFilter 
                                                type="boolean" 
                                                field="finalizada"
                                                showMenu="false"
                                             >   
                                            </p-columnFilter>
                                        </div>
                                        <div class=" flex w-2 gap-3 text-left items-center" style="display: flex; gap: 1rem; align-items: center;">
                                            Para Laudo
                                             <p-columnFilter 
                                                type="boolean" 
                                                field="laudo"
                                                showMenu="false"
                                             >   
                                            </p-columnFilter>
                                        </div>
                                        <div class=" flex w-2 gap-3 text-left items-center" style="display: flex; gap: 1rem; align-items: center;">
                                            Aprovada
                                             <p-columnFilter 
                                                type="boolean" 
                                                field="aprovada"
                                                showMenu="false"
                                             >   
                                            </p-columnFilter>
                                        </div>
                                        <div class="w-2 text-left">
                                            <p-multiselect
                                                [(ngModel)]="tipoSelecionados"
                                                [options]="tipoFiltro"
                                                (onChange)="filtrarPorTipo()"
                                                placeholder="Tipo"
                                                [showClear]="true"
                                                optionLabel="label"
                                                optionValue="value"
                                                [maxSelectedLabels]="3"
                                                appendTo="body"
                                            >
                                                <ng-template pTemplate="selectedItems" let-selectedOptions>
                                                    <div class="flex gap-1 flex-wrap">
                                                    <p-tag
                                                        *ngFor="let option of selectedOptions"
                                                        [value]="option.value"
                                                        [severity]="getTipoOrdem(option.value)"
                                                    />
                                                    </div>
                                                </ng-template>
                                                <ng-template pTemplate="item" let-option>
                                                    <p-tag [value]="option.value" [severity]="getTipoOrdem(option.value)" />
                                                </ng-template>
                                            </p-multiselect>
                                        </div>
                                        <div class=" flex w-2 gap-3 justify-content-end text-right">
                                            <p-floatlabel variant="on">
                                                <p-iconfield>
                                                    <p-inputicon class="pi pi-search" style="color: #1b91ff;" />
                                                    <input 
                                                        variant="filled" 
                                                        [(ngModel)]="inputValue"
                                                        [style]="{'width':'100%'}" 
                                                        pInputText id="on_label"
                                                        autocomplete="off" 
                                                        type="text" 
                                                        (input)="filterTable()"
                                                    />
                                                </p-iconfield>
                                                <label for="on_label" style="color: #1b91ff">Pesquisar</label>
                                            </p-floatlabel>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr class="tabela">
                                        <th style="width: 10%; text-align: left;">Material</th>
                                        <th style="width: 15%; text-align: left;" type="text"field="fornecedor" display="menu">Número</th>
                                        <th pSortableColumn="data_entrada" style="width: 10%;">
                                            <div class="flex justify-between items-left">
                                                Data de Abertura
                                                <p-sortIcon field="data_entrada" />
                                                <p-columnFilter 
                                                    type="date" 
                                                    field="data_entrada" 
                                                    display="menu"  
                                                    class="ml-auto" 
                                                    showMenu="false" />
                                            </div>
                                        </th>
                                        <th style="width: 15%; text-align: left;" type="text" field="numero" display="menu">Classificação da OS</th>
                                        <th style="width: 10%; text-align: left;" type="text" field="responsavel" display="menu">Responsável</th>
                                        <th style="width: 10%; text-align: left;" type="text" field="responsavel" display="menu">Tipo</th>
                                        <th style="width: 24%; text-align: center;" type="text" field="acoes"display="menu">Opções</th>
                                        <th style="width: 2%; text-align: center;" type="text" field="finalizada" display="menu">Finalizada</th>
                                        <th style="width: 2%; text-align: center;" type="text" field="laudo" display="menu">Laudo</th>
                                        <th style="width: 2%; text-align: center;" type="text" field="aprovada" display="menu">Aprovada</th>
                                      
                                    </tr>
                                </ng-template>

                                
                                <ng-template pTemplate="body" let-analise>
                                    <tr>
                                        <td style="text-align: left;">
                                            <p-tag
                                            [value]="analise.amostra_detalhes.material"
                                            [severity]="getSeverity(analise.amostra_detalhes.material)"
                                            />
                                        </td>
                                        <td style="text-align: left;"> {{ analise.amostra_detalhes?.numero }} </td>
                                        <ng-container *ngIf="analise?.amostra_detalhes?.expressa_detalhes; else ensaioDetalhes">
                                            <td style="text-align: left;">
                                                {{ analise.amostra_detalhes?.expressa_detalhes?.data | date:'dd/MM/yy' }}
                                            </td>
                                            <td style="text-align: left;"> {{ analise.amostra_detalhes.expressa_detalhes.classificacao }} </td>
                                            <td style="text-align: left;"> {{ analise.amostra_detalhes.expressa_detalhes.responsavel }} </td>
                                            <td style="text-align: left;"> 
                                                <p-tag
                                                    [value]="'Expressa'"
                                                    [severity]="getTipoOrdem('Expressa')"
                                                />
                                            </td>
                                        </ng-container>
                                        <ng-template #ensaioDetalhes>
                                            <td style="text-align: left;">
                                                {{ analise.amostra_detalhes?.ordem_detalhes?.data | date:'dd/MM/yy' }}
                                            </td>
                                            <td style="text-align: left;"> {{ analise.amostra_detalhes.ordem_detalhes.classificacao }} </td>
                                            <td style="text-align: left;"> {{ analise.amostra_detalhes.ordem_detalhes.responsavel }} </td>
                                            <td style="text-align: left;">
                                                <p-tag
                                                    [value]="'Plano'"
                                                    [severity]="getTipoOrdem('normal')"
                                                />
                                            </td>
                                        </ng-template>
                                      
                                        <td style="text-align: center;">
                                            <div style="display: flex; justify-content: center;">

                                                <p-speeddial 
                                                    showIcon="pi pi-bars" hideIcon="pi pi-times"
                                                    [model]="getMenuItems(analise.amostra_detalhes)"
                                                    [radius]="80"
                                                    type="quarter-circle" direction="up-left"
                                                    [style]="{ position: 'relative', top: '0', right: 0 }" 
                                                    [buttonProps]="{ severity: 'info', rounded: true }"
                                                    [tooltipOptions]="{ tooltipPosition: 'right' }"
                                                    pTooltip="Ações"
                                                ></p-speeddial>
                                                <div 
                                                    style="position: relative;"
                                                    *ngIf="!analise.finalizada"
                                                >
                                                    <a 
                                                        type="button" 
                                                        class="ml-2"
                                                        [routerLink]="['/welcome/controleQualidade/analise', analise.id]"
                                                    >
                                                        <p-button
                                                            severity="success" 
                                                            icon="pi pi-file-edit"
                                                            pTooltip="Realizar Análise"
                                                            tooltipPosition="top"
                                                            [disabled]="analise.finalizada" 
                                                            [rounded]="true" 
                                                        />
                                                    </a>
                                                </div>
                                                <div 
                                                    style="position: relative;"
                                                    *ngIf="!analise.finalizada"
                                                >
                                                    <a 
                                                        type="button" 
                                                        class="ml-2"
                                                    >
                                                        <p-button 
                                                            icon="pi pi-lock"
                                                            severity="primary"
                                                            (onClick)="finalizarAnalise(analise)" 
                                                            [rounded]="true" 
                                                            [disabled]="analise.finalizada"
                                                            pTooltip="Finalizar OS"
                                                            tooltipPosition="top" 
                                                        />
                                                    </a>
                                                </div>
                                                <div 
                                                    style="position: relative;"
                                                    *ngIf="analise.finalizada"    
                                                >
                                                    <a 
                                                        type="button" 
                                                        class="ml-2"  
                                                    >
                                                        <p-button 
                                                            icon="pi pi-lock-open"
                                                            severity="contrast"
                                                            (onClick)="reabrirAnalise(analise)" 
                                                            [rounded]="true" 
                                                           
                                                            pTooltip="Reabrir OS"
                                                            tooltipPosition="top" 
                                                        />
                                                    </a>
                                                </div>
                                                <div 
                                                    style="position: relative;"
                                                    *ngIf="analise.finalizada && !analise.laudo"
                                                >
                                                    <a 
                                                        type="button" 
                                                        class="ml-2"
                                                         
                                                    >
                                                        <p-button 
                                                            icon="pi pi-clipboard"
                                                            severity="warn"
                                                            (onClick)="laudoAnalise(analise)" 
                                                            [rounded]="true" 
                                                            pTooltip="Encaminhar para Laudo"
                                                            tooltipPosition="top" 
                                                        />
                                                    </a>
                                                </div>
                                                <div 
                                                    style="position: relative;"
                                                    *ngIf="analise.finalizada && analise.laudo && !analise.aprovada"
                                                >
                                                    <a 
                                                        type="button" 
                                                        class="ml-2"
                                                         
                                                    >
                                                        <p-button 
                                                            icon="pi pi-check-circle"
                                                            severity="success"
                                                            (onClick)="aprovarAnalise(analise)" 
                                                            [rounded]="true" 
                                                            pTooltip="Aprovar OS"
                                                            tooltipPosition="top" 
                                                        />
                                                    </a>
                                                </div>
                                                <div 
                                                    style="position: relative;"
                                                    *ngIf="analise.finalizada && analise.laudo && analise.aprovada"
                                                >
                                                    <a 
                                                        type="button" 
                                                        class="ml-2"
                                                    >
                                                        <p-button 
                                                            icon="pi pi-print"
                                                            severity="help"
                                                            [rounded]="true" 
                                                            pTooltip="Imprimir Laudo"
                                                            (onClick)="abrirModalLaudo(analise)"
                                                            tooltipPosition="top" 
                                                        />
                                                    </a>
                                                </div>
                                            </div>

                                        </td>
                                        <td style="text-align: center;">
                                            <i 
                                                class="pi" 
                                                [ngClass]="getStatusIcon(analise.finalizada)"
                                                [style.color]="getStatusColor(analise.finalizada)">
                                            </i>
                                        </td>
                                        <td style="text-align: center;">
                                            <i 
                                                class="pi" 
                                                [ngClass]="getStatusIcon(analise.laudo)"
                                                [style.color]="getStatusColor(analise.laudo)">
                                            </i>
                                        </td>
                                        <td style="text-align: center;">
                                            <i 
                                                class="pi" 
                                                [ngClass]="getStatusIcon(analise.aprovada)"
                                                [style.color]="getStatusColor(analise.aprovada)">
                                            </i>
                                        </td>             

                                    </tr>
                                </ng-template>
                                </p-table>
                            </div>
                        
                        </div>
                        
                    </p-card>
                </div>    
            </div>

        </div>

       
    </div>
    
</div>

    <!---------------------------------Modal Visualização---------------------------------------------->
    <p-drawer 
        header="Visualizar OS" 
        [(visible)]="modalVisualizar" 
        position="left"
        styleClass="w-full md:w-10 lg:w-10 custom-drawer"
        [style]="{ height: '100vh' }"        
    >

<div *ngIf="analiseSelecionada">
            <div class="form-geral flex flex-column gap-3 w-12 lg:flex-row">
                <div class="text-left w-6">
                    <b>Número:</b> {{ analiseSelecionada.numero }}<br>
                    <b>Classificação:</b> {{ analiseSelecionada.expressa_detalhes?.classificacao || analiseSelecionada.ordem_detalhes?.classificacao }}<br>
                    <b>Responsável:</b> {{ analiseSelecionada.expressa_detalhes?.responsavel || analiseSelecionada.ordem_detalhes?.responsavel }}<br>
                    <b>Data de Abertura:</b> {{ (analiseSelecionada.expressa_detalhes?.data || analiseSelecionada.ordem_detalhes?.data) | date:'dd/MM/yyyy'}}<br>
                </div>
            </div>


            <div class=" flex w-12 gap-3 justify-content-center text-center">
                <p-button 
                    (onClick)="imprimirAnaliseVisualizar()" 
                    label="Imprimir" 
                    severity="warn"
                    icon="pi pi-print" 
                    iconPos="right" 
                    tooltipPosition="top"
                    pTooltip="Imprimir"
                />
            </div>

</div>

    </p-drawer>

<!---------------------------------Modal Edição---------------------------------------------->

<p-drawer
    [(visible)]="editFormVisible"
    position="right"
    [style]="{ width: '60vw' }"
    styleClass="w-full md:w-12 lg:w-4"
>

    <div class="containerInterno w-12">
        <div class="background-form">
            <form
                [formGroup]="editForm" title="Editar Tipo de Ensaio" class="flex flex-column gap-4" 
            >
                <div class="form-geral flex flex-column gap-3 w-12 lg:flex-row">
                    <div class="fg1 flex flex-column w-12 align-items-center">

                        <p-card class="card w-12 text-center">
                            <ng-template #header>
                                <div class="header w-full text-center">
                                    <b>Editar Tipo de Ensaio</b>
                                </div>
                            </ng-template>
                            <div class="flex flex-column w-12 gap-3">

                                <div class="w-12 text-left">
                                    <p-floatlabel variant="on">
                                        <p-iconfield>
                                            <p-inputicon class="pi pi-file-edit" />
                                            <input variant="filled" [style]="{'width':'100%'}" pInputText id="on_label"
                                                autocomplete="off" formControlName="numero" type="text" />
                                        </p-iconfield>
                                        <label for="on_label">Número</label>
                                    </p-floatlabel>
                                </div>

                                <div class="w-12 text-left">
                                    <p-floatLabel variant="on">
                                        <p-select inputId="float-label" [style]="{'width':'100%'}"
                                            [options]="finalidades" formControlName="classificacao" optionLabel="nome"
                                            optionValue="nome" appendTo="body" [filter]="true" filterBy="nome"
                                            [showClear]="true">
                                        </p-select>
                                        <label for="float-label">Selecione a Classificação</label>
                                    </p-floatLabel>
                                </div>

                                <div class="w-12 text-left">
                                    <p-floatLabel variant="on">
                                        <p-select inputId="float-label" [style]="{'width':'100%'}"
                                            [options]="responsaveis" formControlName="responsavel" optionLabel="value"
                                            optionValue="value" appendTo="body" [filter]="true" filterBy="value"
                                            [showClear]="true">
                                        </p-select>
                                        <label for="float-label">Selecione o Responsável</label>
                                    </p-floatLabel>
                                </div>

                                <div class="w-12 text-left">
                                    <p-floatLabel variant="on">
                                        <p-datepicker variant="filled" [style]="{'width':'100%'}" id="da"
                                            formControlName="data" dateFormat="dd/mm/yy" inputId="float-label"
                                            [showIcon]="true">
                                        </p-datepicker>
                                        <label for="float-label">Data de Abertura</label>
                                    </p-floatLabel>
                                </div>

                            </div>
                            <div class=" flex w-12 gap-3 mt-4 justify-content-center text-center">
                                <p-button 
                                    label="Limpar"
                                    iconPos="right"  
                                    tooltipPosition="top"
                                    pTooltip="Limpar"
                                    (onClick)="clearEditForm()" 
                                />
                                <p-button 
                                    label="Salvar" 
                                    severity="success"
                                    icon="pi pi-check" 
                                    iconPos="right" 
                                    tooltipPosition="top"
                                    pTooltip="Salvar"
                                    (onClick)="editForm.get('isExpressa')?.value ? saveEditExpressa(editForm.get('idSalvar')?.value) : saveEditOrdem(editForm.get('idSalvar')?.value)" 
                                />
                            </div>
                        </p-card>
                    </div>    
                </div>
            </form>
        </div>
    </div>
  
</p-drawer>

<!-- Modal para seleção de ensaios -->
<p-dialog header="Selecionar Ensaios" 
          [(visible)]="modalEnsaiosVisible" 
          [style]="{width: '80vw', height: '70vh'}" 
          [modal]="true" 
          [closable]="true"
          [draggable]="false" 
          [resizable]="false">
  
  <div class="flex flex-column h-full">
    <div class="flex-1 overflow-auto">
      <p-table [value]="ensaiosDisponiveis" 
               [scrollable]="true" 
               scrollHeight="400px"
               [paginator]="true" 
               [rows]="10"
               [globalFilterFields]="['descricao', 'tecnica', 'responsavel']">
        
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 50px">
              <p-checkbox></p-checkbox>
            </th>
            <th>Descrição</th>
            <th>Técnica</th>
            <th>Responsável</th>
          </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-ensaio>
          <tr>
            <td>
              <p-checkbox [(ngModel)]="ensaio.selecionado" 
                          [binary]="true">
              </p-checkbox>
            </td>
            <td>{{ ensaio.descricao }}</td>
            <td>{{ ensaio.tecnica }}</td>
            <td>{{ ensaio.responsavel }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    
    <div class="flex justify-content-end gap-2 mt-3">
      <p-button label="Cancelar" 
                severity="secondary" 
                (onClick)="fecharModalEnsaios()">
      </p-button>
      <p-button label="Adicionar Selecionados" 
                icon="pi pi-plus" 
                severity="success"
                (onClick)="adicionarEnsaiosSelecionados()">
      </p-button>
    </div>
  </div>
</p-dialog>

<p-dialog 
    [(visible)]="modalLaudo" 
    [modal]="true" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [style]="{ width: '80vw' }" 
    [draggable]="false" 
    [resizable]="false"
>
    <div class="containerInterno w-12">
        <div class="background-form">
           
                <div class="form-geral flex flex-column gap-3 w-12 lg:flex-row">
                    <div class="fg1 flex flex-column w-12 align-items-center">

                        <p-card class="card w-12 text-center">
                            <ng-template #header>
                                <div class="header w-full text-center">
                                    <b>Selecionar Ánalises do Laudo</b>
                                </div>
                            </ng-template>
                            <div class="flex flex-row w-12 gap-3">
                                <!-- Coluna da tabela -->
                                <div class="w-12">
                                    <p-table 
                                        [value]="ensaios_laudo" 
                                        [(selection)]="ensaios_selecionados" 
                                        dataKey="id"   
                                    >
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 3em">
                                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                            </th>
                                            <th>Análises</th>
                                            <th>Garantias</th>
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-ensaio>
                                        <tr [pSelectableRow]="ensaio">
                                        <td>
                                            <p-tableCheckbox [value]="ensaio"></p-tableCheckbox>
                                        </td>
                                            <td>{{ ensaio.descricao }}</td>
                                            <td>
                                                <input
                                                    value="{{ ensaio.garantia }}"
                                                    type="text"
                                                    pInputText
                                                    [(ngModel)]="ensaio.garantia"
                                                    placeholder="Digite a garantia"
                                                />
                                            </td>
                                        </tr>
                                    </ng-template>
                                    </p-table>
                                </div>
                            </div>
                            
                            <div class=" flex w-12 gap-3 mt-4 justify-content-center text-center">
                                <p-button 
                                    label="Gerar Laudo" 
                                    (onClick)="salvarSelecionados()"
                                    severity="success"
                                    icon="pi pi-check" 
                                    iconPos="right" 
                                    tooltipPosition="top"
                                    pTooltip="Gerar Laudo"
                                />
                            </div>
                        </p-card>
                    </div>    
                </div>

        </div>
    </div>
</p-dialog>

<!-- Componentes necessários para confirmações e notificações -->
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
   


<!-- Modal para seleção de ensaios PARA IMPRESSÃO -->
<p-dialog 
    [(visible)]="modalImpressao" 
    [modal]="true" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [style]="{ width: '80vw' }" 
    [draggable]="false" 
    [resizable]="false"
>
    <div class="containerInterno w-12">
        <div class="background-form">
           
            <div class="form-geral flex flex-column gap-3 w-12 lg:flex-row">
                <div class="fg1 flex flex-column w-12 align-items-center">

                    <p-card class="card w-12 text-center">
                        <ng-template #header>
                            <div class="header w-full text-center">
                                <b>Selecionar Ánalises para Impressão</b>
                            </div>
                        </ng-template>
                        <div class="flex flex-row w-12 gap-3">
                            <!-- Coluna da tabela -->
                            <div class="w-12">
                                <p-table 
                                    [value]="ensaios_laudo" 
                                    [(selection)]="ensaios_selecionados" 
                                    dataKey="id"   
                                >
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 3em">
                                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                            </th>
                                            <th>Análises</th>
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-ensaio>
                                        <tr [pSelectableRow]="ensaio">
                                        <td>
                                            <p-tableCheckbox [value]="ensaio"></p-tableCheckbox>
                                        </td>
                                            <td>{{ ensaio.descricao }}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    
                        <div class=" flex w-12 gap-3 mt-4 justify-content-center text-center">
                            <p-button 
                                label="Gerar Impressão" 
                                (onClick)="imprimirSelecionados()"
                                severity="success"
                                icon="pi pi-check" 
                                iconPos="right" 
                                tooltipPosition="top"
                                pTooltip="Gerar Impressão"
                            />
                        </div>
                    </p-card>
                </div>    
            </div>
        </div>
    </div>
</p-dialog>