<div class="menu w-full">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 45px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="../dashboard">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="../tipoavaliacao" >Tipos de Avaliações</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="../pergunta" >Perguntas</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="../formulario" >Formulários</a>
                </li>
            </ul>
        </li>    
        
        <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Relacionamentos"  style="font-size: 13px;">
            <ul>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px; " routerLink="../questionario" ><span  nzTheme="outline" ></span> Montar Formulários</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px" routerLink="../tipoavaliacaoavaliados" ><span  nzTheme="outline"></span> Associar Avaliados a um Formulário</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px;" routerLink="../avaliadoravaliados" ><span  nzTheme="outline"></span> Associar Avaliados aos Avaliadores</a>
                </li>
            </ul>    
        </li>

        
        <li nz-menu-item nzMatchRouter="">
            <a style="font-size: 13px;" routerLink="../avaliacao" >Avaliações</a>
        </li>
        <li nz-menu-item nzMatchRouter="" *ngIf="hasGroup(['RHAvaliacao'])">
            <a style="font-size: 13px;" routerLink="../historico" >Histórico de Avaliações</a>
        </li>
    
        <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Relatórios" style="font-size: 13px;">
          <ul>
            <li nz-menu-item nzMatchRouter="">
              <a style="font-size: 13px;" routerLink="../mapaavaliadores">Mapa de Avaliadores</a>
            </li>
            <li nz-menu-item nzMatchRouter="">
              <a style="font-size: 13px;" routerLink="../comparativoavaliadores">Comparativo entre Avaliadores</a>
            </li>
            <li nz-menu-item nzMatchRouter="">
              <a style="font-size: 13px;" routerLink="../mapaavaliados">Mapa de Avaliados</a>
            </li>
            <li nz-menu-item nzMatchRouter="">
              <a style="font-size: 13px;" routerLink="../evolucaoavaliacoes">Evolução das Avaliações</a>
            </li>
            <li nz-menu-item nzMatchRouter="">
              <a style="font-size: 13px;" routerLink="../relatoriospdf">Relatŕorios em PDF</a>
            </li>
          </ul>
        </li> 
        
    </ul>
</div>

    <div *ngIf="hasGroup(['Admin','RHGestor'])" class="titulo">
    <div class="titulo mt-6 mb-6 text-2xl">    
        <p-divider align="left" type="solid">
            <b>Definir período de Avaliações</b>
        </p-divider>
    </div>     
    </div>

    <div 
        *ngIf="hasGroup(['Admin','RHGestor'])"
        class=
            "flex flex-column w-full align-items-center
            md:flex-row w-full align-items-center 
            lg:flex-row w-full justify-content-end"@swipeAnimation
    >
        <div *ngIf="hasGroup(['Admin','RHGestor'])" class="flex w-10 mt-3 lg:w-3">
            <p-floatlabel variant="on">
                <p-datepicker
                    [style]="{'width':'100%'}"
                    id="da" 
                    [(ngModel)] = "dataInicio"
                    dateFormat="yy-mm-dd"                  
                    [showIcon]="true"
                       
                >
                </p-datepicker>
                <label for="da">Data de Início</label>
            </p-floatlabel>
        </div>
        <div *ngIf="hasGroup(['Admin','RHGestor'])" class="flex w-10 mt-3 lg:w-3">    
            <p-floatlabel variant="on">
                <p-datepicker
                    [style]="{'width':'100%'}"
                    id="da" 
                    [(ngModel)] = "dataFim"
                    dateFormat="yy-mm-dd"                  
                    [showIcon]="true"
                    (ngModelChange)="salvarPeriodo()"   
                >
                </p-datepicker>
                <label for="da">Data do Fim</label>
            </p-floatlabel>    
        </div> 
    </div>
    
    <div class="buttons flex flex-wrap mt-6 md:flex-row justify-content-around"@swipeAnimationReverse >
        
            <div [class.disabled]="!periodoPermitido" class="divAvaliacao"  routerLink="../novaliacao">
                <p> +AVALIAÇÃO </p>
            </div>  
            <ng-template #disabledLink>
                <div class="divAvaliacao disabled">
                  <p> + NOVA AVALIAÇÃO </p>
                </div>
            </ng-template>
        
            <div *ngIf="hasGroup(['Admin','RHGestor'])" class="divFeedbacks" routerLink="../feedback">
                <p> FEEDBACKS </p>
            </div>  
        
    </div>    
<router-outlet></router-outlet>