@import "primeicons/primeicons.css";
@import "ng-zorro-antd/ng-zorro-antd.css";
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";
/* Handsontable modern base styles and a selected theme (avoid legacy classic theme) */
@import 'handsontable/styles/handsontable.css';
@import 'handsontable/styles/ht-theme-main.css';


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 16px;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* Força renderização consistente em todos os navegadores */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}



