<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="side-bar">
            <img src="/assets/imagens/logobranca.png" >
            <div class="line">
                <img src="/assets/svg/line.svg">
            </div>    
            <ul class="item-dashboard">
                <img src="/assets/svg/icon-dashboard.svg"> Dashboard
            </ul>
            <div class="item-dashboard">
                <img src="/assets/svg/icon-dashboard.svg"> Avaliações
            </div>
            <div class="item-dashboard">
                <img src="/assets/svg/icon-dashboard.svg"> Avaliadores
            </div>
            <div class="item-dashboard">
                <img src="/assets/svg/icon-dashboard.svg"> Colaboradores
            </div>   
        </div>
        <div class="content">
            <div class="card-colaboradores">
                <div class="badge-colaboradores">
                    <img src="/assets/svg/icon-person.svg">
                </div>
                <div class="card-name-colaboradores">
                    Colaboradores
                    <h2>432</h2>
                </div>
                <div class="line-card-colaboradores">
                    <img src="/assets/svg/line.svg">
                </div>
                <div class="metrica-card-colaboradores">
                    <p><span class="card-colaboradores-rodape"> +12% </span>Último Período</p>
                </div>
                
            </div>

            <div class="card-colaboradores">
                <div class="badge-colaboradores">
                    <img src="/assets/svg/icon-person.svg">
                </div>
                <div class="card-name-colaboradores">
                    Colaboradores
                    <h2>432</h2>
                </div>
                <div class="line-card-colaboradores">
                    <img src="/assets/svg/line.svg">
                </div>
                <div class="metrica-card-colaboradores">
                    <p><span class="card-colaboradores-rodape"> +12% </span>Último Período</p>
                </div>
                
            </div>

            <div class="card-colaboradores">
                <div class="badge-colaboradores">
                    <img src="/assets/svg/icon-person.svg">
                </div>
                <div class="card-name-colaboradores">
                    Colaboradores
                    <h2>432</h2>
                </div>
                <div class="line-card-colaboradores">
                    <img src="/assets/svg/line.svg">
                </div>
                <div class="metrica-card-colaboradores">
                    <p><span class="card-colaboradores-rodape"> +12% </span>Último Período</p>
                </div>
                
            </div>

            <div class="card-colaboradores">
                <div class="badge-colaboradores">
                    <img src="/assets/svg/icon-person.svg">
                </div>
                <div class="card-name-colaboradores">
                    Colaboradores
                    <h2>432</h2>
                </div>
                <div class="line-card-colaboradores">
                    <img src="/assets/svg/line.svg">
                </div>
                <div class="metrica-card-colaboradores">
                    <p><span class="card-colaboradores-rodape"> +12% </span>Último Período</p>
                </div>
            </div>
            <!--Segunda linha-->
            <div class="card-graph-av">
                <div class="img-graph">
                    sdfsd
                </div>
            </div>
            <div class="card-graph-av">
                <div class="img-graph">
                    sdfsd
                </div>
            </div>
            <div class="card-graph-av">
                <div class="img-graph">
                    sdfsd
                </div>
            </div>
            <!--Terceira Linha-->
            <div class="tabelas">
                fsdfsdfsf
            </div>
        </div>    
    </div>
</body>
</html>
