<div class="menu">
    <ul nz-menu nzMode="horizontal" style="background-color:#f2f2f2;height: 40px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="../dashboard">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="../tipoavaliacao" >Tipos de Avaliações</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="../pergunta" >Perguntas</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="../formulario" >Formulários</a>
                </li>
            </ul>
        </li>    
        
        <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-submenu nzTitle="Relacionamentos"  style="font-size: 13px;">
            <ul>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px; " routerLink="../questionario" ><span  nzTheme="outline" ></span> Montar Formulários</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px" routerLink="../tipoavaliacaoavaliados" ><span  nzTheme="outline"></span> Associar Avaliados a um Formulário</a>
                </li>
                <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px;" routerLink="../avaliadoravaliados" ><span  nzTheme="outline"></span> Associar Avaliados aos Avaliadores</a>
                </li>
            </ul>    
        </li>

        
        <li nz-menu-item nzMatchRouter="">
            <a style="font-size: 13px;" routerLink="../avaliacao" >Avaliações</a>
        </li>
        <li nz-menu-item nzMatchRouter="" *ngIf="hasGroup(['RHAvaliacao'])">
            <a style="font-size: 13px;" routerLink="../historico" >Histórico de Avaliações</a>
        </li>
        <li *ngIf="hasGroup(['Admin','RHGestor'])" nz-menu-item nzMatchRouter="">
            <a style="font-size: 13px;" routerLink="../relatorios" >Relatórios</a>
        </li>
        
    </ul>
</div>
<div *ngIf="hasGroup(['Admin','RHGestor'])" class="titulo">
  <p-divider align="left" type="solid">
      <b>Mapa de Colaboradores</b>
  </p-divider> 
</div>

<div *ngIf="hasGroup(['Admin','RHGestor'])" class="filtros">
    <div class="filial">
      <mat-form-field>
        <mat-label>Selecione a Filial</mat-label>
        <mat-select [(ngModel)]="selectedFiliais" multiple  (ngModelChange)="onFilialSelecionada($event.value)">
          <mat-option *ngFor="let filial of filiais" [value]="filial.id">{{ filial.nome }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="area">  
      <mat-form-field>
        <mat-label>Selecione a Área</mat-label>
        <mat-select [(ngModel)]="selectedAreas" multiple (selectionChange)="onAreaSelecionada($event.value)">
          <mat-option *ngFor="let area of areas" [value]="area.id">{{ area.nome }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>   
    <div class="setor">  
      <mat-form-field>
        <mat-label>Selecione o Ambiente</mat-label>
        <mat-select [(ngModel)]="selectedSetores" multiple (selectionChange)="onSetorSelecionado($event.value)">
          <mat-option *ngFor="let setor of setores" [value]="setor.id">{{ setor.nome }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="ambientes">
      <mat-form-field>
        <mat-label>Selecione o Setor</mat-label>
        <mat-select [(ngModel)]="selectedAmbientes" multiple (selectionChange)="onAmbienteSelecionado($event.value)">
          <mat-option *ngFor="let ambiente of ambientes" [value]="ambiente.id">{{ ambiente.nome }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="cargos">
      <mat-form-field>
        <mat-label>Selecione o Cargo</mat-label>
        <mat-select [(ngModel)]="selectedCargos" multiple (selectionChange)="applyFilters()">
          <mat-option *ngFor="let cargo of cargos" [value]="cargo.id">{{ cargo.nome }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
  
</div>
  
  <div *ngIf="hasGroup(['Admin','RHGestor'])" class="cards">
     
      <p-card *ngIf="hasGroup(['Admin','RHGestor'])" class="cardsWidth" header="{{ totalColaboradores }}">
        <p class="m-0">
           Colaboradores
           <p-divider></p-divider>
        </p>
      </p-card>
       
    
      <p-card *ngIf="hasGroup(['Admin','RHGestor'])" class="cardsWidth" header=" {{ mediaSalarios | currency:'BRL':'symbol':'1.2-2' }}">
        <p class="m-0">
          Média Salarial
          <p-divider></p-divider>
        </p>
      </p-card>
    
    
      <p-card *ngIf="hasGroup(['Admin','RHGestor'])" class="cardsWidth" header="{{ mediaIdade }} anos">
        <p class="m-0">
          Média Idade
          <p-divider></p-divider>
        </p>
      </p-card>
    
    
      <p-card *ngIf="hasGroup(['Admin','RHGestor'])" class="cardsWidth" header="{{ mediaTempoServico }} anos">
        <p class="m-0">
          Média Tempo de Serviço
          <p-divider></p-divider>
        </p>
      </p-card>

  </div>

  <div *ngIf="hasGroup(['Admin','RHGestor'])" class="graficos">
    <div *ngIf="hasGroup(['Admin','RHGestor'])" class="chart-container">
      <canvas id="pieChart"></canvas>
    </div>
    <div *ngIf="hasGroup(['Admin','RHGestor'])" class="chart-container">
      <canvas id="doughnutChart"></canvas>
    </div>
    <div *ngIf="hasGroup(['Admin','RHGestor'])" class="chart-container">
        <canvas id="salarioInstrucaoChart"></canvas>
    </div>
      
  </div>
  <div *ngIf="hasGroup(['Admin','RHGestor'])" class="graficos2">
    <div *ngIf="hasGroup(['Admin','RHGestor'])" class="chart-container">
      <canvas id="salarioRacaChart"></canvas>
    </div>
    <div *ngIf="hasGroup(['Admin','RHGestor'])" class="chart-container">
      <canvas id="salarioGeneroChart"></canvas>
    </div>
    <div *ngIf="hasGroup(['Admin','RHGestor'])" class="chart-container">
      <canvas id="polarAreaChart"></canvas>
    </div>

  </div>
 
  <div *ngIf="hasGroup(['Admin','RHGestor'])" class="chartAmbientes">
    <canvas id="ambientesInfosChart"></canvas>
  </div>

  <div *ngIf="hasGroup(['Admin','RHGestor'])" class="chartRacaGen">
    <canvas id="instrucaoRacaGeneroChart"></canvas>
  </div>
  
  
  
 
  <div *ngIf="hasGroup(['Admin','RHGestor'])" class="titulo">
    <p-divider align="left" type="solid">
        <b>Avaliações e Feedbacks Totais</b>
    </p-divider> 
  </div>

<div *ngIf="hasGroup(['Admin','RHGestor'])" class="calendarios">
  <div class="form5">
    <p><label for="da">Data de Inicio</label></p>
     <p-calendar
         [style]="{'width':'76%','margin-left':'-2px'}"
         id="da" 
        [(ngModel)] = "data_inicio"
         dateFormat="dd/mm/yy"                  
         [showIcon]="true"
         placeholder="SELECIONE"
         (ngModelChange)="applyFilters()"
     >
     </p-calendar>
     
 </div>

 <div *ngIf="hasGroup(['Admin','RHGestor'])" class="form5">
  <p><label for="da">Data do Fim</label></p>
   <p-calendar
       [style]="{'width':'76%','margin-left':'-2px'}"
       id="da" 
      [(ngModel)] = "data_fim"
       dateFormat="dd/mm/yy"                  
       [showIcon]="true"
       placeholder="SELECIONE"
       (ngModelChange)="applyFilters()"
   >
   </p-calendar>
  </div>   
</div>


  <div *ngIf="hasGroup(['Admin','RHGestor'])" class="avaliacoes">
    <div class="avGeral">
        <p-card *ngIf="hasGroup(['Admin','RHGestor'])" class="cardNota2" header="{{ totalAvaliacoesGeral }}" >
          <p class="m-0">
            Avaliações Totais
            <p-divider></p-divider>
          </p>
        </p-card>
       
      <div *ngIf="hasGroup(['Admin','RHGestor'])" class="cardNota2">
        <p-card *ngIf="hasGroup(['Admin','RHGestor'])" class="cardWidth" header="{{ avMediaTotal }}" >
          <p class="m-0">
            Nota Média
            <p-divider></p-divider>
          </p>
        </p-card>
      </div>
      <div *ngIf="hasGroup(['Admin','RHGestor'])" class="progressFb"> 
        <div class="test">
          <nz-progress
            [nzSize]="'small'"
            [nzStatus]="'normal'"
            [nzWidth]="125"
            [nzGapDegree]="80"
            [nzGapPosition]="'bottom'"
            [nzPercent]="percentCompleteGeral" 
            nzType="dashboard" 
            [nzFormat]="formatCompletedFeedbacksGeral">
          </nz-progress>
          <p>Feedbacks Realizados</p>
        </div>  
      </div>  
    </div>
  </div>
  
  <div *ngIf="hasGroup(['Admin','RHGestor'])" class="titulo">
    <p-divider *ngIf="hasGroup(['Admin','RHGestor'])" align="left" type="solid">
        <b>Avaliações e Feedbacks Gerais</b>
    </p-divider> 
  </div>

  <div *ngIf="hasGroup(['Admin','RHGestor'])" class="avaliacoesgerais">
    <div class="avTotais">
      
        <p-card class="cardAvTot" header="{{ totalAvaliacoes }}">
          <p>
            Avaliações Geral
            <p-divider></p-divider>
          </p>
        </p-card>
      
    
        <p-card *ngIf="hasGroup(['Admin','RHGestor'])" class="cardAvTot" header="{{ mediaRespostas }}">
          <p class="m-0">
            Nota Média
            <p-divider></p-divider>
          </p>
        </p-card>
        <div class="progressFbGeral">  
          <nz-progress
            [nzSize]="'small'"
            [nzStatus]="'normal'"
            [nzWidth]="125"
            [nzGapDegree]="80"
            [nzGapPosition]="'bottom'"
            [nzPercent]="percentComplete" 
            nzType="circle" 
            [nzFormat]="formatCompletedFeedbacks">
          </nz-progress>
          <p>Feedbacks Realizados</p>
        </div>
      
      <div class="chartRadarGeral">
        <canvas id="notaPerguntasChart"></canvas>
      </div>  
    </div>
    
  </div>



  <div *ngIf="hasGroup(['Admin','RHGestor'])" class="titulo">
    <p-divider align="left" type="solid">
        <b>Avaliações e Feedbacks Gestores</b>
    </p-divider> 
  </div>

  <div *ngIf="hasGroup(['Admin','RHGestor'])" class="avaliacoesGestores">
    <div *ngIf="hasGroup(['Admin','RHGestor'])" class="avGestor">
      
        <p-card *ngIf="hasGroup(['Admin','RHGestor'])" class="cardAvGes1" header="{{ totalAvaliacoesGestor }}">
          <p class="m-0">
            Avaliações do Gestor
            <p-divider></p-divider>
          </p>
        </p-card>
        
        <p-card *ngIf="hasGroup(['Admin','RHGestor'])" class="cardAvGes" header="{{ avMediaGestor }}" >
          <p class="m-0">
            Nota Média
            <p-divider></p-divider>
          </p>
        </p-card>

        <div *ngIf="hasGroup(['Admin','RHGestor'])" class="progressFbGestor">  
          <nz-progress
            [nzSize]="'small'"
            [nzStatus]="'normal'"
            [nzWidth]="125"
            [nzGapDegree]="80"
            [nzGapPosition]="'bottom'"
            [nzPercent]="percentCompleteGestor" 
            nzType="circle" 
            [nzFormat]="formatCompletedFeedbacksGestor">
          </nz-progress>
          <p>Feedbacks Realizados</p>
        </div>
      <div *ngIf="hasGroup(['Admin','RHGestor'])" class="chartRadarGestor">
        <canvas id="notaGestorPerguntasChart"></canvas>
      </div>

    </div>  
  </div>



  <div class="titulo">
    <p-divider align="left" type="solid">
        <b>Meus Indicadores Avaliação Geral</b>
    </p-divider> 
  </div>
  
<div class="dashAvaliador">
  <div class="avTotais">

    <p-card class="cardAvTot2" header=" {{ totalAvaliacoesAvaliador }}">
      <p class="m-0">
        Total de avaliações
        <p-divider></p-divider>
      </p>
    </p-card>

    <p-card class="cardAvTot2" header=" {{ mediaNotaAvaliador }}">
      <p class="m-0">
        Nota média
        <p-divider></p-divider>
      </p>
    </p-card>

    <p-card class="cardAvTot3" header=" {{ avSemAvaliacao }}">
      <p class="m-0">
        Avaliados sem avaliação
        <p-divider></p-divider>
      </p>
    </p-card>

    <div class="chartRadarAvaliadores">
      <canvas id="notaAvaliadoresChart"></canvas>
    </div>

  </div>
</div>

<div class="titulo">
  <p-divider align="left" type="solid">
      <b>Meus Indicadores Avaliação do Gestor</b>
  </p-divider> 
</div>


<div class="dashAvaliador">
  <div class="avTotais">

    <p-card class="cardAvTot" header=" {{ avaliador_total_av_gestor }}">
      <p class="m-0">
        Total de avaliações
        <p-divider></p-divider>
      </p>
    </p-card>

    <p-card class="cardAvTot" header=" {{ avaliador_media_nota_gestor }}">
      <p class="m-0">
        Nota média
        <p-divider></p-divider>
      </p>
    </p-card>

    

    <div class="chartRadarAvaliadores">
      <canvas id="notaAvaliadorGestorChart"></canvas>
    </div>

  </div>
</div>



  <div class="titulo">
    <p-divider align="left" type="solid">
        <b>Indicadores Meus Avaliados Avaliação Geral</b>
    </p-divider> 
  </div>


  <div class="filtroAv">
    <mat-form-field>
      <mat-label>Selecione o avaliado</mat-label>
      <mat-select [(ngModel)]="avaliadoSelecionadoId"  multiple (ngModelChange)="onAvaliadoSelecionado($event.value)">
        <mat-option *ngFor="let avaliado of avaliados" [value]="avaliado.id">{{ avaliado.nome }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

<div class="dashAvaliador">
  <div class="avTotais">
    <p-card class="cardAvTot" header="{{ totalAvaliacoesAvaliado }}">
      <p class="m-0">
        Avaliações
        <p-divider></p-divider>
      </p>
    </p-card>

    <p-card class="cardAvTot" header=" {{ mediaNotaAvaliado}}">
      <p class="m-0">
        Nota Média
        <p-divider></p-divider>
      </p>
    </p-card>

    <div class="chartRadarAvaliadores">
      <canvas id="notaAvaliadosChart"></canvas>
    </div>
  </div> 
</div>

<div class="titulo">
  <p-divider align="left" type="solid">
      <b>Indicadores Meus Avaliados Avaliação do Gestor</b>
  </p-divider> 
</div>


<div class="filtroAv">
  <mat-form-field>
    <mat-label>Selecione o avaliado</mat-label>
    <mat-select [(ngModel)]="avaliadoSelecionadoId"  multiple (ngModelChange)="onAvaliadoSelecionado($event.value)">
      <mat-option *ngFor="let avaliado of avaliados" [value]="avaliado.id">{{ avaliado.nome }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="dashAvaliador">
<div class="avTotais">
  <p-card class="cardAvTot" header="{{ avaliado_total_av_gestor }}">
    <p class="m-0">
      Avaliações
      <p-divider></p-divider>
    </p>
  </p-card>

  <p-card class="cardAvTot" header=" {{ avaliado_media_nota_gestor }}">
    <p class="m-0">
      Nota Média
      <p-divider></p-divider>
    </p>
  </p-card>

  <div class="chartRadarAvaliadores">
    <canvas id="notaAvaliadoGestorChart"></canvas>
  </div>
</div> 
</div>