@import "../../../styles/variables.scss";
body{  
    
    
    .container{
        display: flex;
        background-color: #F0F2F5;
        width: 100%;
        height: 100vh;
        .side-bar{
                position: fixed;
                display: inline-flex;
                height: 100%;
                padding: 16px;
                flex-direction: column;
                align-items: flex-start;
                border-radius: 12px;
                background: $radients-Black;
                color: #FFFFFF;
                width: 200px;

                a{
                    text-decoration: none;
                    // &:hover{
                    //     color: #FFFFFF;
                    // }
                }
                

                img{
                    height: 100px;
                }

                .line{
                    img{
                        stroke-width: 1px;
                        border: 1px;
                        height: 5px;
                        width: 180px;
                        
                    }
                }


                .item-dashboard{
                    
                    width: 160px;
                    height: 48px;
                    border-radius: 4px;
                    padding-top: 10px;
                    
                    

                    img{
                        width: 16px;
                        height: 16px;
                        flex-shrink: 0;
                        
                    }
                }   
            }
        
        .content{
            
            margin-left: 200px;
            display: flex;
            flex-wrap: wrap;
            width: 95%;
            

            .card-colaboradores{
                width: calc(25% - 20px);
                height: 152px;
                background-color:#FFFFFF;
                display: inline-flex;
                margin-top: 5%;
                margin-left:20px;
                border-radius: 10px;
                position: relative;

                .line-card-colaboradores{
                    align-self: center;
                    position: absolute;
                    margin: 55px 5px 1px 1px;
                    width: 100%;
                    

                    img{
                        
                        stroke-width: 1px;
                        background:$radients-Black;
                        flex-shrink: 1; 
                    }
                } 

                .metrica-card-colaboradores{
                    width: 100%;
                    position: absolute;
                    align-self: end;
                    margin: 2px 0 8px 10px;
                    p{
                        font-size: 20px;
                        color: #344767
                    }
                    .card-colaboradores-rodape{
                        color: green;
                        width: 100%;
                        font-weight: 400;
                    }
                    
                }
                
                .card-name-colaboradores{
                    align-self: start;
                    width: 100%;
                    margin: 15px 5px 0 80px;
                    h2{
                        margin: 5px 5px 0 80px;
                    }
                    
                }

                .badge-colaboradores{
                    width: 64px;
                    height: 64px;
                    flex-shrink: 0;
                    border-radius: 12px;
                    background: $radients-Black;
                    margin-left: 16px;
                    top: -25px;
                    transform: translateX(-1%);
                    position: inherit;
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    img{
                        width: 30px;
                    }
                
                }
            }

        .card-graph-av{
            background-color: #344767;
            width: 410px;
            height: 351px;
            border-radius: 8px;
            margin: 2% 1% 1% 1%;
                
        }

        .tabelas{
            width: 1278px;
            height: 467px;
            background-color: darkolivegreen;
            border-radius: 12px;
            margin: 2% 1% 1% 1%;
        }

        }
        @media (max-width: 768px) {
            .side-bar {
                width: 100px;
            }

            .content {
                margin-left: 100px;
            }

            .card-colaboradores {
                width: calc(50% - 20px);
                margin-left: 10px;
            }
        }
        
    }    
}
        