<div class="menu w-full">
    <ul nz-menu nzMode="horizontal" style="overflow-x: auto; white-space: nowrap; background-color:#f2f2f2;height: 45px;box-shadow: 2px 0 6px ; ">
        <li nz-menu-item nzMatchRouter="#">
            <a style="font-size: 13px;" routerLink="../dashboard">Início</a>
        </li>
        <li *ngIf="hasGroup(['Admin','Master','RHGestor'])" nz-submenu nzTitle="Cadastros "  style="font-size: 13px; ">
            <ul>
                <li *ngIf="hasGroup(['Admin','Master','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="../tipoavaliacao" >Tipos de Avaliações</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="../pergunta" >Perguntas</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','RHGestor'])" nz-menu-item  nzMatchRouter>
                    <a routerLink="../formulario" >Formulários</a>
                </li>
            </ul>
        </li>    
        
        <li *ngIf="hasGroup(['Admin','Master','RHGestor'])" nz-submenu nzTitle="Relacionamentos"  style="font-size: 13px;">
            <ul>
                <li *ngIf="hasGroup(['Admin','Master','RHGestor'])" nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px; " routerLink="../questionario" ><span  nzTheme="outline" ></span> Montar Formulários</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','RHGestor'])" nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px" routerLink="../tipoavaliacaoavaliados" ><span  nzTheme="outline"></span> Associar Avaliados a um Formulário</a>
                </li>
                <li *ngIf="hasGroup(['Admin','Master','RHGestor'])" nz-menu-item   nzMatchRouter>
                    <a style="font-size: 13px;" routerLink="../avaliadoravaliados" ><span  nzTheme="outline"></span> Associar Avaliados aos Avaliadores</a>
                </li>
            </ul>    
        </li>
  
        
        <li nz-menu-item nzMatchRouter="" *ngIf="hasGroup(['Admin','Master','RHGestor','RHAvaliacao','RHAvaliador'])">
            <a style="font-size: 13px;" routerLink="../avaliacao" >Avaliações</a>
        </li>
        <li nz-menu-item nzMatchRouter="" *ngIf="hasGroup(['Admin','Master','RHGestor','RHAvaliacao','RHAvaliador'])">
            <a style="font-size: 13px;" routerLink="../historico" >Histórico de Avaliações</a>
        </li>
    
        <li *ngIf="hasGroup(['Admin','Master','RHGestor'])" nz-submenu nzTitle="Relatórios" style="font-size: 13px;">
          <ul>
            <li nz-menu-item nzMatchRouter="">
              <a style="font-size: 13px;" routerLink="../mapaavaliadores">Mapa de Avaliadores</a>
            </li>
            <li nz-menu-item nzMatchRouter="">
              <a style="font-size: 13px;" routerLink="../comparativoavaliadores">Comparativo entre Avaliadores</a>
            </li>
            <li nz-menu-item nzMatchRouter="">
              <a style="font-size: 13px;" routerLink="../mapaavaliados">Mapa de Avaliados</a>
            </li>
            <li nz-menu-item nzMatchRouter="">
              <a style="font-size: 13px;" routerLink="../evolucaoavaliacoes">Evolução das Avaliações</a>
            </li>
            <li nz-menu-item nzMatchRouter="">
              <a style="font-size: 13px;" routerLink="../relatoriospdf">Relatŕorios em PDF</a>
            </li>
          </ul>
        </li> 
        
    </ul>
  </div>


<div class="titulo mt-6 mb-6 text-2xl">
        <p-divider align="left" type="solid">
            <b>Cadastro de Perguntas</b>
        </p-divider>     
        <form 
            [formGroup]="registerperguntaForm"
            title="Cadastrar Nova Pergunta"
            primaryBtnText="Cadastrar"
            (submit)="submit()"
        >
            <div class="form-geral flex flex-column lg:flex-row"@swipeAnimation>
                <div class="fg1 flex flex-column w-12 align-items-center lg:w-6">
                        <div class="form2 w-10">
                            <p-floatlabel variant="on">
                                <p-iconfield>
                                    <p-inputicon class="pi pi-file-edit" />
                                    <input
                                        variant="filled"
                                        [style]="{'width':'100%'}"
                                        pInputText id="on_label"
                                        autocomplete="off"
                                        formControlName="texto"
                                        type="text"
                                    />
                                </p-iconfield>
                                <label for="on_label">Digite a pergunta</label>
                            </p-floatlabel>
                        </div>
                    
                        <div class="form2 w-10 mb-5">
                            <p class="w-3 ml-0"><strong>Legenda</strong></p>
                            <p-editor 
                                formControlName="legenda" 
                                [style]="{ height: '120px' }" 
                            />
                        </div>    
                </div>
            </div>            
        </form>

        <div class="flex ml-5 mb-5 mt-2 md:justify-content-center mt-6 lg:justify-content-center lg:mt-5"@efeitoFade>
            <p-toast></p-toast>
            <div class="btnsec" (click)="clearForm()">
                <p>Limpar</p>
            </div>
            <div class="btnpri" (click)="submit()">
                <p>Salvar</p>            
            </div>
        </div>
 
   
    
    
        <div class="tabela"@swipeAnimationReverse>
            <p-toast />
            <p-confirmDialog />
            <p-table
                #dt1
                [value]="perguntas"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[5, 10, 20]"
                [globalFilterFields]="['texto','legenda']"
                stripedRows
                scrollable="true"
            >
                <ng-template pTemplate="caption">
                    <div class="flex flex-row md: justify-content-end">
                        <p-floatlabel variant="on">
                            <p-iconfield>
                                <p-inputicon class="pi pi-search" />
                                <input
                                    variant="filled"
                                    [(ngModel)] = "inputValue"
                                    [style]="{'width':'100%'}"
                                    pInputText id="on_label"
                                    autocomplete="off"
                                    type="text"
                                />
                            </p-iconfield>
                            <label for="on_label">Palavra-Chave</label>
                        </p-floatlabel>
                        <button size="small" class="ml-2" pButton [rounded]="true" label="Pesquisar" severity="info"  (click)="filterTable()"></button>
                        <button size="small" class="ml-2" pButton [rounded]="true" label="Limpar" severity="info" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    </div>
                </ng-template>     
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:75%" type="text" field="texto" display="menu">
                            Pergunta
                        </th>
                        <th style="width: 25%; text-align: center;">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pergunta>
                    <tr>
                        <td>{{ pergunta.texto }}</td>
                        <td class="flex py-5 ">
                            <div class="btnsec" (click)="abrirModalEdicao(pergunta)">
                                <p>Editar</p>
                            </div>
                            <div class="btnpri" (click)="excluirPergunta(pergunta.id)">
                                <p>Excluir</p>            
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button"  styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
        </div>  
              
        <p-dialog 
            [modal]="true"
            [(visible)]="editFormVisible" 
            [style]="{ width: '70rem',}" 
        >
            <div>
                <p-divider align="left" type="solid">
                    <b>Editar Pergunta</b>
                </p-divider>
            </div>
            <form 
                [formGroup]="editForm"
                title="Editar Pergunta"    
            >  
                <div class="editGeral flex flex-column lg:flex-row">
                    <div class="fg1edit flex flex-column w-12 align-items-center lg:w-6">
                        <div class="form2 w-10">
                            <p-floatlabel variant="on">
                                <p-iconfield>
                                    <p-inputicon class="pi pi-file-edit" />
                                    <input
                                        variant="filled"
                                        [style]="{'width':'100%'}"
                                        pInputText id="on_label"
                                        autocomplete="off"
                                        formControlName="texto"
                                        type="text"
                                    />
                                </p-iconfield>
                                <label for="on_label">Digite a pergunta</label>
                            </p-floatlabel>
                        </div>        
                        <div class="form2 flex flex-column w-10 mb-3">
                            <p class="w-3 ml-5  mt-2"><strong>Legenda</strong></p>
                            <textarea
                                rows="10"
                                cols="40"
                                pInputTextarea
                                formControlName="legenda"   
                            ></textarea>    
                        </div>
                    </div>     
                </div> 
                <div class="flex mt-3 justify-content-center"@efeitoFade>
                    <div class="btnsec" (click)="cleareditForm()">
                        <p>Limpar</p>
                    </div>
                    <div class="btnpri" (click)="saveEdit()">
                        <p>Salvar</p>            
                    </div>
                </div>  
            </form>
        </p-dialog> 
</div>


  