@import "primeicons/primeicons.css";
// import Quill styles in styles.scss
@import "../../../../../node_modules/quill/dist/quill.core.css";
@import "../../../../../node_modules/quill/dist/quill.snow.css";

.container{
    display: flex;
    flex-flow: column wrap;    
}

.form-geral{
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    border-radius: 10px;
    
    .form1{
        padding: 20px;
        width: 630px;
        .lg{
            margin-left: 18px;
        }
    }
    
}
.titulo{
    margin-top: 10px;
    margin-left: 30px;
    text-align: start;
    h2{
        color:slategrey;
    }
}
.form-geral{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    .fg1{
        width: 100%;
        //margin-top: 10px;
        //margin-bottom: 25px;
        p{
            margin-left: 20px;
        }
        .form1{
           margin-top: 16px; 
        }
        .form2{
            margin-top: 16px;
        } 
    }
    .fg2{
        width: 100%;
        //margin-top: 10px;
        //margin-bottom: 25px;
        p{
            margin-left: 20px;
        }
        .form2{
            margin-top: 16px;
            
        } 
    }
    .fg3{
        width: 100%;
        //margin-top: 10px;
        margin-bottom: 25px;
        p{
            margin-left: 20px;
        }
        .form2{
            margin-top: 16px;
            
        }
    }
}
 
.flex{
    margin-top: 50px;;
    text-align: end;
    button{
        margin-left: 1%;
    }
}

.tabela{
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.td-acao{
    display: flex;
    button{
        margin-left: 2px;
    }
}

.btnpri{
    cursor: pointer;
    background-color: #444959;
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin-left: 5px;
    p{
        text-align: center;
        margin-top: 10px;
    }
}   
.btnsec{
    cursor: pointer;
    background-color: #e3e3f3;
    color: #444959;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    p{
        text-align: center;
        margin-top: 10px;
    }
}

.menu{
    position:static;
     //transform: translate(-1%, -180%);
     
     width: 100%;
 }
 .form1ed{
    width: 70%;
    margin-left: 5px;
 }
 .lged{
    height: 120px;
    margin-left: 20px;
 }
 .botoes-formed{
    display: flex;
    margin-left: 20px;
 }
 .tabela{
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    th{
        font-size: 14px;
    }
    td{
        font-size:12px ;
    }
}

.editGeral{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    .fg1edit{
        width: 50%;
        margin-top: 10px;
        .form2{
            margin-top: 25px;
        }
    }
    .fg2edit{
        width: 50%;
        margin-top: 10px;
        .form2{
            margin-top: 25px;
        }
    }
    .fg3edit{
        width: 50%;
        margin-top: 10px;
        .form2{
            margin-top: 25px;
            margin-bottom: 20px;;
        }
    }
}